<% url = @season.new_record? ? admin_project_flower_seasons_path : admin_project_flower_season_path %>
<%= simple_form_for [:admin, @season], url: url, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'season_form'} do |f| %>
    <%= f.error_notification %>
    <div class="form-body form-horizontal">
      <%= f.input :name, label: '名称：', autofocus: true, placeholder: '名称', required: true %>
      <div class="form-group">
        <label class="col-md-2 control-label">可申请物品：</label>
        <div class="col-sm-9">
          <div id="goods" class="form-inline">
            <% @season.goods.build if @season.goods.blank? %>
            <%= f.fields_for :goods, wrapper: 'inline_inputs' do |g| %>
              <div class="inline-group">
                <%= g.input :name, label: false, input_html:{ placeholder: '请填入物品名称'} %>
                <%= g.hidden_field :project_id, value: @season.project_id %>
                <a href="#" class="destroy"><i class="fa fa-remove font-red-soft"></i></a>
              </div>
            <% end %>
          </div>
          <a class="btn btn-info btn-xs" href="#" id="goods_add_another"><i class="fa fa-plus"></i> 添加物品</a>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-2 col-md-9">
          <%= f.button :submit, '提交', class: 'btn blue' %>
          <%= link_to '取消', admin_project_flower_seasons_path, class: 'btn' %>
        </div>
      </div>
    </div>
<% end %>

<script>
    $(function() {
        $("#project_id").select2({
            //placeholder: "请选择财务分类"
        });
    })

    $(function(){
        // 表单验证
        $(".season_form").html5Validate(function(){
            $(this).find('[type="submit"]').attr('disabled','disabled');
            this.submit();
        });
    })
    $("#goods").nestedAttributes({
      bindAddTo: $("#goods_add_another")
    });
</script>
