<div class="person-body-right pull-right" id="feedback-shows">

  <div class="children_mailboxs-cont">
    <p class="don-title border-b ">
      <span class="pull-left">孩子信箱</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right"><%= link_to account_pairs_path do %>返回<% end %></span>
    </p>
    <% @feedbacks.each do |feedback| %>
      <div class="plat-school-apply-pair border-t">
        <div class="school-feed">
          <%= image_tag feedback.user.user_avatar %>
          <span><%= feedback.user.show_name %> ·</span>
          <span><%= feedback.created_at.strftime("%Y-%m-%d")%>发布</span>
        </div>
        <div class="school-apply-pair-table" >
          <div class="children_mailboxs">
            <p><%= feedback.content.html_safe %></p>
            <% if feedback.images.present? %>
              <div class="feedback-shows-img">
                <% feedback.images.each do |image| %>
                  <div>
                    <a data-magnify="gallery"  href="<%=image_url image.try(:file).try(:url, :medium).to_s %>">
                      <%= image_tag image.try(:file).try(:url, :medium).to_s, :style => "width:211px" %>
                    </a>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
<script>
    // //图片展示
    $('[data-magnify]').magnify({
        headToolbar: [
            'close'
        ],
        initMaximized: true
    });
    $('.plat-school-apply-pair').eq(0).removeClass('border-t')
</script>
