<div class="person-body-right pull-right">
        <!--我的捐助-->
        <div style="display: block;">
          <ul class="donations clearfix">
            <li class="selectedDon cur">
              <%= link_to '我的捐助', account_orders_path %>
            </li>
            <li class="cur">
              <%= link_to '我的结对', account_pairs_path %>
            </li>
            <li class="cur">
              <%= link_to '我的图书角', account_bookshelves_path %>
            </li>
          </ul>
          <!--我的捐助-->
          <div class="donation " style="display: block;">
            <% if @bookshelves.present? %>
              <div class="donation-cont ">
                <% @bookshelves.each do |bookshelf| %>
                  <div class="clearfix border-b">
                    <div class="donation-cont-img pull-left">
                      <%= image_tag bookshelf.apply.cover_image.try(:file).try(:url, :tiny).to_s %>
                    </div>
                    <div class="pull-left donation-cont-cco">
                      <div class="donation-cont-c-tit clearfix">
                        <p class="pull-left"><%= bookshelf.show_title %></p>
                      </div>
                      <div class="clearfix donation-cont-c-con">
                        <p class="donation-cont-c-my-read"><span>项目名称：</span><%= bookshelf.apply.name %></p>
                        <p class="donation-cont-c-my-read"><span>图书角编号</span>：<%= bookshelf.bookshelf_no %></p>
                        <p class="donation-cont-c-my-read"><span>图书数量：</span><%= bookshelf.book_number %>本</p>
                      </div>
                    </div>
                    <%= link_to detail_read_path(bookshelf.apply) do %>
                      <button class="donation-cont-but pull-right cur">
                          查看项目详情
                      </button>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="project-foot">
                <%= paginate @bookshelves, theme: :tiny%>
              </div>
            <% else %>
              <div class="donation-cont-no">
                <div class="donation-co-no-c">
                  <div class="donation-co-no-c-img">
                    <%= image_tag 'my-read.png' %>
                  </div>
                  <p>暂无整捐图书角</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>



<script>
    if($('.donation .donation-cont > div').length===0){
        $('.donation-cont-no').css('display', 'block')
        $('.project-foot').css('display', 'none')
    }else{
        $('.donation-cont-no').css('display', 'none')
        $('.project-foot').css('display', 'block')
    }
</script>
