<div id="first-screen" class="first-screen">
  <div class="screen-body">
    <div class="screen-body-cell">
      <div class="auto-box cell-wrap">
        <div class="login-box">
          <div class="login-body">
            <%= simple_form_for @user, as: :user, url: account_session_path, wrapper: :admin_form,  method: :post, html: {class: 'login-organization form-horizontal'} do |f| %>
              <div class="form-body">
                <%= f.input :login, label: '手机号', required: true, input_html: {placeholder: '请输入账号'} %>
                <%= f.input :password, label: '密码', required: true, input_html: {placeholder: '密码'} %>
                <div class="form-group string required user_rucaptcha">
                  <label class="control-label col-md-2" for="_rucaptcha">图形验证码</label>
                  <div class="col-md-9 captcha">
                    <div class="row">
                      <div class="col-xs-8">
                        <%= rucaptcha_input_tag(class: 'form-control input-captcha', placeholder: '请输入验证码') %>
                      </div>
                      <div class="col-xs-4">
                        <%= rucaptcha_image_tag(alt: 'Captcha', class: 'img-captcha', onclick: "refreshCaptcha()") %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="help-disc">
                  <%= link_to '注册新用户 >', new_account_registration_path, class: 'pull-right' %>
                  <%= link_to '忘记密码？', forget_account_session_path %>
                </div>
              </div>
              <div class="login-btn-wrap">
                <%= f.button :submit, '登录', class: :'btn btn-danger btn-lg' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
  }

  .img-captcha {
    height: 40px;
  }
</style>

<script type="text/javascript" charset="utf-8">
  function refreshCaptcha() {
    $('.img-captcha').attr('src', '/rucaptcha');
  }
  $(function () {
    setHeight();
  });
  $(window).resize(function () {
    setHeight();
  });
  function setHeight() {
    var windowHeight = $(window).height();
    $('#first-screen').css('height', windowHeight + 'px');
  }
</script>
