<%= content_for :page_style do %>
    <%= stylesheet_link_tag 'blank', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
<% end %>

<%= simple_form_for @user, url: account_session_path, method: :post, html: {class: 'login-form'} do |f| %>

<div  class="first-screen " style="background-color: #f5f5f5;">
<div class="classbody">
  <div class="screen-body" style="min-height: 300px;">
    <div class="screen-body-cell">
      <div class="auto-box cell-wrap clearfix">
        <div class="loge pull-left">
          <%= image_tag 'bg-left.jpg' %>
          <div class="loge-cont">
            <%= image_tag 'login.png' %>
          </div>
        </div>

        <div class="logein pull-left">
          <div class="longin-left">
            <p class="longin-tit clearfix">
              <span class="pull-left cur longin-1">账号登录</span>
              <%= link_to new_account_regression_path do %><span class="pull-right cur longin-3 longin-hover">账号找回</span><% end %>
            </p>
            <div class="input-in">
              <span class="input input--hoshi">
                <%= f.text_field :login, required: true, class: 'input__field input__field--hoshi', id: 'email', placeholder: '手机号/邮箱' %>
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="email"></label>
				      </span>
              <span class="input  input--hoshi ">
                <%= f.password_field :password, required: true, class: 'input__field input__field--hoshi', id: 'password', placeholder: '密码' %>
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="password"></label>
				      </span>
            </div>

            <!-- <div class="register">
              登录
            </div> -->
            <button class="register" type="submit">登录</button>
            <div class="check-box">
              <%= link_to forget_account_session_path(kind: 'by_phone') do %><span class="cur longin-hover">忘记密码？</span><% end %>
            </div>
          </div>
          <div class="longin-right">
            <p class="longin-margin">还没有账号？<strong class="cur"><%= link_to new_account_registration_path(kind: 'by_phone'),class:'longin-hover' do %>立即注册<% end %></strong></p>
            <p class="longin-margin">or</p>
            <!--<p class="longin-margin"><strong class="cur"><%= link_to new_account_regression_path,class:'longin-hover' do %>账号找回<% end %></strong></p>-->
            <!--<p class="longin-margin">or</p>-->
            <p class="longin-icon cur">
              <%= link_to @wechat_url, style: 'color: #fff' do %>
              <span class="iconfont icon-wechat pull-left"></span><span class="pull-left">微信登录</span>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <footer class="flexdfoot">
    Copyright(c) 2005-2015 青海格桑花教育救助会 版权所有 All Rights Reserved 青ICP
  </footer>
</div>
<% end %>
<style lang="css" scoped>
  body{
    background-color: #f5f5f5;
  }
</style>
<script type="text/javascript" charset="utf-8">

  function refreshCaptcha() {
    $('.img-captcha').attr('src', '/rucaptcha');
  }
  $(function () {
    setHeight();
  });
  $(window).resize(function () {
    setHeight();
  });
  function setHeight() {
    var windowHeight = $(window).height();
    $('#first-screen').css('height', windowHeight + 'px');
  }
</script>
