<div class="person-body-right pull-right gsh-plus-nmushow">
  <p class="gsh-plus-tit">选择你的操作</p>
  <div class="platform-plus-cont">
    <% if current_user.headmaster? %>
        <%= link_to platform_school_apply_pairs_path do %>
            <div>
              <%= image_tag 'platform-leader.png' %>
              <p class="gsh-plus-c-t">我是校长</p>
            </div>
        <% end %>
    <% end %>
    <% if current_user.teacher? %>
        <%= link_to platform_school_apply_pairs_path do %>
            <div>
              <%= image_tag 'platform-teacher.png' %>
              <p class="gsh-plus-c-t">我是教师</p>
            </div>
        <% end %>
    <% end %>
    <%= link_to  do %>
        <div>
          <%= image_tag 'gsh-icon-volunteer.png' %>
          <p class="gsh-plus-c-t">我是志愿者</p>
          <div class="wechat-qrcode">
            <div class="qrcode" id="regular-feedback-qrcode">
            </div>
            <div class="help"><p>请扫描二维码 </p>
              <p>到微信端进行登录</p></div>
          </div>
        </div>
    <% end %>
    <%= link_to  do %>
        <div>
          <%= image_tag 'gsh-icon-leader.png' %>
          <p class="gsh-plus-c-t">我是县领导</p>
          <div class="wechat-qrcode">
            <div class="qrcode" id="regular-feedback-qrcode">
            </div>
            <div class="help"><p>请扫描二维码 </p>
              <p>到微信端进行登录</p></div>
          </div>
        </div>
    <% end %>

    <%= link_to  do %>
        <div>
          <%= image_tag 'gsh-icon-child.png' %>
          <p class="gsh-plus-c-t">我是格桑花孩子</p>
          <div class="wechat-qrcode">
            <div class="qrcode" id="regular-feedback-qrcode">
            </div>
            <div class="help"><p>请扫描二维码 </p>
              <p>到微信端进行登录</p></div>
          </div>
        </div>
    <% end %>
    <!--<%= link_to  do %>-->
        <!--<div>-->
        <!--<%= image_tag 'gsh-icon-worker.png' %>-->
        <!--<p class="gsh-plus-c-t">我是工作人员</p>-->
        <!--<div class="wechat-qrcode">-->
        <!--<div class="qrcode" id="regular-feedback-qrcode">-->
        <!--</div>-->
        <!--<div class="help"><p>请扫描二维码 </p>-->
        <!--<p>到微信端进行登录</p></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<% end %>-->
    <%= link_to  do %>
        <div>
          <%= image_tag 'childs-feedback.png' %>
          <p class="gsh-plus-c-t">结对反馈</p>
          <div class="wechat-qrcode">
            <div class="qrcode" id="regular-feedback-qrcode">
            </div>
            <div class="help"><p>请扫描二维码 </p>
              <p>到微信端进行登录</p></div>
          </div>
        </div>
    <% end %>


  </div>

  <%#= link_to '返回个人中心', account_orders_path, class: "gsh-plus-foot" %>
  <div class="overspread-5">
    <div class="overspread-over"></div>
    <div class="overspread-cont">
      <div class="clearfix">
        <div class="pull-left mys-1">身份认证</div>
        <div class="pull-right iconfont icon-icondelete cur overspread-but"></div>
      </div>
      <div class="overspread-co">
        <input type="text" placeholder="输入平台预留手机号"/>
        <input type="text" placeholder="输入验证码"/>
        <button>获取验证码</button>
      </div>
      <div class="overspreadsc-but overspread-but  over-but">去验证身份</div>

    </div>
  </div>
  <div class="overspread-6">
    <div class="overspread-over"></div>
    <div class="overspread-cont">
      <div class="clearfix">
        <div class="pull-left mys-1">身份认证</div>
        <div class="pull-right iconfont icon-icondelete cur overspread-but"></div>
      </div>
      <div class="overspread-co">
        <%= image_tag 'correct-icon.png' %>
        <p class="over-fontns">信息核对成功</p>
      </div>
      <div class="overspread-but  over-but">进入管理中心</div>
    </div>
  </div>
</div>
<script>
    $('.overspread-5').overs(".school-s-but");
    $('.overspread-6').overs(".overspreadsc-but");

    jQuery(function(){
        jQuery('#regular-feedback-qrcode').qrcode({
            render: "canvas",
            width: 180,
            height: 180,
            text: '<%= @regular_feedback_url %>'
        }
    );
    })
</script>