<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">修改备注</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @remark], wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'season_form'} do |f| %>
        <%= f.error_notification %>
        <div class="form-body form-horizontal">
            <%#= f.hidden_field :owner_id, value: params[:owner_id] %>
            <%#= f.hidden_field :owner_type, value: params[:owner_type] %>
          <%#= f.hidden_field :operator_id, value: params[:operator_id] %>
          <%#= f.hidden_field :operator_type, value: params[:operator_type] %>
          <%= f.input :content, label: '内容：', require: true, autofocus: true %>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-9">
              <%= f.button :submit, '提交', class: 'btn blue' %>
              <%= link_to '取消', request.referer, class: 'btn' %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
