<div class="bullet">
  <span>青海格桑花教育救助会 “护花健康包” 采购公告</span>
  <span class="iconfont icon-ico-wechat1 bullet-tit-icon"></span>
</div>
<nav class="bul-nav clearfix">
  <div class="bul-img pull-left"><%= image_tag 'gsh-logo-nav.png' %></div>
  <div class="bul-nav-cont clearfix">
    <div class="pull-left"style="position: relative;">
      <ul class="bul-nav-ul">
        <li>首页</li>
        <li id="navshow">
          项目中心
          <span class="iconfont icon-ico-arrow"></span>
          <ul class="bul-nav-heide">
            <li class="gsh-arrows-1">
              <%= image_tag 'gsh-arrows.png' %>
            </li>
            <li>一对一助学</li>
            <li>护花项目</li>
            <li>广播项目</li>
            <li>观影项目</li>
            <li>探索营</li>
          </ul>
        </li>
        <li>公益活动</li>
        <li>新闻资讯</li>
        <li>财务公开</li>
        <li>关于我们</li>
      </ul>

    </div>

    <div class="bul-nav-wy pull-right"><span class="iconfont icon-ico-donation"></span>我要捐助</div>
  </div>
  <div class="bul-nav-sh pull-right"><span class="iconfont icon-ico-search"></span></div>
  <div class="bul-nav-dl pull-right">登录</div>
</nav>
<div class="bul-swiper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <%= image_tag 'application.jpg' %>
      </div>
      <div class="swiper-slide">
        <%= image_tag 'application.jpg' %>

      </div>
      <div class="swiper-slide">
        <%= image_tag 'application.jpg' %>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<div class="bul-ai">
  <div class="bul-tit">
    <p>爱,是收获和喜悦</p>
    <p>LOVE IS HARVEST & JOY</p>
  </div>
  <div class=" bul-ai-cont">
    <div class=" bul-img-n">
      <div class="clearfix  bul-img-m">
        <div class="clearfix  bul-img-p">
          <p class="pull-left">累计捐助:<span>45612459.00</span>元</p>
          <p class="pull-right"><span class="iconfont icon-ico-arrow"></span>财务公开</p>
        </div>
        <div class="bul-img-co">
          <p>捐助动态</p>
          <div style="overflow: hidden; position: relative; height: 114px;" id="news-container">
            <div class="bul-xian"></div>
            <ul style="position: absolute; margin: 0pt; padding: 0pt; top: 0px;">
              <li>
                <div class="clearfix">
                  <span class="iconfont icon-yuan bul-yuan "></span>
                  <span class="bul-time pull-left">01月28日 12:21</span>
                  <span class="bul-name pull-left">苏* 捐助一对一项目</span>
                  <span class="bul-moy pull-right">2999.00元</span>
                </div>
              </li>
              <li>
                <div class="clearfix">
                  <span class="iconfont icon-yuan bul-yuan "></span>
                  <span class="bul-time pull-left">01月28日 12:21</span>
                  <span class="bul-name pull-left">苏* 捐助一对一项目</span>
                  <span class="bul-moy pull-right">2999.00元</span>
                </div>
              </li>
              <li>
                <div class="clearfix">
                  <span class="iconfont icon-yuan bul-yuan "></span>
                  <span class="bul-time pull-left">01月28日 12:21</span>
                  <span class="bul-name pull-left">苏* 捐助一对一项目</span>
                  <span class="bul-moy pull-right">2999.00元</span>
                </div>
              </li>
              <li>
                <div class="clearfix">
                  <span class="iconfont icon-yuan bul-yuan "></span>
                  <span class="bul-time pull-left">01月28日 12:21</span>
                  <span class="bul-name pull-left">苏* 捐助一对一项目</span>
                  <span class="bul-moy pull-right">2999.00元</span>
                </div>
              </li>
              <li>
                <div class="clearfix">
                  <span class="iconfont icon-yuan bul-yuan "></span>
                  <span class="bul-time pull-left">01月28日 12:21</span>
                  <span class="bul-name pull-left">苏* 捐助一对一项目</span>
                  <span class="bul-moy pull-right">2999.00元</span>
                </div>
              </li>
              <li>
                <div class="clearfix">
                  <span class="iconfont icon-yuan bul-yuan "></span>
                  <span class="bul-time pull-left">01月28日 12:21</span>
                  <span class="bul-name pull-left">苏* 捐助一对一项目</span>
                  <span class="bul-moy pull-right">2999.00元</span>
                </div>
              </li>
              <li>
                <div class="clearfix">
                  <span class="iconfont icon-yuan bul-yuan "></span>
                  <span class="bul-time pull-left">01月28日 12:21</span>
                  <span class="bul-name pull-left">苏* 捐助一对一项目</span>
                  <span class="bul-moy pull-right">2999.00元</span>
                </div>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </div>
    <div class="bul-img-r">
      <%= image_tag 'gsh-img-right.png' %>
    </div>
  </div>
</div>
<div class="bul-content">
  <div>
    <div class="bul-mouse">
      <div id="show1">
        <p class="mouse-1">我们可以</p>
        <p class="mouse-2">为西部孩子提供帮助</p>
      </div>
      <div id="show2">
        <p class="mouse-1">我们可以</p>
        <p class="mouse-2">为西部孩子提供帮助</p>
      </div>
      <div id="show3">
        <p class="mouse-1">我们可以</p>
        <p class="mouse-2">为西部孩子提供帮助</p>
      </div>
    </div>
    <div class="bul-mouse-show">
      <div id="show11">
        <%= image_tag 'gsh-arrows-2.png' %>
        <div class="mouse-show">

          <p class="mouse-show-1">1关注西部教育，帮助西部孩子 健康成长</p>
        </div>
      </div>
      <div id="show12">
        <%= image_tag 'gsh-arrows-2.png' %>
        <div class="mouse-show">

          <p class="mouse-show-1">2关注西部教育，帮助西部孩子 健康成长</p>
        </div>
      </div>
      <div id="show13">
        <%= image_tag 'gsh-arrows-2.png' %>
        <div class="mouse-show">

          <p class="mouse-show-1">3关注西部教育，帮助西部孩子 健康成长</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bul-tit">
    <p>最美格桑花资讯</p>
    <p>GESANGHU NEWS</p>
  </div>
  <div class="items-container row">
    <div class="item col-md-4  ">
      <div class="gsh-img">
        <%= image_tag 'gsh-img-1.png' %>
        <div class="ovrly"></div>
        <div class="buttons">
          <%= image_tag 'gsh-img-2.png' %>
        </div>
      </div>
      <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
      <p class="gsh-cont-2">西滩寄小“寻宝藏，探成都”，我把学到的本领教给其他同学啦</p>
    </div>
    <div class="item col-md-4">
      <div class="gsh-img">
        <%= image_tag 'gsh-img-1.png' %>
        <div class="ovrly"></div>
        <div class="buttons">
          <%= image_tag 'gsh-img-2.png' %>
        </div>
      </div>
      <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
      <p class="gsh-cont-2">在醋香四溢的城市里 我们收获的不只是爱心</p>
    </div>
    <div class="item col-md-4  ">
      <div class="gsh-img">
        <%= image_tag 'gsh-img-1.png' %>
        <div class="ovrly"></div>
        <div class="buttons">
          <%= image_tag 'gsh-img-2.png' %>
        </div>
      </div>
      <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
      <p class="gsh-cont-2">嘿~我们在成都学到了好多本领呢</p>
    </div>
    <div class="item col-md-4  ">
      <div class="gsh-img">
        <%= image_tag 'gsh-img-1.png' %>
        <div class="ovrly"></div>
        <div class="buttons">
          <%= image_tag 'gsh-img-2.png' %>
        </div>
      </div>
      <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
      <p class="gsh-cont-2">在过去的这段240个小时里，36名藏族孩子在宁波都发生了什么？</p>
    </div>
    <div class="item col-md-4 ">
      <div class="gsh-img">
        <%= image_tag 'gsh-img-1.png' %>
        <div class="ovrly"></div>
        <div class="buttons">
          <%= image_tag 'gsh-img-2.png' %>
        </div>
      </div>
      <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
      <p class="gsh-cont-2">期待下一次的约会-----来年油菜花开时 我们相约再见</p>
    </div>
    <div class="item col-md-4">
      <div class="gsh-img">
        <%= image_tag 'gsh-img-1.png' %>
        <div class="ovrly"></div>
        <div class="buttons">
          <%= image_tag 'gsh-img-2.png' %>
        </div>
      </div>
      <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
      <p class="gsh-cont-2">杏花烟雨的江南，有最美好的遇见</p>
    </div>

  </div>
  <div class="bul-buton">更多资讯</div>

</div>
<div class="collaboration">
  <p>合作伙伴</p>
  <div>
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
    <span>6</span>
    <span>7</span>
  </div>
</div>
<div class="bul-fo">
  <div>
    <p>“让受助者、参与者在格桑花获得温暖、信任、希望、互助、友爱等美好情感，感受生命的意义与价值，共建格桑花精神家园。”</p>
    <div class="bul-but">
      <div class="pull-left">我要捐助</div>
      <div class="pull-right">志愿者申请</div>
    </div>
  </div>
</div>
<footer class="bul-footer ">
  <div class="clearfix">
    <div class="pull-left">
      <%= image_tag 'gsh-logo-foot.png' %>
    </div>
    <div class="footwidth footer-left-1 pull-left">
      <p class="footer-1">联系我们</p>
      <p class="footer-2">联系电话：0971-8862113</p>
      <p class="footer-3">Email：service@gesanghua.org</p>
    </div>

    <div class="footwidth pull-left">
      <p class="footer-1">关于志愿者</p>
      <p class="footer-2">志愿者查询</p>
      <p class="footer-3">志愿者申请</p>
    </div>
    <div class="pull-right" style="position: relative;">
      <p class="right-foot-3">关注格桑花西部助学</p>
      <div class="right-foot-1"><span class="iconfont icon-ico-wechat1"></span>关注微信</div>
      <div class="right-foot-2"><span class="iconfont icon-ico-wechat1"></span>关注微博</div>
      <div class="bul-pos1">
        <div id="container2">
          <canvas></canvas>
        </div>
      </div>
      <div class="bul-pos2">
        <div id="container3">
          <canvas></canvas>
        </div>
      </div>
    </div>
  </div>

  <p>Copyright(c) 2005-2015 青海格桑花教育救助会 版权所有 All Rights Reserved 青ICP备10200056号</p>
</footer>

<div class="bul-top-2"><span class="iconfont icon-ico-wechat1"></span></div>
<div class="bul-pos4">
  <div id="container4">
    <canvas></canvas>
  </div>
</div>
<script>

    $('#show1').mousemove(function () {
        $('#show11').css("visibility", "visible")
    });
    $('#show1').mouseout(function () {
        $('#show11').css("visibility", "hidden")
    });
    $('#show2').mousemove(function () {
        $('#show12').css("visibility", "visible")
    });
    $('#show2').mouseout(function () {
        $('#show12').css("visibility", "hidden")
    });
    $('#show3').mousemove(function () {
        $('#show13').css("visibility", "visible")
    });
    $('#show3').mouseout(function () {
        $('#show13').css("visibility", "hidden")
    });

    $('#news-container').vTicker({
        speed: 500,
        pause: 2000,
        animation: 'fade',
        mousePause: false,
        showItems: 3
    })
    var mySwiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        centeredSlides: true,
        loop: true,
        autoplay: true,
        pagination: {
            el: '.swiper-pagination'
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        }
    });
</script>