<div class="bul-swiper">
  <div class="slide-box-demo">
    <div class="slide-box" >
      <div class="slide-con">
        <div class="slide-out clearfix">
          <% @adverts.each do |advert| %>
              <div class="slide-li pull-left" >
                <%= link_to advert.url do %>
                    <%= image_tag advert.image.try(:file).try(:url, :big).to_s ,style:'width:1140px;'%>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="slide-page">
        <div class="slide-button-prev" id="slide-button-prev"><span class="iconfont icon-arrow-left bul-icon-prev"></span></div>
        <div class="slide-button-next" id="slide-button-next">
          <span class="iconfont icon-arrow-left bul-icon-next"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bul-ai">
  <div class="bul-tit">
    <p>爱,是收获和喜悦</p>
    <p>LOVE IS HARVEST & JOY</p>
  </div>
  <div class=" bul-ai-cont ">
    <div style="width: 1140px; margin: 0 auto;position: relative;" class="clearfix">

    <div class=" bul-img-n pull-left" >
      <div class="clearfix  bul-img-m">
        <div class="clearfix  bul-img-p">
          <p class="pull-left">累计捐助:<span><%= format_money(IncomeRecord.total_amount) %></span>元</p>
          <p class="pull-right cur"><%= link_to income_records_path do %><span class="iconfont icon-arrowdown"></span>财务公开<% end %></p>
        </div>
        <div class="bul-img-co">
          <p>捐助动态</p>
          <div style="overflow: hidden; position: relative; height: 156px;" id="news-container">
            <div class="bul-xian"></div>
            <ul style="position: absolute; margin: 0pt; padding: 0pt; top: 0px;">
              <% @donate_records.each do |record| %>
                  <li>
                    <div class="clearfix">
                      <span class="iconfont icon-yuan bul-yuan "></span>
                      <span class="bul-time pull-left"><%= record.created_at.strftime("%m月%d日 %H:%M") %></span>
                      <span class="bul-name pull-left"><%= truncate(record.donor.try(:show_name).to_s + '捐助' + record.show_apply_name.to_s, length: 18) %></span>
                      <span class="bul-moy pull-right"><%= record.amount %>元</span>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
      <%= image_tag 'homepage.jpg', class:' bul-img-right' %>
    </div>
  </div>
</div>
<div class="bul-content">
  <div>
    <div class="bul-mouse row clearfix">
      <div id="show1" class="cur col-md-4">
        <p class="mouse-1">我们可以</p>
        <p class="mouse-2">为西部孩子提供帮助</p>
      </div>
      <div id="show2" class="cur col-md-4 ">
        <p class="mouse-1">为孩子</p>
        <p class="mouse-2">每一个孩子都能跟踪反馈</p>
      </div>
      <div id="show3" class="cur col-md-4">
        <p class="mouse-1">为承诺</p>
        <p class="mouse-2">每一笔善款去向可查</p>
      </div>
    </div>
    <div class="bul-mouse-show row clearfix">
      <div id="show11" class="col-md-4">
        <%= image_tag 'gsh-arrows-2.png' %>
        <div class="mouse-show">
          <p class="mouse-show-1">关注西部教育，帮助西部孩子 健康成长</p>
        </div>
      </div>
      <div id="show12" class="col-md-4">
        <%= image_tag 'gsh-arrows-2.png' %>
        <div class="mouse-show">
          <p class="mouse-show-1">关注西部教育，帮助西部孩子 健康成长</p>
        </div>
      </div>
      <div id="show13" class="col-md-4">
        <%= image_tag 'gsh-arrows-2.png' %>
        <div class="mouse-show">
          <p class="mouse-show-1">关注西部教育，帮助西部孩子 健康成长</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bul-tit">
    <p>最美格桑花资讯</p>
    <p>GESANGHUA NEWS</p>
  </div>
  <div class="items-container row clearfix">
    <% @articles.each do |article| %>
        <div class="item col-md-4 cur " >
          <%= link_to article_path(article) do %>
              <div class="gsh-img">
                <%= image_tag article.image.try(:file).try(:url, :medium).to_s %>
                <div class="ovrly"></div>
                <div class="buttons">
                  <%= image_tag 'gsh-img-2.png' %>
                </div>
              </div>
              <p class="gsh-cont-1"><%= article.author %> | <%= article.published_at.strftime("%Y年%m月%d日") %></p>
              <p class="gsh-cont-2"><%= article.title %></p>
          <% end %>
        </div>
    <% end %>

  </div>
  <% if @articles.present? %>
      <%= link_to articles_path do %>
          <button class="button button--ujarak button--border-thin button--text-thick bul-buton cur " >
          </span>更多资讯</span>
        </button>
      <% end %>
  <% end %>
</div>
<!-- <div class="collaboration">
  <p>合作伙伴</p>
  <div>
    <% if @partners.present? %>
        <% @partners.limit(6).each do |partner| %>
            <div class="cur">
              <%= link_to partner.url do %><%= image_tag partner.image.try(:file).try(:url, :tiny).to_s %>
              <% end %>
            </div>
        <% end %>
    <% end %>
  </div>
</div> -->
<div class="bul-fo">
  <div>
    <p>“让受助者、参与者在格桑花获得温暖、信任、希望、互助、友爱等美好情感，感受生命的意义与价值，共建格桑花精神家园。”</p>
    <div class="bul-but">
      <div class="pull-left cur"><%= link_to '我要捐助', new_donate_path %></div>
      <div class="pull-right cur"><%= link_to '志愿者申请', gsh_plus_root_path %></div>
    </div>
  </div>
</div>
</div>
</div>
<script>

    $('#show1').mousemove(function () {
        $('#show11').css("visibility", "visible")
    });
    $('#show1').mouseout(function () {
        $('#show11').css("visibility", "hidden")
    });
    $('#show2').mousemove(function () {
        $('#show12').css("visibility", "visible")
    });
    $('#show2').mouseout(function () {
        $('#show12').css("visibility", "hidden")
    });
    $('#show3').mousemove(function () {
        $('#show13').css("visibility", "visible")
    });
    $('#show3').mouseout(function () {
        $('#show13').css("visibility", "hidden")
    });

    $('#news-container').vTicker({
        speed: 500,
        pause: 2000,
        animation: 'fade',
        mousePause: false,
        showItems: 3
    })
    $('.slide-box-demo').setSlide({
        pagination:true,
        pagingTrigger:'hover',
        autoPlay:true,
        slideTime: 3000,
        switchingSpeed:400,
        slideLiw:1140,
	      slideLih:420,
    })


</script>
