<div id="campaigns">

  <div class="camp-body">
    <div class="camps-title">
      <%= search_form_for @search, url: campaigns_path do |f| %>
          <select id="allcamps" name="q[campaign_category_id]">
            <option value="">全部活动</option>
            <% CampaignCategory.sorted.each do |cc| %>
            <option value="<%= cc.id %>"><%= cc.name %></option>
            <% end %>
          </select>
          <select id="campstype" name="campaign_state">
            <option value="">活动状态</option>
            <option value="apply">报名中</option>
            <option value="to_do">未开始</option>
            <option value="doing">进行中</option>
            <option value="done">已完成</option>
          </select>
          <button type="submit" class="camps-search">搜索</button>
      <% end %>
    </div>

    <div class="camps-body">
      <div class="camps-body-cont row">
        <div class="col-md-6 cur ">
          <div class="clearfix">
            <div class="camps-body-img ">
              <%= image_tag 'activity-img.png' %>
            </div>
            <div class="camps-body-conts ">
              <p>带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦</p>
              <p>合肥 | 报名截止2018年2月18日</p>
            </div>
          </div>
          <div class="unit"><span>￥550 /</span> 人</div>
          <div class="camps-mark">报名已结束</div>
        </div>
        <div class="col-md-6 cur ">
          <div class="clearfix">
            <div class="camps-body-img ">
              <%= image_tag 'activity-img.png' %>
            </div>
            <div class="camps-body-conts ">
              <p>带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦</p>
              <p>合肥 | 报名截止2018年2月18日</p>
            </div>
          </div>
          <div class="unit"><span>￥550 /</span> 人</div>
          <div class="camps-mark-no">活动已结束</div>
        </div>

      </div>
    </div>

  </div>
</div>
<div class="project-foot">
  <span class="iconfont icon-arrow-left cur"></span>
  <span class="cur">1</span>
  <span class="cur">2</span>
  <span class="cur">3</span>
  <span class="cur">4</span>
  <span class="cur">5</span>
  <span class="iconfont icon-arrow-right cur"></span>
</div>

</div>
<script>
    // 模拟城市-无联动/无搜索
    var selector1 = $('#city-picker-selector').cityPicker({
        dataJson: cityData,
        renderMode: true,
        search: false,
        autoSelected: false,
        code: 'cityCode',
        level: 1
    });
    $("#citys").select({
        width: "250px"
    });
    $("#allcamps").select({
        width: "250px"
    });
    $("#campstype").select({
        width: "250px"
    });

</script>