
<div id="campaigns">

  <div class="camp-body">
    <div class="camps-title">
      <select id="allcamps">
        <option value="1">全部活动</option>
        <option value="2">成功2</option>
        <option value="3" >成功3</option>
        <option value="4">成功4</option>
        <option value="5">失败5</option>
        <option value="6">失败6</option>
        <option value="7">失败7</option>
        <option value="8">失败8</option>
        <option value="9">失败9</option>
        <option value="10">失败10</option>
        <option value="11">失败11</option>
        <option value="12">失败12</option>
      </select>
      <select id="citys">
        <option value="1">城市</option>
        <option value="2">成功2</option>
        <option value="3" >成功3</option>
        <option value="4">成功4</option>
        <option value="5">失败5</option>
        <option value="6">失败6</option>
        <option value="7">失败7</option>
        <option value="8">失败8</option>
        <option value="9">失败9</option>
        <option value="10">失败10</option>
        <option value="11">失败11</option>
        <option value="12">失败12</option>
      </select>
      <select id="campstype">
        <option value="1">活动状态</option>
        <option value="2">成功2</option>
        <option value="3" >成功3</option>
        <option value="4">成功4</option>
        <option value="5">失败5</option>
        <option value="6">失败6</option>
        <option value="7">失败7</option>
        <option value="8">失败8</option>
        <option value="9">失败9</option>
        <option value="10">失败10</option>
        <option value="11">失败11</option>
        <option value="12">失败12</option>
      </select>
      <div class="camps-search">搜索</div>
    </div>

    <div class="camps-body">
      <div class="camps-body-cont row">
        <div class="col-md-6 cur ">
          <div class="clearfix">
            <div class="camps-body-img ">
              <%= image_tag 'activity-img.png' %>
            </div>
            <div class="camps-body-conts ">
              <p>带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦</p>
              <p>合肥  |  报名截止2018年2月18日</p>
            </div>
          </div>
          <div class="unit"><span>￥550 /</span> 人</div>
          <div class="camps-mark">报名已结束</div>
        </div>
        <div class="col-md-6 cur ">
          <div class="clearfix">
            <div class="camps-body-img ">
              <%= image_tag 'activity-img.png' %>
            </div>
            <div class="camps-body-conts ">
              <p>带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦</p>
              <p>合肥  |  报名截止2018年2月18日</p>
            </div>
          </div>
          <div class="unit"><span>￥550 /</span> 人</div>
          <div class="camps-mark">报名已结束</div>
        </div>
        <div class="col-md-6 cur ">
          <div class="clearfix">
            <div class="camps-body-img ">
              <%= image_tag 'activity-img.png' %>
            </div>
            <div class="camps-body-conts ">
              <p>带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦</p>
              <p>合肥  |  报名截止2018年2月18日</p>
            </div>
          </div>
          <div class="unit"><span>￥550 /</span> 人</div>
          <div class="camps-mark">报名已结束</div>
        </div>
        <div class="col-md-6 cur ">
          <div class="clearfix">
            <div class="camps-body-img ">
              <%= image_tag 'activity-img.png' %>
            </div>
            <div class="camps-body-conts ">
              <p>带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦</p>
              <p>合肥  |  报名截止2018年2月18日</p>
            </div>
          </div>
          <div class="unit"><span>￥550 /</span> 人</div>
          <div class="camps-mark">报名已结束</div>
        </div>
        <div class="col-md-6 cur ">
          <div class="clearfix">
            <div class="camps-body-img ">
              <%= image_tag 'activity-img.png' %>
            </div>
            <div class="camps-body-conts ">
              <p>带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦</p>
              <p>合肥  |  报名截止2018年2月18日</p>
            </div>
          </div>
          <div class="unit"><span>￥550 /</span> 人</div>
          <div class="camps-mark">报名已结束</div>
        </div>
        <div class="col-md-6 cur ">
          <div class="clearfix">
            <div class="camps-body-img ">
              <%= image_tag 'activity-img.png' %>
            </div>
            <div class="camps-body-conts ">
              <p>带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦</p>
              <p>合肥  |  报名截止2018年2月18日</p>
            </div>
          </div>
          <div class="unit"><span>￥550 /</span> 人</div>
          <div class="camps-mark">报名已结束</div>
        </div>
        <div class="col-md-6 cur ">
          <div class="clearfix">
            <div class="camps-body-img ">
              <%= image_tag 'activity-img.png' %>
            </div>
            <div class="camps-body-conts ">
              <p>带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦</p>
              <p>合肥  |  报名截止2018年2月18日</p>
            </div>
          </div>
          <div class="unit"><span>￥550 /</span> 人</div>
          <div class="camps-mark">报名已结束</div>
        </div>
        <div class="col-md-6 cur ">
          <div class="clearfix">
            <div class="camps-body-img ">
              <%= image_tag 'activity-img.png' %>
            </div>
            <div class="camps-body-conts ">
              <p>带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦</p>
              <p>合肥  |  报名截止2018年2月18日</p>
            </div>
          </div>
          <div class="unit"><span>￥550 /</span> 人</div>
          <div class="camps-mark-no">活动已结束</div>
        </div>

      </div>
    </div>

  </div>
</div>
<div class="project-foot">
  <span class="iconfont icon-arrow-left cur"></span>
  <span class="cur">1</span>
  <span class="cur">2</span>
  <span class="cur">3</span>
  <span class="cur">4</span>
  <span class="cur">5</span>
  <span class="iconfont icon-arrow-right cur"></span>
</div>

</div>
<script>
    // 模拟城市-无联动/无搜索
    var selector1 = $('#city-picker-selector').cityPicker({
        dataJson: cityData,
        renderMode: true,
        search: false,
        autoSelected: false,
        code: 'cityCode',
        level: 1
    });
    $("#citys").select({
        width: "250px"
    });
    $("#allcamps").select({
        width: "250px"
    });
    $("#campstype").select({
        width: "250px"
    });

</script>