<div class="camps-detail">
  <div class="camps-body-detail border-b">
    <p><%= @campaign.name %></p>
    <div class="camps-bodys">
      <div class="activity-detail-img">
        <%= image_tag @campaign.banner_url(:tiny) %>
      </div>
      <div class="activity-detail-cont">
        <div class="activity-detail-co">
          <span>时间</span>
          <p><%= @campaign.start_time.strftime('%Y-%m-%d') %></p>
        </div>
        <!--<div class="activity-detail-co">-->
          <!--<span>地点</span>-->
          <!--<p>合肥“岭上花园”——官亭林海景区</p>-->
        <!--</div>-->
        <!--<div class="activity-detail-co">-->
          <!--<span>目标</span>-->
          <!--<p>为西部的孩子走出高原看世界募集善款</p>-->
        <!--</div>-->
        <!--<div class="activity-detail-co">-->
          <!--<span>里程</span>-->
          <!--<p>10公里</p>-->
        <!--</div>-->
        <div class="activity-detail-co">
          <span>费用</span>
          <p><%= @campaign.price %>元/人</p>
        </div>
      </div>
      <div class="activity-detail-but activity-color-but-1">立即报名</div>
    </div>
    <div class="camps-cont-detail">
      <%= @campaign.content.html_safe %>
    </div>
    <div class="camps-share">
      <p>分享到：</p>
      <ol>
        <li class="row" style="padding: 30px 268px;">
          <div id="share-2"></div>
        </li>
      </ol>
    </div>
  </div>
 <div class="recommend">
   <p>推荐活动</p>
   <div class="row recommend-cont">
     <% @recommends.each do |recommend| %>
     <div class="col-md-4">
       <div class="recommend-img">
         <%= image_tag recommend.banner_url(:tiny) %>
       </div>
       <%= link_to campaign_path(recommend.id) do %>
         <p class="gsh-cont-1"><%= recommend.start_time.strftime('%Y-%m-%d') %></p>
         <p class="gsh-cont-2"><%= recommend.name %></p>
       <% end %>
     </div>
     <% end %>
   </div>
 </div>
</div>
<script>
    $('#share-2').share({
        sites: ['qzone', 'wechat', 'weibo', 'qq']
    });
</script>
