<%= simple_form_for [:admin, @expenditure_record], wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'category_form'} do |f| %>
  <%= f.error_notification %>
  <div class="form-body form-horizontal">
    <%= f.input :name, label: '支出名称：', placeholder: '请填写支出名称', require: true %>
    <div class="form-group">
      <label class="col-md-2 control-label">支出时间：</label>
      <div class="col-sm-9">
        <%= f.text_field :expended_at, class: 'datetime-picker', placeholder: '支出时间', required: true %>
      </div>
    </div>
    <%= f.input :amount, label: '支出金额：', require: true, type: 'number', input_html: {}, disabled: !@expenditure_record.new_record? %>
    <div class="form-group">
      <label class="col-md-2 control-label">财务分类：</label>
      <div class="col-sm-9">
        <select id="fund" class="form-control select optional" name="expenditure_record[fund_id]" required>
          <option value="">请选择财务分类</option>
          <% FundCategory.sorted.each do |fc| %>
              <optgroup label="<%= fc.name %>">
                <% fc.funds.sorted.each do |fund| %>
                    <option value="<%= fund.id %>" <%= 'selected' if @expenditure_record.fund_id == fund.id %>><%= fc.name %> - <%= fund.name %></option>
                <% end %>
              </optgroup>
          <% end %>
        </select>
      </div>
    </div>
    <%= f.input :income_source_id, as: :select, collection: IncomeSource.sorted, label: '出账账户：', include_blank: '选择账户', required: true%>
    <div class="form-group">
      <label class="col-md-2 control-label">支出凭证图片：</label>
      <div class="col-sm-9">
        <%= webuploader_tag 'image_ids[]', label: '上传凭证图片', type: 'expenditure_record_image', asset: @expenditure_record.images %>
      </div>
    </div>
    <%= f.input :operator, label: '经办人：', placeholder: '请填写支出经办人' %>
    <%= f.input :remark, label: '备注：', placeholder: '备注' %>
  </div>
  <div class="form-actions">
    <div class="row">
      <div class="col-md-offset-2 col-md-9">
        <%= f.button :submit, '提交', class: 'btn blue' %>
        <%= link_to '取消', admin_expenditure_records_path, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>

<script>
    $(function(){
        $("#fund").select2({
            language: "zh-CN"
        });

        $(".category_form").parsley().on('form:submit', function () {
//            var ima_length = document.getElementById("webuploader").getElementsByTagName("li").length;
//            if (ima_length <= 1) {
//                alert("请上传凭证");
//                return false;
//            }
            return true;
        })

        $("#ledger").select2({
            language: "zh-CN"
        });

        initMultiImageWebuploader($('#webuploader'));
        $('.upload-list').viewer();

    })
</script>
