<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i>平台用户管理
    </div>
    <div class="actions">
      <%= link_to new_admin_administrator_path, class: 'btn blue-soft', 'data-no-turbolink' => true do %>
      <i class="icon-plus"></i>
      <span>新增</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= search_form_for @search, url: admin_administrators_path, class: 'form-inline' do |f| %>
          <div class="form-group">
            <%= f.label :nickname_cont, '用户账号' %>
            <%= f.text_field :nickname_cont, class: 'form-control', placeholder: '根据用户账号过滤' %>
          </div>
          <button type="submit" class="btn btn-default grey">搜索</button>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right"></div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
            <tr>
              <th>
                用户账号
              </th>
              <th>
                用户昵称
              </th>
              <th>
                用户类型
              </th>
              <th>
                创建时间
              </th>
              <th>
                状态
              </th>
              <th>
                操作
              </th>
            </tr>
          </thead>
          <tbody>
            <% @administrators.each do |admin| %>
            <tr>
              <td>
                <%= admin.user.try(:login) %>
              </td>
              <td>
                <%= admin.nickname %>
              </td>
              <td>
                <%= admin.enum_name(:kind) %>
              </td>
              <td>
                <%= l admin.created_at %>
              </td>
              <td>
                <% if admin.super_administrator? %>
                  <a href="#" class="btn btn-xs yellow" >
                    不能停用超级管理员
                    <i class="fa fa-user"></i>
                  </a>
                <% else %>
                  <%= link_to switch_admin_administrator_path(admin), data: {confirm: "确定#{admin.enable? ? '停用该管理员' : '启用该管理员'}吗？"}, method: :put, 'data-no-turbolink' => true, class: "btn btn-xs #{admin.enable? ? 'green' : 'default'}" do %>
                  <%= admin.enable? ? '启用' : '停用' %>
                  <i class="fa <%= admin.enable? ? 'fa-eye' : 'fa-eye-slash' %>"></i>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to edit_admin_administrator_path(admin), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                  <i class="fa fa-edit"></i> 修改
                <% end %>
                <%= link_to '删除', admin_administrator_path(admin), class: 'btn btn-xs red', method: :delete, data: {confirm: '确定要删除吗？'} %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@administrators) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @administrators, theme: '' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
