<div class="camps-detail">
<div class="camps-body-detail border-b">
  <p><%= @announcement.title %></p>
  <p class="announcements-time"><%= @announcement.author %> |  <%= @announcement.published_at.strftime("%Y年%m月%d日")%> </p>
  <div class="camps-bodys announcements-cont">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @announcement.carousel_images.each do |carousel_image| %>
          <div class="swiper-slide">
            <%= image_tag carousel_image.try(:file).try(:url, :large).to_s %>
          </div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next">
        <span class="iconfont icon-arrow-left bul-icon-next"></span>
      </div>
      <div class="swiper-button-prev">
        <span class="iconfont icon-arrow-left bul-icon-prev"></span>
      </div>
    </div>
  </div>
  <div class="camps-cont-detail">
    <%= @announcement.content.html_safe %>
  </div>
</div>
</div>
<script>
  var mySwiper = new Swiper('.swiper-container', {
      slidesPerView: 'auto',
      centeredSlides: true,
      loop: true,
      autoplay: true,
      pagination: {
          el: '.swiper-pagination',
          clickable :true
      },
      navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
      }
  });
</script>
