<% @donate_records.each do |record| %>
  <div class="donation-cont border-b">
    <div class="clearfix">
      <div class="donation-cont-img pull-left">
        <%= image_tag record.project.image_url(:tiny) %>
      </div>
      <div class="pull-left donation-cont-cco">
        <div class="donation-cont-c-tit clearfix">
          <p class="pull-left"><%= record.title %>
            <span class="order-tag"><%= record.project.try(:name) %></span>
          </p>
        </div>
        <div class="clearfix donation-cont-c-con">
          <div class="pull-left">
            <p><span>￥<%= format_money((record.apply.target_amount - record.apply.present_amount), 2) %></span></p>
            <p>还差</p>
          </div>
          <!--只有悦读才有进度-->
          <% if record.id == 2 %>
            <div class="pull-left">
              <p><span><%= record.apply.bookshelves_done_count %></span>/<%= record.apply.bookshelves_count %></p>
              <p>进度</p>
            </div>
          <% end %>
        </div>
      </div>
      <% case record.id %>
      <% when 1 %>
        <% url = pairs_path %>
      <% when 2 %>
        <% url = reads_path %>
      <% when 3 %>
        <% url = camps_path %>
      <% else %>
        <% url = goods_path(id: record.id) %>
      <% end %>
      <%= link_to "查看项目详情", url, class: "donation-cont-but pull-right cur" %>
    </div>
  </div>
<% end %>

<div class="project-foot">
  <%= link_to_previous_page @donate_records, '', class: "iconfont icon-arrow-left cur icon-a", remote: true %>
  <%= link_to_next_page @donate_records, '', class: "iconfont icon-arrow-right cur icon-a", remote: true %>
</div>