<% content_for :scripts do %>
    <%= javascript_include_tag "controllers/orders/tab", "controllers/orders/index" %>
<% end %>
<% content_for :styles do %>
    <%= stylesheet_link_tag "controllers/orders/index" %>
<% end %>

<div class="person-body-right pull-right">
  <!--我的捐助-->
  <div>
    <ul class="donations clearfix">
      <li class="selectedDon cur">
        <%= link_to '我的捐助', account_orders_path %>
      </li>
      <li class="cur">
        <%= link_to '我的结对', account_pairs_path %>
      </li>
      <li class="cur">
        <%= link_to '我的图书角', account_bookshelves_path %>
      </li>
    </ul>
    <!--我的捐助-->

    <div id="swipertab">

      <div class="row">
        <div class="span12 border-b" style="height: 49px;position: relative;">

          <div id="owl-demo" class="owl-carousel">
            <div class="item">
              <div class=" cur <%= 'selectedDo' if params[:project_id].nil? %>" >
                <%= link_to '全部项目', account_orders_path %>
                <% if params[:project_id].nil? %>
                    <div class="bottomline"></div>
                <% end %>
              </div>
            </div>
            <% @projects.each do |project| %>
                <div class="item">
                  <div class="cur border-l  <%= 'selectedDo' if params[:project_id] === project.id.to_s %>">
                    <%= link_to project.name, account_orders_path(project_id: project.id) %>
                    <% if params[:project_id] === project.id.to_s %>
                        <div class="bottomline"></div>
                    <% end %>
                  </div>
                </div>
            <% end %>


        </div>
          <div class="customNavigation">
            <a class=" prev">
              <span class="iconfont icon-arrowdown bul-icon-prev"></span>
            </a>
            <a class=" next"><span class="iconfont icon-arrowdown bul-icon-next"></span></a>
          </div>
      </div>


    </div>
    <!--</div>-->
    <% if @donate_records.present? %>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane active" id="data_list">
              <%= render partial: "info" %>
            </div>
          </div>
        </div>
        <div class="project-foot">
          <%= paginate @donate_records, theme: :tiny %>
        </div>
    <% else %>
        <div class="donation-cont-no">
          <div class="donation-co-no-c">
            <p>您还未捐助过任何公益项目! </p>
            <p>马上参与捐助，帮助西部孩子 健康成长吧~</p>
          </div>
          <%= link_to new_donate_path do %>
              <button class="donation-co-no-but">去捐助</button>
          <% end %>
        </div>
    <% end %>
  </div>
</div>

</div>


<script>
    $("#owl-demo").owlCarousel({
        items : 5
    });
    $(".next").click(function(){
        $("#owl-demo").trigger('owl.next');
    })
    $(".prev").click(function(){
        $("#owl-demo").trigger('owl.prev');
    })
</script>
