<% content_for :scripts do %>
  <%= javascript_include_tag "controllers/orders/tab", "controllers/orders/index" %>
<% end %>
<% content_for :styles do %>
  <%= stylesheet_link_tag "controllers/orders/index" %>
<% end %>

<div class="person-body-right pull-right">
  <!--我的捐助-->
  <div style="display: block;">
    <ul class="donations clearfix">
      <li class="selectedDon cur">
        <%= link_to '我的捐助', account_orders_path %>
      </li>
      <li class="cur">
        <%= link_to '我的结对', account_pairs_path %>
      </li>
      <li class="cur">
        <%= link_to '我的图书角', account_bookshelves_path %>
      </li>
    </ul>
    <!--我的捐助-->
    <div class="donation " style="display: block;">
        <div class=" donations-1 swiper-container " url="<%= select_tab_account_orders_path %>">
          <div class="donations1  swiper-wrapper panel-tabs" url="<%= select_tab_account_orders_path %>">
            <div class="selectedDo swiper-slide cur" info="0" url="<%= select_tab_account_orders_path %>">全部项目
              <div class="bottomline"></div></div>
            <% @projects.each do |project| %>
                <div class="cur border-l swiper-slide" info="<%= project.id %>" url="<%= select_tab_account_orders_path(project.id) %>"><%= project.name %>
                  <div class=""></div>
                </div>
            <% end %>
          </div>
          </div>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane active" id="data_list">
            <%= render partial: "info" %>
          </div>
        </div>
      </div>
      <div class="donation-cont-no">
        <div class="donation-co-no-c">
          <p>您还未捐助过任何公益项目! </p>
          <p>马上参与捐助，帮助西部孩子 健康成长吧~</p>
        </div>
        <button class="donation-co-no-but">去捐助</button>
      </div>
    </div>
  </div>

</div>
<style>
  .donation .swiper-container {
    width: 80%;
    height: 100%;
    margin: 0 ;
  }
  .donation .swiper-slide {
    text-align: center;
    background: #fff;
    width: 103px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    color: #3d3d40;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

</style>

<script>
  $(function(){
      var swiper = new Swiper('.swiper-container', {
          slidesPerView: 'auto',
          pagination: {
              el: '.swiper-pagination',
              clickable: true,
          },
      });
      $(".donations1 > .swiper-slide").on("click", function () {
          $(".donations1 > .swiper-slide").removeClass("selectedDo")
          $(this).addClass("selectedDo")
          $(".bottomline").css("left", parseFloat($(this)[0].offsetLeft) + 33 +"px")

      })
  })

</script>
