<%= simple_form_for [:admin, @county_user], wrapper: :admin_form, html: {data: {'parsley-validate': true}} do |f| %>
    <%= f.error_notification %>
    <div class="form-body form-horizontal">
      <%= f.input :name, label: '姓名：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
      <%= f.input :phone, label: '联系方式：', input_html: { data: {'parsley-required': true}} %>
      <%= f.input :unit_name, label: '单位名称：', input_html: { data: {'parsley-required': true}} %>
      <%= f.input :duty, label: '职务：', input_html: { data: {'parsley-required': true}} %>
      <div class="form-group">
        <label class="col-md-2 control-label">单位简介：</label>
        <div class="col-sm-9">
          <%= f.cktext_area :unit_describe, input_html: { data: {'parsley-required': true}}  %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">选择地区：</label>
        <div class="col-sm-6">
          <div class="row city-group">
            <div class="col-sm-3">
              <%= select_tag 'county_user[province]', options_for_select(ChinaCity.list, @county_user.province.presence), prompt: '省份', class: "city-select form-control" %>
            </div>
            <div class="col-sm-3">
              <%= select_tag 'county_user[city]', options_for_select(ChinaCity.list(@county_user.province.to_s), @county_user.city.presence), prompt: '城市', class: "city-select form-control" %>
            </div>
            <div class="col-sm-3">
              <%= select_tag 'county_user[district]', options_for_select(ChinaCity.list(@county_user.city.to_s), @county_user.district.presence), prompt: '地区', class: "city-select form-control" %>
            </div>
          </div>
        </div>
      </div>
      <%= f.input :address, label: '详细地址：', input_html: { data: {'parsley-required': true}} %>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-3 col-md-9">
          <%= f.button :submit, '提交', class: 'btn green' %>
          <%= link_to '取消', admin_county_users_path, class: 'btn' %>
        </div>
      </div>
    </div>
<% end %>
