<div class="disclosures">
  <p class="disclosures-tit" style="margin: 0"><%= @financial_report.title %></p>

    <div class="disclosures-s">
      <p class="disclosures-n" style="text-align: center;"><%= @financial_report.user.show_name %> |  <%= @financial_report.created_at.strftime("%Y年%m月%d日")%></p>
    </div>
  <div class="disclosures-show">
    <%= @financial_report.content.html_safe %>
  </div>
  <div style="text-align: center">
    <% @financial_report.report_files.each do |file| %>
        <i class="fa fa-download"></i><%= link_to file.file_name, file_download_disclosure_path(file_id: file.id) %><br/>
    <% end %>
  </div>

</div>
