<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i> <%= link_to @user.show_name, admin_users_path %> > 捐助记录
    </div>
    <div class="actions">
      <div class="btn btn-xs yellow">
        <i class="fa fa-cny"></i>
        <span>捐助统计：<%= @user.donate_amount %></span>
      </div> |

      <%= link_to invoices_admin_user_path(@user), class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
      <i class="icon-plus"></i>
      <span>申请发票</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= search_form_for @search, url: admin_user_donate_records_path(@user), class: 'form-inline' do |f| %>
          <div class="form-group">
            <%= f.label :title_cont, '搜索收入' %>
            <%= f.text_field :donor_name_or_donor_phone_cont, class: 'form-control', placeholder: '捐助人姓名、捐助人手机号' %>
          </div>
          <div class="form-group">
            <%= f.label '捐助时间' %>
            <%= f.text_field :created_at_gteq, class: 'form-control datepicker', placeholder: '开始时间' %>
            <%= f.text_field :created_at_lteq, class: 'form-control datepicker', placeholder: '结束时间' %>
          </div>
          <button type="submit" class="btn btn-default grey">查询</button>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right">
          </div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
            <tr>
              <th>
                ID
              </th>
              <th>
                标题
              </th>
              <th>
                捐款人
              </th>
              <th>
                代捐人/汇款人
              </th>
              <th>
                捐助时间
              </th>
              <th>
                捐助金额
              </th>
              <th>
                捐助平台
              </th>
              <th>
                操作
              </th>
            </tr>
          </thead>
          <tbody>
            <% @donate_records.each do |record| %>
            <tr>
              <td>
                <%= record.id %>
              </td>
              <td>
                <%= record.apply_name %>
              </td>
              <td>
                <%= record.donor.show_name %> ( <%= record.donor.phone %> )
              </td>
              <td>
                <%= record.agent_name %>
              </td>
              <td>
                <%= l record.created_at %>
              </td>
              <td>
                <%= format_money record.amount %>
              </td>
              <td>
                <%= record.income_record.income_source.try(:name) if record.income_record.present? %>
              </td>
              <td>
                <%= link_to admin_user_donate_record_path(@user,record), class: 'btn btn-xs red', method: :delete, data: {confirm: '确定要删除吗？'} do %>
                  <i class="fa fa-trash-o"></i> 删除
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@donate_records) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @donate_records, theme: 'admin' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
