<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i>团队捐助统计
    </div>
    <div class="actions">
      <%#= link_to excel_output_admin_donate_statistic_path, class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
          <!--<i class="fa fa-download"></i>-->
          <!--<span>导出</span>-->
      <%# end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <form class="form-inline" id="user_search" action="/admin/teams" accept-charset="UTF-8" method="get">
            <div class="form-group">
              <label for="q_注册时间">时间范围</label>
              <input class="form-control datepicker gsh-input-share-l" placeholder="开始时间" type="text" name="time_start" value="<%= params[:time_start].strftime("%Y-%m-%d") %>">
              <input class="form-control datepicker gsh-input-share-r" placeholder="结束时间" type="text" name="time_end" value="<%= params[:time_end].strftime("%Y-%m-%d") %>">
            </div>
            <div class="form-group">
              <select placeholder="" class="form-control gsh-input-share" name="fix_year">
                <option value="">全部</option>
                <% (2018..Time.now.year).each do |year| %>
                  <option value="<%= year %>"><%= "#{year}年" %></option>
                <% end %>
              </select>
            </div>
            <button type="submit" class="btn btn-default grey">搜索</button>
          </form>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right">
          </div>
        </div>
      </div>
      <div class="table-scrollable dropdown-select">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
          <tr>
            <th>
              团队ID
            </th>
            <th>
              名称
            </th>
            <th>
              成员数
            </th>
            <th>
              累计捐助
            </th>
            <th>
              成员劝捐
            </th>
          </tr>
          </thead>
          <tbody>
          <% @teams.each do |team| %>
              <tr>
                <td><%= team.id %></td>
                <td><%= team.name %></td>
                <td><%= team.member_count %></td>
                <td>
                  <% record = @income_statistics.detect{|record| record.team_id == team.id} %>
                  <% in_count = record.present? ? record.amount : 0 %>
                  ￥<%= format_money(in_count) %>
                </td>
                <td>
                  <% record = @promote_statistics.detect{|record| record.team_id == team.id} %>
                  <% in_count = record.present? ? record.amount : 0 %>
                  ￥<%= format_money(in_count) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@teams) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @teams, theme: 'admin' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
