<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i>孩子信箱
    </div>
    <div class="actions">
      <%= link_to new_admin_pair_thank_note_path, class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
          <i class="icon-plus"></i>
          <span>新增</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= search_form_for @search, url: admin_pair_thank_notes_path, class: 'form-inline' do |f| %>
              <div class="form-group">
                <%= f.label :child_name_or_child_gsh_no_cont, '搜索' %>
                <%= f.text_field :child_name_or_child_gsh_child_gsh_no_or_child_school_name_cont, class: 'form-control gsh-input-share', placeholder: '学生姓名、格桑花编号、学校名称' %>
              </div>
              <div class="form-group">
                <%= f.label :grant_user_name_cont, '搜索' %>
                <%= f.text_field :grant_user_name_cont, class: 'form-control gsh-input-share', placeholder: '捐助人姓名搜索' %>
              </div>
              <div class="form-group">
                <%= f.label '反馈时间' %>
                <%= f.text_field :created_at_gteq, class: 'form-control datepicker gsh-input-share-l', placeholder: '开始时间' %>
                <%= f.text_field :created_at_lteq, class: 'form-control datepicker gsh-input-share-r', placeholder: '结束时间' %>
              </div>
              <div class="form-group">
                <%= f.label :kind_eq, '反馈类型' %>
                <%= f.select :kind_eq, ContinualFeedback.options_for_some_select(:kinds, ['default', 'score']), {include_blank: '全部'}, class: 'form-control gsh-input-share' %>
              </div>
              <button type="submit" class="btn btn-default grey">搜索</button>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right"></div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
          <tr>
            <th>
              格桑花编号
            </th>
            <th>
              反馈学生
            </th>
            <th>
              捐助人
            </th>
            <th>
              捐助学年
            </th>
            <th>
              反馈时间
            </th>
            <th>
              反馈类型
            </th>
            <th>
              操作
            </th>
          </tr>
          </thead>
          <tbody>
          <% @notes.each do |note| %>
              <tr>
                <td>
                  <%= note.child.try(:gsh_no) %>
                </td>
                <td>
                  <%= note.child.try(:name) %>
                </td>
                <td>
                  <%= note.grant.try(:donator).try(:admin_show_name) %>
                </td>
                <td>
                  <%= note.grant.try(:title) %>
                </td>
                <td>
                  <%= l note.created_at %>
                </td>
                <td>
                  <%= note.enum_name(:kind) %>
                </td>
                <td>
                  <%= link_to admin_pair_thank_note_path(note), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                      <i class="fa fa-file"></i> 查看
                  <% end %>
                 <%= link_to edit_admin_pair_thank_note_path(note), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                      <i class="fa fa-edit"></i> 修改
                  <% end %>
                  <%= link_to admin_pair_thank_note_path(note), class: 'btn btn-xs red', method: :delete, data: {confirm: '确定要删除吗？'} do %>
                    <i class="fa fa-trash-o"></i> 删除
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@notes) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @notes, theme: 'admin' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
