<%
child = ProjectSeasonApplyChild.find(params[:child])
semester_count = params[:semester_count].to_i || 0
semesters = child.donate_pending_records.reorder(:id)
amount = 0.0
i = 0
semesters.each do |s|
  amount = amount + s.amount if i < semester_count
  i = i + 1
end
%>
<div id="donates">
  <form action="<%= donates_path %>" method="post" data-parsley-validate="true">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="donates-img">
    <%= image_tag 'top-bg.png' %>
    <div class="donates-img-cont">
      <p>格桑花的承诺</p>
      <p>每一笔善款去向可查，明明白白</p>
    </div>
  </div>
  <div  class="donates-content clearfix">
    <div class="pull-left donates-content-left">
      <!--物资类-->
      <div>
        <p class="donates-c-l-t">您的捐款将会用于格桑花一对一助学项目的使用！</p>
        <div class="donates-c-l-co">
          <div class="donates-c-l-coss clearfix">
            <div class="pull-left">
              <p><%= child.name %></p>
              <p>捐款金额 <%= number_to_currency amount %> 元</p>
            </div>
            <div class="pull-right">
            </div>
          </div>
        </div>
      </div>

      <!--整捐-->
      <div class="benefactors-integer clearfix">
        <span class="pull-left">捐款金额</span>
        <div class="pull-right">
          <ul class="ui-choose" id="uc_01">
            <li class="selected"><%= number_to_currency amount %> 元
              <span>
                <%#= image_tag 'integer-read.png' %>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <% if current_user.team.present? %>
      <div class="don-my-team">通过团队 <span><%= current_user.team.name %></span> 捐助</div>
      <% end %>
      <div class="benefactors-way clearfix border-b">
        <span class="pull-left">支付方式</span>
        <input type="hidden" name="amount" value="<%= amount %>">
        <input type="hidden" name="donate_way" value="wechat" id="donate_way">
        <input type="hidden" name="child" value="<%= child.id %>">
        <ul class="ui-choose pull-left"  id="uc_02">
          <li class="donate_way selected" data-way="wechat">
            <%= image_tag 'iconpic-buy-weixin.svg' %>
          </li>
          <li class="donate_way" data-way="alipay">
            <%= image_tag 'iconpic-buy-alipay.svg' %>
          </li>
          <% if current_user.balance > 0 %>
          <li class="donate_way" data-way="balance">
            <%= image_tag 'iconpic-buy-outline.svg' %>
            <span><%= number_to_currency current_user.balance %> 元</span>
          </li>
          <% end %>
        </ul>
      </div>
      <div style="text-align:center; ">
        <button class="class-button cur" >立即支付</button>
        <div class="check-box">
          <div class="pretty o-danger">
            <input type="checkbox" checked/>
            <label><i class="mdi mdi-check"></i></label>
            <span class="checkbox_text">阅读并同意</span>
          </div>
          <span class=" cur">《格桑花用户注册协议》</span>
        </div>
      </div>

      <!--<div class="mongolian-hint"><span>您的余额不足，不足以支付</span></div>-->
    </div>
    <div class="pull-right donates-content-right">
      <div class="donates-con-r-t border-b ">
        <p>银行汇款</p>
        <p>银行转账至（请注明捐助项目）</p>
      </div>
      <div class="donates-con-r-con">
        <p>户名：格桑花西部助学</p>
        <p>开户银行：中国光大银行北京朝阳支行</p>
        <p>账号：3506 0188 0000 50322</p>
      </div>
    </div>
  </div>
</form>
</div>
<!-- Modal -->
<div class="modal fade" id="myModaldonation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="detail-icon">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="overspread-co">
          <p class="over-font">支付失败</p>
          <p class="over-fontns">请尝试其他支付方式</p>
        </div>
      </div>
      <div class="modal-footer overspreads-but">
        <button class="over-but" data-dismiss="modal">确认</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="detail-icon">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="overspread-co">
          <p class="over-fontns">如支付成功关闭此窗口</p>
        </div>
      </div>
      <div class="modal-footer overspreads-but">
        <button class="succeed">支付成功</button>
        <button class="defeated" data-dismiss="modal">支付失败</button>
      </div>
    </div>
  </div>
</div>
<script>
    //     模态窗
//    $('#myModal').on('shown.bs.modal', function (e) {}).modal();
    // $('#myModaldonation').on('shown.bs.modal', function (e) {}).modal();
 $('.donates-content-right').height($('.donates-content-left').height() + 29) 

    $('.ui-choose').ui_choose();
    $("#benefactor").select2({
        width: "426px",
        minimumResultsForSearch: -1
    });

    // 更新捐助项信息
    $('.donate-item-cur').click(function () {
      $('#donate-item-describe').text($(this).data('describe'))
      // 切换金额卡片
      $('.ui-choose-tab').hide()
      var amountTabName = '#amount-tab-' + $(this).data('donate-item-id')
      if ($(amountTabName).length > 0) {
        $(amountTabName).show()
      } else {
        $('#amount-tab-default').show()
      }
    })

    // 把卡片金额设置到金额输入框
    $('.amount_tab_cur').click(function () {
      $('#donate-amount').val($(this).data('amount'))
    })

    // 金额框值改变时执行
    $('#donate-amount').change(function () {
      $('.amount_tab_cur').removeClass('selected')
    })

    // 选择支付方式
    $('.donate_way').click(function () {
      $('#donate_way').val($(this).data('way'))
    })
</script>
