<%= simple_form_for @report, url: @report.new_record? ? admin_camp_project_reports_path : admin_camp_project_report_path(@report), wrapper: :admin_form, html: {'parsley-validate': true, class: 'report_form'} do |f| %>
    <%= f.error_notification %>
    <div class="form-body form-horizontal">
      <%= f.input :title, label: '报告标题：', autofocus: true, require: true, input_html: { data: {'parsley-required': true}} %>
      <%#= f.input :user_id, label: '资讯作者：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
      <div class="form-group">
        <label class="col-md-2 control-label">发布时间：</label>
        <div class="col-sm-9">
          <%= f.text_field :published_at, class: 'datetime-picker', required: true, placeholder: '发布时间' %>
        </div>
      </div>
      <%= f.input :content, label: '报告详情：', placeholder: '请填写报告详情' %>
      <div class="form-group">
        <label class="col-md-2 control-label">报告图片(最多9张)：</label>
        <div class="col-sm-9">
          <%= webuploader_tag 'image_ids[]', label: '上传报告图片', type: 'project_report_image', asset: @report.images %>
        </div>
      </div>
      <%= f.input :kind, as: :radio_buttons, wrapper: :inline_inputs, collection: ProjectReport.options_for_select(:kinds), label: '报告类型：' %>
      <%= f.input :state, as: :radio_buttons, wrapper: :inline_inputs, collection: ProjectReport.options_for_select(:states), label: '状态：' %>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-3 col-md-9">
          <%= f.button :submit, '提交', class: 'btn green' %>
          <%= link_to '取消', admin_camp_project_reports_path, class: 'btn' %>
        </div>
      </div>
    </div>
<% end %>
<script>
$(function(){
  initMultiImageWebuploader($('#webuploader'), null, 9);
  $('.upload-list').viewer();
})
</script>
