<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i>学校管理
    </div>
    <div class="actions">

    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= search_form_for @search, url: admin_movie_care_schools_path, class: 'form-inline' do |f| %>
              <div class="form-group">
                <%= f.label :apply_no_or_school_name_cont, '搜索' %>
                <%= f.text_field :apply_no_or_school_name_cont, class: 'form-control gsh-input-share', placeholder: '编号或学校名称' %>
              </div>
              <button type="submit" class="btn btn-default grey">搜索</button>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right"></div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
          <tr>
            <th>
              申请编号
            </th>
            <th>
              申请学校
            </th>
            <th>
              学校地区
            </th>
            <th>
              学校人数
            </th>
            <th>
              开通时间
            </th>
            <th>
              项目负责人
            </th>
            <th>
              联系方式
            </th>
            <th>
              操作
            </th>
          </tr>
          </thead>
          <tbody>
          <% @project_applies.each do |apply| %>
              <tr>
                <td>
                  <%= apply.apply_no %>
                </td>
                <td>
                  <%= apply.school.try(:name) %>
                </td>
                <td>
                  <%= apply.school.simple_address %>
                </td>
                <td>
                  <%= apply.school.number %>
                </td>
                <td>
                  <%= l apply.created_at %>
                </td>
                <td>
                  <%= apply.contact_name %>
                </td>
                <td>
                  <%= apply.contact_phone %>
                </td>
                <td>
                  <% if apply.install_feedback.present? %>
                  <%= link_to admin_movie_care_school_movie_care_feedbacks_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs yellow' do %>
                    <i class="fa fa-list"></i> 查看反馈
                  <% end %>
                  <% end %>
                  <%= link_to edit_admin_movie_care_school_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                      <i class="fa fa-edit"></i> 修改
                  <% end %>
                  <%= link_to admin_movie_care_school_path(apply), class: 'btn btn-xs red', method: :delete, data: {confirm: '确定要删除吗？'} do %>
                      <i class="fa fa-trash-o"></i> 删除
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@project_applies) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @project_applies, theme: 'admin' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
