<div class="person-body-left pull-left" style="margin-top: 40px;">
  <ul>
    <%= link_to edit_account_user_center_profile_path do %>
    <li class="<%= display_menu("profiles") %> cur">
      <span class="iconfont icon-ico-team"></span>
      <span>个人资料</span>
      <div class="<%= display_line("profiles") %>"></div>
    </li>
    <% end %>
    <%= link_to account_user_center_account_path do %>
    <li class="<%= display_menu("accounts") %> cur">
      <span class="iconfont icon-ico-month"></span>
      <span>账号信息</span>
      <div class="<%= display_line("accounts") %>"></div>
    </li>
    <% end %>
    <%= link_to edit_account_user_center_bind_path do %>
    <li class="<%= display_menu("binds") %> cur">
      <span class="iconfont icon-ico-month"></span>
      <span>社交账号</span>
      <div class="<%= display_line("binds") %>"></div>
    </li>
    <% end %>

  </ul>
  <div  class="border-t" >
    <%= link_to account_orders_path do %>
      <span class="iconfont icon-rollback"></span>
      <span>返回个人中心</span>
    <% end %>
  </div>
</div>

<script type="text/javascript">
//      左tab切换
// $(".person-body-left ul li").on("click", function () {
//     $(".person-body-left ul li").removeClass("selectedli")
//     $(this).addClass("selectedli")
//     $(".leftLine").css("top", parseFloat($(this)[0].offsetTop) + "px")
//     $.each($('.person-body-left ul li'), function (i, j) {
//         $('.person-body-right > div').eq(i).css('display', 'none')
//     });
//     $('.person-body-right > div').eq($(this).index()).css('display', 'block')
// })
</script>
