<div class="page-sidebar-wrapper">
  <!-- BEGIN SIDEBAR -->
  <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
  <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
  <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-slide-speed="200">
      <li class="nav-item start <%= current_nav_class(:admin_main) %>">
        <%= link_to admin_main_path, class: 'nav-link' do %>
            <i class="fa fa-home"></i>
            <span class="title">管理首页</span>
        <% end %>
      </li>
      <li class="heading">
        <h3 class="uppercase">运营管理</h3>
      </li>
      <li class="nav-item <%= current_nav_class(:admin_user) %>">
        <%= link_to admin_users_path, class: 'nav-link' do %>
            <% new = 0 %>
            <i class="fa fa-user"></i>
            <span class="title">注册用户</span>
            <% if new > 0 %>
                <span class="badge badge-danger"><%= new %></span>
            <% end %>
        <% end %>
      </li>
      <li class="nav-item  <%= current_nav_class(:admin_schools) %> ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <% to_prove_admin = School.can_check.count %>
          <i class="fa fa-building"></i>
          <span class="title <%= 'font-red-soft' if to_prove_admin > 0 %>">学校用户</span>
          <span class="arrow <%= current_nav_class(:admin_schools, current: :open) %>"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item <%= current_nav_class(:admin_school_applies) %> ">
            <%= link_to admin_school_applies_path, class: 'nav-link' do %>
                <span class="title">学校申请</span>
                <% if to_prove_admin > 0 %>
                    <span class="badge badge-danger"><%= to_prove_admin %></span>
                <% end %>
            <% end %>
          </li>
          <li class="nav-item <%= current_nav_class(:admin_school_list) %> ">
            <%= link_to admin_schools_path, class: 'nav-link' do %>
                <span class="title">学校用户</span>
            <% end %>
          </li>
        </ul>
      </li>

      <li class="nav-item <%= current_nav_class(:admin_user_main) %> <%= current_nav_class(:admin_user_county_users) %> <%= current_nav_class(:admin_user_gsh_children) %> <%= current_nav_class(:admin_user_teachers) %>">
        <%= link_to '', class: 'nav-link' do %>
            <i class="fa fa-users"></i>
            <span class="title">用户管理</span>
            <span class="arrow <%= current_nav_class(:admin_user, current: :open) %>"></span>
        <% end %>
        <ul class="sub-menu">
          <li class="nav-item <%= current_nav_class(:admin_user_gsh_children) %> ">
            <%= link_to admin_gsh_children_path, class: 'nav-link' do %>
                <i class="fa fa-user"></i>
                <span class="title">格桑花孩子</span>
            <% end %>
          </li>
          <li class="nav-item <%= current_nav_class(:admin_user_teachers) %> ">
            <%= link_to admin_teachers_path, class: 'nav-link' do %>
                <i class="fa fa-female"></i>
                <span class="title">教师用户</span>
            <% end %>
          </li>

          <li class="nav-item <%= current_nav_class(:admin_user_county_users) %> ">
            <%= link_to admin_county_users_path, class: 'nav-link' do %>
                <i class="fa fa-flag"></i>
                <span class="title">县级领导</span>
            <% end %>
          </li>
        </ul>
      </li>

      <li class="nav-item <%= current_nav_class(:admin_volunteers) %> ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <% to_check_task = TaskVolunteer.to_check.count %>
          <% to_approve_volunteer = Volunteer.submit.count %>
          <i class="fa fa-address-card-o"></i>
          <span class="title">志愿者管理</span>
          <span class="arrow <%= current_nav_class(:admin_volunteers, current: :open) %>"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  <%= current_nav_class(:admin_volunteer_apply) %>">
            <%= link_to admin_volunteer_applies_path, class: 'nav-link' do %>
                <span class="title">志愿者申请</span>
              <% if to_approve_volunteer > 0 %>
                <span class="badge badge-danger"><%= to_approve_volunteer %></span>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item  <%= current_nav_class(:admin_volunteer_list) %>">
            <%= link_to admin_volunteers_path, class: 'nav-link' do %>
                <span class="title">全部志愿者</span>
            <% end %>
          </li>
          <li class="nav-item  <%= current_nav_class(:admin_task_list) %>">
            <%= link_to admin_tasks_path, class: 'nav-link' do %>
                <span class="title">任务管理</span>
            <% end %>
          </li>
          <li class="nav-item  <%= current_nav_class(:admin_task_check) %>">
            <%= link_to admin_task_achievements_path, class: 'nav-link' do %>
              <span class="title">任务提交</span>
              <% if to_check_task > 0 %>
                <span class="badge badge-danger"><%= to_check_task %></span>
              <% end %>
            <% end %>
          </li>
        </ul>
      </li>

      <li class="nav-item  <%= current_nav_class(:admin_apply) %> ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <% to_prove_apply = 0 %>
          <% submited = 0 %>
          <i class="fa fa-file-text-o"></i>
          <span class="title <%= 'font-red-soft' if to_prove_apply > 0 || submited > 0 %>">捐助申请管理</span>
          <span class="arrow <%= current_nav_class(:admin_product, current: :open) %>"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item <%= current_nav_class(:admin_project_applies) %> ">
            <%= link_to '', class: 'nav-link' do %>
                <span class="title">新申请</span>
                <% if to_prove_apply > 0 %>
                    <span class="badge badge-danger"><%= to_prove_apply %></span>
                <% end %>
            <% end %>
          </li>
          <li class="nav-item <%= current_nav_class(:admin_project_lists) %> ">
            <%= link_to '', class: 'nav-link' do %>
                <span class="title">全部申请</span>
                <% if submited > 0 %>
                    <span class="badge badge-danger"><%= submited %></span>
                <% end %>
            <% end %>
          </li>
        </ul>
      </li>

      <li class="nav-item <%= current_nav_class(:admin_month_donate) %>">
        <%= link_to admin_month_donates_path, class: 'nav-link' do %>
            <% new = 0 %>
            <i class="fa fa-calendar"></i>
            <span class="title">月捐管理</span>
            <% if new > 0 %>
                <span class="badge badge-danger"><%= new %></span>
            <% end %>
        <% end %>
      </li>

      <li class="nav-item  <%= current_nav_class(:admin_project) %> ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <% to_prove_apply = 0 %>
          <% submited = 0 %>
          <i class="fa fa-cubes"></i>
          <span class="title <%= 'font-red-soft' if to_prove_apply > 0 || submited > 0 %>">项目管理</span>
          <span class="arrow <%= current_nav_class(:admin_project, current: :open) %>"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  <%= current_nav_class(:admin_pair) %> ">
            <a href="javascript:;" class="nav-link nav-toggle">
              <% to_prove_apply = 0 %>
              <% submited = 0 %>
              <i class="fa fa-handshake-o"></i>
              <span class="title <%= 'font-red-soft' if to_prove_apply > 0 || submited > 0 %>">结对</span>
              <span class="arrow <%= current_nav_class(:admin_pair, current: :open) %>"></span>
            </a>
            <ul class="sub-menu">
              <li class="nav-item <%= current_nav_class(:admin_pair_season) %> ">
                <%= link_to admin_pair_seasons_path, class: 'nav-link' do %>
                  <i class="fa fa-align-justify"></i>
                  <span class="title">批次管理</span>
                <% end %>
              </li>
              <li class="nav-item <%= current_nav_class(:admin_pair_applies) %> ">
                <%= link_to admin_pair_applies_path, class: 'nav-link' do %>
                    <span class="title">配额管理</span>
                <% end %>
              </li>
              <li class="nav-item <%= current_nav_class(:admin_pair_lists) %> ">
                <%= link_to admin_pair_student_lists_path, class: 'nav-link' do %>
                    <span class="title">捐助管理</span>
                <% end %>
              </li><li class="nav-item <%= current_nav_class(:admin_pair_donate_records) %> ">
                <%= link_to admin_pair_donate_records_path, class: 'nav-link' do %>
                    <span class="title">捐助记录</span>
                <% end %>
              </li>
              <li class="nav-item <%= current_nav_class(:admin_pair_grants) %> ">
                <%= link_to admin_pair_grants_path, class: 'nav-link' do %>
                    <span class="title">发放管理</span>
                <% end %>
              </li>
              <li class="nav-item <%= current_nav_class(:admin_pair_reports) %> ">
                <%= link_to admin_pair_reports_path, class: 'nav-link' do %>
                    <span class="title">报告管理</span>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item <%= current_nav_class(:admin_project_book) %>">
            <a href="javascript:;" class="nav-link nav-toggle">
              <% to_prove_apply = 0 %>
              <% submited = 0 %>
              <i class="fa fa-book"></i>
              <span class="title <%= 'font-red-soft' if to_prove_apply > 0 || submited > 0 %>">悦读</span>
              <span class="arrow <%= current_nav_class(:admin_project_book, current: :open) %>"></span>
            </a>
            <ul class="sub-menu">
              <li class="nav-item <%= current_nav_class(:admin_project_book_season) %>">
                <%= link_to admin_project_book_seasons_path, class: 'nav-link' do %>
                  <i class="fa fa-align-justify"></i>
                  <span class="title">批次管理</span>
                <% end %>
              </li>
              <li class="nav-item <%= current_nav_class(:admin_read_applies) %> ">
                <%= link_to admin_read_applies_path, class: 'nav-link' do %>
                    <span class="title">项目申请</span>
                <% end %>
              </li>
              <li class="nav-item <%= current_nav_class(:admin_read_projects) %> ">
                <%= link_to admin_read_projects_path, class: 'nav-link' do %>
                    <span class="title">筹款项目管理</span>
                <% end %>
              </li>
              <li class="nav-item <%= current_nav_class(:admin_read_continual_feedbacks) %> ">
                <%= link_to admin_read_continual_feedbacks_path, class: 'nav-link' do %>
                    <span class="title">持续反馈</span>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item <%= current_nav_class(:admin_project_camp) %>">
            <a href="javascript:;" class="nav-link nav-toggle">
              <% to_prove_apply = 0 %>
              <% submited = 0 %>
              <i class="fa fa-child"></i>
              <span class="title <%= 'font-red-soft' if to_prove_apply > 0 || submited > 0 %>">探索营</span>
              <span class="arrow <%= current_nav_class(:admin_project_camp, current: :open) %>"></span>
            </a>
            <ul class="sub-menu">
              <li class="nav-item <%= current_nav_class(:admin_project_camp_season) %>">
                <%= link_to admin_project_camp_seasons_path, class: 'nav-link' do %>
                  <i class="fa fa-align-justify"></i>
                  <span class="title">批次管理</span>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item <%= current_nav_class(:admin_project_radio) %>">
            <a href="javascript:;" class="nav-link nav-toggle">
              <% to_prove_apply = 0 %>
              <% submited = 0 %>
              <i class="fa fa-volume-up"></i>
              <span class="title <%= 'font-red-soft' if to_prove_apply > 0 || submited > 0 %>">广播</span>
              <span class="arrow <%= current_nav_class(:admin_project_radio, current: :open) %>"></span>
            </a>
            <ul class="sub-menu">
              <li class="nav-item <%= current_nav_class(:admin_project_radio_season) %>">
                <%= link_to admin_project_radio_seasons_path, class: 'nav-link' do %>
                  <i class="fa fa-align-justify"></i>
                  <span class="title">批次管理</span>
                <% end %>
              </li>
              <li class="nav-item <%= current_nav_class(:admin_radio_applies) %> ">
                <%= link_to admin_radio_applies_path, class: 'nav-link' do %>
                  <span class="title">申请管理</span>
                <% end %>
              </li>
              <li class="nav-item <%= current_nav_class(:admin_radio_projects) %> ">
                <%= link_to admin_radio_projects_path, class: 'nav-link' do %>
                  <span class="title">筹款项目</span>
                <% end %>
              </li>
              <li class="nav-item <%= current_nav_class(:admin_radio_continual_feedbacks) %> ">
                <%= link_to admin_radio_continual_feedbacks_path, class: 'nav-link' do %>
                    <span class="title">持续反馈</span>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item <%= current_nav_class(:admin_project_movie) %>">
            <a href="javascript:;" class="nav-link nav-toggle">
              <% to_prove_apply = 0 %>
              <% submited = 0 %>
              <i class="fa fa-video-camera"></i>
              <span class="title <%= 'font-red-soft' if to_prove_apply > 0 || submited > 0 %>">观影</span>
              <span class="arrow <%= current_nav_class(:admin_project_movie, current: :open) %>"></span>
            </a>
            <ul class="sub-menu">
              <li class="nav-item <%= current_nav_class(:admin_movie_applies) %> ">
                <%= link_to admin_movie_applies_path, class: 'nav-link' do %>
                  <span class="title">申请管理</span>
                <% end %>
              </li>
              <li class="nav-item <%= current_nav_class(:admin_movie_schools) %> ">
                <%= link_to admin_movie_schools_path, class: 'nav-link' do %>
                  <span class="title">学校管理</span>
                <% end %>
              </li>
              <li class="nav-item <%= current_nav_class(:admin_movie_continual_feedbacks) %> ">
                <%= link_to admin_movie_continual_feedbacks_path, class: 'nav-link' do %>
                    <span class="title">持续反馈</span>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item <%= current_nav_class(:admin_project_flower) %>">
            <a href="javascript:;" class="nav-link nav-toggle">
              <% to_prove_apply = 0 %>
              <% submited = 0 %>
              <i class="fa fa-futbol-o"></i>
              <span class="title <%= 'font-red-soft' if to_prove_apply > 0 || submited > 0 %>">护花</span>
              <span class="arrow <%= current_nav_class(:admin_project_flower, current: :open) %>"></span>
            </a>
            <ul class="sub-menu">
              <li class="nav-item <%= current_nav_class(:admin_project_flower_season) %>">
                <%= link_to admin_project_flower_seasons_path, class: 'nav-link' do %>
                  <i class="fa fa-align-justify"></i>
                  <span class="title">批次管理</span>
                <% end %>
                <li class="nav-item <%= current_nav_class(:admin_project_flower_applies) %> ">
                  <%= link_to admin_flower_applies_path, class: 'nav-link' do %>
                      <span class="title">护花物资申请</span>
                  <% end %>
                </li>
                <li class="nav-item <%= current_nav_class(:admin_project_flower_projects) %> ">
                  <%= link_to admin_flower_projects_path, class: 'nav-link' do %>
                      <span class="title">筹款项目管理</span>
                  <% end %>
                </li>
                <li class="nav-item <%= current_nav_class(:admin_project_flower_feedbacks) %> ">
                  <%= link_to admin_flower_continual_feedbacks_path, class: 'nav-link' do %>
                      <span class="title">持续反馈</span>
                  <% end %>
                </li>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="nav-item <%= current_nav_class(:admin_campaign) %>">
        <%= link_to '', class: 'nav-link' do %>
            <% new = 0 %>
            <i class="fa fa-delicious"></i>
            <span class="title">活动管理</span>
            <span class="arrow <%= current_nav_class(:admin_campaign, current: :open) %>"></span>
            <% if new > 0 %>
                <span class="badge badge-danger"><%= new %></span>
            <% end %>
        <% end %>
        <ul class="sub-menu">
          <li class="nav-item <%= current_nav_class(:admin_campaign_categories) %> ">
            <%= link_to admin_campaign_categories_path, class: 'nav-link' do %>
                <!-- <i class="fa fa-user"></i> -->
                <span class="title">活动分类管理</span>
            <% end %>
          </li>
          <li class="nav-item <%= current_nav_class(:admin_campaigns) %> ">
            <%= link_to admin_campaigns_path, class: 'nav-link' do %>
                <!-- <i class="fa fa-user"></i> -->
                <span class="title">活动管理</span>
            <% end %>
          </li>
        </ul>
      </li>

      <li class="nav-item <%= current_nav_class(:admin_complaint) %>">
        <%= link_to admin_complaints_path, class: 'nav-link' do %>
            <% new = Complaint.submit.count %>
            <i class="fa fa-hand-paper-o"></i>
            <span class="title">公示举报</span>
            <% if new > 0 %>
                <span class="badge badge-danger"><%= new %></span>
            <% end %>
        <% end %>
      </li>

      <li class="nav-item <%= current_nav_class(:admin_thanks) %>">
        <%= link_to '', class: 'nav-link' do %>
            <% to_audit = 0 %>
            <i class="fa fa-envelope-o"></i>
            <span class="title">反馈管理</span>
            <% if to_audit > 0 %>
                <span class="badge badge-danger"><%= to_audit %></span>
            <% end %>
        <% end %>
      </li>

      <li class="nav-item <%= current_nav_class(:admin_platform_content) %>">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="fa fa-desktop"></i>
          <span class="title">平台管理</span>
          <span class="arrow <%= current_nav_class(:admin_platform_content, current: :open) %>"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item <%= current_nav_class(:admin_content_adverts) %>">
            <%= link_to admin_adverts_path, class: 'nav-link' do %>
                <span class="title">广告图管理</span>
            <% end %>
          </li>
          <li class="nav-item <%= current_nav_class(:admin_content_articles) %>">
            <%= link_to admin_articles_path, class: 'nav-link' do %>
                <span class="title">资讯管理</span>
            <% end %>
          </li>
          <li class="nav-item <%= current_nav_class(:admin_content_specials) %>">
            <%= link_to admin_specials_path, class: 'nav-link' do %>
                <span class="title">专题管理</span>
            <% end %>
          </li>
          <li class="nav-item <%= current_nav_class(:admin_content_supports) %>">
            <%= link_to admin_supports_path, class: 'nav-link' do %>
                <span class="title">帮助中心</span>
            <% end %>
          </li>
          <li class="nav-item <%= current_nav_class(:admin_content_pages) %>">
            <%= link_to admin_pages_path, class: 'nav-link' do %>
                <span class="title">单页管理</span>
            <% end %>
          </li>
        </ul>
      </li>


      <li class="heading">
        <h3 class="uppercase">系统管理</h3>
      </li>

      <li class="nav-item <%= current_nav_class(:admin_system) %>">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="fa fa-pie-chart"></i>
          <span class="title">基础数据维护</span>
          <span class="arrow <%= current_nav_class(:admin_system, current: :open) %>"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  <%= current_nav_class(:admin_article_category) %>">
            <%= link_to admin_article_categories_path, class: 'nav-link' do %>
                <span class="title">资讯分类管理</span>
            <% end %>
          </li>
          <li class="nav-item  <%= current_nav_class(:admin_project_template) %>">
            <%= link_to admin_projects_path, class: 'nav-link' do %>
                <span class="title">项目管理</span>
            <% end %>
          </li>
          <li class="nav-item  <%= current_nav_class(:admin_support_category) %>">
            <%= link_to admin_support_categories_path, class: 'nav-link' do %>
                <span class="title">帮助分类管理</span>
            <% end %>
          </li>
          <li class="nav-item  <%= current_nav_class(:admin_income_source) %>">
            <%= link_to admin_income_sources_path, class: 'nav-link' do %>
                <span class="title">入账渠道管理</span>
            <% end %>
          </li>
          <li class="nav-item  <%= current_nav_class(:admin_volunteer_major) %>">
            <%= link_to admin_majors_path, class: 'nav-link' do %>
              <span class="title">志愿者专业管理</span>
            <% end %>
          </li>
        </ul>
      </li>

      <% if (current_user.has_role? :superadmin) %>
          <li class="nav-item <%= current_nav_class(:admin_administrator) %>">
            <a href="javascript:;" class="nav-link nav-toggle">
              <i class="fa fa-users"></i>
              <span class="title">账号管理</span>
              <span class="arrow <%= current_nav_class(:admin_administrator, current: :open) %>"></span>
            </a>
            <ul class="sub-menu">
              <li class="nav-item <%= current_nav_class(:admin_administrators) %>">
                <%= link_to admin_administrators_path, class: 'nav-link' do %>
                    <i class="fa fa-user"></i>
                    <span class="title">平台用户管理</span>
                <% end %>
              </li>
              <li class="nav-item <%= current_nav_class(:admin_login_activities) %>">
                <%= link_to '', class: 'nav-link' do %>
                    <i class="fa fa-file-text"></i>
                    <span class="title">登录日志</span>
                <% end %>
              </li>
              <li class="nav-item <%= current_nav_class(:admin_audits) %>">
                <%= link_to admin_audits_path, class: 'nav-link' do %>
                    <i class="fa fa-list"></i>
                    <span class="title">操作日志</span>
                <% end %>
              </li>
            </ul>
          </li>
      <% end %>

      <li class="heading">
        <h3 class="uppercase">统计报表</h3>
      </li>
      <li class="nav-item <%= current_nav_class(:admin_statistic) %>">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="fa fa-area-chart"></i>
          <span class="title">统计报表</span>
          <span class="arrow <%= current_nav_class(:admin_statistic, current: :open) %>"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  <%= current_nav_class(:admin_data_statistic) %>">
            <%= link_to admin_data_statistic_path, class: 'nav-link nav-toggle' do %>
              <i class="icon-bar-chart"></i>
              <span class="title">数据统计</span>
            <% end %>
          </li>
          <li class="nav-item  <%= current_nav_class(:admin_donate_statistic) %>">
            <%= link_to admin_donate_statistic_path, class: 'nav-link nav-toggle' do %>
              <i class="fa fa-list"></i>
              <span class="title">捐助统计</span>
            <% end %>
          </li>
        </ul>
      </li>

      <li class="heading">
        <h3 class="uppercase">财务管理</h3>
      </li>
      <li class="nav-item <%= current_nav_class(:admin_finance) %>">

        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="fa fa-archive"></i>
          <span class="title">财务管理</span>
          <span class="arrow <%= current_nav_class(:admin_finance, current: :open) %>"></span>
        </a>
        <ul class="sub-menu">

          <li class="nav-item  <%= current_nav_class(:admin_finance_pair) %> ">
            <a href="javascript:;" class="nav-link nav-toggle">
              <% to_prove_apply = 0 %>
              <% submited = 0 %>
              <i class="fa fa-handshake-o"></i>
              <span class="title <%= 'font-red-soft' if to_prove_apply > 0 || submited > 0 %>">结对</span>
              <span class="arrow <%= current_nav_class(:admin_finance_pair, current: :open) %>"></span>
            </a>
            <ul class="sub-menu">
              <li class="nav-item <%= current_nav_class(:admin_pair_grant_exceptions) %> ">
                <%= link_to admin_pair_grant_exceptions_path, class: 'nav-link' do %>
                    <span class="title">发放异常处理</span>
                <% end %>
              </li>
            </ul>
          </li>

          <li class="nav-item  <%= current_nav_class(:admin_audit_reports) %>">
            <%= link_to admin_audit_reports_path, class: 'nav-link' do %>
                <span class="title">审计报告</span>
            <% end %>
          </li>
          <li class="nav-item  <%= current_nav_class(:admin_financial_reports) %>">
            <%= link_to admin_financial_reports_path, class: 'nav-link' do %>
                <span class="title">财务报告</span>
            <% end %>
          </li>
          <li class="nav-item  <%= current_nav_class(:admin_income_record) %>">
            <%= link_to admin_income_records_path, class: 'nav-link' do %>
              <span class="title">收入记录</span>
            <% end %>
          </li>
          <li class="nav-item  <%= current_nav_class(:admin_expenditure_record) %>">
            <%= link_to admin_expenditure_records_path, class: 'nav-link' do %>
              <span class="title">支出记录</span>
            <% end %>
          </li>
          <li class="nav-item  <%= current_nav_class(:admin_voucherss) %>">
            <%= link_to admin_vouchers_path, class: 'nav-link' do %>
              <span class="title">捐赠收据</span>
            <% end %>
          </li>
          <li class="nav-item  <%= current_nav_class(:admin_fund_categories) %>">
            <%= link_to admin_fund_categories_path, class: 'nav-link nav-toggle' do %>
                <i class="fa fa-archive"></i>
                <span class="title">收入分类管理</span>
            <% end %>
          </li>
        </ul>
      </li>

    </ul>
    <!-- END SIDEBAR MENU -->
  </div>
  <!-- END SIDEBAR -->
</div>
