<div class="person-head">
  <%= image_tag 'cooperate-visite-form.png' %>
  <div class="person-h-img"> <%= image_tag current_user.avatar_url(:tiny) %></div>
  <div class="person-h-right">
    <%= link_to edit_platform_school_teacher_profile_path do %>
    <span class="iconfont icon-ico-wechat1"></span>
    <span>编辑个人资料</span>
    <% end %>
  </div>
  <div class="person-h-cont">
    <p><%= current_user.name %></p>
    <div class="person-h-cont-d">
      <p class="person-h-cont-d-pairs"><%= current_user.school.name %> | <span class="iconfont icon-ico-role- "></span><%= current_user.role_tag %></p>
    </div>
  </div>
</div>
