  <div class="person-head">
  <%= image_tag 'ucenter-top-bg.png' %>
  <div class="person-h-img"> <%= image_tag current_user.user_avatar %></div>
  <div class="person-h-right">
    <span class="iconfont icon-setting"></span>
    <span>账户管理</span>
  </div>
  <div class="person-h-cont">
    <p><%= current_user.show_name %></p>
    <div class="person-h-cont-d">
      <div>
        <p><span><%= current_user.donate_amount %></span>元</p>
        <p>累计捐助</p>
      </div>
      <div class="border-l border-r">
        <p><span><%= current_user.promoter_amount_count %></span>元</p>
        <p>累计劝募</p>
      </div>
      <div>
        <p><span><%= current_user.balance %></span>元</p>
        <p>账户余额</p>
      </div>
    </div>
  </div>
</div>
