<div class="person-head">
  <%= image_tag 'cooperate-visite-form.png' %>
  <div class="person-h-img"> <%= image_tag current_user.user_avatar %></div>
  <div class="person-h-right">
    <%= link_to edit_platform_school_teacher_profile_path do %>
    <span class="iconfont icon-ico-wechat1"></span>
    <span>编辑个人资料</span>
    <% end %>
  </div>
  <div class="person-h-cont">
    <p><%= current_user.show_name %></p>
    <div class="person-h-cont-d">
      <% if current_user.headmaster? %>
        <p class="person-h-cont-d-pairs"><%= current_user.try(:school).try(:name) %> | <span class="iconfont icon-ico-role- "></span>校长</p>
      <% elsif current_user.teacher? %>
        <p class="person-h-cont-d-pairs"><%= current_user.try(:teacher).try(:school).try(:name) %> | <span class="iconfont icon-ico-role- "></span>教师</p>
      <% end %>
    </div>
  </div>
</div>
