<% if !session[:show_announcement].present? || (session[:show_announcement].present? && session[:show_announcement] == true) %>
  <div class="bullet">
    <span>格桑花公告</span>
    <span class="iconfont icon-input_delete bullet-tit-icon cur"></span>
  </div>
<% end %>
<%= session[:show_announcement].present? %>
<%= session[:show_announcement] %>
<%= session[:user_id] %>
<nav class="bul-nav clearfix">
  <div class="bul-img pull-left"><%= image_tag 'gsh-logo-nav.png' %></div>
  <div class="bul-nav-cont clearfix">
    <div class="pull-left"style="position: relative;">
      <ul class="bul-nav-ul">
        <li class="cur">
          <%= link_to '首页', root_path %>
        </li>
        <li id="navshow" class="cur">
          项目中心
          <span class="iconfont icon-arrowdown"></span>
          <ul class="bul-nav-heide">
            <li onclick="javascript:document.getElementById(<%= Project.pair_project.id %>).click();"><%= link_to '一对一助学', pairs_path, id: Project.pair_project.id %></li>
            <li onclick="javascript:document.getElementById(<%= Project.camp_project.id %>).click();"><%= link_to '探索营', camps_path, id: Project.camp_project.id %></li>
            <li onclick="javascript:document.getElementById(<%= Project.read_project.id %>).click();"><%= link_to '悦读项目', reads_path, id: Project.read_project.id %></li>
            <% Project.goods.visible.sorted.all.each do |project| %>
              <li onclick="javascript:document.getElementById(<%= project.id %>).click();"><%= link_to project.name, goods_path(id: project.id), id: project.id %></li>
            <% end %>
          </ul>
        </li>
        <li class="cur"><%= link_to '公益活动', campaigns_path %></li>
        <li class="cur"><%= link_to '新闻资讯', articles_path %></li>
        <li class="cur"><%= link_to '财务公开', disclosures_path %></li>
        <li class="cur"><%= link_to '关于我们', '/p/about-us' %></li>
      </ul>
    </div>
    <%= link_to new_donate_path do %>
      <div class="bul-nav-wy pull-right cur  button button--rayen" data-text="我要捐助">
        <span class="button--inverted"><span class="iconfont icon-ico-donation-n"></span>我要捐助</span>
      </div>
    <% end %>
  </div>
  <div class="bul-nav-sh pull-right cur"><span class="iconfont icon-ico-search"></span></div>
  <div class="bul-nav-dl pull-right cur">
    <% if logged_in? %>
      <%= link_to account_orders_path do %>
      <div class="bul-nav-img">
        <%= image_tag current_user.user_avatar %>
      </div>
      <% end %>
    <% else %>
      <%= link_to '登录', account_login_path %>
    <% end %>
  </div>
</nav>
