<%= simple_form_for [:admin, @fund_category], wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'form-horizontal category_form'} do |f| %>
  <%= f.error_notification %>
  <div class="form-body form-horizontal">
    <%= f.input :name, label: '收入分类名称：', autofocus: true, placeholder: '名称', required: true %>
    <%= f.input :describe, label: '描述：', autofocus: true, placeholder: '描述', required: true %>
    <%#= f.input :state, as: :radio_buttons, wrapper: :inline_inputs, collection: FundCategory.options_for_enum_select(:states), label: '状态：'%>
  </div>
  <div class="form-actions">
    <div class="row">
      <div class="col-md-offset-2 col-md-9">
        <%= f.button :submit, '提交', class: 'btn blue' %>
        <%= link_to '取消', admin_fund_categories_path, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>

<script>
    $(function(){
        // 表单验证
        $(".category_form").html5Validate(function(){
            $(this).find('[type="submit"]').attr('disabled','disabled');
            this.submit();
        });
    })
</script>
