<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i>收入分类管理
    </div>
    <div class="actions">
      <%= link_to new_admin_fund_category_path, class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
      <i class="icon-plus"></i>
      <span>新增一级分类</span>
      <% end %>

      <%= link_to new_admin_fund_path, class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
      <i class="icon-plus"></i>
      <span>新增二级分类</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= search_form_for @search, url: admin_fund_categories_path, class: 'form-inline' do |f| %>
          <div class="form-group">
            <%= f.label :name_cont, '收入分类名称' %>
            <%= f.text_field :name_cont, class: 'form-control', placeholder: '收入分类名称' %>
          </div>
          <button type="submit" class="btn btn-default grey">搜索</button>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right">
          </div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
            <tr>
              <th>
                一级分类名称
              </th>
              <th>二级分类名称</th>
              <th>定向类型</th>
              <th>指定类型</th>
              <th>余额</th>
              <th>历史收入</th>
              <th>管理费</th>
              <th>
                排序
              </th>
              <th>
                操作
              </th>
            </tr>
          </thead>
          <tbody>
            <% @fund_categories.each do |cate| %>
            <tr>
              <td>
                <%= cate.name %>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <%= link_to '顶部', move_admin_fund_category_path(cate, to: :to_top), method: :put %>
                <%= link_to '上', move_admin_fund_category_path(cate, to: :higher), method: :put %>
                <%= link_to '下', move_admin_fund_category_path(cate, to: :lower), method: :put %>
                <%= link_to '底部', move_admin_fund_category_path(cate, to: :to_bottom), method: :put %>
              </td>
              <td>
                <%= link_to edit_admin_fund_category_path(cate), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                  <i class="fa fa-edit"></i> 修改
                <% end %>
                <%= link_to admin_fund_category_path(cate), class: 'btn btn-xs red', method: :delete, data: {confirm: '确定要删除吗？'} do %>
                   <i class="fa fa-trash-o"></i> 删除
               <% end %>
              </td>
            </tr>
            <% if cate.funds.count > 0 %>
              <% cate.funds.sorted.each do |fund| %>
              <tr>
                <td></td>
                <td>
                  <%= fund.name %>
                </td>
                <td>
                  <%= fund.enum_name(:kind) %>
                </td>
                <td>
                  <%= fund.enum_name(:use_kind) %>
                </td>
                <td>
                  <%= fund.unrestricted? ? "￥#{number_to_currency(fund.amount)}" : '-' %>
                </td>
                <td>
                  ￥<%= number_to_currency(fund.total) %>
                </td>
                <td>
                  <%= fund.restricted? ? "#{fund.management_rate}%" : '-' %>
                </td>
                <td>
                  <%= link_to '顶部', move_admin_fund_path(fund, to: :to_top), method: :put %>
                  <%= link_to '上', move_admin_fund_path(fund, to: :higher), method: :put %>
                  <%= link_to '下', move_admin_fund_path(fund, to: :lower), method: :put %>
                  <%= link_to '底部', move_admin_fund_path(fund, to: :to_bottom), method: :put %>
                </td>
                <td>
                  <%= link_to edit_admin_fund_path(fund), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                    <i class="fa fa-edit"></i> 修改
                  <% end %>
                  <%= link_to admin_fund_path(fund), class: 'btn btn-xs red', method: :delete, data: {confirm: '确定要删除吗？'} do %>
                     <i class="fa fa-trash-o"></i> 删除
                 <% end %>
                 <%= link_to '跨分类调整', new_admin_fund_fund_adjust_amount_path(fund), class: 'btn btn-xs yellow' if fund.unrestricted? %>
                </td>
              </tr>
              <% end %>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@fund_categories) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @fund_categories, theme: 'admin' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
