

<!--<h1>支付页</h1>-->

<!--<p>-->
<!--<%= link_to '支付宝支付', @ali_pay_url %>-->
<!--</p>-->

<!--<p>-->
<!--微信支付-->
<!--<div id="qrcode"></div>-->
<!--</p>-->
<div>
  <div class="pays-new-tit">
    <p>微信支付</p>
    <div class="clearfix">
      <p class="pull-left"><span class="iconfont icon-icon-succeed"></span>订单提交成功，请您尽快完成支付~     订单号：<%= @donation.order_no %></p>
      <p class="pull-right">应付金额：<span><%= number_to_currency @donation.amount %> 元</span></p>
      <p>
        <!-- TODO: 调试完去掉 -->
        调试信息
        qrcode链接：<%= @wechat_code_url %>
      </p>
      <p>
        <%= link_to '支付宝支付', @ali_pay_url %>
      </p>
    </div>
  </div>
  <div class="pays-new-conts">
    <div class="pays-new-cont">
      <div>
        <div id="qrcode"></div>
        <p>微信扫一扫支付</p>
      </div>
      <div>
        <%= image_tag 'wechart-pay.png' %>
      </div>
    </div>
    <p><span class="iconfont icon-arrow-left"></span>选择其他支付方式</p>
  </div>
</div>
<script type="text/javascript">
     $('#qrcode').qrcode("<%= @wechat_code_url %>");
</script>
