<div class="person-body-right pull-right">

  <div style="display: block;">
    <p class="don-title border-b ">
      <span class="pull-left">护花课程申请详情</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right"><%= link_to platform_school_apply_movie_cares_path do %>返回项目管理<% end %></span>
    </p>
    <div class="plat-school-apply-pair">
      <p class="school-apply-pair-tit"><%= @apply.apply_name %></p>
      <div class="school-apply-pair-table">
        <p>基本信息</p>
        <div class="school-apply-pair-table-cont">
          <p><span>申请编号：</span><%= @apply.apply_no %></p>
          <p><span>申请批次：</span><%= @apply.season.name %></p>
          <p><span>申请学校：</span><%= @apply.school.name %></p>
          <p><span>学生总数：</span><%= @apply.student_number.to_i %>人</p>
          <p><span>班级总数：</span><%= @apply.class_number.to_i %>人</p>
        </div>
      </div>
      <div class="school-apply-pair-table">
        <p>申请理由</p>
        <div class="school-apply-pair-table-cont">
          <p><span>其他说明：</span><%= @apply.describe.html_safe %></p>
          <p><span>申请图片：</span>
            <div>
              <% @apply.images.each do |image| %>
                <%= image_tag image.file.url(:small), width: 100, height: 100 %>
              <% end %>
            </div>
          </p>
        </div>
      </div>
      <div class="school-apply-pair-table">
        <p>联系人信息</p>
        <div class="school-apply-pair-table-cont">
        <p><span>联系人：</span><%= @apply.contact_name %></p>
        <p><span>联系电话：</span><%= @apply.contact_phone %></p>
        </div>
      </div>
      <div class="don-co">
        <div class="don-co-but cur" >
          <a>
            <button class="apply-show-btn"><%= @apply.enum_name(:audit_state) %></button>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
