<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">修改密码</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @administrator], as: :user, url: admin_modify_password_update_path, wrapper: :admin_form, method: :put, html: {'data-parsley-validate': true} do |f| %>
      <%= f.error_notification %>
      <div class="form-body form-horizontal">
        <%= f.input :current_password, label: '当前密码', required: true, input_html: {class: 'form-control placeholder-no-fix', placeholder: '请输入当前密码'} %>
        <%= f.input :password, label: '修改密码', required: true, input_html: {class: 'form-control placeholder-no-fix', placeholder: '密码'} %>
        <%= f.input :password_confirmation, label: '确认密码', required: true, input_html: {class: 'form-control placeholder-no-fix', placeholder: '确认密码'} %>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-2 col-md-9">
            <%= f.button :submit, '提交', class: 'btn blue' %>
            <%= link_to '取消', admin_majors_path, class: 'btn' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
