<div class="person-body-right pull-right" style="margin: 40px 0 80px 0;">
  <div style="display: block;">
    <p class="don-title border-b ">
      <span class="pull-left">社交账号</span>
    </p>
    <div class="social">
      <div  class="clearfix">
        <div  class="pull-left">
          <%= image_tag 'uc-user-wx.png' %>
        </div>
        <span  class="pull-left">微信</span>
        <span  class="pull-left"><%= current_user.openid.present? ? '已绑定' : '未绑定' %></span>
        <div class="unbind cur pull-left">
          <% if current_user.bind_wechat? %>
            <%= link_to  account_user_center_bind_path, method: :delete, data: {confirm: '你确定要解绑微信吗？'} do %>
              <button>解绑</button>
            <% end %>
          <% elsif current_user.openid.blank? %>
          <% wechat_url = $wechat_open_client.qrcode_authorize_url(callback_account_user_center_bind_url, "snsapi_login", "wechat") %>
            <%= link_to wechat_url do %>
              <button>扫码绑定</button>
            <% end %>
          <% end %>
        </div>
        <!--<div class="bind  ing cur"><button>绑定</button></div>-->
      </div>
      <% if false %>
      <div class="clearfix">
        <div class="pull-left">
          <%= image_tag 'uc-user-gsh.png' %>
        </div>
        <span class="pull-left">格桑花论坛</span>
        <span class="pull-left">未绑定</span>
        <!--<div class="unbind cur"><button>解绑</button></div>-->
        <div class="binding cur pull-left">
          <button>绑定</button>
        </div>
      </div>
      <% end %>
    </div>

  </div>

  </div>


</div>
<script>
    // $('.overspread-3').overs(".unbind");
</script>
