
<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-sliders font-dark"></i>
      <span class="caption-subject font-dark bold uppercase"><%= link_to @install.owner.name, admin_goods_projects_path %> > 安装发放反馈详情</span>
    </div>
    <div class="actions">
      <div class="btn-group">
        <a href="<%= admin_goods_projects_path %>" class="btn btn-xs blue">
          <i class="fa fa-reply"></i>返回
        </a>
      </div>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <tbody>
        <tr>
          <th>
            申请编号
          </th>
          <th>
            <%= @install.owner.apply_no %>
          </th>
        </tr>
        <tr>
          <th>
            项目名称
          </th>
          <th>
            <%= @install.owner.name %>
          </th>
        </tr>
        <tr>
          <th>
            反馈人
          </th>
          <th>
            <%= @install.user.try(:name) %>
          </th>
        </tr>
        <tr>
          <th>
            反馈时间
          </th>
          <th>
            <%= l @install.created_at %>
          </th>
        </tr>
        <tr>
          <th>
            反馈内容
          </th>
          <th>
            <%= @install.content.html_safe %><br/>
            <% @install.images.each do |img| %>
              <%= image_tag img.try(:file).try(:url, :tiny).to_s %>
            <% end %>
          </th>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
