<%= simple_form_for [:admin, @project_apply], url: admin_pair_applies_path, wrapper: :admin_form, html: {class: 'form-horizontal project_template_form'} do |f| %>
    <%= f.error_notification %>
    <div class="form-body">
      <%= f.input :name, label: '申请名称：', autofocus: true, placeholder: '', required: true %>
      <%= f.input :number, label: '配额数量：', placeholder: '学生数量', required: true %>
      <%= f.input :school_id, as: :select, label: '选择学校：', collection: School.options_for_select, include_blank: false %>
      <%= f.input :project_id, as: :select, label: '申请年度：', collection: Pair.options_for_select, include_blank: false %>
      <%= f.input :describe, label: '申请要求：', placeholder: '要求', required: true %>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-2 col-md-9">
          <%= f.button :submit, '提交', class: 'btn blue' %>
          <%= link_to '取消', admin_pair_applies_path, class: 'btn' %>
        </div>
      </div>
    </div>
<% end %>
<script type="text/javascript">
    $(function() {
        $("#fund").select2({
            //placeholder: "请选择财务分类"
        });
    })
    $(function(){
        //    表单验证
        $(".project_template_form").html5Validate(function(){
            $(this).find('[type="submit"]').attr('disabled','disabled');
            this.submit();
        });
    })
</script>
