<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">修改配额</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @project_apply], url: admin_pair_apply_path, wrapper: :admin_form, html: {class: 'form-horizontal project_form'} do |f| %>
        <%= f.error_notification %>
        <div class="form-body">
          <%= static_form_control '申请年度：', ProjectSeason.where(project_id: ProjectSeason.pair_project_id).enabled.first.name %>
          <%= f.input :number, label: '配额数量：', placeholder: '学生数量', required: true, type: 'number' %>
          <%= f.input :school_id, as: :select, label: '选择学校：', collection: School.options_for_select, include_blank: false %>
          <%= f.input :describe, label: '申请要求：', placeholder: '要求', required: true %>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-9">
              <%= f.button :submit, '提交', class: 'btn blue' %>
              <%= link_to '取消', admin_pair_applies_path, class: 'btn' %>
            </div>
          </div>
        </div>
    <% end %>
    <script type="text/javascript">
        $(function(){
            //    表单验证
            $(".project_form").html5Validate(function(){
                $(this).find('[type="submit"]').attr('disabled','disabled');
                this.submit();
            });
        })
    </script>

  </div>
</div>
