<% records.each do |record| %>
  <li class="border-b clearfix">
      <%= image_tag record.donor.try(:user_avatar) %>
    <div class="pull-left">
      <div class="clearfix">
        <span class="pull-left detail-name"><%= record.donor.show_name %></span>
        <span class="timeago pull-right detail-time" data-timeago="<%= record.created_at.to_s %>"></span>
      </div>
      <p class="detail-con">
        <% if record.team.present? %>
        通过 <%= record.team.name %>
        <% end %>
        捐助 <strong><%= record.show_apply_name %></strong> <%= record.amount %>元
    </div>
  </li>
<% end %>
<% if records.current_page < records.total_pages %>
  <li class="more"><%= link_to '点击加载更多', donate_records_path(project: (owner.is_a?(Project) ? owner.id : nil), apply: (owner.is_a?(ProjectSeasonApply) ? owner.id : nil), page: records.current_page+1), remote: true %></li>
<% end %>
