<% records.each do |record| %>
  <li class="border-b clearfix">
    <% if record.user.present? && record.user.avatar.present? %>
      <%= image_tag record.user.avatar.try(:file).try(:url, :tiny).to_s %>
    <% else %>
      <%= image_tag '' %>
    <% end %>
    <div class="pull-left">
      <div class="clearfix">
        <span class="pull-left detail-name"><%= record.user.show_name %></span>
        <span class="timeago pull-right detail-time" data-timeago="<%= record.created_at.to_s(:db) %>"></span>
      </div>
      <p class="detail-con">
        <% if record.team.present? %>
        通过 <%= record.team.name %>
        <% end %>
        捐助 <strong><%= record.record_show_name %></strong> <%= record.amount %>元
    </div>
  </li>
<% end %>
<% if records.current_page < records.total_pages %>
  <li class="more"><%= link_to '点击加载更多', donate_records_path(project: (owner.is_a?(Project) ? owner.id : nil), apply: (owner.is_a?(ProjectSeasonApply) ? owner.id : nil), page: records.current_page+1), remote: true %></li>
<% end %>
