<% records.each do |record| %>
  <li class="border-b clearfix">
      <%= image_tag record.donor.try(:user_avatar).to_s %>
    <div class="pull-left">
      <div class="clearfix">
        <span class="pull-left detail-name"><%= record.donor.try(:show_name).to_s %></span>
        <span class="timeago pull-right detail-time" data-timeago="<%= record.created_at.to_s %>"></span>
      </div>
      <p class="detail-con">
        <% if record.team.present? %>
        通过 <%= record.team.name %>
        <% end %>
        <% if child.present? %>
        捐助 <strong><%= child.present? && child.donate_by_user?(current_user) ? record.apply_name.to_s : record.show_apply_name.to_s %></strong> <%= record.amount %>元
        <% else %>
        捐助 <strong><%= record.show_apply_name.to_s %></strong> <%= record.amount %>元
        <% end %>
    </div>
  </li>
<% end %>
<% if records.current_page < records.total_pages %>
  <li class="more"><%= link_to '点击加载更多', donate_records_path(project: (owner.is_a?(Project) ? owner.id : nil), apply: (owner.is_a?(ProjectSeasonApply) ? owner.id : nil), page: records.current_page+1), remote: true %></li>
<% end %>
