<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-icon"></i>
      <span class="caption-subject">修改反馈</span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @apply, @install], url: admin_movie_school_movie_feedback_path, method: :put, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'continual_form'} do |f| %>
      <%= f.error_notification %>
      <div class="form-body form-horizontal">
        <%#= f.hidden_field :project_id, value: Project.movie_project.id %>
        <%= f.hidden_field :owner_id, value: @install.owner_id %>
        <%#= f.input :owner_id, collection: [@install.owner].compact.map {|u| [u.name, u.id]}, label: '护花项目：', input_html: {class: 'applies-ajax', data: {'parsley-required': true}} %>
        <%= f.input :user_id, collection: [@install.user].compact.map {|u| [u.name, u.id]}, label: '反馈人：', prompt: "请选择用户", input_html: {class: 'user_selector'}, required: true %>
        <div class="form-group">
          <label class="col-md-2 control-label">反馈内容：</label>
          <div class="col-sm-9">
            <%= f.cktext_area :content, input_html: { data: {'parsley-required': true}}  %>
          </div>
        </div>
        <%= f.input :check, as: :radio_buttons, wrapper: :inline_inputs, collection: ContinualFeedback.options_for_select(:checks), label: '是否已查看：' %>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-2 col-md-9">
            <%= f.button :submit, '提交', class: 'btn blue' %>
            <%= link_to '取消', admin_movie_school_movie_feedbacks_path, class: 'btn' %>
          </div>
        </div>
      </div>
    <% end %>

    <script>
        $(function(){

            // 异步加载筹款项目
            $('.applies-ajax').select2({
                language: "zh-CN",
                placeholder: '请选择项目',
                allowClear: true,
                ajax: {
                    url: "/selects/applies",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page,
                            project_id: <%= Project.movie_project.id %>
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: $.map(data.items, function (item) {
                                return {
                                    text: item.name,
                                    id: item.id
                                }
                            }),
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                }
            });

            $(".user_selector").select2({
              language: "zh-CN",
              placeholder: '请选择反馈人',
              allowClear: true,
              ajax: {
                url: "/selects/users",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                  return {
                    q: params.term, // search term
                    page: params.page
                  };
                },
                processResults: function (data, params) {
                  params.page = params.page || 1;
                  return {
                      results: $.map(data.items, function (item) {
                        return {
                          text: item.name,
                          id: item.id
                      }
                    }),
                    pagination: {
                      more: (params.page * 30) < data.total_count
                    }
                  };
                },
                cache: true
              },
            });
        })
    </script>

  </div>
</div>
