<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i> 批量操作
    </div>
    <div class="actions">
      <div class="btn-group">
        <a href="<%= admin_pair_student_lists_path %>" class="btn btn-xs blue">
          <i class="fa fa-reply"></i>返回
        </a>
      </div>
    </div>
  </div>

  <div class="portlet light bordered">
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-cog font-red-sunglo"></i>
          <span class="caption-subject font-red-sunglo bold uppercase">年级批量设置</span>
        </div>
        <div class="actions">
        </div>
      </div>
      <div class="portlet-body">
        <div class="form-body form-inline">
          <div class="form-body">
            <div class="form-group">
              <div class="col-sm-9">
                <%= link_to grade_add_one_admin_pair_student_lists_path, method: :post, data: {confirm: '确认批量加一吗？'}, class: 'btn btn-lg green' do %>
                    <i class="fa fa-plus"></i>
                    年级批量加一
                <% end %>
                <p class="help-block">所有正常状态的非三年级学生年级加一</p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                <%= link_to grade_minus_one_admin_pair_student_lists_path, method: :post, data: {confirm: '确认批量减一吗？'}, class: 'btn btn-lg green' do %>
                    <i class="fa fa-minus"></i>
                    年级批量减一
                <% end %>
                <p class="help-block">所有正常状态的非一年级学生年级减一</p>
              </div>
            </div>
            <p class="help-block">批量增加操作对于小学三年级、四年级、五年级和六年级的学生需要手动处理</p>

          </div>
        </div>
      </div>
    </div>
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-paper-plane font-red-sunglo"></i>
          <span class="caption-subject font-red-sunglo bold uppercase">批量推送微信通知</span>
        </div>
        <div class="actions">
        </div>
      </div>
      <div class="portlet-body">
        <div class="form-body form-inline">
          <div class="form-body">
            <div class="form-group">
              <div class="col-sm-9">
                <%= link_to push_notice_admin_pair_student_lists_path, method: :post, data: {confirm: '确认推送通知吗？'}, class: 'btn btn-lg green' do %>
                    <i class="fa fa-feed"></i>
                    点击推送
                <% end %>
                <p class="help-block">对于下一学年待续捐且筹款状态为关闭的孩子，将会推送微信消息给孩子的优先捐助人</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-cog font-red-sunglo"></i>
          <span class="caption-subject font-red-sunglo bold uppercase">统一更新优先捐助人</span>
        </div>
        <div class="actions">
        </div>
      </div>
      <div class="portlet-body">
        <div class="form-body form-inline">
          <div class="form-body">
            <div class="form-group">
              <div class="col-sm-9">
                <%= link_to update_priority_admin_pair_student_lists_path, method: :post, data: {confirm: '确认统一更新优先捐助人吗？'}, class: 'btn btn-lg green' do %>
                    <i class="fa fa-gg"></i>
                    点击更新
                <% end %>
                <p class="help-block">将所有孩子的优先捐助人更新为最新已筹款资助年度的捐助人</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>