<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i> 批量配捐
    </div>
    <div class="actions">
      <div class="btn-group">
        <a href="<%= admin_pair_student_lists_path %>" class="btn btn-xs blue">
          <i class="fa fa-reply"></i>返回
        </a>
      </div>
    </div>
  </div>

  <div class="portlet-body form">
    <div class="portlet-body">
      <div class="dataTables_wrapper no-footer">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <%= search_form_for @search, url: batch_donate_admin_pair_student_lists_path, class: 'form-inline' do |f| %>
              <div class="form-group" style="margin-bottom: 10px;">
                <%= f.label :name_or_gsh_child_gsh_no_cont, '姓名或编号' %>
                <%= f.text_field :name_or_gsh_child_gsh_no_cont, class: 'form-control gsh-input-share', placeholder: '姓名或格桑花编号', style: 'width:132px;' %>
              </div>
              <div class="form-group" style="margin-bottom: 10px;">
                <%= f.label :gsh_child_grants_title_cont, '申请学年' %>
                <%= f.text_field :gsh_child_grants_title_cont, class: 'form-control gsh-input-share', placeholder: '搜索', style: 'width:124px;' %>
              </div>
              <div class="form-group" style="margin-bottom: 10px;">
                <%= f.label '地区' %>
                <div class="form-group">
                  <div class="city-group">
                    <%= select_tag 'q[school_province_eq]', options_for_select(ChinaCity.list, params[:q][:school_province_eq]), prompt: '省份', class: "city-select form-control gsh-input-share-l" %>
                    <%= select_tag 'q[school_city_eq]', options_for_select(ChinaCity.list(params[:q][:school_province_eq] || ''), params[:q][:school_city_eq]), prompt: '城市', class: "city-select form-control" %>
                    <%= select_tag 'q[school_district_eq]', options_for_select(ChinaCity.list(params[:q][:school_city_eq] || ''), params[:q][:school_district_eq]), prompt: '地区', class: "city-select form-control gsh-input-share-r" %>
                  </div>
                </div>
              </div>
              <div class="form-group " style="margin: 0  10px 10px ">
                <%= f.label :school_id_eq, '学校', class: 'gsh-input-share-r' %>
                <%= f.select :school_id_eq, [], {include_blank: '全部'}, class: 'form-control schools-ajax', style: 'width:200px;' %>
              </div>
              <div class="form-group" style="margin-bottom: 10px;">
                <%= f.label :project_season_id_eq, '批次' %>
                <%= f.select :project_season_id_eq, ProjectSeason.where(project_id: Project.pair_project.id).all_to_hash, {include_blank: '全部'}, class: 'form-control gsh-input-share' %>
              </div>
              <button type="submit" class="btn btn-default grey">搜索</button>
            <% end %>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="dataTables_filter pull-right"></div>
          </div>
        </div>
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover" id="sample_2">
            <thead>
            <tr>
              <th>
                勾选
              </th>
              <th>
                格桑花编号
              </th>
              <th>
                姓名
              </th>
              <th>
                地区
              </th>
              <th>
                学校/年级/班级
              </th>
              <th>
                批次
              </th>
              <th>
                申请捐助学年
              </th>
              <th>
                筹款进度
              </th>
            </tr>
            </thead>
            <tbody>
            <% @pair_student_lists.each do |child| %>
              <tr>
                <td>
                  <%= check_box_tag "child_id", child.id, false, class: 'check-child' %>
                </td>
                <td>
                  <%= child.gsh_no %>
                </td>
                <td>
                  <%= child.try(:name) %>
                </td>
                <td>
                  <%= child.school.simple_address %>
                </td>
                <td>
                  <%= child.apply.try(:school).try(:name) %>
                  / <%= child.enum_name(:level) %> <%= child.enum_name(:grade) %> / <%= child.classname %>
                </td>
                <td>
                  <%= child.season.try(:name) %>
                </td>
                <td>
                  <% child.gsh_child_grants.sorted.reverse.each do |grant| %>
                    <span class="btn btn-xs <%= grant.button_color %>" title="<%= grant.enum_name(:donate_state) %>"><%= grant.title %></span>
                  <% end %>
                </td>
                <td>
                  <%= child.gift_progress %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@pair_student_lists) %></div>
          </div>
          <div class="col-md-7 col-sm-12">
            <%= paginate @pair_student_lists, theme: 'admin' %>
          </div>
        </div>
        <div class="form-actions left">
          <button type="button" href="###" class="btn blue uncheck" id="selectAll">全选</button>
        </div>
        <p class="help-block" style="color: goldenrod;">注意：仅支持当页操作</p>
      </div>
    </div>
    <%= form_tag batch_grant_admin_pair_student_lists_path, method: :post, wrapper: :admin_form, id: 'approve-form', 'data-parsley-validate': true do %>
      <input type="hidden" id="child-list" name="child_ids">
      <div class="form-body form-horizontal">
        <div class="form-group radio_buttons required donate_record_donate_way">
          <label class="col-md-2 control-label">捐助方式：</label>
          <div class="col-md-9 form-inline">
            <label><input type="radio" class="form-control radio_buttons donate_way" name="donate_way" value="income_record" checked onclick="toggleState()">线下汇款</label>
            <label><input type="radio" class="form-control radio_buttons donate_way" name="donate_way" value="fund" onclick="toggleState()">使用其他资金</label>
            <label><input type="radio" class="form-control radio_buttons donate_way" name="donate_way" value="user_balance" onclick="toggleState()">使用用户余额</label>
          </div>
        </div>
        <div class="income_record">
          <div class="form-group">
            <label class="col-md-2 control-label">线下捐款：</label>
            <div class="col-sm-9">
              <select class="form-control select optional users-ajax" name="offline_record_id" required></select>
            </div>
          </div>
        </div>
        <div class="fund">
          <div class="form-group">
            <label class="col-md-2 control-label">财务分类：</label>
            <div class="col-sm-9">
              <select class="form-control select optional select-two" style="width:400px;" name="fund_id" required>
                <option value="">请选择财务分类</option>
                <% FundCategory.sorted.each do |fc| %>
                  <optgroup label="<%= fc.name %>">
                    <% fc.funds.sorted.each do |f| %>
                      <option value="<%= f.id %>"><%= "#{fc.name}#{f.name}(余额：#{f.balance})" %></option>
                    <% end %>
                  </optgroup>
                <% end %>
              </select>
              <p class="help-block">使用其他资金需要操作人员做好对应的收入记录的备注</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">捐助人：</label>
            <div class="col-sm-9">
              <select class="form-control select optional select-two" id="select-donor-ajax" style="width:400px;" name="donor_id" required></select>
            </div>
          </div>
        </div>
        <div class="user_balance">
          <div class="form-group">
            <label class="col-md-2 control-label">使用余额：</label>
            <div class="col-sm-9">
              <select class="form-control select optional users-balance-ajax" style="width:400px;" name="user_id" required></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">捐助人：</label>
            <div class="col-sm-9">
              <select class="form-control select optional select-two" id="balance-donor-ajax" style="width:400px;" name="donor_id"></select>
              <p class="help-block">不指定捐助人，则被使用用户余额的用户作为捐助人和代捐人；指定捐助人后，被使用用户余额的用户将作为代捐人保存记录</p>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <button class="btn green">提交</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


</div>

<script type="text/javascript">
    function toggleState() {
        toggleRadioInput('.donate_way', {
            income_record: '.income_record',
            fund: '.fund',
            user_balance: '.user_balance'
        })
    }

    $("#selectAll").click(function () {
        if ($(this).hasClass('uncheck')) {
            $("input:checkbox:not(:checked)").trigger('click')
            $(this).removeClass('blue uncheck').addClass('red').text('取消全选')
            // setChildIds()
        } else {
            $("input:checkbox:checked").trigger('click')
            $(this).removeClass('red').addClass('blue uncheck').text('全选')
            // setChildIds()
        }
    });

    $('.check-child').change(function () {
        setChildIds()
    })

    function setChildIds() {
        var child_ids = []

        $("input:checkbox:checked").each(function () {
            child_ids.push($(this).val())
        })
        $('#child-list').val(child_ids)
    }

    $(function () {
        // 异步加载用户列表
        $('.users-ajax').select2({
            language: "zh-CN",
            placeholder: '选择线下捐款',
            allowClear: true,
            ajax: {
                url: "/selects/income_records",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: params.page < data.pagination.total_pages
                        }
                    };
                },
                cache: true
            }
        })

        $('#select-donor-ajax').select2({
            language: "zh-CN",
            placeholder: '选择捐助人',
            allowClear: true,
            ajax: {
                url: "/selects/all_users",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name_for_select,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: params.page < data.pagination.total_pages
                        }
                    };
                },
                cache: true
            }
        })

        $('#balance-donor-ajax').select2({
            language: "zh-CN",
            placeholder: '选择捐助人',
            allowClear: true,
            ajax: {
                url: "/selects/all_users",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name_for_select,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: params.page < data.pagination.total_pages
                        }
                    };
                },
                cache: true
            }
        })

        $('.users-balance-ajax').select2({
            language: "zh-CN",
            placeholder: '选择用户余额',
            allowClear: true,
            ajax: {
                url: "/selects/users_balance",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.user_balance,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: params.page < data.pagination.total_pages
                        }
                    };
                },
                cache: true
            }
        })

        $('.schools-ajax').select2({
            language: "zh-CN",
            placeholder: '全部',
            allowClear: true,
            ajax: {
                url: "/selects/schools",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: params.page < data.pagination.total_pages
                        }
                    };
                },
                cache: true
            }
        });

    })

    toggleState();

</script>