
<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-sliders font-dark"></i>
      <span class="caption-subject font-dark bold uppercase">申请详情</span>
    </div>
    <div class="actions">
      <div class="btn-group">
        <a href="<%= admin_pair_student_lists_path %>" class="btn btn-xs blue">
          <i class="fa fa-reply"></i>返回
        </a>
      </div>
    </div>
  </div>
  <div class="portlet-body">
    <div class="tabbable-custom nav-justified">
      <ul class="nav nav-tabs nav-justified">
        <li class="active">
          <a href="#tab_1_1_1" data-toggle="tab"> 孩子详情 </a>
        </li>
        <li>
          <a href="#tab_1_1_2" data-toggle="tab"> 成绩反馈 </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1_1_1">
          <div class="table-scrollable">
            <table class="table table-bordered table-hover">
              <tbody>
              <tr>
                <td width="72px">
                  孩子头像
                </td>
                <td>
                  <%= link_to image_tag(@pair_student_list.avatar_url(:small)), @pair_student_list.avatar_url(nil), target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td width="72px">
                  姓名
                </td>
                <td>
                  <%= @pair_student_list.name %>
                </td>
              </tr>
              <tr>
                <td>
                  学校
                </td>
                <td>
                  <%= @pair_student_list.school.try(:name) %>
                </td>
              </tr>
              <tr>
                <td>
                  年级
                </td>
                <td>
                  <%= @pair_student_list.enum_name(:level) %> <%= @pair_student_list.enum_name(:grade) %> <%= @pair_student_list.classname %>
                </td>
              </tr>
              <tr>
                <td>
                  学期
                </td>
                <td>
                  <%= @pair_student_list.enum_name(:semester) %>
                </td>
              </tr>
              <tr>
                <td>
                  身份证号
                </td>
                <td>
                  <%= @pair_student_list.id_card %>
                </td>
              </tr>
              <tr>
                <td>
                  民族
                </td>
                <td>
                  <%= @pair_student_list.enum_name(:nation) %>
                </td>
              </tr>
              <tr>
                <td>
                  性别
                </td>
                <td>
                  <%= @pair_student_list.enum_name(:gender) %>
                </td>
              </tr>
              <tr>
                <td>
                  描述
                </td>
                <td>
                  <%= @pair_student_list.description %>
                </td>
              </tr>
              <tr>
                <td>
                  联系电话
                </td>
                <td>
                  <%= @pair_student_list.phone || @pair_student_list.guardian_phone %>
                </td>
              </tr>
              <tr>
                <td>
                  家长姓名
                </td>
                <td>
                  父亲：<%= @pair_student_list.father %> 母亲：<%= @pair_student_list.mother %>
                </td>
              </tr>
              <tr>
                <td>
                  监护人
                </td>
                <td>
                  <%= @pair_student_list.guardian %>
                </td>
              </tr>

              <tr>
                <td>
                  身份证
                </td>
                <td>
                  <%= link_to image_tag(@pair_student_list.id_image_url(:small)), @pair_student_list.id_image_url(nil), target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>
                  申请1
                </td>
                <td>
                  <%= link_to image_tag(@pair_student_list.apply_one_url(:small)), @pair_student_list.apply_one_url(nil), target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>
                  申请2
                </td>
                <td>
                  <%= link_to image_tag(@pair_student_list.apply_two_url(:small)), @pair_student_list.apply_two_url(nil), target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>
                  客厅照片
                </td>
                <td>
                  <%= link_to image_tag(@pair_student_list.room_image_url(:small)), @pair_student_list.room_image_url(nil), target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>
                  院子照片
                </td>
                <td>
                  <%= link_to image_tag(@pair_student_list.yard_image_url(:small)), @pair_student_list.yard_image_url(nil), target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>
                  扶贫卡
                </td>
                <td>
                  <%= link_to image_tag(@pair_student_list.poverty_url(:small)), @pair_student_list.poverty_url(nil), target: '_blank' %>
                </td>
              </tr>
              <tr>
                <td>
                  孩子介绍
                </td>
                <td>
                  <%= @pair_student_list.information.try(:html_safe) %>
                </td>
              </tr>
              <tr>
                <td>
                  备注
                </td>
                <td>
                  <%= @pair_student_list.remark %>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="tab_1_1_2">
          <div class="portlet light portlet-fit bg-inverse">
            <div class="portlet-body">
              <div class="timeline  white-bg">
                <% @feedbacks.each do |feedback| %>
                    <div class="timeline-item">
                      <div class="timeline-badge">
                      </div>
                      <div class="timeline-body">
                        <div class="timeline-body-arrow"> </div>
                        <div class="timeline-body-head">
                          <div class="timeline-body-head-caption">
                            <a href="javascript:;" class="timeline-body-title font-blue-madison"><%= feedback.user.try(:name) %></a>
                            <span class="timeline-body-time font-grey-cascade"><%= l feedback.created_at %></span>
                          </div>
                        </div>
                        <div class="timeline-body-content">
                          <span class="font-grey-cascade"><%= feedback.content %> </span> <br>
                          <span class="font-grey-cascade">

                    <% feedback.images.each do |img| %>
                    <a data-magnify="gallery" href="<%= image_url img.try(:file).try(:url, nil).to_s %>">
                                  <%= image_tag img.try(:file).try(:url, :tiny).to_s, :style => "width:211px" %>
                                </a>
                    <% end %>
                  </span>
                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
