
<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-sliders font-dark"></i>
      <span class="caption-subject font-dark bold uppercase">申请详情</span>
    </div>
    <div class="actions">
      <div class="btn-group">
        <a href="<%= admin_pair_student_lists_path %>" class="btn btn-xs blue">
          <i class="fa fa-reply"></i>返回
        </a>
      </div>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <tbody>
        <tr>
          <th width="72px">
            孩子头像
          </th>
          <th>
            <%= link_to image_tag(@pair_student_list.avatar_url(:small)), @pair_student_list.avatar_url(nil), target: '_blank' %>
          </th>
        </tr>
        <tr>
          <th width="72px">
            姓名
          </th>
          <th>
            <%= @pair_student_list.name %>
          </th>
        </tr>
        <tr>
          <th>
            学校
          </th>
          <th>
            <%= @pair_student_list.school.try(:name) %>
          </th>
        </tr>
        <tr>
          <th>
            年级
          </th>
          <th>
            <%= @pair_student_list.enum_name(:level) %> <%= @pair_student_list.enum_name(:grade) %>
          </th>
        </tr>
        <tr>
          <th>
            学期
          </th>
          <th>
            <%= @pair_student_list.enum_name(:semester) %>
          </th>
        </tr>
        <tr>
          <th>
            身份证号
          </th>
          <th>
            <%= @pair_student_list.id_card %>
          </th>
        </tr>
        <tr>
          <th>
            民族
          </th>
          <th>
            <%= @pair_student_list.enum_name(:nation) %>
          </th>
        </tr>
        <tr>
          <th>
            性别
          </th>
          <th>
            <%= @pair_student_list.enum_name(:gender) %>
          </th>
        </tr>
        <tr>
          <th>
            描述
          </th>
          <th>
            <%= @pair_student_list.description %>
          </th>
        </tr>
        <tr>
          <th>
            联系电话
          </th>
          <th>
            <%= @pair_student_list.phone %>
          </th>
        </tr>
        <tr>
          <th>
            家长姓名
          </th>
          <th>
            父亲：<%= @pair_student_list.father %> 母亲：<%= @pair_student_list.mother %>
          </th>
        </tr>
        <tr>
          <th>
            监护人
          </th>
          <th>
            <%= @pair_student_list.guardian %>
          </th>
        </tr>

        <tr>
          <th>
            身份证
          </th>
          <th>
            <%= link_to image_tag(@pair_student_list.id_image_url(:small)), @pair_student_list.id_image_url(nil), target: '_blank' %>
          </th>
        </tr>
        <tr>
          <th>
           申请1
          </th>
          <th>
            <%= link_to image_tag(@pair_student_list.apply_one_url(:small)), @pair_student_list.apply_one_url(nil), target: '_blank' %>
          </th>
        </tr>
        <tr>
          <th>
            申请2
          </th>
          <th>
            <%= link_to image_tag(@pair_student_list.apply_two_url(:small)), @pair_student_list.apply_two_url(nil), target: '_blank' %>
          </th>
        </tr>
        <tr>
          <th>
            客厅照片
          </th>
          <th>
            <%= link_to image_tag(@pair_student_list.room_image_url(:small)), @pair_student_list.room_image_url(nil), target: '_blank' %>
          </th>
        </tr>
        <tr>
          <th>
            院子照片
          </th>
          <th>
            <%= link_to image_tag(@pair_student_list.yard_image_url(:small)), @pair_student_list.yard_image_url(nil), target: '_blank' %>
          </th>
        </tr>
        <tr>
          <th>
            扶贫卡
          </th>
          <th>
            <%= link_to image_tag(@pair_student_list.poverty_url(:small)), @pair_student_list.poverty_url(nil), target: '_blank' %>
          </th>
        </tr>
        <tr>
          <th>
            孩子介绍
          </th>
          <th>
            <%= @pair_student_list.information.html_safe %>
          </th>
        </tr>
        <tr>
          <th>
            备注
          </th>
          <th>
            <%= @pair_student_list.remark %>
          </th>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
