<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-sliders font-dark"></i>
      <span class="caption-subject font-dark bold uppercase"><%= @visit.apply_child.name %>
        家访记录<%= @visit.apply_child.id %></span>
    </div>
    <div class="actions">
      <%= link_to admin_home_visits_path(id: @visit.apply_child.id), class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
          <i class="fa fa-reply"></i>
          <span>返回</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <tbody>
        <tr>
          <td>
            学生信息
          </td>
        </tr>
        <tr>
          <td>
            学生姓名
          </td>
          <td>
            <%= @visit.apply_child.name %>
          </td>
        </tr>
        <tr>
          <td>
            身份证号
          </td>
          <td>
            <%= @visit.apply_child.id_card %>
          </td>
        </tr>
        <tr>
          <td>
            年龄
          </td>
          <td>
            <%= @visit.apply_child.age %>
          </td>
        </tr>
        <tr>
          <td>
            调查人信息
          </td>
        </tr>
        <tr>
          <td>
            调查人员
          </td>
          <td>
            <%= @visit.investigador %>
          </td>
        </tr>
        <tr>
          <td>
            陪同人员
          </td>
          <td>
            <%= @visit.escort %>
          </td>
        </tr>
        <tr>
          <td>
            调查时间
          </td>
          <td>
            <%= @visit.survey_time.strftime('%Y-%m-%d') %>
          </td>
        </tr>
        <tr>
          <td>
            其他说明
          </td>
          <td>
            <%= @visit.content %>
          </td>
        </tr>
        <tr>
          <td>
            家庭情况
          </td>
        </tr>
        <tr>
          <td>
            基本情况
          </td>
          <td>
            <%= @visit.family_basic %>
          </td>
        </tr>
        <tr>
          <td>
            家庭人数
          </td>
          <td>
            <%= @visit.family_size %>
          </td>
        </tr>

        <tr>
          <td>
            基本情况
          </td>
          <td>
            <%= @visit.basic_information %>
          </td>
        </tr>
        <tr>
          <td>
            收入情况
          </td>
          <td>
            <%= @visit.income_information %>
          </td>
        </tr>
        <tr>
          <td>
            支出情况
          </td>
          <td>
            <%= @visit.expenditure_information %>
          </td>
        </tr>
        <tr>
          <td>
            学习与受资助情况
          </td>
        </tr>
        <tr>
          <td>
            是否住校
          </td>
          <td>
            <%= @visit.lodge %>
          </td>
        </tr>
        <tr>
          <td>
            住校期间产生的退款
          </td>
          <td>
            ¥ <%= @visit.lodge_cost %>
          </td>
        </tr>
        <tr>
          <td>
            其他资助
          </td>
          <td>
            <%= @visit.other_subsidize %>
          </td>
        </tr>
        <tr>
          <td>
            获奖情况
          </td>
          <td>
            <%= @visit.prize_information %>
          </td>
        </tr>
        <tr>
          <td>
            学习情况
          </td>
          <td>
            <%= @visit.study_information %>
          </td>
        </tr>
        <tr>
          <td>
            学杂费
          </td>
          <td>
            ¥ <%= @visit.tuition_fee %>
          </td>
        </tr>
        <tr>
          <td>
            是否赞助生活
          </td>
          <td>
            <%= @visit.sponsor_fee %>
          </td>
        </tr>
        <tr>
          <td>
            家长授权书
          </td>
          <td>
            <% @visit.images.each do |image| %>
                <%= image_tag image.try(:file).try(:url) %> <br>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover">
        <tbody>
        <tr>
          <td>
            家庭成员
          </td>
        </tr>
        <tr>
          <td>
            成员姓名
          </td>
          <td>
            年龄
          </td>
          <td>
            关系
          </td>
          <td>
            职业
          </td>
          <td>
            健康状况
          </td>
          <td>
            工作情况
          </td>
        </tr>
        <% @visit.members.each do |member| %>
            <tr>
              <td>
                <%= member.name %>
              </td>
              <td>
                <%= member.age %>
              </td>
              <td>
                <%= member.relationship %>
              </td>
              <td>
                <%= member.profession %>
              </td>
              <td>
                <%= member.health_condition %>
              </td>
              <td>
                <%= member.job_condition %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
