<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-sliders font-dark"></i>
      <span class="caption-subject font-dark bold uppercase"><%= @visit.apply_child.name %>家访记录<%= @visit.apply_child.id %></span>
    </div>
    <div class="actions">
      <%= link_to admin_home_visits_path(id: @visit.apply_child.id), class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
        <i class="fa fa-reply"></i>
        <span>返回</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <tbody>
        <tr>
          <th>
            学生信息
          </th>
        </tr>
        <tr>
          <th>
            学生姓名
          </th>
          <th>
            <%= @visit.apply_child.name %>
          </th>
        </tr>
        <tr>
          <th>
            身份证号
          </th>
          <th>
            <%= @visit.apply_child.id_card %>
          </th>
        </tr>
        <tr>
          <th>
            年龄
          </th>
          <th>
            <%= @visit.apply_child.age %>
          </th>
        </tr>
        <tr>
          <th>
            调查人信息
          </th>
        </tr>
        <tr>
          <th>
            调查人员
          </th>
          <th>
            <%= @visit.investigador %>
          </th>
        </tr>
        <tr>
          <th>
            陪同人员
          </th>
          <th>
            <%= @visit.escort %>

          </th>
        </tr>
        <tr>
          <th>
            调查时间
          </th>
          <th>
            <%= @visit.survey_time.strftime('%Y-%m-%d') %>
          </th>
        </tr>
        <tr>
          <th>
            家庭情况
          </th>
        </tr>
        <tr>
          <th>
            基本情况
          </th>
          <th>
            <%= @visit.family_basic %>
          </th>
        </tr>
        <tr>
          <th>
            家庭人数
          </th>
          <th>
            <%= @visit.family_size %>
          </th>
        </tr>

        <tr>
          <th>
            基本情况
          </th>
          <th>
            <%= @visit.basic_information %>
          </th>
        </tr>
        <tr>
          <th>
            收入情况
          </th>
          <th>
            <%= @visit.income_information %>
          </th>
        </tr>
        <tr>
          <th>
            支出情况
          </th>
          <th>
            <%= @visit.expenditure_information %>
          </th>
        </tr>
        <tr>
          <th>
            学习与受资助情况
          </th>
        </tr>
        <tr>
          <th>
            是否住校
          </th>
          <th>
            <%= @visit.lodge %>
          </th>
        </tr>
        <tr>
          <th>
            住校期间产生的退款
          </th>
          <th>
            ¥ <%= @visit.lodge_cost %>
          </th>
        </tr>
        <tr>
          <th>
            其他资助
          </th>
          <th>
            <%= @visit.other_subsidize %>
          </th>
        </tr>
        <tr>
          <th>
            获奖情况
          </th>
          <th>
            <%= @visit.prize_information %>
          </th>
        </tr>
        <tr>
          <th>
            学习情况
          </th>
          <th>
            <%= @visit.study_information %>
          </th>
        </tr>
        <tr>
          <th>
            学杂费
          </th>
          <th>
            ¥ <%= @visit.tuition_fee %>
          </th>
        </tr>
        <tr>
          <th>
            是否赞助生活
          </th>
          <th>
            <%= @visit.sponsor_fee %>
          </th>
        </tr>
        <tr>
          <th>
            家长授权书
          </th>
          <th>
            <%= image_tag @visit.image.try(:file).try(:url) %>
          </th>
        </tr>
        </tbody>
      </table>
      <table  class="table table-bordered table-hover">
        <tbody>
          <tr>
            <th>
              家庭成员
            </th>
          </tr>
          <tr>
            <th>
              成员姓名
            </th>
            <th>
              年龄
            </th>
            <th>
              关系
            </th>
            <th>
              职业
            </th>
            <th>
              健康状况
            </th>
            <th>
              工作情况
            </th>
          </tr>
            <% @visit.members.each do |member| %>
              <tr>
                <th>
                  <%= member.name %>
                </th>
                <th>
                  <%= member.age %>
                </th>
                <th>
                  <%= member.relationship %>
                </th>
                <th>
                  <%= member.profession %>
                </th>
                <th>
                  <%= member.health_condition %>
                </th>
                <th>
                  <%= member.job_condition %>
                </th>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
