<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i><%= @current_camp.name %> > 概算管理
    </div>
    <div class="actions">
      <%= link_to admin_project_camp_seasons_path(return_camp: controller_path), class: 'btn btn-xs green', 'data-no-turbolink' => true do %>
          <i class="icon-plus"></i>
          <span>切换探索营</span>
      <% end %>
      <%= link_to new_admin_camp_document_estimate_path, class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
          <i class="icon-plus"></i>
          <span>新增</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="body-info">
      概算合计： <%= number_to_currency @search.result.sum(:amount) %>
    </div>
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right">
          </div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
          <tr>
            <th>
              费用类别
            </th>
            <th>
              预计花费
            </th>
            <th>
              备注
            </th>
            <th>
              操作
            </th>
          </tr>
          </thead>
          <tbody>
          <% @camp_document_estimates.each do |camp_document_estimate| %>
              <tr>
                <td>
                  <%= camp_document_estimate.item %>
                </td>
                <td>
                  <%= number_to_currency camp_document_estimate.amount %>
                </td>
                <td>
                  <%= camp_document_estimate.remark %>
                </td>
                <td>
                  <%= link_to edit_admin_camp_document_estimate_path(camp_document_estimate), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                      <i class="fa fa-edit"></i> 修改
                  <% end %>
                  <%= link_to admin_camp_document_estimate_path(camp_document_estimate), class: 'btn btn-xs red', method: :delete, data: {confirm: '确定要删除吗？'} do %>
                      <i class="fa fa-trash-o"></i> 删除
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@camp_document_estimates) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @camp_document_estimates, theme: 'admin' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
