<% content_for :styles do %>
  <%= stylesheet_link_tag "controllers/orders/index" %>
<% end %>

<%= simple_form_for [:platform, :school, @teacher],  html: {'data-parsley-validate': true, id: 'profile_form', method_way: 'method_way'} do |f| %>
  <div class="addchild-list marginbottom" style="padding: 10px 34px 20px 34px;">
    <div style="margin-left: 356px; margin-top: 30px;">
      <%= webuploader_tag :avatar_id, label: '上传照片', type: 'user_avatar', asset: @teacher.try(:user).try(:avatar), klass: 'single' %>
    </div>
    <p class="don-title">基本信息</p>
    <div class="addchild-list-cont">
      <div>
        <span class="goodtext">真实姓名</span>
        <%= f.text_field :name, placeholder: '请输入真实姓名', class: "goodinput" %>
      </div>
      <div>
        <span class="goodtext">身份证号</span>
        <%= f.text_field :id_card, placeholder: '请输入身份证号', class: "goodinput" %>
      </div>
      <div >
        <span class="goodtext">民族</span>
        <%= f.input :name, as: :select, collection: ProjectSeasonApplyChild.options_for_enum_select(:nations), include_blank: false, label: false, input_html: {id: 'select-nation', class: '', style:"width: 451px;"} %>
      </div>
      <div>
        <span class="goodtext">QQ号</span>
        <%= f.text_field :qq, placeholder: '请输入QQ号', class: "goodinput" %>
      </div>
      <div>
        <span class="goodtext">微信号</span>
        <%= f.text_field :openid, placeholder: '请输入微信号', class: "goodinput" %>
      </div>
      <div>
        <span class="goodtext">联系方式</span>
        <%= f.text_field :phone, placeholder: '填写班主任联系方式', class: "goodinput" %>
      </div>
      <div style="position: relative;">
        <span class="goodtext">联系方式</span>
        <div style="flex: 7;">
          <select class="box1" name="state" multiple="multiple">
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <span class="posarrmarl">*项目权限可多选*</span>
      </div>
    </div>

  </div>
    <div class="childern-submint">
      <input class="btn  save-btn" id="save_form_btn" name="commit" value="保存" type="button" info="<%= action_name %>">
      <%= link_to "取消", platform_school_apply_pairs_path, class: "btn cancel-btn" %>
    </div>
<% end %>


<script>
//   $(document).ready(function() {
//     $('#selects-id').select2({
//       language: "zh-CN",
//       placeholder: '请选择负责人',
//       allowClear: true,
//     });
//   });
$('.box1').select2({
    minimumResultsForSearch: -1
});

$('#select-nation').select2({
    minimumResultsForSearch: -1
})



</script>


