<div class="paddchild">
  <% if @teachers.present? %>
  <table class="project-list-table">
    <thead>
      <tr>
        <th scope="col" class="table-tit-1" style="width:423px;">老师信息</th>
        <th scope="col" class="table-tit-2" style="width:250px;">负责项目</th>
        <th scope="col" class="table-tit-3">操作</th>
      </tr>
    </thead>
    <tbody>
        <% @teachers.each do |teacher| %>
        <tr class="notable">
          <td colspan="3"></td>
        </tr>
        <tr class="school-apply-pair-table-cont">
          <th class="school-apply-pair-child pull-left clearfix" style="width:423px;">
            <div class="pull-left">
              <%= image_tag teacher.try(:user).try(:avatar).try(:file).try(:url).to_s %>
            </div>
            <div class="pull-left">
              <p>
                <span><%= teacher.name %></span>
                <span><%= teacher.get_age(teacher.id_card) %>
                  岁 |
                  <%= teacher.get_gender %></span>
              </p>
              <p><%= teacher.phone %></p>
            </div>
            <div class="pull-right">
              <p><%= teacher.id_card %></p>
            </div>
          </th>
          <td style="text-align:left;">
            <% teacher.projects.each do |project| %>
              <span class="project-span"><%= project.name %></span>
            <% end %>
          </td>
          <td>
            <%= link_to "修改", edit_platform_school_teacher_path(teacher),class:'lookbutton' %>
            <% if teacher.teacher? %>
            <%= link_to "删除", platform_school_teacher_path(teacher),class:'detail-table', method: :delete, data: {confirm: '确定要删除吗？'}  %>
            <% end %>
          </td>
        </tr>
          <% end %>
    </tbody>
  </table>
  <% else %>
  <div class="not-project-body contentab ">
    <div class="donation-cont-no">
      <div class="donation-co-no-c">
        <p>暂无搜索结果</p>
      </div>
    </div>
  </div>
  <% end %>
  <div class="project-foot">
    <%= link_to_previous_page @teachers, '', class: "iconfont icon-arrow-left cur icon-a", remote: true %>
    <%= link_to_next_page @teachers, '', class: "iconfont icon-arrow-right cur icon-a", remote: true %>
  </div>
</div>
