<div class="person-body-right pull-right" id="teachers">
  <div class="children-body">
    <div class="paddchild">
      <p class="don-title border-b ">
        <span class="pull-left">教师管理</span>
        <%= link_to new_platform_school_teacher_path, class: 'pull-right school-apply-share-sub', style:"color: white;", 'data-no-turbolink' => true do %>
          <span class="iconfont icon-ico-add1"></span>
          <span>新增老师</span>
        <% end %>
      </p>
    </div>
    <div class="school-apply-pair-table-co">
      <div class="paddchild">
        <div class="school-apply-pair-table">
          <p>老师信息</p>
          <p>负责项目</p>
          <p>操作</p>
        </div>
      </div>

      <div class=" paddchild">
        <% @teachers.each do |teacher| %>
          <div class="school-apply-pair-tables">
            <div class="school-apply-pair-table-cont">
              <div class="school-apply-pair-child clearfix">
                <div class="pull-left">
                  <%= image_tag teacher.try(:user).try(:avatar).try(:file).try(:url).to_s %>
                </div>
                <div class="pull-left">
                  <p>
                    <span><%= teacher.name %></span>
                    <span><%= teacher.get_age(teacher.id_card) %>岁 | <%= teacher.user.enum_name(:gender) %></span>
                  </p>
                  <p><%= teacher.phone %></p>
                </div>
                <div class="pull-right">
                  <p><%= teacher.id_card %></p>
                </div>
              </div>
              <div class="border-l border-r">
                <% teacher.projects.each do |project| %>
                  <span><%= project.name %></span>
                <% end %>
              </div>
              <div>
                <button>修改</button>
                <button>删除</button>
              </div>
            </div>
          </div>
        <% end %>






        <div class="school-apply-pair-tables">
          <div class="school-apply-pair-table-cont">
            <div class="school-apply-pair-child clearfix">
              <div class="pull-left">
                <%= image_tag 'cooperate-visite-form.png' %>
              </div>
              <div class="pull-left">
                <p>
                  <span>赵雷</span>
                  <span>17岁 | 男</span>
                </p>
                <p>13800138000</p>
              </div>
              <div class="pull-right">
                <p>130731198812251592</p>
              </div>

            </div>
            <div class="border-l border-r">
              <span>一对一</span>
              <span>护花</span>
              <span>广播</span>
              <span>观影</span>
            </div>

            <div>
              <button>修改</button>
              <button>删除</button>
            </div>
          </div>
        </div>
      </div>
      <div class="project-foot">
        <span class="iconfont icon-arrow-left cur"></span>
        <span class="iconfont icon-arrow-right cur"></span>
      </div>
    </div>
    <div class="donation-cont-no">
      <div class="donation-co-no-c">
        <p>您的学校还没有添加老师信息</p>
      </div>
    </div>
  </div>
</div>
<script>
  if ($('#teachers .school-apply-pair-tables').length === 0) {
    $('.donation-cont-no').css('display', 'block')
    $('.school-apply-pair-table-co').css('display', 'none')
    $('.project-foot').css('display', 'none')
  } else {
    $('.donation-cont-no').css('display', 'none')
    $('.school-apply-pair-table-co').css('display', 'block')
    $('.project-foot').css('display', 'block')

  }
</script>



