<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">修改批次</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @season], url: admin_pair_season_path, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'season_form'} do |f| %>
        <%= f.error_notification %>
        <div class="form-body form-horizontal">
          <%= f.input :name, label: '名称：', autofocus: true, placeholder: '名称', required: true %>
          <%= f.input :junior_term_amount, label: '初中资助金额（学期）：', required: true, type: 'number' %>
          <%= f.input :junior_year_amount, label: '初中资助金额（学年）：', required: true, type: 'number' %>
          <%= f.input :senior_term_amount, label: '高中资助金额（学期）：', required: true, type: 'number' %>
          <%= f.input :senior_year_amount, label: '高中资助金额（学年）：', required: true, type: 'number' %>
          <%= f.input :state, label: '申请状态', as: :radio_buttons, collection: ProjectSeason.options_for_select(:states), wrapper: :inline_inputs, required: true %>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-9">
              <%= f.button :submit, '提交', class: 'btn blue' %>
              <%= link_to '取消', admin_pair_seasons_path, class: 'btn' %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<script>
    $(function() {
        $("#project_id").select2({
            //placeholder: "请选择财务分类"
        });
    })
</script>
