<%= simple_form_for [:admin, @child_apply, @grant], url: @grant.new_record? ? admin_pair_student_list_student_grants_path(@child_apply) : admin_pair_student_list_student_grant_path(@child_apply), wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'category_form'} do |f| %>
    <%= f.error_notification %>
    <div class="form-body form-horizontal">
      <%= f.input :title, label: '申请学年：', autofocus: true, placeholder: '学年', required: true %>
      <%= f.input :grade_name, label: '年级名称：', autofocus: true, placeholder: '', required: true %>
      <%= f.input :amount, label: '资助金额：', placeholder: '金额', required: true, type: 'number' %>
      <% if can? :manage_excel, current_user %>
          <% income_record = @grant.donate_records.first.try(:income_record) %>
          <% if !@grant.pending? %>
              <% if income_record.present? && income_record.online? %>
                  <% if can? :manage_superadmin, current_user %>
                    <%= f.input :user_id, as: :select, collection: [[@grant.user.try(:name_for_select), @grant.user_id]], label: '捐助人：', input_html: {class: 'users-ajax'}, required: !@grant.pending? %>
                  <% end %>
              <% else %>
                  <%= f.input :user_id, as: :select, collection: [[@grant.user.try(:name_for_select), @grant.user_id]], label: '捐助人：', input_html: {class: 'users-ajax'}, required: !@grant.pending? %>
              <% end %>
          <% end %>
      <% end %>
      <%= f.input :remark, label: '备注：', placeholder: '' %>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-2 col-md-9">
          <%= f.button :submit, '提交', class: 'btn blue' %>
          <%= link_to '取消', admin_pair_student_list_student_grants_path(@child_apply), class: 'btn' %>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    $('.users-ajax').select2({
        language: "zh-CN",
        placeholder: '',
        allowClear: true,
        ajax: {
            url: "/selects/all_users",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term, // search term
                    page: params.page
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;
                return {
                    results: $.map(data.items, function (item) {
                        return {
                            text: item.name_for_select,
                            id: item.id
                        }
                    }),
                    pagination: {
                        more: (params.page * 30) < data.total_count
                    }
                };
            },
            cache: true
        }
    });
</script>
