<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">捐助操作</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @donate_record], url: admin_pair_student_list_student_grant_path(@child_apply), method: :patch, wrapper: :admin_form, html: {'data-parsley-validate': true, id: 'approve-form', 'data-parsley-excluded' => "input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"} do |f| %>
      <%= f.error_notification %>
      <div class="form-body form-horizontal">
        <div class="form-group radio_buttons required donate_record_donate_way">
          <label class="col-md-2 control-label radio_buttons required">捐助方式：</label>
          <div class="col-md-9 form-inline">
            <input type="radio" class="form-control radio_buttons donate_way" name="donate_record[donate_way]" value="offline" checked onclick="toggleState()">线下汇款
            <input type="radio" class="form-control radio_buttons donate_way" name="donate_record[donate_way]" value="match" onclick="toggleState()">使用其他资金
            <input type="radio" class="form-control radio_buttons donate_way" name="donate_record[donate_way]" value="balance" onclick="toggleState()">使用用户余额
          </div>
        </div>
        <div class="offline">
          <%= f.input :source_id, as: :select, collection: IncomeSource.all.sorted, include_blank: '选择捐款渠道', label: '捐款渠道：', required: true %>
          <%= f.input :user_id, as: :select, label: '捐助人：', input_html: {class: 'users-ajax'}, required: true %>
          <%= static_form_control '捐助金额：', @grant.amount %>
        </div>
        <div class="match">
          <%= f.input :match_fund_id, as: :select, collection: Fund.unrestricted.sorted.map {|f| ["#{f.fund_category.name}#{f.name}(余额：#{f.amount})", f.id]}, include_blank: '选择分类', label: '财务分类：', required: true %>
          <%= static_form_control '捐助金额：', @grant.amount %>
        </div>
        <div class="balance">
          <%= f.input :balance_id, as: :select, label: '使用余额：', input_html: {class: 'users-balance-ajax'}, required: true %>
          <%= static_form_control '捐助金额：', @grant.amount %>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <%= f.button :submit, '提交', class: 'btn green' %>
              <%= link_to '取消', admin_pair_student_list_student_grants_path(@child_apply), class: 'btn' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
    function toggleState() {
        toggleRadioInput('.donate_way', {
            offline: '.offline',
            match: '.match',
            balance: '.balance'
        })
    }

    $(function () {
        // 异步加载用户列表
        $('.users-ajax').select2({
            language: "zh-CN",
            placeholder: '选择捐助人',
            allowClear: true,
            ajax: {
                url: "/selects/users",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            }
        })
    })

    $(function () {
        $('.users-balance-ajax').select2({
            language: "zh-CN",
            placeholder: '选择用户余额',
            allowClear: true,
            ajax: {
                url: "/selects/users_balance",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.user_balance,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            }
        })
    })

    toggleState();

</script>