<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i><%= link_to @child_apply.name, admin_pair_student_lists_path %> > 资助学年
    </div>
    <div class="actions">
      <% if @child_apply.semesters.pending.count > 0 %>
      <%= link_to match_admin_pair_student_list_student_grants_path(@child_apply), 'data-no-turbolink' => true, class: 'btn btn-xs yellow' do %>
        <i class="fa fa-list-ul"></i> 配捐
      <% end %>
      <% end %>
      <%= link_to new_admin_pair_student_list_student_grant_path(@child_apply), class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
        <i class="icon-plus"></i>
        <span>新增资助学年</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right"></div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
          <tr>
            <th>
              申请学年
            </th>
            <th>
              申请金额
            </th>
            <th>
              备注
            </th>
            <th>
              捐助人
            </th>
            <th>
              筹款状态
            </th>
            <th>
              发放状态
            </th>
            <th>
              操作
            </th>
          </tr>
          </thead>
          <tbody>
          <% @grants.each do |grant| %>
            <tr>
              <td>
                <%= grant.title %>
              </td>
              <td>
                ￥<%= format_money grant.amount %>
              </td>
              <td>
                <%= grant.remark %>
              </td>
              <td>
                <%= grant.user.try(:name) %>
              </td>
              <td>
                <%= grant.enum_name(:donate_state) %>
              </td>
              <td>
                <%= grant.enum_name(:state) %>
              </td>
              <td>
                <% if grant.apply_child.hidden? && grant.pending? %>
                    <%= link_to edit_admin_pair_student_list_student_grant_path(@child_apply, grant), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                        <i class="fa fa-edit"></i> 修改
                    <% end %>
                    <%= link_to close_admin_pair_student_list_student_grant_path(@child_apply, grant), 'data-no-turbolink' => true, class: 'btn btn-xs red', method: :post, data: {confirm: '确定要关闭吗？'} do %>
                        <i class="fa fa-eye-slash"></i> 关闭
                    <% end %>
                <% end %>

              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@grants) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @grants, theme: 'admin' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
