<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">新增资助年度</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @child_apply, @grant], url: admin_pair_student_list_student_grants_path(@child_apply), wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'category_form'} do |f| %>
      <%= f.error_notification %>
      <div class="form-body form-horizontal">
        <%= f.input :title, label: '申请学年：', autofocus: true, placeholder: '学年', required: true %>
        <%= f.input :amount, label: '资助金额：', placeholder: '金额', required: true, type: 'number' %>
        <%= f.input :remark, label: '备注：', placeholder: '', required: true %>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-2 col-md-9">
            <%= f.button :submit, '提交', class: 'btn blue' %>
            <%= link_to '取消', admin_pair_student_list_student_grants_path(@child_apply), class: 'btn' %>
          </div>
        </div>
      </div>
    <% end %>
    <script type="text/javascript" charset="utf-8">
        $(function () {
            $('.datetime-picker').datetimepicker()
        })
    </script>
  </div>
</div>
