<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">新增申请</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <%= link_to admin_goods_applies_path, class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
        <i class="fa fa-reply"></i>
        <span>返回</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @project_apply], url: admin_goods_applies_path, wrapper: :admin_form, html: {data: {'parsley-validate': true}, class: 'form-horizontal project_form'} do |f| %>
        <%= f.error_notification %>
        <div class="form-body">
          <%= f.input :school_id, collection: [@project_apply.school].compact.map {|u| [u.name, u.id]}, label: '申请学校：', input_html: {class: 'schools-ajax'}, required: true  %>
          <%= f.input :project_season_id, collection: [@project_apply.season].compact.map {|u| [u.name, u.id]}, label: '申请批次：', input_html: {class: 'seasons-ajax'}, required: true  %>
          <%= render '/admin/shared/dynamic_form', apply: @project_apply, model: :project_season_apply %>
          <%= f.input :describe, label: '申请理由：', required: true %>
          <div class="form-group">
            <label class="col-md-2 control-label">申请图片：</label>
            <div class="col-sm-9">
              <%= webuploader_tag 'apply_image_ids[]', label: '上传申请图片', type: 'project_season_apply_image', asset: @project_apply.images %>
              <!-- <span style="color: red">注意：左起第一张图片为展示第一张图片</span> -->
            </div>
          </div>
          <div style="margin-bottom: 20px;" class="form-group">
            <label class="col-md-2 control-label select required" for="project_category_id">收货地址：</label>
            <div class="col-sm-6">
              <div class="row city-group">
                <div class="col-sm-3">
                  <%= select_tag 'project_season_apply[province]', options_for_select(ChinaCity.list, @project_apply.province.presence), prompt: '省份', class: "form-control city-select", html: {data: {'parsley-required': true}}, required: true  %>
                </div>
                <div class="col-sm-3">
                  <%= select_tag 'project_season_apply[city]', options_for_select(ChinaCity.list(@project_apply.province.to_s), @project_apply.city.presence), prompt: '城市', class: "form-control city-select", required: true  %>
                </div>
                <div class="col-sm-3">
                  <%= select_tag 'project_season_apply[district]', options_for_select(ChinaCity.list(@project_apply.city.to_s), @project_apply.district.presence), prompt: '地区', class: "form-control city-select", required: true  %>
                </div>
              </div>
              <br>
            </div>
          </div>
          <%= f.input :address, label: '详细地址', autofocus: true, input_html: { data: {}}, required: true  %>
          <%= f.input :contact_name, label: '收货人：', autofocus: true, input_html: { data: {}}, required: true  %>
          <%= f.input :contact_phone, label: '联系电话：', autofocus: true, input_html: { data: {}}, required: true  %>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-9">
              <%= f.button :submit, '提交', class: 'btn blue' %>
              <%= link_to '取消', admin_goods_applies_path, class: 'btn' %>
            </div>
          </div>
        </div>
    <% end %>

    <script type="text/javascript">
        $(function(){
            // 异步加载学校列表
            $('.schools-ajax').select2({
                language: "zh-CN",
                placeholder: '请选择学校',
                allowClear: true,
                ajax: {
                    url: "/selects/schools",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: $.map(data.items, function (item) {
                                return {
                                    text: item.name,
                                    id: item.id
                                }
                            }),
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                }
            });

            // 异步加载批次列表
            $('.seasons-ajax').select2({
                language: "zh-CN",
                placeholder: '请选择批次',
                allowClear: true,
                ajax: {
                    url: "/selects/seasons",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page,
                            project_id: <%= @current_project.id %>
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: $.map(data.items, function (item) {
                                return {
                                    text: item.name,
                                    id: item.id
                                }
                            }),
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                }
            });

            //多图上传
            initMultiImageWebuploader('.upload-wrap');
            $('.upload-list').viewer();
        })
    </script>

  </div>
</div>
