<div class="portlet light bordered">
  <div class="portlet-title">
    <!-- <div class="caption">
      <i class="icon-note">审核操作</i>
      <span class="caption-subject"></span>
      <span class="caption-helper"></span>
    </div> -->
    <div class="actions">
      <div class="btn-group">
        <a href="<%= admin_read_applies_path %>" class="btn btn-xs blue">
          <i class="fa fa-reply"></i>返回
        </a>
      </div>
    </div>
  </div>
  <div class="portlet-body form">

    <div class="form-body form-horizontal">
      <div class="row">
        <div class="col-md-12">
          <div class="tabbable-line boxless tabbable-reversed">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tab_0" data-toggle="tab" aria-expanded="true"> 申请资料 </a>
              </li>
              <!-- <li class="">
                <% if @project_apply.bookshelves.present? %>
                  <% project_season_apply_bookshelf_id = @project_apply.bookshelves.first.id %>
                  <a href="<%= students_admin_read_apply_path(@project_apply, q: {project_season_apply_bookshelf_id_eq: project_season_apply_bookshelf_id}) %>" > 受益学生 </a>
                <% else %>
                  <a href="###" > 受益学生 </a>
                <% end %>
              </li> -->
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_0">
                <%= simple_form_for [:admin, @project_apply], url: admin_read_apply_path, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'form-horizontal project_form'} do |f| %>
                    <%#= @project_apply.errors.messages %>
                    <%= f.error_notification %>
                    <div class="form-body">
                      <%= f.input :project_season_id, as: :select, collection: [@project_apply.season].compact.map {|u| [u.name, u.id]}, label: '申请批次：', require: true, input_html: {class: 'seasons-ajax'} %>
                      <%= f.input :school_id, as: :select, collection: [@project_apply.school].compact.map {|u| [u.name, u.id]}, label: '申请学校：', require: true, input_html: {class: 'schools-ajax'} %>
                      <%#= f.input :bookshelf_type, as: :select, collection: ProjectSeasonApply.options_for_enum_select(:bookshelf_types), label: '申请类型：', include_blank: false, require: true %>
                      <%= static_form_control '申请类型：', @project_apply.enum_name(:bookshelf_type) %>
                      <%#= static_form_control '学校总人数：' %>
                      <%#= static_form_control '班级总数：' %>

                      <div class="portlet light bordered">
                        <div class="portlet-title">
                          <div class="caption">
                          <i class="icon-social-dribbble font-green"></i>
                          <span class="caption-subject font-green bold uppercase">申请班级</span>
                        </div>
                        <!-- <div class="actions">
                            <a class="btn btn-info btn-xs" href="#" id="goods_add_another"><i class="fa fa-plus"></i> 添加班级</a>
                        </div> -->
                        </div>
                        <div class="portlet-body">
                          <div class="table-scrollable">
                            <table class="table table-hover">
                              <% if @project_apply.whole? %>
                                <thead>
                                  <tr>
                                    <th> 班级 </th>
                                    <!-- <th> 筹款金额 </th> -->
                                    <th> 人数 </th>
                                    <!-- <th> 是否通过审核 </th> -->
                                    <th> 删除操作 </th>
                                  </tr>
                                </thead>
                                <tbody id="goods">
                                  <%# @project_apply.bookshelves.build if @project_apply.bookshelves.blank? %>
                                  <%= f.fields_for :bookshelves, wrapper: 'inline_inputs' do |b| %>
                                  <tr>
                                    <%#= b.hidden_field :project_id, value: 2 %>
                                    <%#= b.hidden_field :project_season_id, value: @project_apply.project_season_id %>
                                    <td>
                                      <%= b.input :classname, label: false, input_html:{ data: {'parsley-required': true}, placeholder: '请填入班级名称'} %>
                                    </td>
                                    <!-- <td>
                                      <%#= b.input :target_amount, type: 'number', min: 0, label: false, input_html:{data: {'parsley-required': true}, class: 'target-amount', placeholder: '请填入筹款金额'}  %>
                                    </td> -->
                                    <td class="children-count">
                                      <%= b.input :student_number, as: 'string', min: 0, label: false, input_html:{ placeholder: '请填入班级人数'} %>
                                      <%#= b.object.beneficial_children.count %>
                                    </td>
                                    <!-- <td>
                                      <%#= check_box_tag b.audit_state, 'pass', false %>
                                      <%#= b.input :audit_state, as: :select, wrapper: :inline_inputs, collection: ProjectSeasonApplyBookshelf.options_for_select(:audit_states), label: false, include_blank: false %>
                                    </td> -->
                                    <td>
                                      <a href="#" class="destroy"><i class="fa fa-remove font-red-soft"></i></a>
                                    </td>
                                  </tr>

                                  <% end %>
                                </tbody>
                              <% else %>
                                <thead>
                                  <tr>
                                    <th> 班级 </th>
                                    <th> 损耗数量 </th>
                                    <th> 补书数量 </th>
                                    <!-- <th> 筹款金额 </th> -->
                                    <!-- <th> 是否通过审核 </th> -->
                                    <th> 删除操作 </th>
                                  </tr>
                                </thead>
                                <tbody id="goods">
                                  <%# @project_apply.supplements.build if @project_apply.supplements.blank? %>
                                  <%= f.fields_for :supplements, wrapper: 'inline_inputs' do |b| %>
                                  <tr>
                                    <%#= b.hidden_field :school_id, value: 2 %>
                                    <%#= b.hidden_field :project_season_id, value: @project_apply.project_season_id %>
                                    <td>
                                      <%#= b.input :project_season_apply_bookshelf_id, as: :select, label: false, input_html: {class: 'classes-ajax'} %>
                                      <%= b.object.bookshelf.classname %>
                                    </td>
                                    <td>
                                      <%= b.input :loss,type: 'number', min: 0, label: false, input_html: { data: {'parsley-required': true}, class: 'loss-count', placeholder: '请填写数量'} %>
                                    </td>
                                    <td>
                                      <%= b.input :supply,type: 'number', min: 0, label: false, input_html: {data: {'parsley-required': true}, class: 'supply-count', placeholder: '请填写数量'} %>
                                    </td>
                                    <!-- <td>
                                      <%#= b.input :target_amount, type: 'number', min: 0, label: false, input_html:{data: {'parsley-required': true}, class: 'target-amount', placeholder: '请填入筹款金额'}  %>
                                    </td> -->
                                    <!-- <td>
                                      <%#= b.input :audit_state, as: :select, wrapper: :inline_inputs, collection: BookshelfSupplement.options_for_select(:audit_states), label: false %>
                                    </td> -->
                                    <td>
                                      <a href="#" class="destroy"><i class="fa fa-remove font-red-soft"></i></a>
                                    </td>
                                  </tr>
                                  <% end %>
                                </tbody>
                              <% end %>
                            </table>

                          </div>
                        </div>
                      </div>
                      <%= f.input :describe, label: '申请理由：', placeholder: '请填写申请理由', input_html: { data: {'parsley-required': true} } %>

                      <%= render '/admin/shared/dynamic_form_show', apply: @project_apply %>

                      <div class="form-group">
                        <label class="col-md-2 control-label">申请图片：</label>
                        <div class="col-sm-9">
                          <%= webuploader_tag 'image_ids[]', label: '上传孩子图片', type: 'project_season_apply_image', asset: @project_apply.images %>
                          <span style="color: red">注意：左起第一张图片为展示第一张图片</span>
                        </div>
                      </div>

                      <div style="margin-bottom: 20px;" class="form-group">
                        <label class="col-md-2 control-label select required" for="project_category_id">所在地区：</label>
                        <div class="col-sm-6">
                          <div class="row city-group">
                            <div class="col-sm-3">
                              <%= select_tag 'project_season_apply[province]', options_for_select(ChinaCity.list, @project_apply.province.presence), prompt: '省份', class: "form-control city-select" %>
                            </div>
                            <div class="col-sm-3">
                              <%= select_tag 'project_season_apply[city]', options_for_select(ChinaCity.list(@project_apply.province.to_s), @project_apply.city.presence), prompt: '城市', class: "form-control city-select" %>
                            </div>
                            <div class="col-sm-3">
                              <%= select_tag 'project_season_apply[district]', options_for_select(ChinaCity.list(@project_apply.city.to_s), @project_apply.district.presence), prompt: '地区', class: "form-control city-select" %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <%= f.input :address, label: '详细地址：', placeholder: '详细地址', input_html: { data: {'parsley-required': true}} %>
                      <%= f.input :contact_name, label: '收货人：', placeholder: '收货人', input_html: { data: {'parsley-required': true}} %>
                      <%= f.input :contact_phone, label: '联系电话：', placeholder: '联系电话', input_html: { data: {'parsley-required': true}} %>
                    </div>
                    <div class="form-actions">
                      <div class="row">
                        <div class="col-md-offset-2 col-md-9">
                          <%= f.button :submit, '提交', class: 'btn blue' %>
                          <%= link_to '取消', admin_read_applies_path, class: 'btn' %>
                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <script type="text/javascript">
        $(function(){
            initMultiImageWebuploader($('#webuploader'));
            $('.upload-list').viewer();
            $("#goods").nestedAttributes({
              bindAddTo: $("#goods_add_another"),
              afterAdd: function(el){
                $(el).find('.children-count').html('0')
                $(el).find('.target-amount').val('0.0')
              }
            });
            // 异步加载学校列表
            $('.schools-ajax').select2({
                language: "zh-CN",
                placeholder: '请选择学校',
                allowClear: true,
                ajax: {
                    url: "/selects/schools",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: $.map(data.items, function (item) {
                                return {
                                    text: item.name,
                                    id: item.id
                                }
                            }),
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                }
            });
            // 异步加载批次列表
            $('.seasons-ajax').select2({
                language: "zh-CN",
                placeholder: '请选择批次',
                allowClear: true,
                ajax: {
                    url: "/selects/seasons",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page,
                            project_id: 2
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: $.map(data.items, function (item) {
                                return {
                                    text: item.name,
                                    id: item.id
                                }
                            }),
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                }
            });
        })
    </script>

  </div>
</div>
