<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i>悦读项目申请
    </div>
    <% if can? :manage_project, current_user, Project.read_project %>
    <div class="actions">
      <%= link_to supply_new_admin_read_applies_path, class: 'btn btn-xs green', 'data-no-turbolink' => true do %>
          <i class="icon-plus"></i>
          <span>新增补书申请</span>
      <% end %>

      <%= link_to new_admin_read_apply_path, class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
          <i class="icon-plus"></i>
          <span>新增图书角申请</span>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= search_form_for @search, url: admin_read_applies_path, class: 'form-inline' do |f| %>
              <div class="form-group">
                <%= f.label :school_name_cont, '学校名称' %>
                <%= f.text_field :school_name_cont, class: 'form-control gsh-input-share', placeholder: '学校名称' %>
              </div>
              <div class="form-group">
                <%= f.label :audit_state_eq, '申请状态' %>
                <%= f.select :audit_state_eq, ProjectSeasonApply.options_for_select(:audit_states, raw: true), {include_blank: '全部'}, class: 'form-control gsh-input-share' %>
              </div>
              <div class="form-group">
                <%= f.label :bookshelf_type_eq, '申请类型' %>
                <%= f.select :bookshelf_type_eq, ProjectSeasonApply.options_for_select(:bookshelf_types, raw: true), {include_blank: '全部'}, class: 'form-control gsh-input-share' %>
              </div>
              <div class="form-group">
                <%= f.label :project_season_id_eq, '批次' %>
                <%= f.select :project_season_id_eq, ProjectSeason.where(project_id: 2).collect {|p| [p.name, p.id]}, {include_blank: '全部'}, class: 'form-control gsh-input-share' %>
              </div>
              <button type="submit" class="btn btn-default grey">搜索</button>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right"></div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
          <tr>
            <th>
              申请编号
            </th>
            <th>
              申请学校
            </th>
            <th>
              申请批次
            </th>
            <th>
              申请类型
            </th>
            <th>
              申请时间
            </th>
            <th>
              项目联系人
            </th>
            <th>
              当前状态
            </th>
            <th>
              操作
            </th>
          </tr>
          </thead>
          <tbody>
          <% @project_applies.each do |apply| %>
              <tr>
                <td>
                  <%= apply.apply_no %>
                </td>
                <td>
                  <%= apply.school.try(:name) %>
                </td>
                <td>
                  <%= apply.season.try(:name) %>
                </td>
                <td>
                  <%= apply.enum_name(:bookshelf_type) %>
                </td>
                <td>
                  <%= l apply.created_at %>
                </td>
                <td>
                  <%= apply.contact_name %>
                  <p><%= apply.contact_phone %></p>
                </td>
                <td>
                  <%= apply.enum_name(:audit_state) %>
                </td>
                <td>
                  <% if apply.apply? %>
                    <%= link_to edit_admin_read_apply_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                        <i class="fa fa-edit"></i> 修改
                    <% end %>
                    <%= link_to admin_read_apply_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs yellow' do %>
                        <i class="fa fa-gavel"></i> 审核
                    <% end %>
                    <%# if apply.bookshelves.present? %>
                      <%# project_season_apply_bookshelf_id = apply.bookshelves.first.id %>
                      <%#= link_to students_admin_read_apply_path(apply, q: {project_season_apply_bookshelf_id_eq: project_season_apply_bookshelf_id}), 'data-no-turbolink' => true, class: 'btn btn-xs green' do %>
                          <!--<i class="fa fa-list"></i> 学生名单-->
                      <%# end %>
                    <%# end %>
                    <%= link_to admin_read_apply_path(apply), class: 'btn btn-xs red', method: :delete, data: {confirm: '确定要删除吗？'} do %>
                        <i class="fa fa-trash-o"></i> 删除
                    <% end %>
                    <% if apply.pass? && apply.pass_bookshelf? %>
                      <%= link_to switch_admin_read_apply_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs blue', data: {confirm: '确定要转为筹款项目吗？'} do %>
                        <i class="fa fa-exchange"></i> 转为筹款项目
                      <% end %>
                    <% end %>
                  <% else %>
                      <button class="btn btn-xs green">已转为筹款项目</button>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@project_applies) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @project_applies, theme: '' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->

<script>
  $(function(){

  })
</script>
