<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note">新增图书角申请</i>
      <span class="caption-subject"></span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">

    <div class="form-body form-horizontal">
      <div class="row">
        <div class="col-md-12">

          <%= simple_form_for [:admin, @project_apply], url: admin_read_applies_path, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'form-horizontal project_form'} do |f| %>
              <%= f.error_notification %>
              <div class="form-body">
                <%= f.input :project_season_id, as: :select, label: '申请批次：', require: true, input_html: {class: 'seasons-ajax', data: {'parsley-required': true}} %>
                <%= f.input :school_id, as: :select, label: '申请学校：', require: true, input_html: {class: 'schools-ajax', data: {'parsley-required': true}} %>
                <%#= static_form_control '学校总人数：' %>
                <%#= static_form_control '班级总数：' %>

                <div class="portlet light bordered">
                  <div class="portlet-title">
                    <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">申请班级</span>
                  </div>
                  <div class="actions">
                      <a class="btn btn-info btn-xs" href="#" id="goods_add_another"><i class="fa fa-plus"></i> 添加班级</a>
                    </div>
                  </div>
                  <div class="portlet-body">
                    <div class="table-scrollable">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th> 班级 </th>
                            <!-- <th> 筹款金额 </th> -->
                            <th> 人数 </th>
                            <th> 是否通过审核 </th>
                            <th> 删除操作 </th>
                          </tr>
                        </thead>
                        <tbody id="goods">
                          <% @project_apply.bookshelves.build if @project_apply.bookshelves.blank? %>
                          <%= f.fields_for :bookshelves, wrapper: 'inline_inputs' do |b| %>
                          <tr>
                            <%#= b.hidden_field :school_id, value: 2 %>
                            <%#= b.hidden_field :project_season_id, value: @project_apply.project_season_id %>
                            <td>
                              <%= b.input :classname, label: false, input_html:{placeholder: '请填入班级名称', data: {'parsley-required': true}} %>
                            </td>
                            <!-- <td>
                              <%#= b.beneficial_children.count %>
                              <%= b.input :target_amount, type: 'number', min: 0, label: false, input_html:{ class: 'target-amount', placeholder: '请填入筹款金额', value: '', data: {'parsley-required': true} }  %>
                            </td> -->
                            <td class="children-count">
                              <%= b.input :student_number, as: 'string', min: 0, label: false, input_html:{ placeholder: '请填入班级人数'} %>
                            </td>
                            <td>
                              <%#= check_box_tag b.audit_state, 'pass', false %>
                              <%= b.input :audit_state, as: :select, wrapper: :inline_inputs, collection: ProjectSeasonApplyBookshelf.options_for_select(:audit_states), include_blank: false, label: false, input_html: {class: 'class_state'} %>
                            </td>
                            <td>
                              <a href="#" class="destroy"><i class="fa fa-remove font-red-soft"></i></a>
                            </td>
                          </tr>

                          <% end %>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>
                <%= f.input :describe, label: '申请理由：', placeholder: '请填写申请所需物品', input_html: { data: {'parsley-required': true} } %>
                <div class="form-group">
                  <label class="col-md-2 control-label">申请图片：</label>
                  <div class="col-sm-9">
                   <%= webuploader_tag 'image_ids[]', label: '上传图片', type: 'project_season_apply_image', asset: @project_apply.images %>
                    <!--<span style="color: red">注意：左起第一张图片为展示第一张图片</span>-->
                    <p class="help-block">支持上传png、jpg格式 ，图片尺寸888X510px</p>
                  </div>
                </div>

                <div style="margin-bottom: 20px;" class="form-group">
                  <label class="col-md-2 control-label select required" for="project_category_id">所在地区：</label>
                  <div class="col-sm-6">
                    <div class="row city-group">
                      <div class="col-sm-3">
                        <%= select_tag 'project_season_apply[province]', options_for_select(ChinaCity.list, @project_apply.province.presence), prompt: '省份', class: "form-control city-select", required: true %>
                      </div>
                      <div class="col-sm-3">
                        <%= select_tag 'project_season_apply[city]', options_for_select(ChinaCity.list(@project_apply.province.to_s), @project_apply.city.presence), prompt: '城市', class: "form-control city-select", required: true %>
                      </div>
                      <div class="col-sm-3">
                        <%= select_tag 'project_season_apply[district]', options_for_select(ChinaCity.list(@project_apply.city.to_s), @project_apply.district.presence), prompt: '地区', class: "form-control city-select", required: true %>
                      </div>
                    </div>
                  </div>
                </div>
                <%= f.input :address, label: '详细地址：', placeholder: '详细地址', input_html: { data: {'parsley-required': true}} %>
                <%= f.input :contact_name, label: '收货人：', placeholder: '收货人', input_html: { data: {'parsley-required': true}} %>
                <%= f.input :contact_phone, label: '联系电话：', placeholder: '联系电话', input_html: { data: {'parsley-required': true}} %>
              </div>
              <div class="form-actions">
                <div class="row">
                  <div class="col-md-offset-2 col-md-9">
                    <%= f.button :submit, '提交', class: 'btn blue' %>
                    <%= link_to '取消', admin_read_applies_path, class: 'btn' %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function(){
        initMultiImageWebuploader($('#webuploader'));
//        $('.upload-list').viewer();
        $("#goods").nestedAttributes({
          bindAddTo: $("#goods_add_another"),
          afterAdd: function(el){
            $(el).find('.target-amount').val('')
            $(el).find('.class_grade option:last').attr("selected","selected")
            $(el).find('.class_state option:last').attr("selected","selected")
          }
        });
        // 异步加载学校列表
        $('.schools-ajax').select2({
            language: "zh-CN",
            placeholder: '请选择学校',
            allowClear: true,
            ajax: {
                url: "/selects/schools",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            }
        });
        // 异步加载批次列表
        $('.seasons-ajax').select2({
            language: "zh-CN",
            placeholder: '请选择批次',
            allowClear: true,
            ajax: {
                url: "/selects/seasons",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page,
                        project_id: 2
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            }
        });
    })
</script>
