<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-sliders font-dark"></i>
      <span class="caption-subject font-dark bold uppercase">审核阅读<%= @project_apply.enum_name(:bookshelf_type) %>项目申请</span>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <tbody>
        <tr>
          <th>
            申请编号
          </th>
          <th colspan="5">
            <%= @project_apply.apply_no %>
          </th>
        </tr>
        <tr>
          <th>
            申请学校
          </th>
          <th colspan="5">
            <%= @project_apply.school.try(:name) %>
          </th>
        </tr>
        <tr>
          <th>
            申请批次
          </th>
          <th colspan="5">
            <%= @project_apply.season.try(:name) %>
          </th>
        </tr>
        <tr>
          <th>
            收货人
          </th>
          <th colspan="5">
            <%= @project_apply.contact_name %>
          </th>
        </tr>
        <tr>
          <th>
            联系方式
          </th>
          <th colspan="5">
            <%= @project_apply.contact_phone %>
          </th>
        </tr>
        <tr>
          <th>
            申请理由
          </th>
          <th colspan="5">
            <%= @project_apply.describe %>
          </th>
        </tr>
        <tr>
          <th>
            申请图片
          </th>
          <th colspan="5">
            <% @project_apply.images.each do |image| %>
                <%= image_tag image.try(:file).try(:url, :small) %>
            <% end %>
          </th>
        </tr>
        <% if @project_apply.whole? %>
            <tr>
              <th rowspan="<%= @project_apply.bookshelves.count + 2 %>">
                申请班级
              </th>
              <th>班级</th>
              <th>筹款金额</th>
              <th>审核状态</th>
            </tr>
            <tr>
              <% @project_apply.bookshelves.each do |shelf| %>
                <tr>
                  <th><%= shelf.classname %></th>
                  <th><%= shelf.target_amount %></th>
                  <th><%= shelf.enum_name(:audit_state) %></th>
                </tr>
            <% end %>
            </tr>
        <% else %>
            <tr>
              <th rowspan="<%= @project_apply.supplements.count + 2 %>">
                申请班级
              </th>
              <th>班级</th>
              <th>损耗数量</th>
              <th>补书数量</th>
              <th>筹款金额</th>
              <th>审核状态</th>
            </tr>
            <tr>
              <% @project_apply.supplements.each do |shelf| %>
                <tr>
                  <th><%= shelf.bookshelf.classname %></th>
                  <th><%= shelf.loss %></th>
                  <th><%= shelf.supply %></th>
                  <th><%= shelf.target_amount %></th>
                  <th><%= shelf.enum_name(:audit_state) %></th>
                </tr>
            <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="portlet-body form">
      <%= simple_form_for [:admin, @project_apply], url: check_admin_read_apply_path, method: :patch, wrapper: :admin_form, html: {id: 'approve-form', 'data-parsley-validate': true} do |f| %>
          <%= f.error_notification %>
          <div class="form-body form-horizontal">
            <%= f.input :audit_state, as: :radio_buttons, wrapper: :inline_inputs, collection: ProjectSeasonApply.options_for_some_select(:audit_states, ['pass', 'reject']), label: '审核状态：', required: true, input_html: {class: 'approve_state', onclick: 'toggleState();'} %>
            <div class="approve_reject">
              <%= f.input :approve_remark, label: '审核备注：', input_html: {class: 'form-control', placeholder: '', value: @project_apply.audits.try(:last).try(:comment)}, required: true %>
            </div>
            <div class="form-actions">
              <div class="row">
                <div class="col-md-offset-3 col-md-9">
                  <%= f.button :submit, '提交', class: 'btn green' %>
                  <%= link_to '取消', admin_read_applies_path, class: 'btn' %>
                </div>
              </div>
            </div>
          </div>
          </div>
      <% end %>
      </div>
</div>
<script type="text/javascript">
    function toggleState() {
        toggleRadioInput('.approve_state', {
            reject: '.approve_reject'
        })
    }

    toggleState();
</script>
