<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note">新增补书申请</i>
      <span class="caption-subject"></span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">

    <div class="form-body form-horizontal">
      <div class="row">
        <div class="col-md-12">

          <%= simple_form_for [:admin, @project_apply], url: supply_create_admin_read_applies_path, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'form-horizontal project_form'} do |f| %>
              <%= f.error_notification %>
              <div class="form-body">
                <%= f.input :project_season_id, as: :select, label: '申请批次：', require: true, input_html: {data: {'parsley-required': true}, class: 'seasons-ajax'} %>
                <%= f.input :school_id, as: :select, label: '申请学校：', require: true, input_html: {data: {'parsley-required': true}, class: 'schools-ajax'} %>
                <%#= static_form_control '学校总人数：' %>
                <%#= static_form_control '班级总数：' %>

                <div class="portlet light bordered">
                  <div class="portlet-title">
                    <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">申请班级</span>
                  </div>
                  <div class="actions">
                      <a class="btn btn-info btn-xs" href="#" id="goods_add_another"><i class="fa fa-plus"></i> 添加班级</a>
                    </div>
                  </div>
                  <div class="portlet-body">
                    <div class="table-scrollable">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th> 补书班级 </th>
                            <th> 损耗 </th>
                            <th> 补充 </th>
                            <!-- <th> 筹款金额 </th> -->
                            <th> 审核状态 </th>
                            <th> 删除操作 </th>
                          </tr>
                        </thead>
                        <tbody id="goods">
                          <% @project_apply.supplements.build if @project_apply.supplements.blank? %>
                          <%= f.fields_for :supplements, wrapper: 'inline_inputs' do |b| %>
                          <tr class="class-count">
                            <%#= b.hidden_field :school_id, value: 2 %>
                            <%#= b.hidden_field :project_season_id, value: @project_apply.project_season_id %>
                            <td>
                              <%= b.input :project_season_apply_bookshelf_id, as: :select, collection: ['请选择学校'], label: false, input_html: {data: {'parsley-required': true}, class: 'classes-ajax', onchange: "onClassChange()"} %>
                            </td>
                            <td>
                              <%= b.input :loss, type: 'number', min: 0, label: false, input_html: {data: {'parsley-required': true}, class: 'loss-count', placeholder: '请填写数量'} %>
                            </td>
                            <td>
                              <%= b.input :supply, type: 'number', min: 0, label: false, input_html: {data: {'parsley-required': true}, class: 'supply-count', placeholder: '请填写数量'} %>
                            </td>
                            <!-- <td>
                              <%#= b.input :target_amount, type: 'number', min: 0, label: false, input_html:{ class: 'target-amount', placeholder: '请填入筹款金额', value: '', data: {'parsley-required': true} }  %>
                            </td> -->
                            <td>
                              <%= b.input :audit_state, as: :select, wrapper: :inline_inputs, collection: BookshelfSupplement.options_for_select(:audit_states), include_blank: false, label: false, input_html: {class: 'supplement_state', data: {'parsley-required': true} } %>
                            </td>
                            <td>
                              <a href="#" class="destroy"><i class="fa fa-remove font-red-soft"></i></a>
                            </td>
                          </tr>

                          <% end %>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>
                <%= f.input :describe, label: '申请内容：', placeholder: '请填写申请所需物品', input_html: { data: {'parsley-required': true} } %>
                <%= f.input :describe, label: '申请理由：', placeholder: '请填写申请理由', input_html: { data: {'parsley-required': true} } %>
                <div class="form-group">
                  <label class="col-md-2 control-label">申请图片：</label>
                  <div class="col-sm-9">
                    <%= webuploader_tag 'image_ids[]', label: '上传图片', type: 'project_season_apply_image', asset: @project_apply.images %>
                    <span style="color: red">注意：左起第一张图片为展示第一张图片</span>
                  </div>
                </div>

                <div style="margin-bottom: 20px;" class="form-group">
                  <label class="col-md-2 control-label select required" for="project_category_id">所在地区：</label>
                  <div class="col-sm-6">
                    <div class="row city-group">
                      <div class="col-sm-3">
                        <%= select_tag 'project_season_apply[province]', options_for_select(ChinaCity.list, @project_apply.province.presence), prompt: '省份', class: "form-control city-select" %>
                      </div>
                      <div class="col-sm-3">
                        <%= select_tag 'project_season_apply[city]', options_for_select(ChinaCity.list(@project_apply.province.to_s), @project_apply.city.presence), prompt: '城市', class: "form-control city-select" %>
                      </div>
                      <div class="col-sm-3">
                        <%= select_tag 'project_season_apply[district]', options_for_select(ChinaCity.list(@project_apply.city.to_s), @project_apply.district.presence), prompt: '地区', class: "form-control city-select" %>
                      </div>
                    </div>
                  </div>
                </div>
                <%= f.input :address, label: '详细地址：', placeholder: '详细地址', input_html: { data: {'parsley-required': true}} %>
                <%= f.input :contact_name, label: '收货人：', placeholder: '收货人', input_html: { data: {'parsley-required': true}} %>
                <%= f.input :contact_phone, label: '联系电话：', placeholder: '联系电话', input_html: { data: {'parsley-required': true}} %>
              </div>
              <div class="form-actions">
                <div class="row">
                  <div class="col-md-offset-2 col-md-9">
                    <%= f.button :submit, '提交', class: 'btn blue' %>
                    <%= link_to '取消', admin_read_applies_path, class: 'btn' %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function onClassChange(){
      $('.classes-ajax option').attr('disabled', false)
      $('.classes-ajax').each(function(i,el){
        var val = $(el).val()
        if(!val) return
        $('.classes-ajax option:not(:selected)[value='+val+']').attr('disabled',true)
      })
    }
    $(function(){
        initMultiImageWebuploader($('#webuploader'));
        $('.upload-list').viewer();
        $("#goods").nestedAttributes({
          bindAddTo: $("#goods_add_another"),
          beforeAdd: function(el){
            school = $('.schools-ajax').select2("val")
            classes = $('.classes-ajax')[0].options.length
            use_classes = $("#goods tr").length
            empty_class = $('.classes-ajax').last().val()
            if (!school) {
              toastr.error('请先选择学校！', '' ,{"positionClass": "toast-top-center"})
            } else if (empty_class === null) {
              toastr.error('请选择补书班级！', '' ,{"positionClass": "toast-top-center"})
            } else if (classes === use_classes) {
              toastr.error('没有更多可选班级了！', '' ,{"positionClass": "toast-top-center"})
            } else {
              return true
            }
          },
          afterAdd: function(el){
            $(el).find('.loss-count').val('')
            $(el).find('.supply-count').val('')
            $(el).find('.target-amount').val('')
            $(el).find('.supplement_state option:last').attr("selected","selected")
            onClassChange()
            $(el).find('.classes-ajax option:not(:disabled):last').attr("selected", "selected")
          },
          afterDestroy: function(el){
            onClassChange()
          }
        });
        // 异步加载学校列表
        $('.schools-ajax').select2({
            language: "zh-CN",
            placeholder: '请选择学校',
            allowClear: true,
            ajax: {
                url: "/selects/bookshelf_schools",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            }
        });
        // 异步加载批次列表
        $('.seasons-ajax').select2({
            language: "zh-CN",
            placeholder: '请选择批次',
            allowClear: true,
            ajax: {
                url: "/selects/seasons",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page,
                        project_id: 2
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            }
        });
        $('.schools-ajax').change(function(event) {
          school = $('.schools-ajax').select2("val"),
          $.get('/selects/school_bookshelves',{school: school})
          .done(function(data) {
            console.log("success");
            classes = data.items,
            console.log('datas: ' + data)
            console.log('classes: ' + classes)
            $(".classes-ajax").empty();
            classes.forEach(function(el) {
              $(".classes-ajax").append("<option value="+ el.id +">" + el.classname + "</option>")
            });
          })
        });
    })
</script>
