<div id="detail">
  <div class="detail-head">
    <div class="child-detail-img clearfix">
      <%= image_tag @child.donate_by_user?(current_user) ? @child.avatar_url(:tiny) : 'project-reducepage-child.png' %>
      <div class="detail-cont pull-left">
        <div>
          <p class="detail-con-t"><%= @child.donate_by_user?(current_user) ? @child.name : @child.secure_name %>
            <span><%= @child.enum_name(:nation) %> | <%= @child.enum_name(:gender) %> <%= "| #{@child.child_birthday}" if @child.donate_by_user?(current_user) %></span>
          </p>
          <p class="detail-con-serial"><%= @child.gsh_no %> |
            <span style="margin-left: 0;"><%= @child.school.try(:name) %>
              | <%= @child.enum_name(:level) %> <%= @child.enum_name(:grade) %></span></p>
          <!-- <p class="detail-con-serial"> 杂多县新区第二民族中学 | 初中 一年级</p> -->
          <p class="detail-con-font"><%= @child.reason %></p>
        </div>
        <div class="detail-cont-foot border-t ">
          <p>资助学费<span>￥<%= @child.get_tuition %>/年</span></p>
          <div class="child-checked">
            <span>选择学期</span>
            <ul class="ui-choose  choose-type-right" multiple="multiple" id="uc_03">
              <% @gsh_child_grants.each do |grant| %>
                  <li class="semester"><%= grant.title %></li>
              <% end %>
            </ul>
          </div>
          <button id="donate-btn" class="child-but" data-semester="0">我要捐助</button>
        </div>
      </div>
    </div>
  </div>
  <div id="dtails-cont">
    <div class="detail-nav" id="navHeight">
      <div class="detail-fiexd ">
        <div class="fhNav clearfix">
          <div class="bottomLine"></div>
          <ul class="nav pull-left" id="tabnav">
            <li class="selectedNav">
              <span>申请详情</span>
            </li>
            <li>
              <span>执行反馈</span>
              <span class="navmark"><%= @grants.count %></span>
            </li>
          </ul>
          <span class="pull-right share" id="share-2"></span>
          <!-- <button class="pull-right share cur">分享</button> -->
        </div>
      </div>
    </div>
    <div class="detail-body clearfix" id="conttab">
      <!--申请详情-->
      <div class="details-left pull-left contentab" style="display: block;">
        <div class="detail-l-fon">
          <p class="detail-l-f-s-l">自我介绍：</p>
          <div><%= @child.description %></div>

          <% if @child.donate_by_user?(current_user) %>
              <p>父亲：<%= @child.father %> &nbsp;&nbsp;&nbsp;职业：<%= @child.father_job %></p>
              <p>母亲：<%= @child.mother %> &nbsp;&nbsp;&nbsp;职业：<%= @child.mother_job %></p>
              <p>监护人姓名：<%= @child.guardian %></p>
              <p>与其关系：<%= @child.guardian_relation %></p>
              <p>联系电话：<%= @child.guardian_phone %></p>
              <p>收入来源：<%= @child.income_source %></p>
              <p>家庭年收入：<%= @child.family_income %></p>
              <p>家庭住址：<%= @child.address %></p>
          <% end %>
          <p class="detail-l-f-s-l">家庭情况：</p>
          <div><%= @child.family_condition %></div>
          <p class="detail-l-f-s-l">家庭照：</p>
          <%= image_tag @child.room_image_url(:medium) %>
          <%= image_tag @child.yard_image_url(:medium) %>
        </div>
        <div class="detail-l-fon"><%= @child.formatted_information.html_safe %></div>
      </div>
      <!--反馈-->
      <% if @grants.present? %>
          <div class="pull-left detail-body-left border-l contentab">
            <ul class="detail-body-ul">
              <% @grants.each do |grant| %>
                  <li class="detail-body-cont" id="show<%= grant.id %>">
                    <span class="detail-body-hover iconfont icon-yuan"></span>
                    <div class="clearfix detail-font-tit">
                      <p class="pull-left"></p>
                      <span class="pull-right cur" onclick="showHideCode(<%= grant.id %>)"><span class="iconfont icon-arrowdown"></span>查看详情</span>
                    </div>
                    <div class="detail-body-title clearfix">
                      <span class="pull-left"><%= grant.grant_person %> ·</span>
                      <span class="pull-left"><%= grant.granted_at.strftime("%Y-%m-%d") if grant.granted_at.present? %>
                        由发布</span>
                    </div>
                    <div class="de-left-con read-more clearfix" id="showdiv">
                      <div class="de-left-con-fon"><%= grant.grant_remark %></div>
                      <div class="clearfix details-img">
                        <% if grant.images.present? %>
                            <% grant.images.each do |img| %>
                                <a data-magnify="gallery" href="<%= image_url img.try(:file).try(:url, nil).to_s %>">
                                  <%= image_tag img.try(:file).try(:url, :tiny).to_s, :style => "width:211px" %>
                                </a>
                            <% end %>
                        <% end %>
                      </div>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
      <% else %>
          <div class="not-available contentab pull-left">
            <div class="donation-cont-no">
              <div class="donation-co-no-c">
                <div class="donation-co-no-c-img">
                  <%= image_tag 'not-available.png' %>
                </div>
                <p>暂无执行反馈</p>
              </div>
            </div>
          </div>
      <% end %>
      <div class="pull-right detail-body-right">
        <p class="detail-b-r-t border-b"><span>捐助记录</span></p>
        <% if @donate_records.present? %>
            <ul class="detail-b-r-name" id="donate-records">
              <%= render '/site/donate_records/list', records: @donate_records, owner: @child, child: @child %>
            </ul>
        <% else %>
            <div class="not-available ">
              <div class="donation-cont-no">
                <div class="donation-co-no-c">
                  <p>暂无捐助记录</p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">
    // //图片展示
    $('[data-magnify]').magnify({
        headToolbar: [
            'close'
        ],
        initMaximized: true
    });
    // //内容信息导航吸顶
    $(document).ready(function () {
        var navHeight = $("#navHeight").offset().top;
        var navFix = $("#navHeight");
        $(window).scroll(function () {
            if ($(this).scrollTop() > navHeight) {
                navFix.addClass("navFix");
            }
            else {
                navFix.removeClass("navFix");
            }
        })
    })
    // $('.ui-choose').ui_choose({
    //   // 处理学期选择
    //   change: function () {
    //     var count = 0;
    //     $('.semester').each(function () {
    //       if($(this).hasClass('selected')) {
    //         count++ ;
    //       }
    //     })
    //     $('#donate-btn').data('semester', count);
    //   }
    // });

    $('.ui-choose li').on('click', function (el) {
        var li = $(el.target)
        // 如果自己没选中，将自己和之前的所有选中
        // 如果自己选中了，取消自己和之后的选中
        if (!li.hasClass('selected')) {
            li.addClass('selected')
            li.prevAll('li').addClass('selected')
        } else {
            li.removeClass('selected')
            li.nextAll('li').removeClass('selected')
        }
        // 处理学期选择
        var count = 0;
        $('.semester').each(function () {
            if ($(this).hasClass('selected')) {
                count++;
            }
            $('#donate-btn').data('semester', count);
        })
    });

    $('.circlechart').circlechart();
    $('#dtails-cont').myTab();
    $('.de-left-con-fon').hide()
    function showHideCode (id) {
        $("#show" + id + " .de-left-con").removeClass('read-more')
        $("#show" + id + " .detail-font-tit > span").css('display', 'none')
        $("#show" + id + " .details-img").css('display', 'block')
        $("#show" + id + " .de-left-con-fon").css({"white-space": "pre-wrap"})
        $("#show" + id + " .de-left-con-fon").show()
    }

    $('#donate-btn').click(function () {
        var semesterCount = $(this).data('semester');
        if (!semesterCount) {
            layer.msg('请勾选您要提交的学期', {icon: 2, offset: 't c'});
            return false
        }
        $.get("/ajaxes/get_child_priority",
            {
                child_id: <%= @child.id %>,
                donor_id: <%= current_user.id %>
            },
            function (data) {
                if (data.status) {
                    window.location.href = '<%= new_donate_path(child: @child.id) %>&semester_count=' + semesterCount;
                } else {
                    layer.msg(data.message, {
                        icon: 2,
                        offset: 't c'
                    });
                }
            });
    })
    $('#share-2').share({
        sites: ['qzone', 'wechat', 'weibo', 'qq'],
        title: '<%= @child.secure_name %>',
        url: '<%= Settings.root_url %>pairs/<%= @child.id %>/detail?m=<%= current_user.try(:id) %>',
        description: '<%= @child.secure_name %>',
        image: '<%= image_url 'project-reducepage-child.png' %>'
    });
</script>
