
<div id="detail">
  <div class="referral-head">
    <div class="referral-img">
      <%= image_tag @project.project_image.to_s %>
      <div class="referal-img-z"></div>
      <div class="referral-cont">
        <p class="referral-cont-p"><%= @project.name %></p>
        <p class="referral-cont-m">已累计捐助 <span><%= @project.total_amount %></span> 元</p>
        <%= link_to new_donate_path do %><button class="referral-cont-but">捐助<%= @project.name %></button><% end %>
      </div>
    </div>
  </div>

  <div id="dtails-cont">
  <div class="detail-nav " id="navHeight">
    <div class="detail-fiexd ">
      <div class="fhNav clearfix">
        <div class="bottomLine"></div>
        <ul class="nav pull-left" id="tabnav">
          <li class="selectedNav">
            <span>项目介绍</span>
          </li>
          <li>
            <span>项目报告</span>
            <span class="navmark"><%= @project_reports.count %></span>
          </li>
          <li>
            <span>回访报告</span>
            <span class="navmark"><%= @visit_reports.count %></span>
          </li>
          <li>
            <span>发放报告</span>
            <span class="navmark"><%= @grant_reports.count %></span>
          </li>
        </ul>
        <button class="pull-right share cur">分享</button>
        <%= link_to pairs_path do %><div class="pull-right referral-school cur"><%= @total %> 个孩子待结对</div><% end %>
        <!--<div class="pull-right referral-share">-->
          <!--<span class="iconfont icon-wechat"></span>-->
          <!--<span class="iconfont icon-wechat"></span>-->
          <!--<span class="iconfont icon-wechat"></span>-->
          <!--<span class="iconfont icon-wechat"></span>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div class="detail-body clearfix" id="conttab">
    <!--申请详情-->
    <div class="details-left pull-left contentab" style="display: block;">
      <!-- <p class="detail-l-title">护花申请详情</p> -->
      <p class="detail-l-fon"><%= @project.describe.html_safe %></p>
      <!-- <%= image_tag 'detail-reduce.png' %> -->
    </div>
    <!--报告-->
    <div class="pull-left detail-body-left border-l contentab">
      <ul class="detail-body-ul">
          <% @project_reports.each do |report| %>
            <li class="detail-body-cont" id="<%= report.id %>">
              <span class="detail-body-hover iconfont icon-yuan"></span>
              <div class="clearfix detail-font-tit">
                <p class="pull-left"><%= report.title %></p>
                <span class="pull-right cur" onclick="showHideCode(<%= report.id %>)"><span class="iconfont icon-arrowdown"></span>查看详情</span>
              </div>
              <div class="detail-body-title clearfix">
                <% if report.user.avatar.present? %>
                  <%= image_tag report.user.avatar.try(:file).try(:url, :tiny).to_s %>
                <% else %>
                  <%= image_tag '' %>
                <% end %>
                <span class="pull-left"><%= report.user.show_name %> ·</span>
                <span class="pull-left"><%= report.published_at.strftime("%Y-%m-%d")%>由发布</span>
              </div>
              <div class="de-left-con read-more clearfix">
                <p><%= report.content %></p>
                <div class="clearfix details-img">
                  <% if report.images.present? %>
                    <% report.images.each do |img|%>
                          <a data-magnify="gallery"  href="<%=image_url img.try(:file).try(:url, :medium).to_s%>">
                            <%= image_tag img.try(:file).try(:url, :tiny).to_s ,:style => "width:211px" %>
                          </a>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
      </ul>

      <ul class="detail-body-ul">
          <% @visit_reports.each do |report| %>
            <li class="detail-body-cont" id="<%= report.id %>">
              <span class="detail-body-hover iconfont icon-yuan"></span>
              <div class="clearfix detail-font-tit">
                <p class="pull-left"><%= report.title %></p>
                <span class="pull-right cur" onclick="showHideCode(<%= report.id %>)"><span class="iconfont icon-arrowdown"></span>查看详情</span>
              </div>
              <div class="detail-body-title clearfix">
                <% if report.user.avatar.present? %>
                  <%= image_tag report.user.avatar.try(:file).try(:url, :tiny).to_s %>
                <% else %>
                  <%= image_tag '' %>
                <% end %>
                <span class="pull-left"><%= report.user.show_name %> ·</span>
                <span class="pull-left"><%= report.published_at.strftime("%Y-%m-%d")%>由发布</span>
              </div>
              <div class="de-left-con read-more clearfix">
                <p><%= report.content %></p>
                <div class="clearfix details-img">
                  <% if report.images.present? %>
                    <% report.images.each do |img|%>
                          <a data-magnify="gallery"  href="<%=image_url img.try(:file).try(:url, :medium).to_s%>">
                            <%= image_tag img.try(:file).try(:url, :tiny).to_s ,:style => "width:211px" %>
                          </a>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
      </ul>

      <ul class="detail-body-ul">
          <% @grant_reports.each do |report| %>
            <li class="detail-body-cont" id="<%= report.id %>">
              <span class="detail-body-hover iconfont icon-yuan"></span>
              <div class="clearfix detail-font-tit">
                <p class="pull-left"><%= report.title %></p>
                <span class="pull-right cur" onclick="showHideCode(<%= report.id %>)"><span class="iconfont icon-arrowdown"></span>查看详情</span>
              </div>
              <div class="detail-body-title clearfix">
                <% if report.user.avatar.present? %>
                  <%= image_tag report.user.avatar.try(:file).try(:url, :tiny).to_s %>
                <% else %>
                  <%= image_tag '' %>
                <% end %>
                <span class="pull-left"><%= report.user.show_name %> ·</span>
                <span class="pull-left"><%= report.published_at.strftime("%Y-%m-%d")%>由发布</span>
              </div>
              <div class="de-left-con read-more clearfix">
                <p><%= report.content %></p>
                <div class="clearfix details-img">
                  <% if report.images.present? %>
                    <% report.images.each do |img|%>
                          <a data-magnify="gallery"  href="<%=image_url img.try(:file).try(:url, :medium).to_s%>">
                            <%= image_tag img.try(:file).try(:url, :tiny).to_s ,:style => "width:211px" %>
                          </a>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
      </ul>
    </div>

    <div class="pull-right detail-body-right">
      <p class="detail-b-r-t border-b"><span>捐助记录</span></p>
      <% if @donate_records.present? %>
        <ul class="detail-b-r-name" id="donate-records">
          <%= render '/site/donate_records/list', owner: @project, records: @donate_records %>
        </ul>
      <% else %>
        <div class="not-available ">
          <div class="donation-cont-no">
            <div class="donation-co-no-c">
              <p>暂无捐助记录</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
<script type="text/javascript">
    // //图片展示
    $('[data-magnify]').magnify({
        headToolbar: [
            'close'
        ],
        initMaximized: true
    });
    $('#dtails-cont').myTab()
    $('.circlechart').circlechart()
    function showHideCode(id) {
        $("#" + id + " > .de-left-con").toggleClass('read-more')
        $("#" + id + " > .detail-font-tit > span").css('display', 'none')
        $("#" + id + " .details-img").css('display', 'block')
    }
    // //内容信息导航吸顶
     $(document).ready(function () {
         var navHeight = $("#navHeight").offset().top;
         var navFix = $("#navHeight");
         $(window).scroll(function () {
             if ($(this).scrollTop() > navHeight) {
                 navFix.addClass("navFix");
             }
             else {
                 navFix.removeClass("navFix");
             }
         })
     })
</script>
