<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-sliders font-dark"></i>
      <span class="caption-subject font-dark bold uppercase">审核志愿者申请</span>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <thead>
        <colgroup>
          <col width="100">
          <col >
        </colgroup>
        </thead>
        <tbody>
        <tr>
          <td>
            姓名
          </td>
          <td  >
            <%= @apply.name %>
          </td>
        </tr>
        <tr>
          <td>
            性别
          </td>
          <td>
            <%= @apply.enum_name(:gender) %>
          </td>
        </tr>
        <tr>
          <td>
            联系方式
          </td>
          <td>
            <%= @apply.phone %>
          </td>
        </tr>

        <tr>
          <td>
            微信
          </td>
          <td>
            <%= @apply.wechat %>
          </td>
        </tr>
        <tr>
        <tr>
          <td>
            QQ
          </td>
          <td>
            <%= @apply.qq %>
          </td>
        </tr>
        <tr>
          <td>
            邮箱
          </td>
          <td>
            <%= @apply.email %>
          </td>
        </tr>
        <tr>
          <td>
            联系地址
          </td>
          <td>
            <%= @apply.simple_address %>
          </td>
        </tr>
        <tr>
          <td>
            身份证
          </td>
          <td>
            <%= @apply.id_card %>
          </td>
        </tr>
        <tr>
          <td>
            个人简介
          </td>
          <td>
            <%= @apply.describe %>
          </td>
        </tr>
        <tr>
          <td>
            证件照片
          </td>
          <td>
            <%= image_tag @apply.image_url(:tiny) %>
          </td>
        </tr>
        <tr>
          <td>
            技能特长
          </td>
          <td>
            <%= @apply.majors.map(&:name).join(', ') %>
          </td>
        </tr>
        <tr>
          <td>
            获知渠道
          </td>
          <td>
            <%= @apply.source %>
          </td>
        </tr>
        <tr>
          <td>
            志愿者经历
          </td>
          <td>
            <%= @apply.experience %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="portlet-body form">
      <%= simple_form_for [:admin, @apply], url: admin_volunteer_apply_path, method: :patch, wrapper: :admin_form, html: {id: 'approve-form', 'data-parsley-validate': true} do |f| %>
          <%= f.error_notification %>
          <div class="form-body form-horizontal">
            <%= f.input :approve_state, as: :radio_buttons, wrapper: :inline_inputs, collection: Volunteer.options_for_some_select(:approve_states, ['pass', 'reject']), checked: 'pass', label: '审核状态：', required: 'required', input_html: { class: 'approve_state', onclick: 'toggleState();'} %>
            <div class="approve_reject">
              <%= f.input :approve_remark, label: '审核备注：', input_html: {class: 'form-control', placeholder: '', style: 'height: 200px'}, required: true %>
            </div>
            <div class="form-actions">
              <div class="row">
                <div class="col-md-offset-3 col-md-9">
                  <%= f.button :submit, '提交', class: 'btn green' %>
                  <%= link_to '取消', admin_volunteer_applies_path, class: 'btn' %>
                </div>
              </div>
            </div>
          </div>
          </div>
      <% end %>
      </div>
</div>
<style scoped>
  .table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    font-weight: 600;
  }
</style>
<script type="text/javascript">
    function toggleState(){
        toggleRadioInput('.approve_state', {
            reject: '.approve_reject'
        })
    }
    toggleState();
</script>
