<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i>志愿者申请
    </div>
    <div class="actions">
    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= search_form_for @search, url: admin_volunteer_applies_path, class: 'form-inline' do |f| %>
              <div class="form-group">
                <%= f.label :name_cont, '搜索志愿者' %>
                <%= f.text_field :name_or_phone_cont, class: 'form-control', placeholder: '姓名、手机号' %>
              </div>
              <button type="submit" class="btn btn-default grey">搜索</button>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right">
          </div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
          <tr>
            <th>
              编号
            </th>
            <th>
              姓名
            </th>
            <th>
              联系方式
            </th>
            <th>
              个人简介
            </th>
            <th>
              操作
            </th>
          </tr>
          </thead>
          <tbody>
          <% @applies.each do |apply| %>
              <tr>
                <td>
                  <%= apply.volunteer_apply_no %>
                </td>
                <td>
                  <%= apply.name %>
                </td>
                <td>
                  <%= apply.phone %>
                </td>
                <td>
                  <%= apply.describe %>
                </td>
                <td>
                  <%= link_to edit_admin_volunteer_apply_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                      <i class="fa fa-gavel"></i> 审核
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@applies) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @applies, theme: 'admin' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
