<div class="speciais clearfix">
  <div class="speciais-left pull-left ">
    <div class="speciais-con">
      <div class="donations-1 border-b" >
        <ul class="donations1 clearfix">
          <li class="cur selectedDo"><%= link_to articles_path do %>资讯
            <div class="bottomline"></div><% end %></li>
          <li class="cur selectedDo "><%= link_to specials_path do %>专题
            <div class=""></div><% end %></li>
        </ul>
      </div>
      <%= render '/site/articles/list', articles: @articles %>
    </div>
  </div>
  <div class="speciais-right pull-right ">
    <div class="donations-1" >
      <ul class="donations1 clearfix">
        <li class="cur selectedDo">热门资讯</li>
      </ul>
    </div>
    <% @recommend_articles.limit(5).each do |recommend_article| %>
      <%= link_to article_path(recommend_article) do %>
        <div class="<%= recommend_article == @recommend_articles.first ? 'speciais-right-pos' : 'clearfix speciais-right-cont' %>">
          <% if recommend_article != @recommend_articles.first %>
            <div class="speciais-con-img pull-left">
          <% end %>
          <%= image_tag recommend_article.image.try(:file).try(:url, :tiny).to_s %>
          <% if recommend_article != @recommend_articles.first %>
            </div>
          <% end %>
          <div class="speciais-con-con <%= recommend_article == @recommend_articles.first ? '' : 'pull-left' %>">
            <% if recommend_article == @recommend_articles.first %>
              <div></div>
            <% end %>
            <p class="gsh-cont-2"><%= recommend_article.title %></p>
            <% if recommend_article != @recommend_articles.first %>
              <p class="gsh-cont-1"><%= recommend_article.author %> |  <%= recommend_article.published_at.strftime("%Y年%m月%d日") %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
