  <div class="camps-detail">
  <div class="camps-body-detail border-b">
    <p><%= @article.title %></p>
    <p class="articles-time"><%= @article.author %> |  <%= @article.published_at.strftime("%Y年%m月%d日")%> </p>
    <div class="camps-bodys articles-cont">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <%= image_tag 'activity-detail.png' %>
          </div>
          <div class="swiper-slide">
            <%= image_tag 'activity-detail.png' %>
          </div>
          <div class="swiper-slide">
            <%= image_tag 'activity-detail.png' %>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next">
          <span class="iconfont icon-arrow-left bul-icon-next"></span>
        </div>
        <div class="swiper-button-prev">
          <span class="iconfont icon-arrow-left bul-icon-prev"></span>
        </div>
      </div>
    </div>
    <p class="camps-cont-detail">
      <%= strip_tags @article.content %>
    </p>
    <div class="camps-share">
      <p>分享到：</p>
      <ol>


        <li class="row" style="padding: 30px 268px;">
          <div id="share-2"></div>
        </li>

      </ol>
    </div>
  </div>
  <div class="recommend">
    <p>推荐资讯</p>
    <div class="row recommend-cont">
      <div class="col-md-4">
        <div class="recommend-img">
          <%= image_tag 'gsh-img-1.png' %>
        </div>
        <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
        <p class="gsh-cont-2">西滩寄小“寻宝藏，探成都”，我把学到的本领教给其他同学啦</p>
      </div>
      <div class="col-md-4">
        <div class="recommend-img">
          <%= image_tag 'gsh-img-1.png' %>
        </div>
        <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
        <p class="gsh-cont-2">西滩寄小“寻宝藏，探成都”，我把学到的本领教给其他同学啦</p>
      </div>
      <div class="col-md-4">
        <div class="recommend-img">
          <%= image_tag 'gsh-img-1.png' %>
        </div>
        <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
        <p class="gsh-cont-2">西滩寄小“寻宝藏，探成都”，我把学到的本领教给其他同学啦</p>
      </div>
    </div>
  </div>
</div>
<script>
    $('#share-2').share({
        sites: ['qzone', 'wechat', 'weibo', 'qq']
    });
    var mySwiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        centeredSlides: true,
        loop: true,
        autoplay: true,
        pagination: {
            el: '.swiper-pagination',
            clickable :true
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        }
    });
</script>
