  <div class="camps-detail">
  <div class="camps-body-detail border-b">
    <p class="camps-title-font"><%= @article.title %></p>
    <p class="articles-time"><%= @article.author %> |  <%= @article.published_at.strftime("%Y年%m月%d日")%> </p>
    <!--<div class="camps-bodys articles-cont">-->
      <!--<div class="slide-box-demo2">-->
        <!--<div class="slide-box ">-->
          <!--<div class="slide-con">-->
            <!--<div class="slide-out">-->
                <!--<% @article.carousel_images.each do |carousel_image| %>-->
                    <!--<div class="slide-li pull-left" style="height: 460px;" >-->
                      <!--<%= image_tag carousel_image.try(:file).try(:url, :large).to_s , style:'width:100%;height:460px;' %>-->
                    <!--</div>-->
                <!--<% end %>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="slide-page">-->
            <!--<div class="slide-button-prev" id="slide-button-prev"><span class="iconfont icon-arrow-left bul-icon-prev"></span></div>-->
            <!--<div class="slide-button-next" id="slide-button-next" style="right:112px;">-->
              <!--<span class="iconfont icon-arrow-left bul-icon-next"></span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="camps-cont-detail">
      <%= @article.content.html_safe %>
    </div>
    <div class="camps-share">
      <p>分享到：</p>
      <ol>
        <li class="row" style="padding: 30px 225px;">
          <div id="share-2"></div>
        </li>
      </ol>
    </div>
  </div>
  <div class="recommend">
    <p>推荐资讯</p>
    <div class="row recommend-cont">
      <% @recommend_articles.each do |recommend_article| %>
        <div class="col-md-4">
          <%= link_to article_path(recommend_article) do %>
            <div class="recommend-img">
              <%= image_tag recommend_article.image.try(:file).try(:url, :medium).to_s %>
            </div>
              <p class="gsh-cont-1 clearfix"><span class="ui-nowrap pull-left" style=" max-width: 240px;padding-right: 5px;"><%= recommend_article.author %></span> <span class="pull-left">| <%= recommend_article.published_at.strftime("%Y年%m月%d日") if recommend_article.published_at.present? %></span></p>
            <p class="gsh-cont-2"><%= recommend_article.title %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
    $('#share-2').share({
        sites: ['qzone', 'wechat', 'weibo', 'qq'],
        url: '<%= Settings.root_url %>articles/<%= @article.id %>'

    });
    $('.slide-box-demo2').setSlide({
        isBlock:true,
        pagination:false,
        slideLiw:800,
        slideLih:460,
        autoPlay:true,
        slideTime: 2500,
        switchingSpeed:400
    })
</script>
