<%= simple_form_for [:admin, @income_record], wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'category_form'} do |f| %>
  <%= f.error_notification %>
  <div class="form-body form-horizontal">

    <%= f.input :title, label: '收入名称：', placeholder: '', required: true %>
    <div class="form-group">
      <label class="col-md-2 control-label">
        <abbr title="必填项">*</abbr>
        财务分类：
      </label>
      <div class="col-sm-9">
        <select id="fund" class="form-control select optional" name="income_record[fund_id]" required <%= !(can? :manage_superadmin, current_user) ? 'disabled' : '' %>>
          <option value="">请选择财务分类</option>
          <% FundCategory.sorted.each do |fc| %>
              <optgroup label="<%= fc.name %>">
                <% fc.funds.sorted.each do |fund| %>
                    <option value="<%= fund.id %>" <%= 'selected' if @income_record.fund_id == fund.id %>><%= fc.name %> - <%= fund.name %></option>
                <% end %>
              </optgroup>
          <% end %>
        </select>
      </div>
    </div>
    <%= f.input :income_source_id, as: :select, collection: IncomeSource.sorted, label: '入账账户：', include_blank: '选择账户', required: true, disabled: !(can? :manage_superadmin, current_user) %>
    <%= f.input :amount, label: '收入金额：', require: true, type: 'number', input_html: {}, disabled: !(can? :manage_superadmin, current_user) %>
    <%= f.input :donor_id, as: :select, collection: User.sorted, label: '捐助人：', input_html: {class: 'donor-users-ajax'}, required: true, disabled: !(can? :manage_superadmin, current_user) %>
    <%= f.input :agent_id, as: :select, collection: User.sorted, label: '代捐人/汇款人：', input_html: {class: 'agent-users-ajax'}, disabled: !(can? :manage_superadmin, current_user), hint: '没有可不选，默认为捐助人' %>
    <div class="form-group">
      <label class="col-md-2 control-label">捐助时间：</label>
      <div class="col-sm-9">
        <%= f.text_field :income_time, class: 'datetime-picker', placeholder: '捐助时间', required: true, disabled: !(can? :manage_superadmin, current_user) %>
      </div>
    </div>
    <%= f.input :remark, label: '备注：', placeholder: '备注' %>
    <%= f.input :voucher_state, as: :radio_buttons, wrapper: :inline_inputs, collection: IncomeRecord.options_for_enum_select(:voucher_states), label: '开票状态：'%>
  </div>
  <div class="form-actions">
    <div class="row">
      <div class="col-md-offset-2 col-md-9">
        <%= f.button :submit, '提交', class: 'btn blue' %>
        <%= link_to '取消', admin_income_records_path, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>
i
<script>
    $(function(){

        $("#fund").select2({
            language: "zh-CN"
        });

        $('.donor-users-ajax').select2({
            language: "zh-CN",
            placeholder: '',
            allowClear: true,
            ajax: {
                url: "/selects/all_users",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name_for_select,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            }
        });

        $('.agent-users-ajax').select2({
            language: "zh-CN",
            placeholder: '',
            allowClear: true,
            ajax: {
                url: "/selects/all_users",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name_for_select,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            }
        });
    })
</script>
