<%= simple_form_for [:platform, @apply], url: @apply.new_record? ? platform_school_apply_reads_path : platform_school_apply_read_path , html: {'data-parsley-validate': true, class: 'user_form'} do |f| %>
    <div class="addchild-list marginbottom">
      <p class="don-title">申请信息</p>
      <div class="addchild-list-cont">
        <div class="clearfix">
          <span class="goodtext pull-left">申请学校</span>
          <div class="pull-left">
            <button type="button" class="scool-edit-name" disabled><%= @school.name %></button>
          </div>

        </div>
        <!--<div>-->
        <!--<span class="goodtext">申请批次</span>-->
        <!--<div>-->
        <!--<button type="button" class="scool-edit-name" disabled>2018年度</button>-->
        <!--</div>-->

        <!--</div>-->
        <% if @apply.new_record? %>
        <div class="clearfix">
          <span class="goodtext pull-left">申请批次</span>
          <div class="pull-left">
            <%= f.input :project_season_id, as: :select, collection: Project.read_project.seasons.enable.sorted.collect {|s| [s.name, s.id]}, include_blank: '请选择申请年度', label: false, required: true, input_html: {id: 'allcamps',data: {parsley_required: true,'parsley-errors-container': '#season-errors'}} %>
          </div>
          <div id="season-errors" class="errors"></div>
        </div>
          <% else %>
          <div class="clearfix">
            <span class="goodtext pull-left">申请批次</span>
            <div class="pull-left">
              <%= f.input :project_season_id, as: :select, collection: Project.read_project.seasons.enable.sorted.collect {|s| [s.name, s.id]}, include_blank: '请选择申请年度', label: false, required: true, disabled: true, input_html: {id: 'allcamps',data: {parsley_required: true,'parsley-errors-container': '#season-errors'}} %>
            </div>
            <div id="season-errors" class="errors"></div>
          </div>
          <% end %>
        <div class="clearfix">
          <span class="goodtext pull-left">学生总数</span>
          <div class="modified modified-1 pull-left">
            <span class="iconfont icon-ico-reduce oversmin"></span>
            <input type="number" name="project_season_apply[student_number]" value="<%= @apply.student_number %>" min="1"  class="oversinputs" data-parsley-required="true" data-parsley-errors-container= "#sutdent-errors"/>
            <span class="iconfont icon-ico-add1 oversadd"></span>
          </div>
          <div id="sutdent-errors" class="errors"></div>
        </div>
        <div class="clearfix">
          <span class="goodtext pull-left">班级总数</span>
          <div class="modified modified-2 pull-left">
            <span class="iconfont icon-ico-reduce oversmin"></span>
            <input type="number" value="<%= @apply.class_number %>" min="1" name="project_season_apply[class_number]" class="oversinputs" data-parsley-required="true" data-parsley-errors-container= "#class-errors"/>
            <span class="iconfont icon-ico-add1 oversadd"></span>
          </div>
          <div id="class-errors" class="errors"></div>
        </div>
        <%= render 'dynamic_form', apply: @apply, model: :project_season_apply %>
      </div>
    </div>


    <div class="addchild-list addchild-list-up marginbottom">
      <p class="don-title">申请班级管理</p>
      <div class="reads-new-cont">
        <div id="bookshelf-list">
          <% @apply.bookshelves.each do |bookshelf| %>
              <div class="clearfix" id="<%= 'bookshelf-'+ bookshelf.id.to_s %>">
                <span class="pull-left"><%= bookshelf.classname %></span>
                <span class="pull-left"><%= bookshelf.student_number %>人</span>
                <div class="pull-right">
                  <div class="clearfix don-con-pos">
                    <div class="pull-right cur delete-offline-user" onclick="deleteBookshelf(<%= bookshelf.id %>)">
                      <span class="iconfont icon-ico-delete1"></span>
                      <span>删除</span>
                    </div>
                    <div class="pull-right cur edit-offline-user" onclick="editBookshelf(<%= bookshelf.id %>)">
                      <span class="iconfont icon-ico-edit "></span>
                      <span>编辑</span>
                    </div>
                  </div>
                </div>
                <input hidden name="project_season_apply[class_ids][]" value="<%= bookshelf.id %>">

              </div>
          <% end %>
        </div>
        <button type="button" class="school-apply-share-sub addnewclass">
          <span class="iconfont icon-ico-add1"></span>
          <span>新增申请班级</span>
        </button>
      </div>
      <div class="addchild-list-cont ">
        <div class="clearfix">
          <span class="goodtext pull-left">申请理由</span>
          <textarea name="project_season_apply[describe]" class="pull-left" required><%= @apply.describe %></textarea>
        </div>
        <div class="clearfix">
          <span class="goodtext pull-left">上传图片</span>
          <div class="pull-left">
            <div style="height: 100%;" >
              <%= webuploader_images 'image_ids[]', label: '上传图片', type: 'project_season_apply_image', asset: @apply.images, id: 'images' %>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="addchild-list addnewreads ">
      <p class="don-title">收货信息</p>
      <div class="addchild-list-cont">
        <div class="clearfix">
          <span class="goodtext pull-left">收货人</span>
          <input class="goodinput pull-left" type="text" name="project_season_apply[contact_name]"  placeholder="请填写收货人姓名" value="<%= @apply.contact_name %>"  required/>
        </div>

        <div class="clearfix">
          <span class="goodtext pull-left">联系电话</span>
          <input class="goodinput  pull-left" type="text" name="project_season_apply[contact_phone]" value="<%= @apply.contact_phone %>" required data-parsley-phone/>
        </div>
        <div class="clearfix">
          <span class="goodtext pull-left">所在地区</span>
          <div class="city-group pull-left">
            <%= select_tag 'project_season_apply[province]', options_for_select(ChinaCity.list, @apply.province.presence), prompt: '省份', class: "city-select", id: 'province', required: true, data: {'parsley-errors-container': '#distirct-errors'} %>
            <%= select_tag 'project_season_apply[city]', options_for_select(ChinaCity.list(@apply.province.to_s), @apply.city.presence), prompt: '城市', class: "city-select", id: 'city', required: true, data: {'parsley-errors-container': '#distirct-errors'} %>
            <%= select_tag 'project_season_apply[district]', options_for_select(ChinaCity.list(@apply.city.to_s), @apply.district.presence), prompt: '地区', class: "city-select", id: 'district', required: true, data: {'parsley-errors-container': '#distirct-errors'} %>
          </div>
          <div id="distirct-errors" class="errors"></div>
        </div>
        <div class="clearfix">
          <span class="goodtext pull-left">详细地址</span>
          <input class="goodinput pull-left" type="text" name="project_season_apply[address]" placeholder="请输入详细地址" value="<%= @apply.address %>"  required/>
        </div>

      </div>
    </div>
    <div class="childern-submint">
      <button type="submit">保存</button>
      <button>
        <%= link_to '取消', platform_school_apply_reads_path %>
      </button>
    </div>

<% end %>
<div class="overspread-5 overspread-e">
  <div class="overspread-over"></div>
  <div class="overspread-cont">
    <div class="clearfix">
      <div class="pull-left mys-1">编辑申请班级</div>
      <div class="pull-right iconfont icon-icondelete cur overspread-but"></div>
    </div>
    <div class="overspread-co" id="edit-bookshelf">
      <input type="number" name="bookshelf_id" id="bookshelf-id" hidden>
      <div>
        <p class="goodtext">班级名称</p>
        <input type="text" name="classname" id="classname" required/>
      </div>
      <div>
        <p class="goodtext">班级人数</p>
        <input type="number" name="student_number" id="student-number" min="0" required/>
      </div>

    </div>
    <div class="overspreadsc-but overspread-but  over-but" id="update-bookshelf">保存</div>

  </div>
</div>
<div class="overspread-5 overspread-n">
  <div class="overspread-over"></div>
  <div class="overspread-cont">
    <div class="clearfix">
      <div class="pull-left mys-1">新增申请班级</div>
      <div class="pull-right iconfont icon-icondelete cur overspread-but"></div>
    </div>
    <div class="overspread-co" id="new-bookshelf">
      <div>
        <p class="goodtext">班级名称</p>
        <input type="text" name="classname" id="classname" required/>
      </div>
      <div>
        <p class="goodtext">班级人数</p>
        <input type="number" name="student_nember" id="student-number" min="0" required/>
      </div>

    </div>
    <div class="overspreadsc-but overspread-but  over-but" id="create-bookshelf">添加</div>

  </div>
</div>
<script>

    $("#allcamps").select2({
        width: "390px",
        minimumResultsForSearch: -1
    });
    $("#province").select2({
        width: "180px",
        minimumResultsForSearch: -1
    });
    $("#city").select2({
        width: "180px",
        minimumResultsForSearch: -1
    });
    $("#district").select2({
        width: "177px",
        minimumResultsForSearch: -1
    });
    $('.modified-1').calculate()
    $('.modified-2').calculate()
    $('.overspread-n').overs(".addnewclass");

    $(function () {
        initMultiImageWebuploader($('#images'), {}, 9);
//        新增申请班级
        $('#create-bookshelf').click(function () {
            var classname = $('#new-bookshelf #classname').val()
            var number = $('#new-bookshelf #student-number').val()
            if (classname.length > 0 && parseInt(number) > 0) {
                $.post("/ajaxes/create_read_bookshelf",
                    {
                        classname: classname,
                        number: number
                    },
                    function (data) {
                        if (data.status) {
//                            layer.msg(data.message, {
//                                icon: 0,
//                                offset: 't c'
//                            });
                            appendAnotherBookshelf(data.bookshelf)
                            $('#new-bookshelf #classname').val('')
                            $('#new-bookshelf #student-number').val('')
                        } else {
                            layer.msg(data.message, {
                                icon: 2,
                                offset: 't c'
                            });
                        }
                    });
            } else {
                layer.msg('请填写完整申请班级信息', {
                    icon: 2,
                    offset: 't c'
                });
            }
        })

        $('#update-bookshelf').click(function () {
            var classname = $('#edit-bookshelf #classname').val()
            var number = $('#edit-bookshelf #student-number').val()
            if (classname.length > 0 && parseInt(number) > 0) {
                $.post("/ajaxes/update_read_bookshelf",
                    {
                        id: $('#edit-bookshelf #bookshelf-id').val(),
                        classname: classname,
                        number: number
                    },
                    function (data) {
                        if (data.status) {
//                            layer.msg(data.message, {
//                                icon: 0,
//                                offset: 't c'
//                            });
                            replaceCurrentBookshelf(data.bookshelf)
                        } else {
                            layer.msg(data.message, {
                                icon: 2,
                                offset: 't c'
                            });
                        }
                    });
            } else {
                layer.msg('请填写完整申请班级信息', {
                    icon: 2,
                    offset: 't c'
                });
            }
        })
    })

    function replaceCurrentBookshelf(bookshelf) {
        $('#bookshelf-' + bookshelf.id).replaceWith(
            '<div class="clearfix" id="bookshelf-' + bookshelf.id + '">' +
            '              <span class="pull-left">' + bookshelf.classname + '</span>' +
            '              <span class="pull-left">' + bookshelf.student_number + '人</span>' +
            '              <div class="pull-right">' +
            '                <div class="clearfix don-con-pos">' +
            '                  <div class="pull-right cur delete-offline-user" onclick="deleteBookshelf(' + bookshelf.id + ')">' +
            '                    <span class="iconfont icon-ico-delete1"></span>' +
            '                    <span>删除</span>' +
            '                  </div>' +
            '                  <div class="pull-right cur edit-offline-user" onclick="editBookshelf(' + bookshelf.id + ')">' +
            '                    <span class="iconfont icon-ico-edit "></span>' +
            '                    <span>编辑</span>' +
            '                  </div>' +
            '                </div>' +
            '              </div>' +
            '          <input hidden name="project_season_apply[class_ids][]" value="' + bookshelf.id + '">' +

            '            </div>'
        )
        $('.overspread-e').overs(".edit-offline-user");
    }

    function appendAnotherBookshelf(bookshelf) {
        $('#bookshelf-list').append(
            '<div class="clearfix" id="bookshelf-' + bookshelf.id + '">' +
            '              <span class="pull-left">' + bookshelf.classname + '</span>' +
            '              <span class="pull-left">' + bookshelf.student_number + '人</span>' +
            '              <div class="pull-right">' +
            '                <div class="clearfix don-con-pos">' +
            '                  <div class="pull-right cur delete-offline-user" onclick="deleteBookshelf(' + bookshelf.id + ')">' +
            '                    <span class="iconfont icon-ico-delete1"></span>' +
            '                    <span>删除</span>' +
            '                  </div>' +
            '                  <div class="pull-right cur edit-offline-user" onclick="editBookshelf(' + bookshelf.id + ')">' +
            '                    <span class="iconfont icon-ico-edit "></span>' +
            '                    <span>编辑</span>' +
            '                  </div>' +
            '                </div>' +
            '              </div>' +
            '          <input hidden name="project_season_apply[class_ids][]" value="' + bookshelf.id + '">' +

            '            </div>'
        )
        $('.overspread-e').overs(".edit-offline-user");
    }

    function editBookshelf(val) {
        $.get("/ajaxes/edit_read_bookshelf",
            {id: val},
            function (data) {
                if (data.status) {
                    $('#edit-bookshelf #bookshelf-id').val(val)
                    $('#edit-bookshelf #classname').val(data.bookshelf.classname)
                    $('#edit-bookshelf #student-number').val(data.bookshelf.student_number)
                } else {
                    layer.msg(data.message, {
                        icon: 2,
                        offset: 't c'
                    });
                }
            });
    }

    function deleteBookshelf(val) {
        $.post("/ajaxes/delete_read_bookshelf",
            {id: val},
            function (data) {
                if (data.status) {
                    $('#bookshelf-' + val).remove()
                } else {
                    layer.msg(data.message, {
                        icon: 2,
                        offset: 't c'
                    });
                }
            });
    }

</script>
