<div class="person-body-right pull-right">

  <div style="display: block;">
    <p class="don-title border-b">项目管理</p>
      <div class="donations-1 clearfix">
        <ul class="donations1  clearfix">
          <li class="cur">一对一</li>
          <li class="cur border-l">护花</li>
          <li class="cur border-l border-r">护花课程</li>
          <li class="cur border-r">广播</li>
          <li class="cur border-r selectedDo">悦读</li>
          <li class="cur">探索营</li>
        </ul>
        <div class="bottomline"></div>
        <div class="add-reads">
          <button class=" school-apply-share-sub">
            <span class="iconfont icon-ico-add1"></span>
            <span>补书申请</span>
          </button>
          <button class=" school-apply-share-sub">
            <span class="iconfont icon-ico-add1"></span>
            <span>新书申请</span>
          </button>
        </div>
    </div>

    <% if @applies.present? %>
        <div class="school-apply-pair-table-co">
          <div class="school-apply-pair-table">
            <p>申请项目名称</p>
            <p>申请状态</p>
            <p>操作</p>
          </div>
          <% @applies.each do |apply| %>
              <div class="school-apply-pair-tables">
                <p>申请时间：<%= apply.created_at.strftime("%Y-%m-%d %H:%M") %> <span>申请编号：<%= apply.apply_no %></span></p>
                <div class="school-apply-pair-table-cont">
                  <div>
                    <p class="school-apply-pair-tit"><%= apply.apply_name %></p>
                     <p class="school-apply-pair-f">申请类型：<%= apply.enum_name(:bookshelf_type) %></p>
                     <p class="school-apply-pair-f">目标筹款/累计：<%= apply.target_amount %>元/<%= apply.present_amount %>元</p>

                  </div>
                  <div class="border-l border-r">
                    <%= apply.apply? ? apply.enum_name(:audit_state) : apply.enum_name(:read_state) %>
                  </div>
                  <div>
                    <button><%= link_to '查看申请详情', platform_school_apply_read_path(apply) %></button>
                    <% if apply.pass? %>
                        <button><%= link_to '查看班级' %></button>
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
    <% else %>
        <div class="donation-cont-non">
          <div class="donation-co-no-c">
            <p>您的学校暂未申请悦读项目</p>
          </div>
          <div class="donation-co-no-but">去捐助</div>
        </div>
    <% end %>


  </div>

  <div class="project-foot">
    <%= paginate @applies, theme: :tiny %>
  </div>
</div>
<script>


    //     右tab切换二级
    $(".donations1 li").on("click", function () {
        $(".donations1 li").removeClass("selectedDo")
        $(this).addClass("selectedDo")
        $(".bottomline").css("left", parseFloat($(this)[0].offsetLeft) + 31 + "px")
    })
    if ($('.donation .donation-cont').length === 0) {
        $('.donation-cont-no').css('display', 'block')
        $('.project-foot').css('display', 'none')
    } else {
        $('.donation-cont-no').css('display', 'none')
        $('.project-foot').css('display', 'block')
    }
    if ($('.school-apply-pair-table-co .school-apply-pair-tables').length === 0) {
        $('.donation-cont-no').css('display', 'block')
        $('.project-foot').css('display', 'none')
        $('.school-apply-pair-table-co').css('display', 'none')
    } else {
        $('.donation-cont-no').css('display', 'none')
        $('.project-foot').css('display', 'block')
        $('.school-apply-pair-table-co').css('display', 'block')
    }


</script>
