<div class="person-body-right pull-right">

  <div style="display: block;">
    <%= render '/layouts/shared/platform_school_projects' %>

    <% if @applies.present? %>
        <div class="school-apply-pair-table-co">
          <div class="school-apply-pair-table clearfix">
            <p class="pull-left">申请项目名称</p>
            <p class="pull-left">申请状态</p>
            <p class="pull-left">操作</p>
          </div>
          <% @applies.each do |apply| %>
              <div class="school-apply-pair-tables">
                <p>申请时间：<%= apply.created_at.strftime("%Y-%m-%d %H:%M") %> <span>申请编号：<%= apply.apply_no %></span></p>
                <div class="school-apply-pair-table-cont clearfix">
                  <div class="pull-left">
                    <p class="school-apply-pair-tit"><%= apply.apply_name %></p>
                     <p class="school-apply-pair-f">申请类型：<%= apply.enum_name(:bookshelf_type) %></p>
                     <p class="school-apply-pair-f">申请人：<%= apply.contact_name %></p>
                    <% if apply.raise_project? %>
                     <p class="school-apply-pair-f">目标筹款/累计：<%= apply.target_amount %>元/<%= apply.present_amount %>元</p>
                    <% end %>
                  </div>
                  <div class="border-l border-r pull-left">
                    <p class="read-more" data-toggle="tooltip" data-placement="top" title="<%= apply.audits.last.try(:comment) if apply.reject? %>" style="padding: 0 14px;"><%= apply.apply? ? apply.enum_name(:audit_state) : apply.enum_name(:read_state) %></p>
                  </div>
                  <div class="pull-left">
                  <%= link_to '查看申请详情', platform_school_apply_read_path(apply), class:'lookapply'  %>
                    <% if apply.pass? %>
                        <%= link_to '查看班级', apply.whole? ? bookshelves_platform_school_apply_read_path(apply) : supplements_platform_school_apply_read_path(apply), class:'lookbutton' %>
                        <% elsif apply.reject? %>
                        <%= link_to '修改申请', apply.whole? ? edit_platform_school_apply_read_path(apply) : edit_supplement_platform_school_apply_read_path(apply), class:'lookbutton' %>
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
    <% else %>
        <div class="donation-cont-non">
          <div class="donation-co-no-c">
            <p>您的学校暂未申请悦读项目</p>
          </div>
          <!-- <%= link_to new_donate_path do %>
          <button class="donation-co-no-but">去捐助</button>
          <% end %> -->
        </div>
    <% end %>
  </div>

  <div class="project-foot">
    <%= paginate @applies, theme: :tiny %>
  </div>
</div>
