<div class="person-body-right pull-right">

  <div style="display: block;">
    <p class="don-title border-b ">
      <span class="pull-left">悦读申请详情</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right"><%= link_to platform_school_apply_reads_path do %>返回项目管理<% end %></span>
    </p>
    <div class="plat-school-apply-pair">
      <p class="school-apply-pair-tit"><%= @apply.apply_name %></p>
      <div class="school-apply-pair-table">
        <p>申请详情</p>
        <div class="school-apply-pair-table-cont">
          <p><span>申请编号：</span><%= @apply.apply_no %></p>
          <p><span>申请批次：</span><%= @apply.season.name %></p>
          <p><span>申请学校：</span><%= @apply.school.name %></p>
          <p><span>申请类型：</span><%= @apply.enum_name(:bookshelf_type) %></p>
          <% if @apply.whole? %>
            <p><span>学生总数：</span><%= @apply.student_number.to_i %>人</p>
            <p><span>班级总数：</span><%= @apply.class_number.to_i %>人</p>
          <% end %>
        </div>
      </div>
      <div class="school-apply-pair-table">
        <p>申请班级</p>
        <div class="school-apply-pair-table-cont">
          <% if @apply.whole? %>
            <%= render 'dynamic_form_show', apply: @apply %>
            <% @apply.bookshelves.each do |bookshelf| %>
              <div class="clearfix" >
                <span><%= bookshelf.classname %></span>
                <span><%= bookshelf.student_number %>人</span>
              </div>
            <% end %>
          <% elsif @apply.supplement? %>
            <% @apply.supplements.each do |supplement| %>
              <div class="clearfix">
                <p><%= supplement.bookshelf.classname %></p>
                <p>损耗：<span><%= supplement.loss %>本</span> 补书：<span><%= supplement.supply %>本</span></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="school-apply-pair-table">
        <p>申请理由</p>
        <div class="school-apply-pair-table-cont">
          <p><span>其他说明：</span><%= @apply.describe.try(:html_safe) %></p>
          <p><span>申请图片：</span>
            <div>
              <% @apply.images.each do |image| %>
                <%= image_tag image.file.url(:small), width: 100, height: 100 %>
              <% end %>
            </div>
          </p>
        </div>
      </div>
      <div class="school-apply-pair-table">
        <p>收件人信息</p>
        <div class="school-apply-pair-table-cont">
        <p><span>收件人：</span><%= @apply.contact_name %></p>
        <p><span>联系电话：</span><%= @apply.contact_phone %></p>
        <p><span>收货地区</span><%= ChinaCity.get(@apply.province) %><%= ChinaCity.get(@apply.city) %><%= ChinaCity.get(@apply.district) %></p>
        <p><span>详细地址：</span><%= @apply.address %></p>
        </div>
      </div>
      <div class="don-co">
        <div class="don-co-but cur" >
          <% if @apply.apply? %>
              <button class="apply-show-btn"><%= @apply.enum_name(:audit_state) %></button>
          <% elsif @apply.raise_project? %>
              <button class="apply-show-btn"><%= @apply.enum_name(:read_state) %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
