<!-- <div class="person-body-right pull-right" id="feedback-shows">

  <div class="children_mailboxs-cont">
    <p class="don-title border-b ">
      <span class="pull-left">查看班级</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right"><%= link_to '返回', platform_school_apply_reads_path %></span>
    </p>
    <div class="plat-school-apply-pair bookshelves-cont">
      <div class="paddchild ">
        <div class="school-apply-pair-table ">
          <p class="border-t border-l border-r">班级信息</p>

        </div>
      </div>
      <div class="bookshelves ">
        <% @supplements.each do |supplement| %>
        <div class="clearfix" style="height: 78px;">
          <p><%= supplement.bookshelf.classname %></p>
          <p>损耗：<span><%= supplement.loss %>本</span> 补书：<span><%= supplement.supply %>本</span></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div> -->
<div class="person-body-right pull-right">
  <div class="school-apply-pair-table-co">
    <div class="school-apply-pair-table clearfix">
      <p class="pull-left">班级名称</p>
      <p class="pull-left">状态</p>
      <p class="pull-left">操作</p>
    </div>
    <% @supplements.each do |supplement| %>
        <div class="school-apply-pair-tables">
          <div class="school-apply-pair-table-cont clearfix">
            <div  class="pull-left">
              <p class="school-apply-pair-tit"><%= supplement.bookshelf.classname %></p>
               <p class="school-apply-pair-f">图书角编号：<%= supplement.bookshelf.bookshelf_no %></p>
              <% if supplement.raising? %>
                <p class="school-apply-pair-f">目标筹款/累计：<%= supplement.target_amount %>元/<%= supplement.present_amount %>元</p>
              <% else %>
                <p class="school-apply-pair-f">筹款总额：<%= supplement.target_amount %>元</p>
              <% end %>
            </div>
            <div class="border-l border-r pull-left" style="height: 100%;">
              <%= supplement.enum_name(:state) %>
            </div>
            <div  class="pull-left" style="height: 100%;">
              <% if supplement.to_receive? %>
              <%= link_to '查看物流', supplement.logistic.qurey_result, target: 'new', class:'lookapply'  %>
              <%= link_to '确认收货', new_platform_school_apply_receive_feedback_path(supplement_id: supplement.id), class:'lookbutton' %>
              <% end %>
              <% if supplement.to_feedback? %>
             <%= link_to '安装/发放反馈', new_platform_school_apply_install_feedback_path(bookshelf_id: supplement.id), class:'lookbutton' %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<script>
    // //图片展示
    $('[data-magnify]').magnify({
        headToolbar: [
            'close'
        ],
        initMaximized: true
    });
    $('.plat-school-apply-pair').eq(0).removeClass('border-t')
</script>
