<%= simple_form_for [:platform, @child], url: @child.new_record? ? platform_school_apply_pair_children_path(@apply) : platform_school_apply_pair_child_path(@apply), html: {'data-parsley-validate': true, class: 'user_form'} do |f| %>
<div class="addchild-list marginbottom">
  <div class="addchild-list-img">
    <%#= image_tag 'gsh-img-right.png' %>
    <!--<div></div>-->
    <!--<span>上传正面照</span>-->
    <%= webuploader_avatar :avatar_id, label: '上传正面照', type: 'apply_child_avatar', asset: @child.avatar, klass: 'single', id: 'child-avatar' %>
  </div>
  <p class="don-title">基本信息</p>
  <div class="addchild-list-cont">
    <div>
      <span class="goodtext">真实姓名</span>
      <input  class="goodinput " type="text" name="project_season_apply_child[name]" value="<%= @child.name %>" required />
    </div>
    <div>
      <span class="goodtext">身份证号</span>
      <input  class="goodinput " type="text" value="<%= @child.id_card %>" name="project_season_apply_child[id_card]" required data-parsley-shenfen/>
    </div>
    <div>
      <span class="goodtext">民族</span>
      <div>
        <%= f.input :nation, as: :select, collection: ProjectSeasonApplyChild.options_for_enum_select(:nations), include_blank: false, label: false, input_html: {id: 'allcamps', class: ''} %>
      </div>

    </div>
    <div style="width: 777px;">
      <span class="goodtext">选择年级</span>
      <div class="sclectedgrade clearfix">
        <div class="pull-left">
          <%= f.input :level, as: :select, collection: ProjectSeasonApplyChild.options_for_enum_select(:levels), include_blank: false, label: false, input_html: {id: 'level'} %>
        </div>
        <div class="pull-left">
          <%= f.input :grade, as: :select, collection: ProjectSeasonApplyChild.options_for_enum_select(:grades), include_blank: false, label: false, input_html: {id: 'grade'} %>
        </div>
        <div class="pull-left">
          <%= f.input :semester, as: :select, collection: ProjectSeasonApplyChild.options_for_enum_select(:semesters), include_blank: false, label: false, input_html: {id: 'semester'} %>
        </div>
      </div>


    </div>
    <div>
      <span class="goodtext">班主任</span>
      <input  class="goodinput " type="text" name="project_season_apply_child[teacher_name]" value="<%= @child.teacher_name %>" placeholder="班主任姓名" required/>
    </div>
    <div>
      <span class="goodtext">联系方式</span>
      <input  class="goodinput " type="text" name="project_season_apply_child[teacher_phone]" value="<%= @child.teacher_phone %>" placeholder="填写班主任联系方式" required data-parsley-phone/>
    </div>
    <div style="height: 172px;width: 777px;">
      <span class="goodtext">自我介绍</span>
      <textarea name="project_season_apply_child[description]" required><%= @child.description %></textarea>
    </div>
  </div>
</div>
<div class="addchild-list marginbottom">
  <p class="don-title">家庭信息</p>
  <div class="addchild-list-cont">
    <div>
      <span class="goodtext">父亲姓名</span>
      <input  class="goodinput " type="text" name="project_season_apply_child[father]" value="<%= @child.father %>" required/>
    </div>
    <div>
      <span class="goodtext">职业</span>
      <input  class="goodinput " type="text" name="project_season_apply_child[father_job]" value="<%= @child.father_job %>" required/>
    </div>
    <div>
      <span class="goodtext">母亲姓名</span>
      <input  class="goodinput " type="text" name="project_season_apply_child[mother]" value="<%= @child.mother %>" required/>
    </div>
    <div>
      <span class="goodtext">职业</span>
      <input  class="goodinput " type="text" name="project_season_apply_child[mother_job]" value="<%= @child.mother_job %>" required/>
    </div>
    <div>
      <span class="goodtext">监护人</span>
      <input  class="goodinput " type="text" name="project_season_apply_child[guardian]" value="<%= @child.guardian %>" required placeholder="监护人姓名"/>
    </div>
    <div>
      <span class="goodtext">与其关系</span>
      <input  class="goodinput " type="text" name="project_season_apply_child[guardian_relation]" value="<%= @child.guardian_relation %>" required placeholder="填写孩子与监护人的关系"/>
    </div>
    <div>
      <span class="goodtext">收入来源</span>
      <input  class="goodinput " type="text" name="project_season_apply_child[income_source]" value="<%= @child.income_source %>" required/>
    </div>
    <div>
      <span class="goodtext">年收入</span>
      <input  class="goodinput " type="number" name="project_season_apply_child[family_income]" value="<%= @child.family_income %>" required min="0"/>
      <span class="income-moy">元/年</span>
    </div>
    <div>
      <span class="goodtext">年支出</span>
      <input  class="goodinput " type="number" name="project_season_apply_child[family_expenditure]" value="<%= @child.family_expenditure %>" required min="0"/>
      <span class="income-moy">元/年</span>
    </div>
    <div style="height: 172px;width: 777px;">
      <span class="goodtext">家庭情况</span>
      <textarea placeholder="请写明具体家庭情况和贫困原因" name="project_season_apply_child[family_condition]" required><%= @child.family_condition %></textarea>
    </div>
    <div style="height: 172px;width: 777px;">
      <span class="goodtext">兄弟姐妹</span>
      <textarea placeholder="请写明具体家中兄弟姐妹的情况" name="project_season_apply_child[brothers]" required><%= @child.brothers %></textarea>
    </div>
  </div>
</div>
<div class="addchild-list addchild-list-up">
  <p class="don-title">上传图片</p>
  <div class="clearfix ">
    <div class="addchild-list-up-picture pull-left">
      <p class="iconfont icon-ico-add"></p>
      <p></p>
      <%= webuploader_image :id_image_id, label: '上传身份证', type: 'apply_child_id_card', asset: @child.id_image, klass: 'single', id: 'child-image1' %>
    </div>
    <div class="addchild-list-up-picture pull-left">
      <p class="iconfont icon-ico-add"></p>
      <p></p>
      <%= webuploader_image :residence_id, label: '上传户口本', type: 'apply_child_residence', asset: @child.residence, klass: 'single', id: 'child-image2' %>
    </div>
    <div class="addchild-list-up-picture pull-left">
      <p class="iconfont icon-ico-add"></p>
      <p></p>
      <%= webuploader_image :family_image_id, label: '上传家庭照', type: 'apply_child_family_image', asset: @child.family_image, klass: 'single', id: 'child-image3' %>
    </div>
    <div class="addchild-list-up-picture pull-left">
      <p class="iconfont icon-ico-add"></p>
      <p></p>
      <%= webuploader_image :poverty_id, label: '上传扶贫卡', type: 'apply_child_poverty', asset: @child.poverty, klass: 'single', id: 'child-image4' %>
    </div>

  </div>


</div>
<div class="childern-submint">
  <button type="submit">保存</button>
  <button>
  <%= link_to '取消', child_list_platform_school_apply_pair_children_path(@apply) %>
  </button>
</div>
<% end %>
<script>
    $("#allcamps").select2({
        language:'zh-CN',
        width: "452px",
        minimumResultsForSearch: -1
    });
    $("#level").select2({
        language:'zh-CN',
        width: "145px",
        minimumResultsForSearch: -1
    });
    $("#grade").select2({
        language:'zh-CN',
        width: "145px",
        minimumResultsForSearch: -1
    });
    $("#semester").select2({
        language:'zh-CN',
        width: "142px",
        minimumResultsForSearch: -1
    });
    $(function(){
        initAvatarWebuploader($('#child-avatar'));
        initImageWebuploader($('#child-image1'));
        initImageWebuploader($('#child-image2'));
        initImageWebuploader($('#child-image3'));
        initImageWebuploader($('#child-image4'));
    })

</script>
