<%= simple_form_for [:platform, @child], url: @child.new_record? ? platform_school_apply_pair_children_path(@apply) : platform_school_apply_pair_child_path(@apply), html: {'data-parsley-validate': true, class: 'user_form'} do |f| %>
<div class="addchild-list marginbottom">
  <div class="addchild-list-img">
    <%#= image_tag 'gsh-img-right.png' %>
    <!--<div></div>-->
    <!--<span>上传正面照</span>-->
    <%= webuploader_avatar :avatar_id, label: '上传正面照', type: 'apply_child_avatar', asset: @child.avatar, klass: 'single', id: 'child-avatar' %>
  </div>
  <p class="don-title">基本信息</p>
  <div class="addchild-list-cont">
    <div class="clearfix">
      <span class="goodtext pull-left">真实姓名</span>
      <input  class="goodinput pull-left" type="text" name="project_season_apply_child[name]" value="<%= @child.name %>" required />
    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">身份证号</span>
      <input  class="goodinput pull-left" type="text" value="<%= @child.id_card %>" name="project_season_apply_child[id_card]" required data-parsley-shenfen/>
    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">民族</span>
      <div class="pull-left">
        <%= f.input :nation, as: :select, collection: ProjectSeasonApplyChild.options_for_enum_select(:nations), include_blank: false, label: false, input_html: {id: 'allcamps', class: ''} %>
      </div>

    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">选择年级</span>
      <div class="sclectedgrade pull-left">
        <div class="pull-left">
          <%= f.input :level, as: :select, collection: ProjectSeasonApplyChild.options_for_enum_select(:levels), include_blank: false, label: false, input_html: {id: 'level'} %>
        </div>
        <div class="pull-left">
          <%= f.input :grade, as: :select, collection: ProjectSeasonApplyChild.options_for_enum_select(:grades), include_blank: false, label: false, input_html: {id: 'grade'} %>
        </div>
        <div class="pull-left">
          <%= f.input :semester, as: :select, collection: ProjectSeasonApplyChild.options_for_enum_select(:semesters), include_blank: false, label: false, input_html: {id: 'semester'} %>
        </div>
      </div>


    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">班主任</span>
      <input  class="goodinput pull-left" type="text" name="project_season_apply_child[teacher_name]" value="<%= @child.teacher_name %>" placeholder="班主任姓名" required/>
    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">联系方式</span>
      <input  class="goodinput pull-left" type="text" name="project_season_apply_child[teacher_phone]" value="<%= @child.teacher_phone %>" placeholder="填写班主任联系方式" required data-parsley-phone/>
    </div>
    <div style="height: 172px;width: 777px;" class="clearfix">
      <span class="goodtext pull-left" style="flex: 0 0 10%;max-width: 10%;width: 10%;">自我介绍</span>
      <textarea name="project_season_apply_child[description]" class="pull-left" required><%= @child.description %></textarea>
    </div>
  </div>
</div>
<div class="addchild-list marginbottom">
  <p class="don-title">家庭信息</p>
  <div class="addchild-list-cont">
    <div class="clearfix">
      <span class="goodtext pull-left">父亲姓名</span>
      <input  class="goodinput pull-left" type="text" name="project_season_apply_child[father]" value="<%= @child.father %>"/>
    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">职业</span>
      <input  class="goodinput pull-left" type="text" name="project_season_apply_child[father_job]" value="<%= @child.father_job %>"/>
    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">母亲姓名</span>
      <input  class="goodinput pull-left" type="text" name="project_season_apply_child[mother]" value="<%= @child.mother %>"/>
    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">职业</span>
      <input  class="goodinput pull-left" type="text" name="project_season_apply_child[mother_job]" value="<%= @child.mother_job %>"/>
    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">父母情况</span>
      <div class="pull-left">
        <%= f.input :parent_information, as: :select, collection: ['父母健在且共同生活', '父母离异', '父亲去世', '母亲去世', '父母均去世', '父亲下落不明', '母亲下落不明', '父母下落不明'], include_blank: false, label: false, input_html: {id: 'parent_info', class: ''} %>
      </div>
    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">监护人</span>
      <input  class="goodinput pull-left" type="text" name="project_season_apply_child[guardian]" value="<%= @child.guardian %>" required placeholder="监护人姓名"/>
    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">联系方式</span>
      <input  class="goodinput pull-left" type="text" name="project_season_apply_child[guardian_phone]" value="<%= @child.guardian_phone %>" required placeholder="监护人联系方式"/>
    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">与其关系</span>
      <div class="pull-left">
        <%= f.input :guardian_relation, as: :select, collection: ['父子', '母子', '父女', '母女', '祖孙', '舅甥', '其他'], label: false, include_blank: false, input_html: {id: 'guardian_info', class: ''} %>
      </div>
    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">家庭住址</span>
      <input  class="goodinput pull-left" type="text" name="project_season_apply_child[address]" value="<%= @child.address %>" required placeholder="家庭住址"/>
    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">收入来源</span>
      <input  class="goodinput pull-left" type="text" name="project_season_apply_child[income_source]" value="<%= @child.income_source %>" required/>
    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">年收入</span>
      <input  class="goodinput pull-left" type="number" name="project_season_apply_child[family_income]" value="<%= @child.family_income %>" required min="0"/>
      <span class="income-moy">元/年</span>
    </div>
    <div class="clearfix">
      <span class="goodtext pull-left">年支出</span>
      <input  class="goodinput pull-left" type="number" name="project_season_apply_child[family_expenditure]" value="<%= @child.family_expenditure %>" required min="0"/>
      <span class="income-moy">元/年</span>
    </div>
    <div style="height: 172px;width: 777px;" class="clearfix">
      <span class="goodtext pull-left"  style="flex: 0 0 10%;max-width: 10%;width: 10%;">支出情况</span>
      <textarea class="pull-left" placeholder="请写明支出情况" name="project_season_apply_child[expenditure_information]" required><%= @child.expenditure_information %></textarea>
    </div>
    <div style="height: 172px;width: 777px;" class="clearfix">
      <span class="goodtext pull-left"  style="flex: 0 0 10%;max-width: 10%;width: 10%;">家庭负债</span>
      <textarea class="pull-left" placeholder="请写明具体家中负债的情况" name="project_season_apply_child[debt_information]" required><%= @child.debt_information %></textarea>
    </div>
    <div style="height: 172px;width: 777px;" class="clearfix">
      <span class="goodtext pull-left"  style="flex: 0 0 10%;max-width: 10%;width: 10%;">家庭情况</span>
      <textarea class="pull-left" placeholder="请写明具体家庭情况和贫困原因" name="project_season_apply_child[family_condition]" required><%= @child.family_condition %></textarea>
    </div>
  </div>
</div>
<div class="addchild-list addchild-list-up">
  <p class="don-title">上传图片</p>
  <div class="clearfix ">
    <div class="addchild-list-up-picture pull-left">
      <p class="iconfont icon-ico-add"></p>
      <p></p>
      <%= webuploader_image :id_image_id, label: '上传身份证', type: 'apply_child_id_card', asset: @child.id_image, klass: 'single', id: 'child-image1' %>
    </div>
    <div class="addchild-list-up-picture pull-left">
      <p class="iconfont icon-ico-add"></p>
      <%= webuploader_image :apply_one_id, label: '上传申请1', type: 'apply_child_apply_image', asset: @child.apply_one, klass: 'single', id: 'child-image2' %>
    </div>
    <div class="addchild-list-up-picture pull-left">
      <p class="iconfont icon-ico-add"></p>
      <p></p>
      <%= webuploader_image :apply_two_id, label: '上传申请2', type: 'apply_child_apply_another_image', asset: @child.apply_two, klass: 'single', id: 'child-image3' %>
    </div>
    <div class="addchild-list-up-picture pull-left">
      <p class="iconfont icon-ico-add"></p>
      <p></p>
      <%= webuploader_image :room_image_id, label: '上传客厅照片', type: 'apply_child_room_image', asset: @child.room_image, klass: 'single', id: 'child-image4' %>
    </div>
    <div class="addchild-list-up-picture pull-left">
      <p class="iconfont icon-ico-add"></p>
      <p></p>
      <%= webuploader_image :yard_image_id, label: '上传院子照片', type: 'apply_child_yard_image', asset: @child.yard_image, klass: 'single', id: 'child-image5' %>
    </div>

    <div class="addchild-list-up-picture pull-left">
      <p class="iconfont icon-ico-add"></p>
      <p></p>
      <%= webuploader_image :poverty_id, label: '上传扶贫卡', type: 'apply_child_poverty', asset: @child.poverty, klass: 'single', id: 'child-image6' %>
    </div>

  </div>


</div>
<div class="childern-submint">
  <button type="submit">保存</button>
  <button>
  <%= link_to '取消', child_list_platform_school_apply_pair_children_path(@apply) %>
  </button>
</div>
<% end %>
<script>
    $("#allcamps").select2({
        language:'zh-CN',
        width: "389px",
        minimumResultsForSearch: -1
    });
    $("#level").select2({
        language:'zh-CN',
        width: "124px",
        minimumResultsForSearch: -1
    });
    $("#grade").select2({
        language:'zh-CN',
        width: "122px",
        minimumResultsForSearch: -1
    });
    $("#semester").select2({
        language:'zh-CN',
        width: "123px",
        minimumResultsForSearch: -1
    });
    $("#parent_info").select2({
        language:'zh-CN',
        width: "389px",
        minimumResultsForSearch: -1
    });
    $("#guardian_info").select2({
        language:'zh-CN',
        width: "389px",
        minimumResultsForSearch: -1
    });
    $(function(){
        initAvatarWebuploader($('#child-avatar'));
        initImageWebuploader($('#child-image1'));
        initImageWebuploader($('#child-image2'));
        initImageWebuploader($('#child-image3'));
        initImageWebuploader($('#child-image4'));
        initImageWebuploader($('#child-image5'));
        initImageWebuploader($('#child-image6'));
    })

</script>
