<div class="person-body-right pull-right" id="children">

  <div class="children-body">
    <div class="paddchild">
      <div class="don-title border-b clearfix">
        <span class="pull-left">学生名单</span>

        <div class="don-title-icon pull-right">
          <%= link_to platform_school_apply_pairs_path do %>
              <span class="pull-right iconfont icon-arrow-right"></span>
              <span class="pull-right">返回项目管理</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="school-apply-pair-table-co">
      <div class="school-apply-pair-share clearfix">
        <%= search_form_for @search, url: child_list_platform_school_apply_pair_children_path(@apply) do |f| %>

            <div class="input-group pull-left">
              <span class="iconfont icon-ico-search"></span>
              <%= f.text_field :name_cont, placeholder: '输入学生姓名', style: 'height:33px;width: 90%;' %>
            </div>
            <button type="submit" class="school-apply-share-share pull-left">搜索</button>
        <% end %>
        <div class="add-reads" style="padding-right: 34px;">
          <span class="pull-right share" style="padding-bottom: 5px" id="share-2"></span>

          <a onclick="exportExcel()" style="margin-right: 10px;">
            <button class="school-teach-sub cur">
              <span class="fa fa-download"></span>
              <span>导出选中</span>
            </button>
          </a>

          <%= link_to new_platform_school_apply_pair_child_path(@apply) do %>
              <button class="pull-right school-apply-share-sub">
                <span class="iconfont icon-ico-add1"></span>
                <span>新增学生</span>
              </button>
          <% end %>

        </div>
      </div>
      <div class="paddchild">
        <div class="school-apply-pair-table clearfix">
          <p class="pull-left" style="flex: 0 0 48%;max-width: 48%;width: 48%;">学生信息</p>
          <p class="pull-left" style="flex: 0 0 17.5%;max-width: 17.5%;width: 17.5%;">推荐理由</p>
          <p class="pull-left" style="flex: 0 0 17.5%;max-width: 17.5%;width: 17.5%;">推荐理由</p>
          <p class="pull-left" style="flex: 0 0 17.5%;max-width: 17.5%;width: 17.5%;">操作</p>
        </div>
      </div>

      <div class="posscroll paddchild" id="checked">
        <% @children.each do |child| %>
            <div class="school-apply-pair-tables" style="height:90px;">
              <div class="school-apply-pair-table-cont clearfix">
                <div class="school-apply-pair-child pull-left" style="flex: 0 0 48%;max-width: 48%;width: 48%;">
                  <div class="pretty o-info pull-left">
                    <input type="checkbox" value="<%= child.id %>"/>
                    <label><i class="mdi mdi-check"></i></label>
                  </div>
                  <div class="pull-left">
                    <%= image_tag child.avatar_url(:small) %>
                  </div>
                  <div class="pull-left">
                    <p>
                      <span><%= child.name %></span>
                      <span><%= child.age %>岁 | <%= child.enum_name(:gender) %></span>
                    </p>
                    <p><%= child.school.try(:name) %> <%= child.enum_name(:level) %> <%= child.enum_name(:grade) %></p>
                  </div>

                </div>

                <div class=" border-r border-l pull-left">
                  <button class="recommend-but" data-toggle="modal" data-target="#myModal" onclick="setChildReason(<%= child.id %>, '<%= child.reason %>')">填写推荐理由</button>
                </div>
                <div class="pull-left" style="padding: 24px 0;">
                  <button class="recommend-but" style="width: 120px;">
                    <%= link_to "填写家访表（#{child.visits.count}）", visit_list_platform_school_apply_pair_child_path(@apply, child) %>
                  </button>
                </div>
                <div class="pull-left  border-l" style="padding:10px 0;width: 17%;">
                  <%= link_to edit_platform_school_apply_pair_child_path(@apply, child), class: 'lookbutton' do %>
                      修改
                  <% end %>
                  <%= link_to platform_school_apply_pair_child_path(@apply, child), method: :delete, data: {confirm: '确定要删除学生信息吗？'}, class: 'detail-table' do %>
                      删除
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <div class="school-apply-pair-but-n paddchild">
        <div class="clearfix">
          <div class="pull-left">
            <div class="school-apply-paircheck pull-left">
              <div class="pretty o-info pull-left">
                <input type="checkbox" id="checkedse"/>
                <label><i class="mdi mdi-check"></i> 全选</label>
              </div>
            </div>
            <p class="pull-left school-apply-pairsub ">已选<span id="selected-number"> 0 </span>名学生</p>
          </div>
          <button class="school-apply-pairbut pull-right" onclick="submitSelectedChildren()">提交名单</button>
        </div>


      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: auto;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="detail-icon">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">填写推荐理由</h4>
        </div>
        <div class="modal-body">

          <input type="number" hidden name="child_id" id="child-id">
          <textarea placeholder="请写你对学生的推荐理由" id="reason"></textarea>

        </div>
        <div class="modal-footer overspreads-but">
          <button class="overspread-but  over-but" id="submit-child-reason">确认</button>
        </div>
      </div>
    </div>
  </div>
</div>
<style scope scoped>
  .school-teach-sub {
    background-color: #fff;
    border: 1px solid #8b54e3;
    color: #8b54e3;
    line-height: 31px;
    outline: none !important;
    width: 100px;
    height: 34px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    box-shadow: none;
    border-radius: 3px;
  }

  .school-teach-sub span {
    font-size: 13px;
    margin-top: 1px;
    margin-right: 6px;
  }

  .add-reads > a:nth-child(1) button:hover {
    background-color: #9750f5;
    color: #fff;
    border: none;
  }

  .recommend-but {
    outline: none;
    background-color: #eaeaea;
    width: 101px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    color: #3d3d40;
    border-radius: 2px;
    margin-bottom: 10px;
  }
    .recommend-but:hover{
      background-color: #f4f4f4;
    }
</style>
<script type="text/javascript">
    //    $('.overspread-4').overs(".recommend-but");
    $(function () {
        $("#checkedse").click(function () {
            var isChecked = $("#checkedse").prop("checked");
            $("#checked input").prop("checked", isChecked);
            setSelectedNumber();
        });
        $("#checked input").click(function () {
            var allLength = $("#checked input").length;
            var checkedLength = $("#checked input:checked").length;
            if (allLength == checkedLength) {
                $("#checkedse").prop("checked", true);
            } else {
                $("#checkedse").prop("checked", false);
            }
            setSelectedNumber();
        });

        $("#submit-child-reason").click(function () {
            var reason = $('#reason').val()
            if (reason.length > 0) {
                $.post("/ajaxes/submit_child_reason",
                    {
                        child_id: $('#child-id').val(),
                        reason: reason
                    },
                    function (data) {
                        if (data.status) {
                            layer.msg(data.message, {
                                icon: 0,
                                offset: 't c'
                            });
                            setTimeout(window.location.reload(), 1500);
                        } else {
                            layer.msg(data.message, {
                                icon: 2,
                                offset: 't c'
                            });
                        }
                    });
            } else {
                layer.msg('请填写推荐理由', {
                    icon: 2,
                    offset: 't c'
                });
            }

        })
    });

    function setSelectedNumber() {
        var checkedLength = $("#checked input:checked").length;
        $('#selected-number').text(checkedLength)
    }

    function submitSelectedChildren() {
        var child_ids = []
        $("#checked input:checked").each(function () {
            child_ids.push($(this).val());
        });
        if (child_ids.length > 0) {
            $.post("/ajaxes/submit_pair_children",
                {
                    id: '<%= @apply.id %>',
                    child_ids: child_ids
                },
                function (data) {
                    if (data.status) {
                        layer.msg(data.message, {
                            icon: 0,
                            offset: 't c'
                        });
                        setTimeout("javascript:location.href='/platform/school/apply/pairs'", 1500);
                    } else {
                        layer.msg(data.message, {
                            icon: 2,
                            offset: 't c'
                        });
                    }
                });
        } else {
            layer.msg('请勾选您要提交的学生', {
                icon: 2,
                offset: 't c'
            });
        }
    };

    function setChildReason(id, reason) {
        $('#child-id').val(id)
        $('#reason').val(reason)
    }

    function exportExcel() {
        var child_ids = []
        $("#checked input:checked").each(function () {
            child_ids.push($(this).val());
        });
        if (child_ids.length > 0) {
//            $.get("<%= excel_output_platform_school_apply_pair_children_path(@apply) %>", {child_ids: child_ids})
            window.location.href = '/platform/school/apply/pairs/' + <%= @apply.id %> +'/children/excel_output?child_ids=' + child_ids
        } else {
            layer.msg('请勾选您要导出的学生', {
                icon: 2,
                offset: 't c'
            });
        }
    }

    $('#share-2').share({
        sites: ['wechat'],
        title: '<%= @apply.name %>',
        url: '<%= "#{Settings.m_root_url}/form/pair-guide?code=#{@apply.code}&school_name=#{@apply.school.try(:name)}&apply_id=#{params[:id]}" %>',
        description: '',
        image: '<%= image_url 'project-reducepage-child.png' %>'
    });

</script>

<style lang="scss" scoped>
  .social-share .social-share-icon {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 39px;
    margin-top: -3px;
    margin-left: 10px;

  }
  .social-share .help p:nth-child(2) {
    display: none;
  }
</style>
