<div class="person-body-right pull-right" id="childrens">

  <div class="children-body">
    <p class="don-title border-b ">
      <span class="pull-left">审核学生名单</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right"><%= link_to platform_school_apply_pairs_path do %>返回项目管理<% end %></span>
    </p>
    <div class="donations-1">
      <ul class="donations1 clearfix">
        <li class="<%= 'selectedDo' if params[:state] == 'pass' %> cur"><%= link_to '审核通过名单', platform_school_apply_pair_children_path(@apply, state: 'pass') %>
          <% if params[:state] == 'pass' %>
              <div class="bottomline"></div>
          <% end %>
        </li>
        <li class="<%= 'selectedDo' if params[:state] == 'reject' %> cur border-l"><%= link_to '审核未通过名单', platform_school_apply_pair_children_path(@apply, state: 'reject') %>
          <% if params[:state] == 'reject' %>
              <div class="bottomline"></div>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="school-apply-pair-table-co">
      <div class="school-apply-pair-table clearfix">
        <p class="pull-left">学生信息</p>
        <% if params[:state] == 'pass' %>
            <p class="pull-left">申请学年</p>
        <% end %>
        <p class="pull-left">申请状态</p>
        <% if params[:state] == 'reject' %>
            <p class="pull-left">驳回理由</p>
        <% end %>
      </div>
      <% @children.each do |child| %>
          <div class="school-apply-pair-tables">
            <div class="schools-apply-pair-table-cont clearfix">
              <div class="schools-apply-pair-child clearfix pull-left">
                <div class="pull-left">
                  <%= image_tag child.avatar_url(:tiny) %>
                </div>
                <div class="pull-left ">
                  <p>
                    <span><%= child.name %></span>
                    <span><%= child.age %>岁 | <%= child.enum_name(:gender) %></span>
                  </p>
                  <p><%= child.apply.school.name %> <%= child.enum_name(:level) %> <%= child.enum_name(:grade) %></p>
                </div>

              </div>
              <% if params[:state] == 'pass' %>
                  <div class="border-l pull-left">
                    <% if child.present? %>
                        <p>
                          <% child.gsh_child_grants.sorted.each do |grant| %>
                              <%= grant.title %>
                          <% end %>
                        </p>
                    <% end %>
                  </div>
              <% end %>
              <div class="border-l pull-left">
                <p><%= child.enum_name(:approve_state) %></p>
              </div>
              <% if params[:state] == 'reject' %>
                  <div class="border-l pull-left">
                    <p class="read-more" data-toggle="tooltip" data-placement="left" title="<%= child.audits.last.try(:comment) %>" style="padding: 0 14px;"><%= child.audits.last.try(:comment) %></p>
                  </div>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>

  <div class="project-foot">
    <%= paginate @children, theme: 'tiny' %>
  </div>
</div>
<script>


    //     右tab切换二级
    $(".donations1 li").on("click", function () {
        $(".donations1 li").removeClass("selectedDo")
        $(this).addClass("selectedDo")
    })
    if ($('.donation .donation-cont').length === 0) {
        $('.donation-cont-no').css('display', 'block')
        $('.project-foot').css('display', 'none')
    } else {
        $('.donation-cont-no').css('display', 'none')
        $('.project-foot').css('display', 'block')
    }
    $('[data-toggle="tooltip"]').tooltip()


</script>
