<div class="person-body-right pull-right" id="childrens">

  <div class="children-body">
    <p class="don-title border-b">审核学生名单</p>
    <div class="donations-1" >
      <ul class="donations1 clearfix">
        <li class="selectedDo cur">审核通过名单</li>
        <li class="cur border-l">审核未通过名单</li>
      </ul>
      <div class="bottomline"></div>
    </div>
    <div class="school-apply-pair-table-co">
      <div class="school-apply-pair-table">
        <p>学生信息</p>
        <p>申请年度</p>
        <p>申请状态</p>
      </div>
      <div class="school-apply-pair-tables">
        <div class="schools-apply-pair-table-cont">
          <div class="schools-apply-pair-child clearfix">
            <div class="pull-left">
              <%= image_tag 'gsh-img-right.png' %>
            </div>
            <div class="pull-left">
              <p>
                <span>赵雷</span>
                <span>17岁 | 男</span>
              </p>
              <p>合作市藏族中学 初中 二年级</p>
            </div>

          </div>
          <div class="border-l border-r">
            <p>2018-2019学年
              2019-2020学年</p>
          </div>
          <div>
            <p>审核通过</p>
          </div>
        </div>
      </div>
      <div class="school-apply-pair-tables">
        <div class="schools-apply-pair-table-cont">
          <div class="schools-apply-pair-child clearfix">
            <div class="pull-left">
              <%= image_tag 'gsh-img-right.png' %>
            </div>
            <div class="pull-left">
              <p>
                <span>赵雷</span>
                <span>17岁 | 男</span>
              </p>
              <p>合作市藏族中学 初中 二年级</p>
            </div>

          </div>
          <div class="border-l border-r">
            <p>2018-2019学年
              2019-2020学年</p>
          </div>
          <div>
            <p>审核通过</p>
          </div>
        </div>
      </div>
      <div class="school-apply-pair-tables">
        <div class="schools-apply-pair-table-cont">
          <div class="schools-apply-pair-child clearfix">
            <div class="pull-left">
              <%= image_tag 'gsh-img-right.png' %>
            </div>
            <div class="pull-left">
              <p>
                <span>赵雷</span>
                <span>17岁 | 男</span>
              </p>
              <p>合作市藏族中学 初中 二年级</p>
            </div>

          </div>
          <div class="border-l border-r">
            <p>2018-2019学年
              2019-2020学年</p>
          </div>
          <div>
            <p>审核通过</p>
          </div>
        </div>
      </div>
      <div class="school-apply-pair-tables">
        <div class="schools-apply-pair-table-cont">
          <div class="schools-apply-pair-child clearfix">
            <div class="pull-left">
              <%= image_tag 'gsh-img-right.png' %>
            </div>
            <div class="pull-left">
              <p>
                <span>赵雷</span>
                <span>17岁 | 男</span>
              </p>
              <p>合作市藏族中学 初中 二年级</p>
            </div>

          </div>
          <div class="border-l border-r">
            <p>2018-2019学年
              2019-2020学年</p>
          </div>
          <div>
            <p>审核通过</p>
          </div>
        </div>
      </div>
      <div class="school-apply-pair-tables">
        <div class="schools-apply-pair-table-cont">
          <div class="schools-apply-pair-child clearfix">
            <div class="pull-left">
              <%= image_tag 'gsh-img-right.png' %>
            </div>
            <div class="pull-left">
              <p>
                <span>赵雷</span>
                <span>17岁 | 男</span>
              </p>
              <p>合作市藏族中学 初中 二年级</p>
            </div>

          </div>
          <div class="border-l border-r">
            <p>2018-2019学年
              2019-2020学年</p>
          </div>
          <div>
            <p>审核通过</p>
          </div>
        </div>
      </div>
      <div class="school-apply-pair-tables">
        <div class="schools-apply-pair-table-cont">
          <div class="schools-apply-pair-child clearfix">
            <div class="pull-left">
              <%= image_tag 'gsh-img-right.png' %>
            </div>
            <div class="pull-left">
              <p>
                <span>赵雷</span>
                <span>17岁 | 男</span>
              </p>
              <p>合作市藏族中学 初中 二年级</p>
            </div>

          </div>
          <div class="border-l border-r">
            <p>2018-2019学年
              2019-2020学年</p>
          </div>
          <div>
            <p>审核通过</p>
          </div>
        </div>
      </div>
      <div class="school-apply-pair-tables">
        <div class="schools-apply-pair-table-cont">
          <div class="schools-apply-pair-child clearfix">
            <div class="pull-left">
              <%= image_tag 'gsh-img-right.png' %>
            </div>
            <div class="pull-left">
              <p>
                <span>赵雷</span>
                <span>17岁 | 男</span>
              </p>
              <p>合作市藏族中学 初中 二年级</p>
            </div>

          </div>
          <div class="border-l border-r">
            <p>2018-2019学年
              2019-2020学年</p>
          </div>
          <div>
            <p>审核通过</p>
          </div>
        </div>
      </div>
      <div class="school-apply-pair-tables">
        <div class="schools-apply-pair-table-cont">
          <div class="schools-apply-pair-child clearfix">
            <div class="pull-left">
              <%= image_tag 'gsh-img-right.png' %>
            </div>
            <div class="pull-left">
              <p>
                <span>赵雷</span>
                <span>17岁 | 男</span>
              </p>
              <p>合作市藏族中学 初中 二年级</p>
            </div>

          </div>
          <div class="border-l border-r">
            <p>2018-2019学年
              2019-2020学年</p>
          </div>
          <div>
            <p>审核通过</p>
          </div>
        </div>
      </div>
      <div class="school-apply-pair-tables">
        <div class="schools-apply-pair-table-cont">
          <div class="schools-apply-pair-child clearfix">
            <div class="pull-left">
              <%= image_tag 'gsh-img-right.png' %>
            </div>
            <div class="pull-left">
              <p>
                <span>赵雷</span>
                <span>17岁 | 男</span>
              </p>
              <p>合作市藏族中学 初中 二年级</p>
            </div>

          </div>
          <div class="border-l border-r">
            <p>2018-2019学年
              2019-2020学年</p>
          </div>
          <div>
            <p>审核通过</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="project-foot" >
    <span class="iconfont icon-arrow-left cur"></span>
    <span class="iconfont icon-arrow-right cur"></span>
  </div>
</div>
<script>


    //     右tab切换二级
    $(".donations1 li").on("click", function () {
        $(".donations1 li").removeClass("selectedDo")
        $(this).addClass("selectedDo")
        $(".bottomline").css("left", parseFloat($(this)[0].offsetLeft) +40 +  "px")
    })
    if($('.donation .donation-cont').length===0){
        $('.donation-cont-no').css('display', 'block')
        $('.project-foot').css('display', 'none')
    }else{
        $('.donation-cont-no').css('display', 'none')
        $('.project-foot').css('display', 'block')
    }




</script>
