<div class="person-body-right pull-right" id="children">

  <div class="children-body">
    <div class="paddchild">
      <p class="don-title border-b ">
        <span class="pull-left">学生名单</span>
        <span class="pull-right">返回项目管理</span>
      </p>
    </div>
    <div class="school-apply-pair-table-co">
      <div class="school-apply-pair-share clearfix">

        <div class="input-group pull-left">
          <span class="iconfont icon-ico-search"></span>
          <input type="text" class="form-control" placeholder="输入学生姓名或学校">
        </div>
        <div class="school-apply-share-share pull-left">搜索</div>
        <button class="pull-right school-apply-share-sub">
          <span class="iconfont icon-ico-add1"></span>
          <span>新增学生</span>
        </button>

      </div>
      <div class="paddchild">
        <div class="school-apply-pair-table">
          <p>学生信息</p>
          <p>申请年度</p>
          <p>操作</p>
        </div>
      </div>

      <div class="posscroll paddchild" id="checked">
        <div class="school-apply-pair-tables">
          <div class="school-apply-pair-table-cont">
            <div class="school-apply-pair-child clearfix">
              <div class="pretty o-info pull-left">
                <input type="checkbox"/>
                <label><i class="mdi mdi-check"></i></label>
              </div>
              <div class="pull-left">
                <%= image_tag 'gsh-img-right.png' %>
              </div>
              <div class="pull-left">
                <p>
                  <span>赵雷</span>
                  <span>17岁 | 男</span>
                </p>
                <p>合作市藏族中学 初中 二年级</p>
              </div>

            </div>
            <div class="border-l border-r">
              <p>2018-2019学年
                2019-2020学年</p>
            </div>
            <div class=" border-r">
              <button>填写推荐理由</button>
            </div>
            <div>
              <button>修改</button>
              <button>删除</button>
            </div>
          </div>
        </div>
        <div class="school-apply-pair-tables">
          <div class="school-apply-pair-table-cont">
            <div class="school-apply-pair-child clearfix">
              <div class="pretty o-info pull-left">
                <input type="checkbox"/>
                <label><i class="mdi mdi-check"></i></label>
              </div>
              <div class="pull-left">
                <%= image_tag 'gsh-img-right.png' %>
              </div>
              <div class="pull-left">
                <p>
                  <span>赵雷</span>
                  <span>17岁 | 男</span>
                </p>
                <p>合作市藏族中学 初中 二年级</p>
              </div>

            </div>
            <div class="border-l border-r">
              <p>2018-2019学年
                2019-2020学年</p>
            </div>
            <div class=" border-r">
              <button>填写推荐理由</button>
            </div>
            <div>
              <button>修改</button>
              <button>删除</button>
            </div>
          </div>
        </div>
        <div class="school-apply-pair-tables">
          <div class="school-apply-pair-table-cont">
            <div class="school-apply-pair-child clearfix">
              <div class="pretty o-info pull-left">
                <input type="checkbox"/>
                <label><i class="mdi mdi-check"></i></label>
              </div>
              <div class="pull-left">
                <%= image_tag 'gsh-img-right.png' %>
              </div>
              <div class="pull-left">
                <p>
                  <span>赵雷</span>
                  <span>17岁 | 男</span>
                </p>
                <p>合作市藏族中学 初中 二年级</p>
              </div>

            </div>
            <div class="border-l border-r">
              <p>2018-2019学年
                2019-2020学年</p>
            </div>
            <div class=" border-r">
              <button>填写推荐理由</button>
            </div>
            <div>
              <button>修改</button>
              <button>删除</button>
            </div>
          </div>
        </div>
        <div class="school-apply-pair-tables">
          <div class="school-apply-pair-table-cont">
            <div class="school-apply-pair-child clearfix">
              <div class="pretty o-info pull-left">
                <input type="checkbox"/>
                <label><i class="mdi mdi-check"></i></label>
              </div>
              <div class="pull-left">
                <%= image_tag 'gsh-img-right.png' %>
              </div>
              <div class="pull-left">
                <p>
                  <span>赵雷</span>
                  <span>17岁 | 男</span>
                </p>
                <p>合作市藏族中学 初中 二年级</p>
              </div>

            </div>
            <div class="border-l border-r">
              <p>2018-2019学年
                2019-2020学年</p>
            </div>
            <div class=" border-r">
              <button>填写推荐理由</button>
            </div>
            <div>
              <button>修改</button>
              <button>删除</button>
            </div>
          </div>
        </div>
        <div class="school-apply-pair-tables">
          <div class="school-apply-pair-table-cont">
            <div class="school-apply-pair-child clearfix">
              <div class="pretty o-info pull-left">
                <input type="checkbox"/>
                <label><i class="mdi mdi-check"></i></label>
              </div>
              <div class="pull-left">
                <%= image_tag 'gsh-img-right.png' %>
              </div>
              <div class="pull-left">
                <p>
                  <span>赵雷</span>
                  <span>17岁 | 男</span>
                </p>
                <p>合作市藏族中学 初中 二年级</p>
              </div>

            </div>
            <div class="border-l border-r">
              <p>2018-2019学年
                2019-2020学年</p>
            </div>
            <div class=" border-r">
              <button>填写推荐理由</button>
            </div>
            <div>
              <button>修改</button>
              <button>删除</button>
            </div>
          </div>
        </div>
        <div class="school-apply-pair-tables">
          <div class="school-apply-pair-table-cont">
            <div class="school-apply-pair-child clearfix">
              <div class="pretty o-info pull-left">
                <input type="checkbox"/>
                <label><i class="mdi mdi-check"></i></label>
              </div>
              <div class="pull-left">
                <%= image_tag 'gsh-img-right.png' %>
              </div>
              <div class="pull-left">
                <p>
                  <span>赵雷</span>
                  <span>17岁 | 男</span>
                </p>
                <p>合作市藏族中学 初中 二年级</p>
              </div>

            </div>
            <div class="border-l border-r">
              <p>2018-2019学年
                2019-2020学年</p>
            </div>
            <div class=" border-r">
              <button>填写推荐理由</button>
            </div>
            <div>
              <button>修改</button>
              <button>删除</button>
            </div>
          </div>
        </div>
        <div class="school-apply-pair-tables">
          <div class="school-apply-pair-table-cont">
            <div class="school-apply-pair-child clearfix">
              <div class="pretty o-info pull-left">
                <input type="checkbox"/>
                <label><i class="mdi mdi-check"></i></label>
              </div>
              <div class="pull-left">
                <%= image_tag 'gsh-img-right.png' %>
              </div>
              <div class="pull-left">
                <p>
                  <span>赵雷</span>
                  <span>17岁 | 男</span>
                </p>
                <p>合作市藏族中学 初中 二年级</p>
              </div>

            </div>
            <div class="border-l border-r">
              <p>2018-2019学年
                2019-2020学年</p>
            </div>
            <div class=" border-r">
              <button>填写推荐理由</button>
            </div>
            <div>
              <button>修改</button>
              <button>删除</button>
            </div>
          </div>
        </div>
        <div class="school-apply-pair-tables">
          <div class="school-apply-pair-table-cont">
            <div class="school-apply-pair-child clearfix">
              <div class="pretty o-info pull-left">
                <input type="checkbox"/>
                <label><i class="mdi mdi-check"></i></label>
              </div>
              <div class="pull-left">
                <%= image_tag 'gsh-img-right.png' %>
              </div>
              <div class="pull-left">
                <p>
                  <span>赵雷</span>
                  <span>17岁 | 男</span>
                </p>
                <p>合作市藏族中学 初中 二年级</p>
              </div>

            </div>
            <div class="border-l border-r">
              <p>2018-2019学年
                2019-2020学年</p>
            </div>
            <div class=" border-r">
              <button>填写推荐理由</button>
            </div>
            <div>
              <button>修改</button>
              <button>删除</button>
            </div>
          </div>
        </div>
        <div class="school-apply-pair-tables">
          <div class="school-apply-pair-table-cont">
            <div class="school-apply-pair-child clearfix">
              <div class="pretty o-info pull-left">
                <input type="checkbox"/>
                <label><i class="mdi mdi-check"></i></label>
              </div>
              <div class="pull-left">
                <%= image_tag 'gsh-img-right.png' %>
              </div>
              <div class="pull-left">
                <p>
                  <span>赵雷</span>
                  <span>17岁 | 男</span>
                </p>
                <p>合作市藏族中学 初中 二年级</p>
              </div>

            </div>
            <div class="border-l border-r">
              <p>2018-2019学年
                2019-2020学年</p>
            </div>
            <div class=" border-r">
              <button>填写推荐理由</button>
            </div>
            <div>
              <button>修改</button>
              <button>删除</button>
            </div>
          </div>
        </div>
        <div class="school-apply-pair-tables">
          <div class="school-apply-pair-table-cont">
            <div class="school-apply-pair-child clearfix">
              <div class="pretty o-info pull-left">
                <input type="checkbox"/>
                <label><i class="mdi mdi-check"></i></label>
              </div>
              <div class="pull-left">
                <%= image_tag 'gsh-img-right.png' %>
              </div>
              <div class="pull-left">
                <p>
                  <span>赵雷</span>
                  <span>17岁 | 男</span>
                </p>
                <p>合作市藏族中学 初中 二年级</p>
              </div>

            </div>
            <div class="border-l border-r">
              <p>2018-2019学年
                2019-2020学年</p>
            </div>
            <div class=" border-r">
              <button>填写推荐理由</button>
            </div>
            <div>
              <button>修改</button>
              <button>删除</button>
            </div>
          </div>
        </div>
        <div class="school-apply-pair-tables">
          <div class="school-apply-pair-table-cont">
            <div class="school-apply-pair-child clearfix">
              <div class="pretty o-info pull-left">
                <input type="checkbox"/>
                <label><i class="mdi mdi-check"></i></label>
              </div>
              <div class="pull-left">
                <%= image_tag 'gsh-img-right.png' %>
              </div>
              <div class="pull-left">
                <p>
                  <span>赵雷</span>
                  <span>17岁 | 男</span>
                </p>
                <p>合作市藏族中学 初中 二年级</p>
              </div>

            </div>
            <div class="border-l border-r">
              <p>2018-2019学年
                2019-2020学年</p>
            </div>
            <div class=" border-r">
              <button>填写推荐理由</button>
            </div>
            <div>
              <button>修改</button>
              <button>删除</button>
            </div>
          </div>
        </div>
        <div class="school-apply-pair-tables">
          <div class="school-apply-pair-table-cont">
            <div class="school-apply-pair-child clearfix">
              <div class="pretty o-info pull-left">
                <input type="checkbox"/>
                <label><i class="mdi mdi-check"></i></label>
              </div>
              <div class="pull-left">
                <%= image_tag 'gsh-img-right.png' %>
              </div>
              <div class="pull-left">
                <p>
                  <span>赵雷</span>
                  <span>17岁 | 男</span>
                </p>
                <p>合作市藏族中学 初中 二年级</p>
              </div>

            </div>
            <div class="border-l border-r">
              <p>2018-2019学年
                2019-2020学年</p>
            </div>
            <div class=" border-r">
              <button>填写推荐理由</button>
            </div>
            <div>
              <button>修改</button>
              <button>删除</button>
            </div>
          </div>
        </div>

      </div>
      <div class="school-apply-pair-but-n paddchild">
        <div class="clearfix">
          <div class="pull-left">
            <div class="school-apply-paircheck pull-left">
              <div class="pretty o-info pull-left" >
                <input type="checkbox" id="checkedse"/>
                <label><i class="mdi mdi-check"></i> 全选</label>
              </div>
            </div>
            <p class="pull-left school-apply-pairsub ">已选<span> 34 </span>名学生</p>
          </div>
          <div class="school-apply-pairbut pull-right">提交名单</div>
        </div>


      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#checkedse").click(function () {
            var isChecked = $("#checkedse").prop("checked");
            $("#checked input").prop("checked", isChecked);
        });
        $("#checked input").click(function () {
            var allLength = $("#checked input").length;
            var checkedLength = $("#checked input:checked").length;
            if(allLength == checkedLength){
                $("#checkedse").prop("checked",true);
            }else {
                $("#checkedse").prop("checked",false);
            }
        });
    });
</script>