<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">修改年度</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @pair_period], url: admin_pair_period_path, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'season_form'} do |f| %>
        <%= f.error_notification %>
        <div class="form-body form-horizontal">
          <%= f.input :name, label: '学期名称：', autofocus: true, placeholder: '学期名称', required: true %>
          <div class="form-group">
            <label class="col-md-2 control-label">捐助时间：</label>
            <div class="col-md-9">
              <%= f.input :start_at, label:'开始时间：', wrapper: :inline_inputs, as: :date%>
              <%= f.input :end_at, label:'结束时间：', wrapper: :inline_inputs, as: :date%>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-9">
              <%= f.button :submit, '提交', class: 'btn blue' %>
              <%= link_to '取消', admin_pair_periods_path, class: 'btn' %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
