<%= simple_form_for [:admin, @finance_category], wrapper: :admin_form, html: {data: {'parsley-validate': true}} do |f| %>
    <%= f.error_notification %>
    <div class="form-body form-horizontal">
      <%= f.input :name, label: '收入分类名称：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
      <%= f.input :parent_id, collection: FinanceCategory.roots, label: '资讯分类：', prompt: "选择一级分类" %>
      <%= f.input :describe, label: '描述：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
      <%= f.input :management_rate, label: '管理费率：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
      <%= f.input :amount, label: '余额：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
      <%= f.input :total, label: '累计收入：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
      <%= f.input :fund_name, label: '基金池名称：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-3 col-md-9">
          <%= f.button :submit, '提交', class: 'btn green' %>
          <%= link_to '取消', admin_articles_path, class: 'btn' %>
        </div>
      </div>
    </div>
<% end %>
<script>
$(function(){
  initImageWebuploader($('#webuploader'));
})
</script>
