<%= simple_form_for [:admin, @task], url: @task.new_record? ? admin_appoint_tasks_path : admin_appoint_task_path, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'category_form'} do |f| %>
    <%= f.error_notification %>
    <div class="form-body form-horizontal">
      <%= f.input :name, label: '名称：', autofocus: true, placeholder: '名称', required: true %>
      <%= f.input :task_category_id, as: :select, collection: TaskCategory.sorted, label: '任务分类：', required: true, include_blank: '请选择任务分类', input_html: {class: 'task-category'} %>
      <div class="form-group">
        <label class="col-md-2 control-label">任务封面：</label>
        <div class="col-sm-9">
          <%= webuploader_tag :cover_id, label: '上传封面', type: 'task_cover', asset: @task.cover, klass: 'single' %>
        </div>
      </div>
      <% if @task.new_record? %>
          <div class="form-group approve_reject">
            <label class="col-md-2 control-label">选择志愿者：</label>
            <div class="col-sm-9">
              <select class="form-control select optional" name="appoint_ids[]" id="volunteer-ajax" required></select>
            </div>
          </div>
      <% end %>
      <%= f.input :duration, label: '计划时长：', placeholder: '小时', required: true, type: 'number' %>

      <div class="form-group">
        <label class="col-md-2 control-label">开始时间：</label>
        <div class="col-sm-9">
          <%= f.text_field :start_time, class: 'datetime-picker', placeholder: '开始时间', required: true %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">结束时间：</label>
        <div class="col-sm-9">
          <%= f.text_field :end_time, class: 'datetime-picker', placeholder: '结束时间', required: true %>
        </div>
      </div>
      <%= f.input :workplace_id, as: :select, collection: Workplace.sorted.map {|place| [place.title, place.id]}, label: '任务地点：', required: true, include_blank: '请选择任务地点', input_html: {class: 'task-workplace'} %>

      <%= f.input :principal_id, collection: [@task.principal].compact.map {|u| [u.name, u.id]}, label: '任务负责人：', prompt: "请选择用户", input_html: {class: 'user_selector'} %>
      <div class="form-group">
        <label class="col-md-2 control-label">任务类型：</label>
        <div class="col-sm-9">
          <div class="input-group icheck-inline">
            <%= f.input_field :ordinary_flag, as: :boolean %> 日常
            <%= f.input_field :intensive_flag, as: :boolean  %> 重点
            <%= f.input_field :urgency_flag, as: :boolean  %> 紧急
            <%= f.input_field :innovative_flag, as: :boolean  %> 创新
            <%= f.input_field :difficult_flag, as: :boolean %> 难点
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">任务描述：</label>
        <div class="col-sm-9">
          <%= f.cktext_area :content, input_html: {data: {'parsley-required': true}} %>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-2 col-md-9">
          <%= f.button :submit, '提交', class: 'btn blue' %>
          <%= link_to '取消', admin_tasks_path, class: 'btn' %>
        </div>
      </div>
    </div>
<% end %>
<script type="text/javascript" charset="utf-8">
    $(function () {
        initImageWebuploader($('#webuploader'));
        $('.task-category').select2()
        $('.task-workplace').select2()
        // 异步加载志愿者列表
        $('#volunteer-ajax').select2({
            language: "zh-CN",
            placeholder: '请选择志愿者',
            allowClear: true,
            multiple: true,
            ajax: {
                url: "/selects/volunteers",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.volunteer_name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            }
        });

        $(".user_selector").select2({
            language: "zh-CN",
            placeholder: '请选择负责人',
            allowClear: true,
            ajax: {
                url: "/selects/users",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            }
        });
    })
</script>