<% specials.each do |special| %>
  <div class="clearfix speciais-t">
    <%= link_to special_path(special) do %>
      <div class="speciais-con-img pull-left">
        <%= image_tag special.banner.try(:file).try(:url, :medium).to_s %>
      </div>
      <div class="speciais-con-con pull-left">
        <p class="gsh-cont-2"><%= special.name %></p>
        <!-- <p class="gsh-cont-1">菠菜 |  2018年02月22日</p> -->
        <p class="gsh-cont-3"><%= special.describe %></p>
      </div>
    <% end %>
  </div>
<% end %>
<% if specials.current_page < specials.total_pages %>
<div class="speciais-cont-but border-t">
  <%= link_to specials_path(page: specials.current_page+1), remote: true do %><button>加载更多</button><% end %>
</div>
<% end %>
