<div class="speciais clearfix">
  <div class="speciais-left pull-left ">
    <div class="speciais-con">
      <div class="donations-1" >
        <ul class="donations1 clearfix">
          <li class="cur "><%= link_to articles_path do %>资讯
            <div class=""></div><% end %></li>
          <li class="cur selectedDo "><%= link_to specials_path do %>专题
            <div class="bottomline"></div><% end %></li>
        </ul>
      </div>
      <% @specials.each do |special| %>
        <div class="clearfix speciais-t">
          <%= link_to special_path(special) do %>
            <div class="speciais-con-img pull-left">
              <%= image_tag special.banner.try(:file).try(:url, :medium).to_s %>
            </div>
            <div class="speciais-con-con pull-left">
              <p class="gsh-cont-2"><%= special.name %></p>
              <!-- <p class="gsh-cont-1">菠菜 |  2018年02月22日</p> -->
              <p class="gsh-cont-3"><%= special.describe %></p>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="speciais-cont-but border-t">
        <button>加载更多</button>
      </div>
    </div>
  </div>
  <div class="speciais-right pull-right ">
    <div class="donations-1" >
      <ul class="donations1 clearfix">
        <li class="cur selectedDo">热门资讯</li>
      </ul>
    </div>
    <div class="speciais-right-pos">
      <%= image_tag 'activity-img.png' %>
      <div class="speciais-con-con">
        <div></div>
        <p class="gsh-cont-2">为爱冲关---安徽卫视《男生女生向前冲》格桑花专场 孩子们和志愿者们一为爱冲关---安徽卫视《男生女生向前冲》格桑花专场 孩子们和志愿者们一</p>
      </div>
    </div>
    <div class="clearfix speciais-right-cont">
      <div class="speciais-con-img pull-left">
        <%= image_tag 'ucenter-top-bg.png' %>
      </div>
      <div class="speciais-con-con pull-left">
        <p class="gsh-cont-2">为爱冲关---安徽卫视《男生女生向前冲》格桑花专场 孩子们和志愿者们一</p>
        <p class="gsh-cont-1">菠菜 |  2018年02月22日</p>
      </div>
    </div>
    <div class="clearfix speciais-right-cont">
      <div class="speciais-con-img pull-left">
        <%= image_tag 'ucenter-top-bg.png' %>
      </div>
      <div class="speciais-con-con pull-left">
        <p class="gsh-cont-2">为爱冲关---安徽卫视《男生女生向前冲》格桑花专场 孩子们和志愿者们一</p>
        <p class="gsh-cont-1">菠菜 |  2018年02月22日</p>
      </div>
    </div>
    <div class="clearfix speciais-right-cont">
      <div class="speciais-con-img pull-left">
        <%= image_tag 'ucenter-top-bg.png' %>
      </div>
      <div class="speciais-con-con pull-left">
        <p class="gsh-cont-2">为爱冲关---安徽卫视《男生女生向前冲》格桑花专场 孩子们和志愿者们一</p>
        <p class="gsh-cont-1">菠菜 |  2018年02月22日</p>
      </div>
    </div>
    <div class="clearfix speciais-right-cont">
      <div class="speciais-con-img pull-left">
        <%= image_tag 'ucenter-top-bg.png' %>
      </div>
      <div class="speciais-con-con pull-left">
        <p class="gsh-cont-2">为爱冲关---安徽卫视《男生女生向前冲》格桑花专场 孩子们和志愿者们一</p>
        <p class="gsh-cont-1">菠菜 |  2018年02月22日</p>
      </div>
    </div>
  </div>

</div>
