<div id="article">
  <div class="article-img">
    <%= image_tag @special.banner.try(:file).try(:url, :large).to_s %>
    <!-- <%= image_tag 'shadow.png' %> -->
    <div></div>
  </div>
  <div class="article1-title">
    <button class="article-but cur">专题</button>
    <!-- <p class="article-font">在醋香四溢的城市里  我们收获的不只是爱心</p> -->
    <p class="article-font"><%= @special.name %></p>
    <!-- <p class="article-con read-more">长江上游的水横穿中国，流到下游不仅滋养了镇江，滋养的产物还被镇江人们酿成了醋。镇江可是闻名全中国的醋生产地，就小编个人来说，从</p> -->
    <p class="article-con read-more"><%= @special.describe %></p>
  </div>
  <div class="article1-read-cont">
    <% if @special_article1.present? %>
      <div class="border-r">
        <div class="ovrly"></div>
        <p class="gsh-cont-1"><%= @special_article1.author %> | <%= @special_article1.published_at.strftime("%Y年%m月%d日") %></p>
        <p class="gsh-cont-2"><%= @special_article1.title %></p>
        <p class="gsh-cont-3"><%= @special_article1.describe %></p>
      </div>
    <% end %>
    <% if @special_article2.present? %>
      <div class="border-r">
        <div class="ovrly" style="background: #bd47ee;"></div>
        <p class="gsh-cont-1"><%= @special_article2.author %> | <%= @special_article2.published_at.strftime("%Y年%m月%d日") %></p>
        <p class="gsh-cont-2"><%= @special_article2.title %></p>
        <p class="gsh-cont-3"><%= @special_article2.describe %></p>
      </div>
    <% end %>
    <% if @special_article3.present? %>
      <div>
        <div class="ovrly" style="background: #8b54e3;"></div>
        <p class="gsh-cont-1"><%= @special_article3.author %> | <%= @special_article3.published_at.strftime("%Y年%m月%d日") %></p>
        <p class="gsh-cont-2"><%= @special_article3.title %></p>
        <p class="gsh-cont-3"><%= @special_article3.describe %></p>
      </div>
    <% end %>
  </div>
  <div class="swiper-collaboration">
    <p>最新资讯</p>
  </div>
<div class="article1-read-swiper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% @articles.each do |article| %>
      <div class="swiper-slide">
        <div class="recommend-img">
          <%= image_tag article.image.try(:file).try(:url, :medium).to_s %>
        </div>
        <p class="gsh-cont-1"><%= article.author %> | <%= article.published_at.strftime("%Y年%m月%d日")%></p>
        <p class="gsh-cont-2"><%= article.title %></p>
      </div>
      <% end %>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>


  <div class="camps-share " >
    <p style="margin: 30px auto 0 auto;">分享</p>
    <ol>
      <li  style="padding: 20px 268px 80px 268px;">
        <div id="share-2"></div>
      </li>

    </ol>
  </div>

</div>
<script>
    $('#share-2').share({
        sites: ['qzone', 'wechat', 'weibo', 'qq']
    });
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        spaceBetween: 30,
        freeMode: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        on: {
            slideChange: function(){
                if(this.isEnd){
                    this.navigation.$nextEl.css('display','none');
                }else{
                    this.navigation.$nextEl.css('display','block');
                }
                if(this.isBeginning){
                    this.navigation.$prevEl.css('display','none');
                }else{
                    this.navigation.$prevEl.css('display','block');
                }
            },
        }
    });
</script>
