<div id="article">
  <div class="article-img">
    <%= image_tag @special.banner.try(:file).try(:url, :large).to_s %>
    <div></div>
  </div>
  <div class="article1-title">
    <button class="article-but cur">专题</button>
    <p class="article-font"><%= @special.name %></p>
    <p class="article-con read-more"><%= @special.describe.html_safe %></p>
  </div>
  <div class="article1-read-cont clearfix">
    <% if @text_news.present? %>
      <% if @text_news.first.present? %>
        <div class="border-r">
          <%= link_to article_path(@text_news.first) do %>
              <div class="ovrly"></div>
              <p class="gsh-cont-1"><%= @text_news.first.author %> | <%= @text_news.first.published_at.strftime("%Y年%m月%d日") %></p>
              <p class="gsh-cont-2"><%= @text_news.first.title %></p>
              <p class="gsh-cont-3"><%= @text_news.first.describe %></p>
          <% end %>
        </div>
      <% end %>
      <% if @text_news.second.present? %>
        <div class="border-r">
          <%= link_to article_path(@text_news.second) do %>
            <div class="ovrly" style="background: #bd47ee;"></div>
            <p class="gsh-cont-1"><%= @text_news.second.author %> | <%= @text_news.second.published_at.strftime("%Y年%m月%d日") %></p>
            <p class="gsh-cont-2"><%= @text_news.second.title %></p>
            <p class="gsh-cont-3"><%= @text_news.second.describe %></p>
          <% end %>
        </div>
      <% end %>
      <% if @text_news.third.present? %>
        <div>
          <%= link_to article_path(@text_news.third) do %>
            <div class="ovrly" style="background: #8b54e3;"></div>
            <p class="gsh-cont-1"><%= @text_news.third.author %> | <%= @text_news.third.published_at.strftime("%Y年%m月%d日") %></p>
            <p class="gsh-cont-2"><%= @text_news.third.title %></p>
            <p class="gsh-cont-3"><%= @text_news.third.describe %></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="swiper-collaboration">
    <p>专题资讯</p>
  </div>
  <div class="article1-read-swiper">
    <!--<div class="bd mt20" >-->
      <!--<div id="sca1" class="warp-pic-list" style="position: relative;">-->
        <!--<div id="wrapBox2" class="wrapBox">-->
          <!--<ul id="count2" class="count clearfix" style="margin-bottom: 80px;">-->
            <!--<% @image_news.each do |image_new| %>-->
                <!--<li  class="pull-left">-->
                  <!--<%= link_to article_path(image_new) do %>-->
                      <!--<div class="recommend-img">-->
                        <!--<%= image_tag image_new.image.try(:file).try(:url, :medium).to_s %>-->
                      <!--</div>-->
                      <!--<p class="gsh-cont-1"><%= image_new.author %> | <%= image_new.published_at.strftime("%Y年%m月%d日")%></p>-->
                      <!--<p class="gsh-cont-2"><%= image_new.title %></p>-->
                  <!--<% end %>-->
                <!--</li>-->
            <!--<% end %>-->

          <!--</ul>-->
        <!--</div>-->
        <!--<div class="scaase">-->
          <!--<div id="right2" class="prev  butn">-->
            <!--<span class="iconfont icon-arrow-left bul-icon-prev"></span>-->
          <!--</div>-->
          <!--<div id="left2" class="next  butn">-->
            <!--<span class="iconfont icon-arrow-left bul-icon-next"></span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->



    <div id="swipertab article1-read-swiper">

      <div class="row">
        <div class="span12 border-b" style="position: relative;">

          <div id="owl-article" class="owl-carousel">
            <% @image_news.each do |image_new| %>
            <div class="item">
                    <%= link_to article_path(image_new) do %>
                        <div class="recommend-img">
                          <%= image_tag image_new.image.try(:file).try(:url, :medium).to_s %>
                        </div>
                        <p class="gsh-cont-1"><%= image_new.author %> | <%= image_new.published_at.strftime("%Y年%m月%d日")%></p>
                        <p class="gsh-cont-2"><%= image_new.title %></p>
                    <% end %>


            </div>
            <% end %>



          </div>
          <div class="swiperNavigation ">
            <a class=" prev pull-left butn" >
              <span class="iconfont icon-arrow-left bul-icon-prev"></span>
            </a>
            <a class=" next pull-right butn">            <span class="iconfont icon-arrow-left bul-icon-next"></span>
              </a>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="camps-share " >
    <p style="margin: 30px auto 0 auto;">分享</p>
    <ol>
      <li  style="padding: 20px 268px 80px 268px;">
        <div id="share-2"></div>
      </li>

    </ol>
  </div>

</div>

<script>
    $('#share-2').share({
        sites: ['qzone', 'wechat', 'weibo', 'qq'],
        title: '<%= @special.name %>',
        description: '<%= @special.name %>',
        image: 'http://<%= Settings.app_host%><%= @special.banner_url(nil) %>'
    });
    $("#owl-article").owlCarousel({
        items : 3
    });
    $(".next").click(function(){
        $("#owl-demo").trigger('owl.next');
    })
    $(".prev").click(function(){
        $("#owl-demo").trigger('owl.prev');
    })

    if($('.owl-item').length <=3){
        $('.next').css({'display': 'none'})
        $('.prev').css({'display': 'none'})

    }
</script>
