<div id="article">
  <div class="article-img">
    <%= image_tag @special.banner.try(:file).try(:url, :large).to_s %>
  </div>
  <div class="article-title border-b">
    <button class="article-but cur">专题</button>
    <p class="article-font"><%= @special.name %></p>
    <p class="article-con read-more"><%= @special.describe.html_safe %></p>
  </div>
  <div class="article-read border-b">
    <p>专题新闻</p>
    <div class="article-reads clearfix">
      <div class="pull-left">
        <% if @text_news.first.present? %>
          <%= link_to article_path(@text_news.first) do %>
          <div class="pull-left-img">
            <%= image_tag @text_news.first.image_url(:large).to_s %>
            <div class="pull-left-cont">
              <p>01</p>
              <p><%= @text_news.first.title %></p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="pull-left">
        <% if @text_news && @text_news.second.present? %>
          <%= link_to article_path(@text_news.second) do %>
            <div>
              <p class="gsh-cont-num">02</p>
              <p class="gsh-cont-1"><%= @text_news.second.author %> | <%= @text_news.second.published_at.strftime("%Y年%m月%d日") %></p>
              <p class="gsh-cont-2"><%= @text_news.second.title %></p>
              <p class="gsh-cont-3"><%= @text_news.second.describe %></p>
            </div>
          <% end %>
        <% end %>
        <% if @text_news && @text_news.third.present? %>
          <%= link_to article_path(@text_news.third) do %>
            <div>
              <p class="gsh-cont-num">03</p>
              <p class="gsh-cont-1"><%= @text_news.third.author %> | <%= @text_news.third.published_at.strftime("%Y年%m月%d日") %></p>
              <p class="gsh-cont-2"><%= @text_news.third.title %></p>
              <p class="gsh-cont-3"><%= @text_news.third.describe %></p>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="article-new">
    <div class="recommend">
      <p>专题资讯</p>
      <div class="row recommend-cont">
        <% @image_news.each do |image_new| %>
          <div class="col-md-4">
            <%= link_to article_path(image_new) do %>
              <div class="recommend-img">
                <%= image_tag image_new.image.try(:file).try(:url, :large).to_s %>
              </div>
              <p class="gsh-cont-1"><%= image_new.author %> | <%= image_new.published_at.strftime("%Y年%m月%d日")%></p>
              <p class="gsh-cont-2"><%= image_new.title %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="project-foot">
    <%= paginate @image_news, theme: :tiny %>
  </div>
  <div class="camps-share " >
    <p style="margin: 30px auto 0 auto;">分享</p>
    <ol>
      <li  style="padding: 20px 268px 80px 268px;">
        <div id="share-2"></div>
      </li>

    </ol>
  </div>

</div>
<script>
    $('#share-2').share({
        sites: ['qzone', 'wechat', 'weibo', 'qq']
    });
</script>
