<div id="article">
  <div class="article-img">
    <%= image_tag 'news-listpage.png' %>
    <div></div>
  </div>
  <div class="article-title border-b">
    <button class="article-but cur">专题</button>
    <p class="article-font">在醋香四溢的城市里  我们收获的不只是爱心</p>
    <p class="article-con read-more">长江上游的水横穿中国，流到下游不仅滋养了镇江，滋养的产物还被镇江人们酿成了醋。镇江可是闻名全中国的醋生产地，就小编个人来说，从</p>
  </div>
  <div class="article-read border-b">
    <p>专题导读</p>
    <div class="article-reads clearfix">
      <div class="pull-left">
        <div class="pull-left-img">
          <%= image_tag 'news-listpage.png' %>
          <div class="pull-left-cont">
            <p>01</p>
            <p>生活即教育，在城市中深度远行 | 2016年格桑花苏州 拓展营记</p>
          </div>
        </div>
      </div>
      <div class="pull-left">
        <div>
          <p class="gsh-cont-num">02</p>
          <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
          <p class="gsh-cont-2">西滩寄小“寻宝藏，探成都”，我把学到的本领教给其他同学啦</p>
          <p class="gsh-cont-3">还记得9月去参加成都营的孩子们在路上写的札记吗？小编还记得有个小朋友在笔记本上写道：今天我和其他学校的同学们去成都拓展营学本领</p>
        </div>
        <div>
          <p class="gsh-cont-num">03</p>
          <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
          <p class="gsh-cont-2">西滩寄小“寻宝藏，探成都”，我把学到的本领教给其他同学啦</p>
          <p class="gsh-cont-3">还记得9月去参加成都营的孩子们在路上写的札记吗？小编还记得有个小朋友在笔记本上写道：今天我和其他学校的同学们去成都拓展营学本领</p>
        </div>

      </div>
    </div>
  </div>
  <div class="article-new">
    <div class="recommend">
      <p>最新资讯</p>
      <div class="row recommend-cont">
        <div class="col-md-4">
          <div class="recommend-img">
            <%= image_tag 'gsh-img-1.png' %>
          </div>
          <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
          <p class="gsh-cont-2">西滩寄小“寻宝藏，探成都”，我把学到的本领教给其他同学啦</p>
        </div>
        <div class="col-md-4">
          <div class="recommend-img">
            <%= image_tag 'gsh-img-1.png' %>
          </div>
          <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
          <p class="gsh-cont-2">西滩寄小“寻宝藏，探成都”，我把学到的本领教给其他同学啦</p>
        </div>
        <div class="col-md-4">
          <div class="recommend-img">
            <%= image_tag 'gsh-img-1.png' %>
          </div>
          <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
          <p class="gsh-cont-2">西滩寄小“寻宝藏，探成都”，我把学到的本领教给其他同学啦</p>
        </div>
        <div class="col-md-4">
          <div class="recommend-img">
            <%= image_tag 'gsh-img-1.png' %>
          </div>
          <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
          <p class="gsh-cont-2">西滩寄小“寻宝藏，探成都”，我把学到的本领教给其他同学啦</p>
        </div>
        <div class="col-md-4">
          <div class="recommend-img">
            <%= image_tag 'gsh-img-1.png' %>
          </div>
          <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
          <p class="gsh-cont-2">西滩寄小“寻宝藏，探成都”，我把学到的本领教给其他同学啦</p>
        </div>
        <div class="col-md-4">
          <div class="recommend-img">
            <%= image_tag 'gsh-img-1.png' %>
          </div>
          <p class="gsh-cont-1">菠菜 | 2018年02月22日</p>
          <p class="gsh-cont-2">西滩寄小“寻宝藏，探成都”，我把学到的本领教给其他同学啦</p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-foot">
    <span class="iconfont icon-arrow-left cur"></span>
    <span class="iconfont icon-arrow-right cur"></span>
  </div>
  <div class="camps-share border-t" >
    <p style="margin: 30px auto 0 auto;">分享</p>
    <ol>
      <li  style="padding: 20px 268px 80px 268px;">
        <div id="share-2"></div>
      </li>

    </ol>
  </div>

</div>
<script>
    $('#share-2').share({
        sites: ['qzone', 'wechat', 'weibo', 'qq']
    });
</script>
