<div class="person-body-right pull-right" id="feedback-shows">

  <div style="display: block;">
    <p class="don-title border-b ">
      <span class="pull-left"><%= @project.name %>项目定期反馈</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right"><%= link_to platform_school_feedbacks_path do %>返回<% end %></span>
    </p>
    <% if @continuals.present? %>
      <div class="plat-school-apply-pair" style="padding: 10px 0 0 0;">
        <% @continuals.each do |continual| %>
          <div class="school-feed">
            <%= image_tag continual.user.user_avatar %>
            <span><%= continual.user.show_name %> ·</span>
            <span><%= continual.created_at.strftime("%Y-%m-%d")%>发布</span>
          </div>
          <div class="school-apply-pair-table" style="margin: 20px 0;">
            <p>反馈详情</p>
            <div class="school-apply-pair-table-cont ">
              <% if continual.project.complex? %>
              <p>开展时间：<%= continual.arise_at %>   开展班级：<%= continual.arise_class %>   参与人数：<%= continual.number %></p>
              <% end %>
              <p><%= continual.content.html_safe %></p>
              <% if continual.images.present? %>
                <div class="feedback-shows-img">
                  <% continual.images.each do |image| %>
                    <div>
                    <a data-magnify="gallery"  href="<%=image_url image.try(:file).try(:url, :medium).to_s %>">
                    <%= image_tag image.try(:file).try(:url, :medium).to_s, :style => "width:211px" %>
                    </a>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <% end %>
      </div>
        <div class="project-foot">
          <%= paginate @continuals, theme: 'tiny' %>
        </div>
    <% else %>
    <div class="donation-cont-no">
      <div class="donation-co-no-c">
        <p>暂无定期反馈</p>
      </div>
    </div>
    <% end %>
  </div>

</div>
<script>
    // //图片展示
    $('[data-magnify]').magnify({
        headToolbar: [
            'close'
        ],
        initMaximized: true
    });
</script>
