<div class="person-body-right pull-right">

  <div>
    <%= render '/layouts/shared/platform_school_projects' %>
    <% if @applies.present? %>
      <div class="project-list-table-co">
        <table class="project-list-table" >
          <thead>
            <tr>
              <th scope="col" class="table-tit-1">申请项目名称</th>
              <th scope="col" class="table-tit-2">申请状态</th>
              <th scope="col" class="table-tit-3">操作</th>
            </tr>
          </thead>
          <tbody>
            <% @applies.each do |apply| %>
              <tr class="notable">
                <td colspan="3"></td>
              </tr>
              <tr >
                <td colspan="3" class="apply-title-tables">
                  <p>申请时间：<%= apply.created_at.strftime("%Y-%m-%d %H:%M")%> <span>申请编号：<%= apply.apply_no %></span></p>
                </td>
              </tr>
              <tr class="school-apply-pair-table-cont ">
                <th style="padding: 20px;">
                  <div>
                    <p class="school-apply-pair-tit"><%= apply.apply_name %></p>
                    <!-- <p class="school-apply-pair-f">申请人：张老师</p> -->

                  </div>
                </th>
                <td class="apply-tables-2 ">
                 <%= apply.enum_name(:pair_state) %>
                </td>
                <td>
                  <%= link_to '查看申请详情', platform_school_apply_pair_path(apply), class:'lookapply',style:'margin-top:10px;' %>
                   <% if apply.waiting_upload? %>
                    <%= link_to '提交名单', child_list_platform_school_apply_pair_children_path(apply), class:'lookbutton' %>
                   <% elsif apply.pair_complete? %>
                   <%= link_to '查看名单', platform_school_apply_pair_children_path(apply, state: 'pass'), class:'lookbutton' %>
                   <% end %>
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="donation-cont-no">
        <div class="donation-co-no-c">
          <p>很抱歉，您的学校暂未有结对助学项目申请配额可联系格桑花管理员申请</p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="project-foot">
    <%= paginate @applies, theme: :tiny %>
  </div>
</div>
