<div class="person-body-right pull-right">

  <div >
    <div class="don-title border-b clearfix">
      <span class="pull-left">结对助学申请详情</span>

      <div class="don-title-icon pull-right">
        <%= link_to platform_school_apply_pairs_path do %>
            <span class="pull-right iconfont icon-arrow-right"></span>
            <span class="pull-right">返回项目管理</span>
        <% end %>
      </div>
    </div>
    <div class="plat-school-apply-pair">
    <p class="school-apply-pair-tit"><%= @apply.apply_name %></p>
      <div class="school-apply-pair-table">
      <p>申请详情</p>
      <div class="school-apply-pair-table-cont">
        <p><span>申请编号：</span><%= @apply.apply_no %></p>
        <p><span>申请学校：</span><%= @apply.school.name %></p>
        <p><span>申请批次：</span><%= @apply.season.name %></p>
        <p><span>学生数量：</span><%= @apply.number %>人</p>
      </div>
    </div>
      <div class="school-apply-pair-table">
        <p>申请要求</p>
        <div class="school-apply-pair-table-cont">
          <p><%= @apply.describe.html_safe %></p>
        </div>
      </div>
      <div class="school-apply-pair-table">
        <p>学生名单</p>
        <div class="school-apply-pair-table-cont">
          <% @apply.children.check_list.each do |child| %>
          <p><span><%= child.name %></span><%= child.age %>岁 | <%= child.enum_name(:gender) %> | <%= child.enum_name(:level) %> <%= child.enum_name(:grade) %></p>
          <% end %>
        </div>
      </div>
      <div class="don-co">
        <div class="don-co-but cur" >
          <% if @apply.waiting_upload? %>
            <%= link_to child_list_platform_school_apply_pair_children_path(@apply) do %><button class="apply-show-btn">提交学生名单</button><% end %>
          <% elsif @apply.pair_complete? %>
            <%= link_to platform_school_apply_pair_children_path(@apply, state: 'pass') do %><button class="apply-show-btn">查看学生名单</button><% end %>
          <% else %>
            <button class="apply-show-btn"><%= @apply.enum_name(:audit_state) %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
