<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">新增捐助</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @donate_item], url: admin_donate_items_path, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'form-horizontal donate_item_form'} do |f| %>
        <%= f.error_notification %>
        <div class="form-body">
          <%= f.input :name, label: '捐助名称：', autofocus: true, placeholder: '', required: true %>
          <%= f.input :describe, label: '捐助说明：', placeholder: '说明该款项用途' %>
          <div class="form-group">
            <label class="col-md-2 control-label">捐助财务分类：</label>
            <div class="col-sm-9">
              <select id="fund" class="form-control select optional" name="donate_item[fund_id]" required>
                <% FundCategory.sorted.each do |fc| %>
                    <optgroup label="<%= fc.name %>">
                    <% fc.funds.sorted.each do |fund| %>
                        <option value="<%= fund.id %>" <%= 'selected' if @donate_item.fund_id == fund.id %>><%= fc.name %> - <%= fund.name %></option>
                    <% end %>
                    </optgroup>
                <% end %>
              </select>
            </div>
          </div>
          <%= f.input :state, as: :radio_buttons, wrapper: :inline_inputs, collection: DonateItem.options_for_enum_select(:states), label: '状态：', input_html: {data: {'parsley-required': true}} %>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-offset-2 col-md-9">
                <%= f.button :submit, '提交', class: 'btn blue' %>
                <%= link_to '取消', admin_donate_items_path, class: 'btn' %>
              </div>
            </div>
          </div>
    <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        initImageWebuploader($('#webuploader'));

        $("#fund").select2({
            language: "zh-CN"
        });
    })

    $("#form").nestedAttributes({
        bindAddTo: $("#add-form-item")
    });
</script>
