<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-icon"></i>
      <span class="caption-subject">修改专题</span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @special], wrapper: :admin_form, html: {data: {'parsley-validate': true}} do |f| %>
        <%= f.error_notification %>
        <div class="form-body form-horizontal">
          <%= f.input :name, label: '专题名称：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
          <%= f.input :template, as: :select, label: '模板类型：', collection: Special.options_for_enum_select(:templates), include_blank: false %>

        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <%= f.button :submit, '提交', class: 'btn green' %>
              <%= link_to '取消', admin_specials_path, class: 'btn' %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
