<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-icon"></i>
      <span class="caption-subject">新增专题</span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @special], wrapper: :admin_form, html: {data: {'parsley-validate': true}} do |f| %>
        <%= f.error_notification %>
        <div class="form-body form-horizontal">
          <%= f.input :name, label: '专题名称：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
          <%= f.input :article_category_id, collection: ArticleCategory.show, label: '分类：', prompt: "请选择资讯分类", input_html: {data: {'parsley-required': true}} %>
          <%= f.input :author, label: '作者：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
          <%= f.input :template, as: :radio_buttons, wrapper: :inline_inputs, label: '选择模板：', collection: Special.options_for_enum_select(:templates) %>
          <div class="form-group">
            <label class="col-md-2 control-label">专题Banner：</label>
            <div class="col-sm-9">
              <%= webuploader_tag :banner_id, label: '上传Banner', type: 'special_banner', asset: @special.banner, klass: 'single' %>
              <p class="help-block">支持上传png、jpg格式 ，图片尺寸1400X370px</p>
            </div>
          </div>
          <%= f.input :describe, label: '专题导读：', input_html: { data: {'parsley-required': true}} %>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <%= f.button :submit, '新增', class: 'btn green' %>
              <%= link_to '取消', admin_specials_path, class: 'btn' %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<script>
    $(function () {
        initImageWebuploader($('#webuploader'));
    })
</script>
