<%= simple_form_for [:camp, @apply, @apply_camp], url: @apply_camp.new_record? ? camp_project_project_season_apply_camps_path : camp_project_project_season_apply_camp_path, wrapper: :admin_form, html: {class: 'form-horizontal project_form', 'data-parsley-validate': true} do |f| %>
  <%= f.error_notification %>
  <div class="form-body form-horizontal">
    <%= static_form_control '探索营名称', @apply.name %>
    <%= f.input :school_id, as: :select, collection: [@apply_camp.school].compact.map{|s| [s.name, s.id]}, label: '选择学校：', input_html: {class: 'schools-ajax'} %>
    <%= f.input :student_number, label: '学生数量：', type: 'number', min: 0, placeholder: '', required: true %>
    <%= f.input :teacher_number, label: '陪同教师：', type: 'number', min: 0, placeholder: '', required: true %>
    <%= f.input :describe, label: '申请要求：', placeholder: '', required: true %>
    <%= f.input :contact_name, label: '联系老师：', placeholder: '', required: true %>
    <%= f.input :contact_phone, label: '联系方式：', placeholder: '', required: true %>
    <%= f.input :time_limit, as: :radio_buttons, wrapper: :inline_inputs, collection: ProjectSeasonApplyCamp.options_for_some_select(:time_limits, ['restrict', 'unrestrict']), label: '设置截止时间：', required: 'required', input_html: { class: 'limit_state', onclick: 'toggleState();'} %>
    <div class="limit_state">
      <div class="form-group">
        <label class="col-md-2 control-label">报名截止时间：</label>
        <div class="col-sm-9">
          <%= f.text_field :end_time, class: 'datetime-picker', placeholder: '报名截止时间', required: true %>
        </div>
      </div>
    </div>

  </div>
  <div class="form-actions">
    <div class="row">
      <div class="col-md-offset-2 col-md-9">
        <%= f.button :submit, '提交', class: 'btn blue' %>
        <%= link_to '取消', request.referer, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>
<script>
    function toggleState(){
        toggleRadioInput('.limit_state', {
            restrict: '.limit_state'
        })
    }
    toggleState();

    $(function () {
        // 异步加载学校列表
        $('.schools-ajax').select2({
            language: "zh-CN",
            placeholder: '请选择学校',
            allowClear: true,
            ajax: {
                url: "/selects/schools",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            }
        });
    })
</script>
