<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">修改学校申请</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <%= link_to admin_school_applies_path, class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
        <i class="fa fa-reply"></i>
        <span>返回</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body form">
    <div class="form-body form-horizontal">
      <div class="row">
        <div class="col-md-12">
          <div class="tabbable-line boxless tabbable-reversed">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tab_0" data-toggle="tab" aria-expanded="true"> 申请资料 </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_0">

                <%= simple_form_for [:admin, @school_apply], url: admin_school_apply_path, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'school_form'} do |f| %>
                  <%= f.error_notification %>
                  <%= f.input :name, label: '学校全称：', autofocus: true, placeholder: '学校全称', input_html: { data: {'parsley-required': true}} %>
                  <%= static_form_control '学校申请人：', @school_apply.try(:creater).try(:real_name) %>
                  <div style="margin-bottom: 20px;" class="form-group">
                    <label class="col-md-2 control-label select required" for="project_category_id">学校所在地：</label>
                    <div class="col-sm-6">
                      <div class="row city-group">
                        <div class="col-sm-3">
                          <%= select_tag 'school[province]', options_for_select(ChinaCity.list, @school_apply.province.presence), prompt: '省份', class: "form-control city-select" %>
                        </div>
                        <div class="col-sm-3">
                          <%= select_tag 'school[city]', options_for_select(ChinaCity.list(@school_apply.province.to_s), @school_apply.city.presence), prompt: '城市', class: "form-control city-select" %>
                        </div>
                        <div class="col-sm-3">
                          <%= select_tag 'school[district]', options_for_select(ChinaCity.list(@school_apply.city.to_s), @school_apply.district.presence), prompt: '地区', class: "form-control city-select" %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%= f.input :address, label: '通信地址：', placeholder: '通信地址', input_html: { data: {'parsley-required': true}} %>
                  <%= f.input :contact_name, label: '学校负责人姓名：', placeholder: '负责人姓名', input_html: { data: {'parsley-required': true}} %>
                  <%= f.input :contact_id_card, label: '负责人身份证号码：', placeholder: '身份证号码', input_html: { data: {'parsley-required': true}} %>
                  <%= f.input :contact_phone, label: '负责人手机号码：', placeholder: '手机号码', input_html: { data: {'parsley-required': true}} %>
                  <%= f.input :number, label: '学生人数：', placeholder: '学生人数', input_html: { data: {'parsley-required': true}} %>
                  <%= f.input :teacher_count, label: '教师人数：', placeholder: '教师人数', input_html: { data: {'parsley-required': true}} %>
                  <%= f.input :logistic_count, label: '后勤人数：', placeholder: '后勤人数', input_html: { data: {'parsley-required': true}} %>
                  <%= f.input :describe, label: '学校简介：', placeholder: '请填写学校简介' %>
                <div class="form-group">
                  <label class="col-md-2 control-label">申请图片：</label>
                  <div class="col-sm-9">
                    <%= webuploader_tag 'image_ids[]', label: '上传学校申请图片', type: 'school_image', asset: @school_apply.images %>
                    <!-- <span style="color: red">注意：左起第一张图片为第一张图</span> -->
                  </div>
                </div>
                <div class="form-actions">
                  <div class="row">
                    <div class="col-md-offset-2 col-md-9">
                      <%= f.button :submit, '提交', class: 'btn blue' %>
                      <%= link_to '取消', admin_school_applies_path, class: 'btn' %>
                    </div>
                  </div>
                </div>
                <% end %>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
    $(function(){
        $(".school_form .user_selector").select2({
          language: "zh-CN",
          placeholder: '请选择申请人',
          allowClear: true,
          ajax: {
            url: "/ajaxes/school_users",
            dataType: 'json',
            delay: 250,
            data: function (params) {
              return {
                q: params.term, // search term
                page: params.page
              };
            },
            processResults: function (data, params) {
              params.page = params.page || 1;
              return {
                  results: $.map(data.items, function (item) {
                    return {
                      text: item.name_for_select,
                      id: item.id
                  }
                }),
                pagination: {
                  more: (params.page * 30) < data.total_count
                }
              };
            },
            cache: true
          },
        });
        //多图上传
        initMultiImageWebuploader('.upload-wrap');
        $('.upload-list').viewer();
    })
</script>
