<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i>学校申请管理
    </div>
    <div class="actions">
      <%#= link_to new_admin_school_apply_path, class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
      <!-- <i class="icon-plus"></i>
      <span>新增学校申请</span> -->
      <%# end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= search_form_for @search, url: admin_school_applies_path, class: 'form-inline' do |f| %>
          <div class="form-group">
            <%= f.label :name_or_contact_name_or_contact_phone_cont, '搜索' %>
            <%= f.text_field :name_or_contact_name_or_contact_phone_cont, class: 'form-control gsh-input-share', placeholder: '学校名称、联系人、联系电话',style:'width:204px;' %>
          </div>
          <div class="form-group">
            <%= f.label :approve_state_eq, '审核状态' %>
            <%= f.select :approve_state_eq, School.options_for_some_select(:approve_states, ['submit', 'reject'], raw: true), {include_blank: '全部'}, class: 'form-control gsh-input-share' %>
          </div>
          <button type="submit" class="btn btn-default grey">搜索</button>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right">
          </div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
            <tr>
              <th>申请编号</th>
              <th>申请人</th>
              <th>申请时间</th>
              <th>学校名称</th>
              <th>地区</th>
              <th>学校负责人</th>
              <th>审核状态</th>
              <th>
                操作
              </th>
            </tr>
          </thead>
          <tbody>
            <% @school_applies.each do |school| %>
            <tr>
              <td>
                <%= school.school_no %>
              </td>
              <td>
                <%= school.try(:creater).try(:name) %>
              </td>
              <td>
                <%= l school.created_at %>
              </td>
              <td>
                <%= school.name %>
              </td>
              <td>
                <%= school.simple_address %>
              </td>
              <td>
                <%= school.contact_name %> | <%= school.contact_phone %>
              </td>
              <td>
                <%= school.enum_name(:approve_state) %>
              </td>
              <td>
                <%= link_to admin_school_apply_path(school), 'data-no-turbolink' => true, class: 'btn btn-xs yellow' do %>
                  <i class="fa fa-gavel"></i> 审核
                <% end %>
                <%= link_to edit_admin_school_apply_path(school), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                    <i class="fa fa-edit"></i> 修改
                <% end %>
                <%= link_to admin_school_apply_path(school), class: 'btn btn-xs red', method: :delete, data: {confirm: '确定要删除吗？'} do %>
                   <i class="fa fa-trash-o"></i> 删除
               <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@school_applies) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @school_applies, theme: 'admin' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
