<%= simple_form_for [:admin, @campaign], wrapper: :admin_form, html: {data: {'parsley-validate': true, class: 'campaign_form'}} do |f| %>
    <%= f.error_notification %>
    <div class="form-body form-horizontal">
      <%= f.input :name, label: '活动名称：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
      <%= f.input :campaign_category_id, collection: CampaignCategory.all, label: '活动分类：', prompt: "请选择活动分类", input_html: {data: {'parsley-required': true}} %>
      <div class="form-group">
        <label class="col-md-2 control-label">活动封面：</label>
        <div class="col-sm-9">
          <%= webuploader_tag :image_id, label: '上传活动封面图片', type: 'campaign_image', asset: @campaign.image, klass: 'single' %>
          <p class="help-block">支持上传png、jpg格式 ，图片尺寸888X510px</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">活动详情页banner：</label>
        <div class="col-sm-9">
          <%#= webuploader_tag 'banner_ids[]', label: '上传活动详情页banner', type: 'campaign_banner', asset: @campaign.banners, id: 'banner_ids' %>
          <%= webuploader_tag :banner_id, label: '上传活动详情页banner图片', type: 'campaign_banner', asset: @campaign.banner, klass: 'single', id: 'banner_id' %>
          <p class="help-block">支持上传png、jpg格式 ，图片尺寸888X510px</p>          <!-- <span style="color: red">注意：左起第一张图片为第一张图</span> -->
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">活动时间：</label>
        <div class="col-sm-9">
          <%= f.text_field :start_time, class: 'datepicker', placeholder: '开始时间', input_html: {data: {'parsley-required': true}}, id: 'start_time' %> --
          <%= f.text_field :end_time, class: 'datepicker', placeholder: '结束时间', input_html: {data: {'parsley-required': true}}, id: 'end_time' %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">报名时间：</label>
        <div class="col-sm-9">
          <%= f.text_field :sign_up_start_time, class: 'datepicker', placeholder: '报名开始时间', input_html: {data: {'parsley-required': true}}, id: 'sign_up_start_time' %> --
          <%= f.text_field :sign_up_end_time, class: 'datepicker', placeholder: '报名结束时间', input_html: {data: {'parsley-required': true}}, id: 'sign_up_end_time' %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">指定财务分类：</label>
        <div class="col-sm-9">
          <select id="fund-restricted" class="form-control select optional" name="campaign[appoint_fund_id]" required>
            <option value="">请选择财务分类</option>
            <% FundCategory.sorted.each do |fc| %>
                <optgroup label="<%= fc.name %>">
                <% fc.funds.sorted.each do |fund| %>
                    <option value="<%= fund.id %>" <%= 'selected' if @campaign.appoint_fund_id == fund.id %>><%= fc.name %> - <%= fund.name %></option>
                <% end %>
                </optgroup>
            <% end %>
          </select>
        </div>
      </div>
      <%= f.input :number, label: '限制人数：', autofocus: true, placeholder: '如不填写，人数不限', input_html: { data: {}} %>
      <%= f.input :price, label: '活动价格：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
      <div class="form-group">
        <label class="col-md-2 control-label">活动详情：</label>
        <div class="col-sm-9">
          <%= f.cktext_area :content, input_html: { data: {'parsley-required': true}}  %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label"> 报名表单项：</label>
        <div class="col-sm-9">
          <div id="form" class="form-inline">
            <% f.object.build_form if f.object.form.blank? %>
            <% f.object.form.each_with_index do |form_item, i| %>
                <div class="inline-group">
                  <%= hidden_field_tag "campaign[form_attributes][#{i}][key]", form_item['key'], placeholder: '代码'%>
                  <%= text_field_tag "campaign[form_attributes][#{i}][label]", form_item['label'], placeholder: '标题'%>
                  <%= text_field_tag "campaign[form_attributes][#{i}][placeholder]", form_item['placeholder'], placeholder: '提示'%>
                  <%= select_tag "campaign[form_attributes][#{i}][type]", options_for_select([['文本框', 'text'], ['多行文本框', 'textarea'], ['数字选择', 'number'], ['选项', 'select']], form_item['type']), placeholder: '代码'%>
                  <%= text_field_tag "campaign[form_attributes][#{i}][options]", form_item['options'].join('|'), placeholder: '选择项，用英文|隔开' %>
                  <label><%= select_tag "campaign[form_attributes][#{i}][required]", options_for_select([['必填', 'y'], ['选填', 'n']], form_item['required']) %></label>
                  <a href="#" class="destroy"><i class="fa fa-remove font-red-soft"></i></a>
                </div>
            <% end %>
          </div>
          <a class="btn btn-info btn-xs" href="#" id="add-form-item"><i class="fa fa-plus"></i> 添加表单项</a>
        </div>
      </div>
      <%= f.input :state, as: :radio_buttons, wrapper: :inline_inputs, collection: Campaign.options_for_select(:states), label: '状态：' %>
      <%= f.input :remark, label: '报名表备注内容：', placeholder: '' %>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-3 col-md-9">
          <%= f.button :submit, '提交', class: 'btn green' %>
          <%= link_to '取消', admin_campaigns_path, class: 'btn' %>
        </div>
      </div>
    </div>
<% end %>

<script>
$(function(){
  //上传单图，活动封面
  initImageWebuploader($('#webuploader'));
  //上传活动详情页banner
  initImageWebuploader($('#banner_id'));

  $("#form").nestedAttributes({
    bindAddTo: $("#add-form-item")
  });

})
</script>
