<%= simple_form_for [:admin, @project], wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'form-horizontal project_form'} do |f| %>
<%= f.error_notification %>
<div class="form-body">
  <%= f.input :name, label: '项目分类名称：', autofocus: true, placeholder: '', required: true %>
  <div class="form-group">
    <label class="col-md-2 control-label">收入分类：</label>
    <div class="col-sm-9">
      <select id="fund" class="form-control select optional" name="project[fund_id]" required>
        <% FundCategory.directional.reverse_sorted.each do |fc| %>
        <optgroup label="<%= fc.name %>">
          <% fc.funds.restricted.each do |fund| %>
          <option value="<%= fund.id %>" <%= 'selected' if @project.fund_id == fund.id %>><%= fund.name %></option>
          <% end %>
        </optgroup>
        <% end %>
      </select>
    </div>
  </div>
  <%= f.input :describe, label: '项目分类描述：', required: true %>
  <div class="form-group">
    <label class="col-md-2 control-label">协议内容：</label>
    <div class="col-sm-9">
      <%= f.cktext_area :protocol %>
    </div>
  </div>
</div>
<div class="form-actions">
  <div class="row">
    <div class="col-md-offset-2 col-md-9">
      <%= f.button :submit, '提交', class: 'btn blue' %>
      <%= link_to '取消', admin_projects_path, class: 'btn' %>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
$(function(){
    //    表单验证
    $(".project_form").html5Validate(function(){
        $(this).find('[type="submit"]').attr('disabled','disabled');
        this.submit();
    });

    $("#fund").select2();
})
</script>
