<%= simple_form_for [:admin, @project], wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'form-horizontal project_form'} do |f| %>
<%= f.error_notification %>
<div class="form-body">
  <%= f.input :name, label: '项目名称：', autofocus: true, placeholder: '', required: true %>
  <div class="form-group">
    <label class="col-md-2 control-label">项目图标：</label>
    <div class="col-sm-9">
      <%= webuploader_tag :icon_id, label: '上传项目图标', type: 'project_icon', asset: @project.icon, klass: 'single', id: 'project_icon'%>
      <p class="help-block">支持上传svg格式 ，图标尺寸200X200px</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">项目封面：</label>
    <div class="col-sm-9">
      <%= webuploader_tag :image_id, label: '上传项目封面', type: 'project_image', asset: @project.image, klass: 'single' %>
      <p class="help-block">支持上传png、jpg格式 ，图片尺寸960X552px</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">pc端项目介绍头图：</label>
    <div class="col-sm-9">
      <%= webuploader_tag :head_image_id, label: '列表头图', type: 'project_head_image', asset: @project.head_image, klass: 'single', id: 'head_image_id' %>
      <p class="help-block">支持上传png、jpg格式 ，图片尺寸1140X280px</p>
    </div>
  </div>
  <%#= f.input :kind, as: :radio_buttons, wrapper: :inline_inputs, collection: Project.options_for_some_select(:kinds), label: '类型：' %>
  <%# unless @project.goods? %>
    <%#= f.input :apply_kind, as: :radio_buttons, wrapper: :inline_inputs, collection: Project.options_for_some_select(:apply_kinds), label: '申请类型：' %>
  <%# end %>
  <div class="form-group">
    <label class="col-md-2 control-label">财务分类：</label>
    <div class="col-sm-9">
      <select id="fund-unrestricted" class="form-control select optional" name="project[fund_id]" required>
        <option value="">请选择财务分类</option>
        <% FundCategory.reverse_sorted.each do |fc| %>
            <optgroup label="<%= fc.name %>">
            <% fc.funds.sorted.each do |fund| %>
                <option value="<%= fund.id %>" <%= 'selected' if @project.fund_id == fund.id %>><%= fc.name %> - <%= fund.name %></option>
            <% end %>
            </optgroup>
        <% end %>
      </select>
    </div>
  </div>
  <%= f.input :management_rate, label: '管理费：', placeholder: '' %>
  <%#= f.input :describe, label: '项目介绍：', required: true %>

  <div class="form-group">
    <label class="col-md-2 control-label"> 项目介绍：</label>
    <div class="col-sm-9">
      <%= f.input :describe, label: false %>
    </div>
  </div>
  <!--<div class="form-group">-->
    <!--<label class="col-md-2 control-label"> 协议内容：</label>-->
    <!--<div class="col-sm-9">-->
      <!--<%#= f.cktext_area :protocol %>-->
    <!--</div>-->
  <!--</div>-->
  <%= f.input :donate_item_id, collection: DonateItem.show.sorted, label: '捐助项：', prompt: "请选择捐助项", hint: '可关联捐助项', input_html: {} %>
  <% if @project.goods? %>
  <div class="form-group">
    <label class="col-md-2 control-label"> 自定义表单：</label>
    <div class="col-sm-9">
      <div id="form" class="form-inline">
        <% f.object.build_form if f.object.form.blank? %>
        <% f.object.form.each_with_index do |form_item, i| %>
            <div class="inline-group">
              <%= hidden_field_tag "project[form_attributes][#{i}][key]", form_item['key'], placeholder: '代码'%>
              <%= text_field_tag "project[form_attributes][#{i}][label]", form_item['label'], placeholder: '标题'%>
              <%= text_field_tag "project[form_attributes][#{i}][placeholder]", form_item['placeholder'], placeholder: '提示'%>
              <%= select_tag "project[form_attributes][#{i}][type]", options_for_select([['文本框', 'text'], ['多行文本框', 'textarea'], ['数字选择', 'number'], ['选项', 'select']], form_item['type']), placeholder: '代码'%>
              <%= text_field_tag "project[form_attributes][#{i}][options]", form_item['options'].join('|'), placeholder: '选择项用英文|隔开，数字最小值|最大值' %>
              <label><%= select_tag "project[form_attributes][#{i}][required]", options_for_select([['必填', 'y'], ['选填', 'n']], form_item['required']) %></label>
              <a href="#" class="destroy"><i class="fa fa-remove font-red-soft"></i></a>
            </div>
        <% end %>
      </div>
      <a class="btn btn-info btn-xs" href="#" id="add-form-item"><i class="fa fa-plus"></i> 添加表单项</a>
    </div>
  </div>
</div>
<% end %>
  <%= f.input :accept_feedback_state, as: :radio_buttons, wrapper: :inline_inputs, collection: Project.options_for_enum_select(:accept_feedback_states), label: '是否开启定期反馈：', input_html: { class: 'feedback_state', onclick: 'toggleState();'} %>
  <div class="open_period">
    <%= f.input :feedback_period, label: '定期反馈周期：', input_html: {type: 'number'}, required: true, placeholder: '次/年' %>
    <%= f.input :feedback_format, as: :radio_buttons, wrapper: :inline_inputs, collection: Project.options_for_enum_select(:feedback_formats), label: '反馈形式：' %>
  </div>
<div class="form-actions">
  <div class="row">
    <div class="col-md-offset-2 col-md-9">
      <%= f.button :submit, '提交', class: 'btn blue' %>
      <%= link_to '取消', admin_projects_path, class: 'btn' %>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
$(function(){
  initImageWebuploader($('#webuploader'))
  initImageWebuploader($('#project_icon'))
  initImageWebuploader($('#head_image_id'))

  $("#fund-unrestricted").select2({
      language: "zh-CN"
  });

  $("#fund-restricted").select2({
      language: "zh-CN"
  });
})

$("#form").nestedAttributes({
  bindAddTo: $("#add-form-item")
});

function toggleState(){
    toggleRadioInput('.feedback_state', {
        open_feedback: '.open_period'
    })
}
toggleState();
</script>
