<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-sliders font-dark"></i>
      <span class="caption-subject font-dark bold uppercase">项目分类详情</span>
    </div>
    <div class="actions">
      <div class="btn-group">
        <a href="<%= admin_projects_path %>" class="btn btn-xs blue">
          <i class="fa fa-reply"></i>返回
        </a>
      </div>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <tbody>
        <tr>
          <td width="72px">
            分类名称
          </td>
          <td>
            <%= @project.name %>
          </td>
        </tr>
        <tr>
          <td>
            项目类型
          </td>
          <td>
            <%= @project.enum_name(:kind) %>
          </td>
        </tr>
        <tr>
          <td>
            财务分类
          </td>
          <td>
            <%= @project.fund.try(:fund_category).try(:name) %> - <%= @project.fund.try(:name) %>
          </td>
        </tr>
        <tr>
          <td>
            分类描述
          </td>
          <td>
            <%= @project.describe %>
          </td>
        </tr>
        <tr>
          <td>
            协议内容
          </td>
          <td>
            <%= @project.protocol.html_safe %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
