<%= simple_form_for [:admin, @user, @account_record], wrapper: :admin_form, html: {'data-parsley-validate': true} do |f| %>
    <div class="form-body form-horizontal">
      <%= f.input :title, label: '标题：', autofocus: true, placeholder: '', input_html: { data: {'parsley-required': true}} %>
      <%= f.input :kind, collection: AccountRecord.options_for_enum_select(:kinds), label: '操作类型：', include_blank: false, input_html: { data: {'parsley-required': true}} %>
      <%= f.input :amount, label: '金额：', placeholder: '', hint: '扣除用负数', input_html: { data: {'parsley-required': true}} %>
      <%= f.input :remark, label: '备注：', placeholder: '' %>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-2 col-md-9">
          <%= f.button :submit, '提交', class: 'btn blue' %>
          <%= link_to '取消', admin_user_account_records_path(@user), class: 'btn' %>
        </div>
      </div>
    </div>
<% end %>
