<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">修改志愿者</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @volunteer], wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'volunteer_form'} do |f| %>
        <%= f.error_notification %>
        <div class="form-body form-horizontal">
          <%= static_form_control 'ID：', @volunteer.user.try(:id) %>
          <%= static_form_control '姓名：', @volunteer.user.try(:name) %>
          <%= static_form_control '认证时间：', (l @volunteer.created_at) %>
          <%= f.input :internship_state, as: :radio_buttons, wrapper: :inline_inputs, collection: Volunteer.options_for_select(:internship_states), label: '类型：', include_blank: false, input_html: { data: {'parsley-required': true} } %>
          <%= f.input :major_ids, collection: Major.sorted.map{|c| [c.name,c.id]}, label: '专业：', input_html:{ multiple: 'multiple', id: "major_ids", data: {'parsley-required': true} }%>
          <%= f.input :job_state, as: :radio_buttons, wrapper: :inline_inputs, collection: Volunteer.options_for_select(:job_states), label: '工作状态：', include_blank: false, input_html: { data: {'parsley-required': true} } %>
          <%= f.input :state, as: :radio_buttons, wrapper: :inline_inputs, collection: Volunteer.options_for_select(:states), label: '用户状态：', include_blank: false, input_html: { data: {'parsley-required': true} } %>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-9">
              <%= f.button :submit, '提交', class: 'btn blue' %>
              <%= link_to '取消', admin_volunteers_path, class: 'btn' %>
            </div>
          </div>
        </div>
    <% end %>

    <script>
        $(function(){
            $('#major_ids').select2({
                language: "zh-CN",
                placeholder: '请选择专业',
                allowClear: true,
                multiple: true,
                ajax: {
                    url: "/selects/majors",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: $.map(data.items, function (item) {
                                return {
                                    text: item.name,
                                    id: item.id
                                }
                            }),
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                }
            });
        })
    </script>
  </div>
</div>
