<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">新增志愿者</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @volunteer], url: admin_volunteers_path(user_id: @user), wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'volunteer_form'} do |f| %>
        <%= f.error_notification %>
        <div class="form-body form-horizontal">
          <%= static_form_control 'ID：', @user.id %>
          <%= static_form_control '姓名：', @user.name %>
          <%= static_form_control '联系方式：', @user.phone %>
          <%= f.input :duration, label: '服务时长：', autofocus: true, placeholder: '', required: true %>
          <%= f.input :major, as: :select, collection: Major.options_for_select, label: '专业：', include_blank: false %>
          <%= f.input :kind, as: :radio_buttons, wrapper: :inline_inputs, collection: Volunteer.options_for_select(:kinds), label: '类型：', include_blank: false %>
          <%= f.input :job_state, as: :radio_buttons, wrapper: :inline_inputs, collection: Volunteer.options_for_select(:job_states), label: '工作状态：', include_blank: false %>
          <%= f.input :state, as: :radio_buttons, wrapper: :inline_inputs, collection: Volunteer.options_for_select(:states), label: '用户状态：', include_blank: false %>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-9">
              <%= f.button :submit, '提交', class: 'btn blue' %>
              <%= link_to '取消', admin_volunteers_path, class: 'btn' %>
            </div>
          </div>
        </div>
    <% end %>

    <script>
        $(function(){
            //    表单验证
            $(".volunteer_form").html5Validate(function(){
                $(this).find('[type="submit"]').attr('disabled','disabled');
                this.submit();
            });
        })
    </script>
  </div>
</div>
