<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-sliders font-dark"></i>
      <span class="caption-subject font-dark bold uppercase">志愿者详情</span>
    </div>
    <div class="actions">
      <%= link_to admin_volunteers_path, class: 'btn btn-xs blue' do %>
          <i class="fa fa-reply"></i>
          <span>返回</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <tbody>
        <tr>
          <td>
            姓名
          </td>
          <td>
            <%= @volunteer.name %>
          </td>
        </tr>
        <tr>
          <td>
            性别
          </td>
          <td>
            <%= @volunteer.enum_name(:gender) %>
          </td>
        </tr>
        <tr>
          <td>
            联系方式
          </td>
          <td>
            <%= @volunteer.phone %>
          </td>
        </tr>
        <tr>
          <td>
            微信
          </td>
          <td>
            <%= @volunteer.wechat %>
          </td>
        </tr>
        <tr>
        <tr>
          <td>
            QQ
          </td>
          <td>
            <%= @volunteer.qq %>
          </td>
        </tr>
        <tr>
        <tr>
          <td>
            邮箱
          </td>
          <td>
            <%= @volunteer.email %>
          </td>
        </tr>
        <tr>
          <td>
            联系地址
          </td>
          <td>
            <%= @volunteer.simple_address %>
          </td>
        </tr>
        <tr>
          <td>
            身份证
          </td>
          <td>
            <%= @volunteer.id_card %>
          </td>
        </tr>
        <tr>
          <td>
            个人简介
          </td>
          <td>
            <%= @volunteer.describe %>
          </td>
        </tr>
        <tr>
          <td>
            证件照片
          </td>
          <td>
            <%= image_tag @volunteer.image_url(:tiny) %>
          </td>
        </tr>
        <tr>
          <td>
            技能特长
          </td>
          <td>
            <%= @volunteer.majors.map(&:name).join(', ') %>
          </td>
        </tr>
        <tr>
          <td>
            获知渠道
          </td>
          <td>
            <%= @volunteer.source %>
          </td>
        </tr>
        <tr>
          <td>
            志愿者经历
          </td>
          <td>
            <%= @volunteer.experience %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
