<% reports.each do |report| %>
  <%= link_to report_path(report) do %>
    <li class="disclosures-c border-t">
      <p class="disclosures-l ui-nowrap"><%= report.title %></p>
      <p class="disclosures-n"><%= report.user.try(:name) %> | <%= report.published_time %></p>
    </li>
  <% end %>
<% end %>

<% if reports.current_page < reports.total_pages %>
    <div class="speciais-cont-but border-t">
      <%= link_to reports_path(page: reports.current_page + 1, project_id: params[:project_id], kind: params[:kind]), remote: true do %><button>加载更多</button><% end %>
    </div>
<% end %>