<div class="disclosures">
  <p class="disclosures-tit" style="margin: 0"><%= @report.title %></p>

  <div class="disclosures-s">
    <p class="disclosures-n" style="text-align: center;"><%= @report.user.try(:name) %> |  <%= @report.published_time %></p>
  </div>
  <div class="disclosures-show" style="margin-bottom: 60px;">
    <%= @report.content.html_safe %>
  </div>
  <div class="camps-share">
    <p>分享到：</p>
    <ol>
      <li class="row" style="padding: 30px 225px;">
        <div id="share-2"></div>
      </li>
    </ol>
  </div>

</div>
<script>
    $('#share-2').share({
        sites: ['qzone', 'wechat', 'weibo', 'qq'],
        url: '<%= Settings.root_url %>reports/<%= @report.id %>'
    });
</script>
