<%= simple_form_for [:admin, @project_template], wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'form-horizontal project_template_form'} do |f| %>
<%= f.error_notification %>
<div class="form-body">
  <%= f.hidden_field :parent_id, value: params[:parent_id] %>

  <%= f.input :name, label: '项目分类名称：', autofocus: true, placeholder: '', required: true %>
  <div class="form-group">
    <label class="col-md-2 control-label">财务分类：</label>
    <div class="col-sm-9">
      <select id="fund" class="form-control select optional" name="project_template[fund_id]" required>
        <% FundCategory.all.each do |fc| %>
        <optgroup label="<%= fc.name %>">
          <% fc.funds.each do |fund| %>
          <option value="<%= fund.id %>" <%= 'selected' if @project_template.fund_id == fund.id %>><%= fund.name %></option>
          <% end %>
        </optgroup>
        <% end %>
      </select>
    </div>
  </div>
  <%= f.input :contribute_kind, as: :select, label: '捐款类型：', collection: ProjectTemplate.options_for_enum_select(:contribute_kinds), include_blank: false %>
  <%= f.input :describe, label: '项目分类描述：', required: true %>
  <%= f.input :protocol_name, label: '协议名称：', required: true %>
  <div class="form-group">
    <label class="col-md-2 control-label">协议内容：</label>
    <div class="col-sm-9">
      <%= f.cktext_area :protocol_content %>
    </div>
  </div>
</div>
<div class="form-actions">
  <div class="row">
    <div class="col-md-offset-2 col-md-9">
      <%= f.button :submit, '提交', class: 'btn blue' %>
      <%= link_to '取消', admin_project_templates_path, class: 'btn' %>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
$(function() {
  $("#fund").select2({
      //placeholder: "请选择财务分类"
  });
})
$(function(){
    //    表单验证
    $(".project_template_form").html5Validate(function(){
        $(this).find('[type="submit"]').attr('disabled','disabled');
        this.submit();
    });
})
</script>
