<%= simple_form_for [:admin, @project], url: @project.new_record? ? admin_radio_projects_path : admin_radio_project_path, wrapper: :admin_form, html: {class: 'form-horizontal project_form', 'data-parsley-validate': true} do |f| %>
  <%= f.error_notification %>
  <div class="form-body form-horizontal">
    <% if @project.new_record? %>
      <%= f.hidden_field :project_id, value: Project.radio_project.id %>
      <%= f.input :project_season_id, as: :select, label: '一对一批次：', input_html: {class: 'seasons-ajax'}, reqquired: true %>
      <%= f.input :school_id, as: :select, label: '选择学校：', input_html: {class: 'schools-ajax'}, reqquired: true %>
      <div style="margin-bottom: 20px;" class="form-group">
        <label class="col-md-2 control-label select required" for="project_category_id">收货地址：</label>
        <div class="col-sm-6">
          <div class="row city-group">
            <div class="col-sm-3">
              <%= select_tag 'project_season_apply[province]', options_for_select(ChinaCity.list, @project.province.presence), prompt: '省份', class: "form-control city-select", required: true %>
            </div>
            <div class="col-sm-3">
              <%= select_tag 'project_season_apply[city]', options_for_select(ChinaCity.list(@project.province.to_s), @project.city.presence), prompt: '城市', class: "form-control city-select", required: true %>
            </div>
            <div class="col-sm-3">
              <%= select_tag 'project_season_apply[district]', options_for_select(ChinaCity.list(@project.city.to_s), @project.district.presence), prompt: '地区', class: "form-control city-select", required: true %>
            </div>
          </div>
        </div>
      </div>
      <%= f.input :address, label: '详细地址：', placeholder: '', required: true %>
      <%= f.input :contact_name, label: '收货人：', placeholder: '', required: true %>
      <%= f.input :contact_phone, label: '联系电话：', placeholder: '', required: true %>
    <% else %>
      <%= static_form_control '申请批次：', @project.season.name %>
      <%= static_form_control '申请学校：', @project.school.name %>
    <% end %>
    <%= f.input :name, label: '项目名称：', placeholder: '', required: true %>
    <div class="form-group">
      <label class="col-md-2 control-label">项目封面：</label>
      <div class="col-sm-9">
        <%= webuploader_tag :cover_image_id, label: '上传封面', type: 'project_season_apply_cover', asset: @project.cover_image, klass: 'single' %>
      </div>
    </div>
    <%= f.input :number, label: '申请数量：', placeholder: '', required: true %>
    <%= f.input :target_amount, label: '筹款目标：', placeholder: '', required: true %>
    <%= f.input :project_describe, label: '项目介绍：', placeholder: '', required: true %>
    <%= f.input :state, as: :radio_buttons, wrapper: :inline_inputs, collection: ProjectSeasonApply.options_for_enum_select(:states), label: '状态：'%>
  </div>
  <div class="form-actions">
    <div class="row">
      <div class="col-md-offset-2 col-md-9">
        <%= f.button :submit, '提交', class: 'btn blue' %>
        <%= link_to '取消', request.referer, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>
<script>
    $(function(){
        initImageWebuploader($('#webuploader'));
    })
</script>
<script type="text/javascript">
    $(function () {
        // 异步加载学校列表
        $('.schools-ajax').select2({
            language: "zh-CN",
            placeholder: '<%= @project.school.try(:name) %>',
            allowClear: true,
            ajax: {
                url: "/selects/schools",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            }
        });
        $(".schools-ajax").select2('val',<%= @project.school_id %>)

        // 异步加载批次列表
        $('.seasons-ajax').select2({
            language: "zh-CN",
            placeholder: '请选择批次',
            allowClear: true,
            ajax: {
                url: "/selects/seasons",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page,
                        project_id: <%= Project.radio_project.id %>
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            }
        });
    })
</script>
