<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i>广播筹款项目
    </div>
    <div class="actions">
      <%= link_to new_admin_radio_project_path, class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
          <i class="icon-plus"></i>
          <span>新增项目</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= search_form_for @search, url: admin_radio_projects_path, class: 'form-inline' do |f| %>
              <div class="form-group">
                <%= f.label :school_name_cont, '学校名称' %>
                <%= f.text_field :school_name_cont, class: 'form-control', placeholder: '学校名称' %>
              </div>
              <div class="form-group">
                <%= f.label :state_eq, '筹款状态' %>
                <%= f.select :state_eq, ProjectSeasonApply.options_for_select(:states, raw: true), {include_blank: '全部'}, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :execute_state_eq, '执行状态' %>
                <%= f.select :execute_state_eq, ProjectSeasonApply.options_for_select(:execute_states, raw: true), {include_blank: '全部'}, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :project_season_id_eq, '批次' %>
                <%= f.select :project_season_id_eq, ProjectSeason.where(project_id: ProjectSeason.radio_project_id).collect {|p| [p.name, p.id]}, {include_blank: '全部'}, class: 'form-control' %>
              </div>
              <button type="submit" class="btn btn-default grey">搜索</button>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right"></div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
          <tr>
            <th>
              申请编号
            </th>
            <th>
              项目名称
            </th>
            <th>
              申请学校
            </th>
            <th>
              批次
            </th>
            <th>
              申请数量
            </th>
            <th>
              已筹/目标
            </th>
            <th>
              筹款状态
            </th>
            <th>
              执行状态
            </th>
            <th>
              操作
            </th>
          </tr>
          </thead>
          <tbody>
          <% @projects.each do |apply| %>
              <tr>
                <td>
                  <%= apply.apply_no %>
                </td>
                <td>
                  <%= apply.name %>
                </td>
                <td>
                  <%= apply.school.try(:name) %>
                </td>
                <td>
                  <%= apply.season.try(:name) %>
                </td>
                <td>
                  <%= apply.number %>
                </td>
                <td>
                  <%= apply.present_amount %>/<%= apply.target_amount %>
                </td>
                <td>
                  <%= link_to switch_admin_radio_project_path(apply), data: {confirm: "确定#{apply.state === 'show' ? '暂不展示' : '对外展示'}吗？"}, method: :put, 'data-no-turbolink' => true, class: "btn btn-xs #{apply.state === 'show' ? 'green' : 'blue'}" do %>
                    <%= apply.state === 'show' ? '对外展示' : '暂不展示' %>
                  <% end %>
                </td>
                <td>
                  <%= apply.enum_name(:execute_state) %>
                </td>
                <td>
                  <%= link_to edit_admin_radio_project_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                      <i class="fa fa-edit"></i> 修改
                  <% end %>
                  <%= link_to admin_radio_project_radio_donate_records_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                    <i class="fa fa-list"></i> 筹款管理
                  <% end %>
                  <%= link_to admin_radio_project_radio_donate_records_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                    <i class="fa fa-file"></i> 查看反馈
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@projects) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @projects, theme: '' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
