<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i><%= link_to @bookshelf.apply.name, admin_read_project_bookshelf_path(@project, @bookshelf) %> > 填写发货信息
    </div>
    <div class="actions">
      <div class="btn-group">
        <a href="<%= admin_read_project_bookshelves_path(@project) %>" class="btn btn-xs blue">
          <i class="fa fa-reply"></i>返回
        </a>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <div class="form-body form-horizontal">
      <%= simple_form_for [:admin, @project, @bookshelf, @logistic], url: create_shipment_admin_read_project_bookshelf_path, wrapper: :admin_form, html: {class: 'form-horizontal project_form'} do |f| %>
          <%= f.error_notification %>
          <div class="form-body">
            <%= f.input :name, as: :select, label: '物流公司：', collection: Logistic.options_for_enum_select(:names), include_blank: false %>
            <%= f.input :number, label: '快递单号：'%>
          </div>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-offset-2 col-md-9">
                <%= f.button :submit, '提交', class: 'btn blue' %>
                <%= link_to '取消', admin_read_project_bookshelves_path(@project), class: 'btn' %>
              </div>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>
