<div class="disclosures-table" style="min-height:605px;">
  <div class="disclosures-font">
    <p class="disclosures-f-1 clearfix">
      <span class="disclosures-f-bg pull-left">财务公开</span>
      <span class="disclosures-f-min pull-left">累计收入:</span>
      <span class="disclosures-f-moy pull-left"><%= number_to_currency(IncomeRecord.total_amount) %>元</span>
    </p>
    <p class="disclosures-pos">
      <%= link_to disclosures_path do %>查看财务报告<% end %>  |  <%= link_to audit_reports_path do %>查看审计报告<% end %>
    </p>
  </div>
  <div class="speciais-con">
    <div class="donations-1 border-b clearfix" >
      <ul class="donations1 clearfix pull-left">
        <li class="cur selectedDo"><%= link_to income_records_path do %>财务收入
              <div class="bottomline"></div><% end %></li>
        <li class="cur  "><%= link_to expenditure_records_path do %>财务支出
              <div class=""></div><% end %></li>
      </ul>
      <div class=" searchinput  clearfix">
        <%= search_form_for @search, url: income_records_path do |f| %>
        <div class="input-group pull-left">
          <span class="iconfont icon-ico-search pull-left"></span>
          <!-- <input type="text" class="form-input pull-left" placeholder="搜索单号、名称、汇款人、经办人、备注" /> -->
          <!-- <%= f.text_field :amount_eq, class: 'form-input', placeholder: '搜索金额' %> -->
          <%= f.text_field :income_no_or_title_or_donor_name_or_donor_nickname_or_agent_nickname_or_agent_name_or_remark_or_fund_name_or_fund_fund_category_name_cont, class: 'form-input', placeholder: '搜索单号、名称、汇款人、经办人、备注、收入分类' %>
        </div>
        <button type="submit" class="school-apply-share-share pull-left">搜索</button>
        <% end %>
      </div>
    </div>
  </div>


  <div class="contentab">
    <% if @income_records.present? %>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">收入单号</th>
        <th scope="col">收入名称</th>
        <th scope="col">收入分类</th>
        <th scope="col">捐助时间</th>
        <th scope="col">捐助金额</th>
        <th scope="col">捐助平台</th>
        <th scope="col">捐助人</th>
        <th scope="col">代捐人/汇款人</th>
        <th scope="col">备注</th>
      </tr>
      </thead>
      <tbody>
      <% @income_records.each do |income_record| %>
        <tr>
          <td><%= income_record.income_no %></th>
          <td><%= income_record.title %></td>
          <td><%= income_record.fund.try(:fund_category).try(:name) %> <%= income_record.fund.try(:name) %></td>
          <td><%= l income_record.income_time %></td>
          <td><%= number_to_currency(income_record.amount) %></th>
          <td><%= income_record.income_source.try(:name) %></td>
          <td><%= income_record.donor.try(:show_name) %></td>
          <td><%= income_record.agent_name %></td>
          <td><%= income_record.remark %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% else %>
        <div class="not-project-body contentab ">
          <div class="donation-cont-no">
            <div class="donation-co-no-c">
              <p>暂无相关内容</p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
