
<div id="project">
  <div class="project-head">
    <div class="project-img"></div>
    <%= image_tag 'project-reading.png' %>
    <div class="project-cont">
      <p class="project-cont-tit">格桑花悦读项目</p>
      <div class="project-cont-con ">11月的青海玉树，雪花飘零，一幅冰雪世界模样。在皑皑白雪、巍峨雪山的映衬下，纵横交错的五彩经幡在空中飘舞，激情震撼的康巴歌舞在天地奔放。</div>
      <div class="project-cont-but">
        <span>查看项目介绍</span>
        <span class="iconfont icon-arrow-right"></span>
      </div>
    </div>
  </div>
  <div class="project-body">
    <div class="project-body-t clearfix border-b">
      <p class="pull-left cur">当前共有 23 所学校在筹款</p>
      <div class="pull-right">
        <div class="input-group">
          <span class="iconfont icon-ico-search"></span>
          <input type="text" class="form-control" placeholder="搜索项目">
        </div>
      </div>
      <div class="pull-right pull-down">
        <ul class="project-ul">
          <li id="projectshow" class="cur">
            <span class="pull-left">分类</span>
            <span class="iconfont icon-arrowdown pull-right"></span>
            <ul class="project-nav-heide">
              <li class="cur">全部</li>
              <li class="cur">新书项目</li>
              <li class="cur">补书项目</li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
    <div class="project-body-cont row">
      <div class="col-md-3 cur ">
        <div class="project-body-img">
          <%= image_tag 'gsh-img-right.png' %>
        </div>
        <div class="project-body-cot border-b border-l border-r ">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
            </div>
          </div>
          <div class="project-body-contn">
            <div>
              <p><span>￥3219097.56</span></p>
              <p>还差</p>
            </div>
            <div class="border-l">
              <p><span>12</span>/12</p>
              <p>进度</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 cur ">
        <div class="project-body-img">
          <%= image_tag 'gsh-img-right.png' %>
        </div>
        <div class="project-body-cot border-b border-l border-r ">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
            </div>
          </div>
          <div class="project-body-contn" >
            <div>
              <p><span>￥3219097.56</span></p>
              <p>还差</p>
            </div>
            <div class="border-l">
              <p><span>12</span>/12</p>
              <p>进度</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 cur ">
        <div class="project-body-img">
          <%= image_tag 'gsh-img-right.png' %>
        </div>
        <div class="project-body-cot border-b border-l border-r ">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
            </div>
          </div>
          <div class="project-body-contn" >
            <div>
              <p><span>￥3219097.56</span></p>
              <p>还差</p>
            </div>
            <div class="border-l">
              <p><span>12</span>/12</p>
              <p>进度</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 cur ">
        <div class="project-body-img">
          <%= image_tag 'gsh-img-right.png' %>
        </div>
        <div class="project-body-cot border-b border-l border-r ">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
            </div>
          </div>
          <div class="project-body-contn" >
            <div>
              <p><span>￥3219097.56</span></p>
              <p>还差</p>
            </div>
            <div class="border-l">
              <p><span>12</span>/12</p>
              <p>进度</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 cur ">
        <div class="project-body-img">
          <%= image_tag 'gsh-img-right.png' %>
        </div>
        <div class="project-body-cot border-b border-l border-r ">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
            </div>
          </div>
          <div class="project-body-contn" >
            <div>
              <p><span>￥3219097.56</span></p>
              <p>还差</p>
            </div>
            <div class="border-l">
              <p><span>12</span>/12</p>
              <p>进度</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 cur ">
        <div class="project-body-img">
          <%= image_tag 'gsh-img-right.png' %>
        </div>
        <div class="project-body-cot border-b border-l border-r ">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
            </div>
          </div>
          <div class="project-body-contn" >
            <div>
              <p><span>￥3219097.56</span></p>
              <p>还差</p>
            </div>
            <div class="border-l">
              <p><span>12</span>/12</p>
              <p>进度</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 cur ">
        <div class="project-body-img">
          <%= image_tag 'gsh-img-right.png' %>
        </div>
        <div class="project-body-cot border-b border-l border-r ">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
            </div>
          </div>
          <div class="project-body-contn" >
            <div>
              <p><span>￥3219097.56</span></p>
              <p>还差</p>
            </div>
            <div class="border-l">
              <p><span>12</span>/12</p>
              <p>进度</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 cur ">
        <div class="project-body-img">
          <%= image_tag 'gsh-img-right.png' %>
        </div>
        <div class="project-body-cot border-b border-l border-r ">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
            </div>
          </div>
          <div class="project-body-contn" >
            <div>
              <p><span>￥3219097.56</span></p>
              <p>还差</p>
            </div>
            <div class="border-l">
              <p><span>12</span>/12</p>
              <p>进度</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="project-foot">
    <span class="iconfont icon-arrow-left cur"></span>
    <span class="iconfont icon-arrow-right cur"></span>
  </div>

</div>