<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">取消捐助说明</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @grant, @feedback], url: update_feedback_admin_pair_grant_path, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'form-horizontal grant_form'} do |f| %>
        <%= f.error_notification %>
        <div class="form-body">
          <%= f.input :content, label: '内容：', placeholder: '请填写反馈内容', required: true %>
          <div class="form-group">
            <label class="col-md-2 control-label">反馈图片(最多9张)：</label>
            <div class="col-sm-9">
              <%= webuploader_tag 'image_ids[]', label: '上传反馈图片', type: 'feedback_image', asset: @feedback.images %>
            </div>
          </div>
          <%= f.input :state, as: :radio_buttons, wrapper: :inline_inputs, collection: Feedback.options_for_select(:states), label: '状态：' %>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-9">
              <%= f.button :submit, '提交', class: 'btn blue' %>
              <%= link_to '取消', admin_pair_grants_path, class: 'btn' %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    $(function(){
        initMultiImageWebuploader('.upload-wrap', null, 9);
        $('.upload-list').viewer();
    })
</script>