<%= content_for :page_style do %>
    <%= stylesheet_link_tag 'blank', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= simple_form_for User.new, url: account_regression_path, method: :post, html: {'data-parsley-validate': true, class: ''} do |f| %>
    <div class="first-screen classbody">
      <div class="screen-body" style="min-height: 300px;">
        <div class="screen-body-cell">
          <div class="auto-box cell-wrap clearfix">
            <div class="loge pull-left">
              <%= image_tag 'bg-left.jpg' %>
              <div class="loge-cont">
                <%= image_tag 'login.png' %>
              </div>
            </div>

            <div class="logein pull-left">
              <div class="longin-left">
                <p class="longin-tit clearfix">
                  <span class="pull-left cur longin-1">账号找回</span>
                  <%= link_to new_account_registration_path(kind: 'by_phone') do %>
                      <span class="pull-right cur longin-2 longin-hover">账号注册</span>
                  <% end %>
                </p>
                <div class="tow-item">
                  <span class=" cur">有两项信息匹配即可找回（邮箱、手机号必须有一项）</span>
                </div>
                <div class="input-in" style="margin: 0px auto;">
                  <span class="input input--hoshi ">
                    <%= f.text_field :nickname, class: 'input__field input__field--hoshi login-put', id: 'nickname', placeholder: '昵称' %>
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="password"></label>
              </span>
                  <span class="input input--hoshi ">
                    <%= f.text_field :name, class: 'input__field input__field--hoshi login-put', id: 'name', placeholder: '姓名' %>
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="password"></label>
				      </span>
                  <span class="input input&#45;&#45;hoshi">
                  <%= f.text_field :phone, class: 'input__field input__field--hoshi', id: 'phonenumber', placeholder: '手机号' %>
                    <label class="input__label input__label&#45;&#45;hoshi input__label&#45;&#45;hoshi-color-1" for="phonenumber"></label>
                </span>
                  <span class="input input--hoshi">
                    <%= f.text_field :email, class: 'input__field input__field--hoshi', id: 'email', placeholder: '邮箱' %>
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="email"></label>
  				      </span>
                </div>
                <button class="register" type="submit">提交</button>
                <!--<div class="check-box">-->
                  <!--<span class=" cur">有两项信息匹配即可找回</span>-->
                <!--</div>-->
              </div>
              <div class="longin-right">
                <p class="longin-margin">已有账号，<strong class="cur"><%= link_to account_login_path, class: 'longin-hover' do %>
                      立即登录
                  <% end %></strong></p>
                <p class="longin-margin">or</p>
                <p class="longin-icon cur">
                  <%= link_to @wechat_url, style: 'color: #fff;display: inline-block;width: 130px;' do %>
                      <span class="iconfont icon-wechat pull-left"></span><span class="pull-left">微信登录</span>
                  <% end %>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="flexdfoot">
        Copyright(c) 2005-2015 青海格桑花教育救助会 版权所有 All Rights Reserved 青ICP
      </footer>
    </div>
<% end %>
<style lang="css" scoped>
  body {
    background-color: #f5f5f5;
  }
  .tow-item{
    width: 100%;
    font-size:12px;
    text-align: center;
    color: #e0a925;
    padding: 3px 0;
    border-radius: 3px;
    /*background-color: #ffd162;*/
    background-color:rgb(255,209,98,.5);

    margin-top: 20px;
  }
</style>
<script type="text/javascript" charset="utf-8">
    $("canvas.flare").let_it_snow({
        windPower: 0,
        speed: 0,
        size: 110,
        count: 50,
        opacity: 0.1,
        interaction: false,
        image: '<%= image_path('circle.png')%>'
    });

    $(function () {
        setHeight();
    });
    $(window).resize(function () {
        setHeight();
    });

    function setHeight() {
        var windowHeight = $(window).height();
        $('#first-screen').css('height', windowHeight + 'px');
    }
</script>
