<%= simple_form_for @report, url: @report.new_record? ? admin_goods_reports_path(pid: @current_project.id) : admin_goods_report_path(pid: @current_project.id, id: @report), wrapper: :admin_form, html: {'parsley-validate': true, class: 'report_form'} do |f| %>
    <%= f.error_notification %>
    <div class="form-body form-horizontal">
      <%= f.input :title, label: '报告标题：', autofocus: true, require: true, input_html: { data: {'parsley-required': true}} %>
      <div class="form-group">
        <label class="col-md-2 control-label">发布时间：</label>
        <div class="col-sm-9">
          <%= f.text_field :published_at, class: 'datetime-picker', required: true, placeholder: '发布时间' %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">报告详情：</label>
        <div class="col-sm-9">
          <!--<p class="help-block">格桑花管理人员负责填写，用于前台展示（必须填写）</p>-->
          <%= f.cktext_area :content %>
        </div>
      </div>
      <%= f.hidden_field :kind, value: 'project_report' %>
      <%= f.input :state, as: :radio_buttons, wrapper: :inline_inputs, collection: ProjectReport.options_for_select(:states), label: '状态：' %>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-3 col-md-9">
          <%= f.button :submit, '提交', class: 'btn green' %>
          <%= link_to '取消', admin_goods_reports_path(pid: @current_project.id), class: 'btn' %>
        </div>
      </div>
    </div>
<% end %>
<script>
$(function(){
  initMultiImageWebuploader($('#webuploader'), null, 9);
  $('.upload-list').viewer();
})
</script>
