<div class="person-body-right pull-right">

  <div style="display: block;">
    <p class="don-title border-b ">
      <span class="pull-left">探索营申请详情</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right"><%= link_to platform_school_apply_camps_path do %>返回项目管理<% end %></span>
    </p>
    <div class="plat-school-apply-pair">
    <p class="school-apply-pair-tit"><%= @apply_camp.apply.apply_name %></p>
      <div class="school-apply-pair-table">
      <p>申请详情</p>
      <div class="school-apply-pair-table-cont">
        <p><span>申请编号：</span><%= @apply_camp.apply.apply_no %></p>
        <p><span>申请学校：</span><%= @apply_camp.school.name %></p>
        <p><span>学生配额：</span><%= @apply_camp.student_number %>人</p>
        <p><span>教师配额：</span><%= @apply_camp.teacher_number %>人</p>
        <% if @apply_camp.restrict? %>
        <p><span>截止时间：</span><%= l @apply_camp.end_time %></p>
        <% end %>
      </div>
    </div>
      <div class="school-apply-pair-table">
        <p>申请要求</p>
        <div class="school-apply-pair-table-cont">
          <p><%= @apply_camp.describe.html_safe %></p>
        </div>
      </div>
      <div class="don-co">
        <div class="don-co-but cur" >
          <% if @apply_camp.to_submit? %>
            <%= link_to member_list_platform_school_apply_camp_members_path(@apply_camp) do %><button class="apply-show-btn">提交学生名单</button><% end %>
          <% elsif @apply_camp.approved? %>
            <%= link_to platform_school_apply_camp_members_path(@apply_camp, state: 'pass') do %><button class="apply-show-btn">查看学生名单</button><% end %>
          <% else %>
            <button class="apply-show-btn"><%= @apply_camp.enum_name(:execute_state) %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
