<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i>格桑花孩子
    </div>
    <div class="actions">
      <%= link_to new_admin_gsh_child_path, class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
      <i class="icon-plus"></i>
      <span>新增</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= search_form_for @search, url: admin_gsh_children_path, class: 'form-inline' do |f| %>
              <div class="form-group">
                <%= f.label :name_or_phone_or_id_card_or_gsh_no_cont, '搜索用户' %>
                <%= f.text_field :name_or_phone_or_id_card_or_gsh_no_cont, class: 'form-control gsh-input-share wf_form_input', placeholder: '姓名、编号、身份证、手机号' %>
              </div>
              <button type="submit" class="btn btn-default grey">搜索</button>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right"></div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
            <tr>
              <th>
                格桑花编号
              </th>
              <th>
                身份证号
              </th>
              <th>
                姓名
              </th>
              <th>
                性别
              </th>
              <th>
                手机
              </th>
              <th>
                QQ
              </th>
              <th>
                城市
              </th>
              <th>
                操作
              </th>
            </tr>
          </thead>
          <tbody>
            <% @gsh_children.each do |gsh_child| %>
            <tr>
              <td>
                <%= link_to gsh_child.gsh_no, admin_pair_student_lists_path('q[gsh_child_gsh_no_eq]': gsh_child.gsh_no), target: '_blank' %>
              </td>
              <td>
                <%= gsh_child.id_card %>
              </td>
              <td>
                <%= gsh_child.name %>
              </td>
              <td>
                <% if gsh_child.user_id? %>
                <%= gsh_child.user.try(:gender)==='male'? '男' : '女' %>
                <% else %>
                <% end %>
              </td>
              <td>
                <%= gsh_child.phone %>
              </td>
              <td>
                <%= gsh_child.qq %>
              </td>
              <td>
                <%= gsh_child.simple_address %>
              </td>
              <td>
                <%= link_to admin_gsh_child_path(gsh_child), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                    <i class="fa fa-list"></i> 相关项目
                <% end %>
                <%= link_to edit_admin_gsh_child_path(gsh_child), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                  <i class="fa fa-edit"></i> 修改信息
                <% end %>
                <%= link_to admin_gsh_child_path(gsh_child), class: 'btn btn-xs red', method: :delete, data: {confirm: '删除格桑花孩子将会同时删除该孩子的相关助学记录，确定要删除吗？'} do %>
                  <i class="fa fa-trash-o"></i> 删除
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@gsh_children) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @gsh_children, theme: 'admin' %>
        </div>
      </div>
    </div>
  </div>
</div>
<style scoped>
  .wf_form_input{
    width: 210px!important;
  }
</style>
<!-- END EXAMPLE TABLE PORTLET-->
