<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"> 编辑项目信息 </i>
      <span class="caption-subject"></span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="btn-group">
        <a href="<%= admin_read_projects_path %>" class="btn btn-xs blue">
          <i class="fa fa-reply"></i>返回
        </a>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <div class="form-body form-horizontal">
      <%= simple_form_for [:admin, @project], url: admin_read_project_path, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'form-horizontal project_form'} do |f| %>
          <%= f.error_notification %>
          <div class="form-body">
            <%= static_form_control '申请批次：', @project.season.name %>
            <%= static_form_control '申请学校：', @project.school.name %>
            <%= static_form_control '申请类型：', @project.enum_name(:bookshelf_type) %>
            <%#= f.input :target_amount, type: 'number', min: 0, label: '目标筹款金额：', placeholder: '请填写筹款金额', require: true %>
            <%= static_form_control '目标筹款金额：', @project.target_amount %>
            <%= f.input :name, label: '项目名称：', placeholder: '请填写项目名称', input_html:{ data: {'parsley-required': true} } %>
            <div class="form-group">
              <label class="col-md-2 control-label">项目封面：</label>
              <div class="col-sm-9">
                <%= webuploader_tag :cover_image_id, label: '上传封面', type: 'project_season_apply_cover', asset: @project.cover_image, klass: 'single' %>
              </div>
            </div>

            <div class="portlet light bordered">
              <div class="portlet-title">
                <div class="caption">
                <i class="icon-social-dribbble font-green"></i>
                <span class="caption-subject font-green bold uppercase">筹款班级</span>
              </div>
              <!-- <div class="actions">
                <a class="btn btn-info btn-xs" href="#" id="goods_add_another"><i class="fa fa-plus"></i> 添加班级</a>
              </div> -->
              </div>
              <div class="portlet-body">
                <div class="table-scrollable">
                  <table class="table table-hover">
                    <% if @project.whole? %>
                      <thead>
                        <tr>
                          <th> 图书角编号 </th>
                          <th> 班级 </th>
                          <th> 筹款金额 </th>
                          <!-- <th> 班级人数 </th> -->
                        </tr>
                      </thead>
                      <tbody id="goods">
                        <%# @project.bookshelves.build if @project.bookshelves.blank? %>
                        <% @project.bookshelves.pass.each do |b| %>
                        <tr>
                          <td>
                            <%= b.bookshelf_no %>
                          </td>
                          <td>
                            <%#= b.input :classname, label: false, input_html:{ placeholder: '请填入班级名称'} %>
                            <%= b.classname %>
                          </td>
                          <td>
                            <%#= b.input :student_number, label: false, input_html:{ placeholder: '请填入班级人数'} %>
                            ¥ <%= b.target_amount %>
                          </td>
                          <!-- <td>
                            <%= b.beneficial_children.count%>
                          </td> -->
                          <!-- <td>
                            <a href="#" class="destroy"><i class="fa fa-remove font-red-soft"></i></a>
                          </td> -->
                        </tr>

                        <% end %>
                      </tbody>
                    <% else %>
                      <thead>
                        <tr>
                          <th> 图书角编号 </th>
                          <th> 班级 </th>
                          <th> 书籍损耗 </th>
                          <th> 书籍补充 </th>
                          <th> 筹款金额 </th>
                          <!-- <th> 班级人数 </th> -->
                        </tr>
                      </thead>
                      <tbody id="goods">
                        <%# @project.bookshelves.build if @project.bookshelves.blank? %>
                        <% @project.supplements.each do |b| %>
                        <tr>
                          <td>
                            <%= b.bookshelf.bookshelf_no %>
                          </td>
                          <td>
                            <%#= b.input :classname, label: false, input_html:{ placeholder: '请填入班级名称'} %>
                            <%= b.bookshelf.classname %>
                          </td>
                          <td>
                            <%= b.loss %>
                          </td>
                          <td>
                            <%= b.supply %>
                          </td>
                          <td>
                            <%#= b.input :student_number, label: false, input_html:{ placeholder: '请填入班级人数'} %>
                            ¥ <%= b.target_amount %>
                          </td>
                          <!-- <td>
                            <%= b.bookshelf.beneficial_children.count%>
                          </td> -->
                          <!-- <td>
                            <a href="#" class="destroy"><i class="fa fa-remove font-red-soft"></i></a>
                          </td> -->
                        </tr>

                        <% end %>
                      </tbody>
                    <% end %>
                  </table>

                </div>
              </div>
            </div>
            <!-- <div class="form-group">
              <label class="col-md-2 control-label">项目介绍：</label>
              <div class="col-sm-9">
                <%= f.cktext_area :project_describe %>
              </div>
            </div> -->
            <%= f.input :project_describe, label: '项目介绍：', placeholder: '请填写项目介绍', input_html: { data: {'parsley-required': true} } %>
            <%= f.input :state, as: :radio_buttons, wrapper: :inline_inputs, collection: ProjectSeasonApply.options_for_some_select(:states), label: '显示状态：'%>
          </div>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-offset-2 col-md-9">
                <%= f.button :submit, '提交', class: 'btn blue' %>
                <%= link_to '取消', admin_read_projects_path, class: 'btn' %>
              </div>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    initImageWebuploader($('#webuploader'));
    // $("#goods").nestedAttributes({
    //   bindAddTo: $("#goods_add_another")
    // });
  })
</script>
