<%= simple_form_for [:admin, @fund], wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'category_form'} do |f| %>
  <%= f.error_notification %>
  <div class="form-body form-horizontal">
    <%= f.input :name, label: '二级分类名称：', autofocus: true, placeholder: '名称', required: true %>
    <%= f.input :fund_category_id, collection: FundCategory.show, label: '一级分类：', prompt: "请选一级分类", input_html: {data: {'parsley-required': true}} %>
    <%= f.input :describe, label: '描述：', autofocus: true, placeholder: '描述' %>
    <%#= f.input :kind, as: :radio_buttons, wrapper: :inline_inputs, collection: Fund.options_for_enum_select(:kinds), label: '定向类型：' %>
    <%= f.input :management_rate, label: '管理费：', autofocus: true, placeholder: '' %>
  </div>
  <div class="form-actions">
    <div class="row">
      <div class="col-md-offset-2 col-md-9">
        <%= f.button :submit, '提交', class: 'btn blue' %>
        <%= link_to '取消', admin_fund_categories_path, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>
