<div id="detail">
  <div class="detail-head">
    <div class="detail-img clearfix">
      <%= image_tag @apply.cover_image.try(:file).try(:url, :pc_detail).to_s %>
      <div class="detail-cont pull-right">
        <div>
          <p class="detail-con-t"><%= @apply.name %></p>
          <p class="detail-con-font"><%= @apply.project_describe %></p>
        </div>
        <div class="detail-con-number clearfix">
          <% if @apply.target_amount != 0 %>
              <div class="circlechart pull-left" data-percentage="<%= (@apply.present_amount / @apply.target_amount * 100.00).round(2) %>"></div>
              <div class="pull-left detail-num ">
                <p>￥<%= @apply.present_amount %></p>
                <p>目标:<%= @apply.target_amount %></p>
              </div>
          <% end %>
        </div>
        <div class="detail-cont-foot border-t ">
          <p>当前筹款<span>￥<%= @apply.present_amount %></span></p>
          <p>参与人数<span><%= @apply.participant_number %>人</span></p>
          <%= link_to new_donate_path(apply: @apply.id) do %>
              <button class="overspread-show cur">我要捐助</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="dtails-cont">
    <div class="detail-nav" id="navHeight">
      <div class="detail-fiexd ">
        <div class="fhNav clearfix">
          <div class="bottomLine"></div>
          <ul class="nav pull-left" id="tabnav">
            <li class="selectedNav">
              <span>申请详情</span>
            </li>
            <li>
              <span>物品清单</span>
            </li>
            <li>
              <span>执行反馈</span>
              <span class="navmark"><%#= @feedbacks.count %></span>
            </li>
          </ul>
          <span class="pull-right share" id="share-2"></span>
          <!-- <button class="pull-right share cur">分享</button> -->
        </div>
      </div>
    </div>
    <div class="detail-body clearfix" id="conttab">
      <!--申请详情-->
      <div class="details-left pull-left contentab" style="display: block;">
        <p class="detail-l-title">探索营活动详情</p>
        <div class="detail-l-fon"><%= @apply.project_describe %></div>
        <%#= image_tag 'detail-reduce.png' %>
      </div>
      <!--物品-->
      <% if @apply.use_inventory? %>
          <div class="pull-left detail-table-left contentab">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th scope="col">物品名称</th>
                <th scope="col">物品单价（元）</th>
                <th scope="col">物品数量</th>
                <th scope="col">物品单项总金额</th>
              </tr>
              </thead>
              <tbody>
              <% @apply.inventories.sorted.each do |invent| %>
                  <tr>
                    <th><%= invent.name %></th>
                    <td><%= invent.unit %></td>
                    <td><%= invent.number %></td>
                    <td><%= invent.number * invent.unit %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
            <% if @apply.abstract.present? %>
            <p>备注：<%= @apply.abstract %></p>
            <% end %>
          </div>
      <% else %>
          <div class="not-available contentab pull-left">
            <div class="donation-cont-no">
              <div class="donation-co-no-c">
                <div class="donation-co-no-c-img">
                <%= image_tag 'not-available.png' %>
                </div>
                <p>暂无整捐物品清单</p>
              </div>
            </div>
          </div>
      <% end %>

      <!--反馈-->
      <% if @feedbacks.present? %>
          <div class="pull-left detail-body-left border-l contentab">
            <ul class="detail-body-ul">
              <% @feedbacks.each do |feedback| %>
                  <li class="detail-body-cont" id="show<%= feedback.id %>">
                    <span class="detail-body-hover iconfont icon-yuan"></span>
                    <div class="clearfix detail-font-tit">
                      <p class="pull-left"><%= feedback.owner.apply_name %></p>
                      <span class="pull-right cur" onclick="showHideCode(<%= feedback.id %>)"><span class="iconfont icon-arrowdown"></span>查看详情</span>
                    </div>
                    <div class="detail-body-title clearfix">
                      <% if feedback.user.present? && feedback.user.avatar.present? %>
                          <%= image_tag feedback.user.avatar.try(:file).try(:url, :tiny).to_s %>
                      <% else %>
                          <%= image_tag '' %>
                      <% end %>
                      <span class="pull-left"><%= feedback.user.show_name %> ·</span>
                      <span class="pull-left"><%= feedback.created_at.strftime("%Y-%m-%d") %>发布</span>
                    </div>
                    <div class="de-left-con read-more clearfix" id="showdiv">
                      <div class="de-left-con-fon">
                        <%= sanitize(feedback.content, tags: %w(img br p), attributes: %w(src)).gsub('<p>', '').gsub('</p>', '<br/>').html_safe %>

                      </div>
                      <div class="clearfix details-img">
                        <% if feedback.images.present? %>
                            <% feedback.images.each do |img| %>
                                <a data-magnify="gallery" href="<%= image_url img.try(:file).try(:url, nil).to_s %>">
                                  <%= image_tag img.try(:file).try(:url, :medium).to_s, :style => "width:211px" %>
                                </a>
                            <% end %>
                        <% end %>
                      </div>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
      <% else %>
          <div class="not-available contentab pull-left">
            <div class="donation-cont-no">
              <div class="donation-co-no-c">
                <div class="donation-co-no-c-img">
                  <%= image_tag 'not-available.png' %>
                </div>
                <p>暂无执行反馈</p>
              </div>
            </div>
          </div>
      <% end %>

      <div class="pull-right detail-body-right">
        <p class="detail-b-r-t border-b"><span>捐助记录</span></p>
        <% if @donate_records.present? %>
            <ul class="detail-b-r-name" id="donate-records">
              <%= render '/site/donate_records/list', records: @donate_records, owner: @apply, child: nil %>
            </ul>
        <% else %>
            <div class="not-available ">
              <div class="donation-cont-no">
                <div class="donation-co-no-c">
                  <p>暂无捐助记录</p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    // //图片展示
    $('[data-magnify]').magnify({
        headToolbar: [
            'close'
        ],
        initMaximized: true
    });
    // //内容信息导航吸顶
    $(document).ready(function () {
        var navHeight = $("#navHeight").offset().top;
        var navFix = $("#navHeight");
        $(window).scroll(function () {
            if ($(this).scrollTop() > navHeight) {
                navFix.addClass("navFix");
            }
            else {
                navFix.removeClass("navFix");
            }
        })
    })
    $('.circlechart').circlechart()
    $('#dtails-cont').myTab()

    function showHideCode(id) {
        $("#show" + id + " .de-left-con").removeClass('read-more')
        $("#show" + id + " .detail-font-tit > span").css('display', 'none')
        $("#show" + id + " .details-img").css('display', 'block')
        $("#show" + id + " .de-left-con-fon").css({"white-space": "pre-wrap"})

    }

    $(".check_label").checkbox();
    $('.ui-choose').ui_choose();

    $('#share-2').share({
      sites: ['qzone', 'wechat', 'weibo', 'qq'],
      title: '<%= @apply.name %>',
      url: 'http://<%= Settings.root_url %>/camps/<%= @apply.id %>/detail?m=<%= current_user.try(:id) %>',
      description: '<%= @apply.name %>',
      image: 'http://<%= Settings.app_host%><%= @apply.cover_image_url(:tiny) %>'
    });
</script>
