<div class="person-body-right pull-right">
  <div class="don-title border-b  clearfix">
    <span class="pull-left">消息通知</span>

  </div>
  <div class="w_notices">
    <ul>
      <% @notices.each do |notice| %>
          <%= link_to notice.redirect_url do %>
              <li>
                <p><%= notice.title %></p>
                <p><%= notice.content %>
                  <span style="float: right"><%= l notice.created_at %></span>
                </p>
              </li>
          <% end %>
      <% end %>
    </ul>
    <div class="project-foot">
      <%= paginate @notices, theme: :tiny %>
    </div>
  </div>
</div>