
<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-sliders font-dark"></i>
      <span class="caption-subject font-dark bold uppercase">反馈详情</span>
    </div>
    <div class="actions">
      <div class="btn-group">
        <a href="<%= admin_movie_continual_feedbacks_path %>" class="btn btn-xs blue">
          <i class="fa fa-reply"></i>返回
        </a>
      </div>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <tbody>
          <tr>
            <th>
              反馈学校
            </th>
            <th>
              <%= @continual.user.try(:teacher).try(:school).try(:name) %>
            </th>
          </tr>
          <tr>
            <th>
              反馈班级
            </th>
            <th>
              <%= @continual.class_name %>
            </th>
          </tr>
        <tr>
          <th>
            反馈人
          </th>
          <th>
            <%= @continual.user.try(:name) %>
          </th>
        </tr>
        <tr>
          <th>
            反馈时间
          </th>
          <th>
            <%= l @continual.created_at %>
          </th>
        </tr>
        <tr>
          <th>
            反馈内容
          </th>
          <th>
            <%= @continual.content.html_safe %> <br>
            <% @continual.images.each do |image| %>
              <%= image_tag image.try(:file).try(:url, :tiny) %>
            <% end %>
          </th>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
