<%= simple_form_for [:camp, @camp_student], url: @camp_student.new_record? ? camp_project_season_apply_camp_students_path(apply_camp_id: @apply_camp.id) : camp_project_season_apply_camp_student_path(apply_camp_id: @apply_camp.id), wrapper: :admin_form, html: {class: 'form-horizontal project_form', 'data-parsley-validate': true} do |f| %>
  <%= f.error_notification %>
  <div class="form-body form-horizontal">
    <%= f.input :name, label: '姓名：', placeholder: '', required: true %>
    <%= f.input :id_card, label: '身份证号：', placeholder: '', required: true %>
    <%= f.input :gender, as: :select, collection: ProjectSeasonApplyCampMember.options_for_some_select(:genders, ['male', 'female']), include_blank: false, label: '性别：', placeholder: '' %>
    <%= f.input :nation, as: :select, collection: ProjectSeasonApplyCampMember.options_for_enum_select(:nations), include_blank: false, label: '民族：', placeholder: '' %>
    <%= f.input :reason, label: '推荐理由：', placeholder: '', required: true %>
    <%= f.input :description, label: '自我介绍：', placeholder: '', required: true %>
    <%= f.input :teacher_name, label: '班主任：', placeholder: '', required: true %>
    <%= f.input :teacher_phone, label: '联系方式：', placeholder: '', required: true, type: 'phone' %>
    <%= f.input :guardian_name, label: '监护人：', placeholder: '', required: true %>
    <%= f.input :guardian_phone, label: '联系方式：', placeholder: '', required: true, type: 'phone' %>

    <div class="form-group">
      <label class="col-md-2 control-label">安全协议：</label>
      <div class="col-sm-9">
        <%= webuploader_tag :image_id, label: '安全协议', type: 'camp_protocol_image', asset: @camp_student.image, klass: 'single' %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <div class="row">
      <div class="col-md-offset-2 col-md-9">
        <%= f.button :submit, '提交', class: 'btn blue' %>
        <%= link_to '取消', request.referer, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(function () {
      initImageWebuploader($('#webuploader'));
  })
</script>
