<%= simple_form_for [:admin, @camp_project_resource], wrapper: :admin_form, html: {data: {'parsley-validate': true}} do |f| %>
    <%= f.error_notification %>
    <div class="form-body form-horizontal">
      <%= f.input :camp_id, as: :select, collection: Camp.enable.sorted.collect{|c| [c.name, c.id]}, label: '探索营地点：', input_html: {class: 'camps-ajax'} %>
      <%= f.input :company, label: '单位名称：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
      <%= f.input :resource, label: '资源：', input_html: { data: {'parsley-required': true}} %>
      <%= f.input :contact_name, label: '资源联系人：', input_html: { data: {'parsley-required': true}} %>
      <%= f.input :contact_phone, label: '联系电话：', input_html: { data: {'parsley-required': true}} %>
      <%= f.input :gsh_contact_name, label: '格桑花联系人：', input_html: { data: {'parsley-required': true}} %>
      <%= f.input :gsh_contact_phone, label: '联系电话：', input_html: { data: {'parsley-required': true}} %>
      <%= f.input :remark, as: :text, label: '资源说明：' %>

    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-3 col-md-9">
          <%= f.button :submit, '提交', class: 'btn green' %>
          <%= link_to '取消', admin_camp_project_resources_path, class: 'btn' %>
        </div>
      </div>
    </div>
<% end %>
<script>
  $(function(){
    initImageWebuploader($('#webuploader'));
      $('.camps-ajax').select2({
          language: "zh-CN",
          placeholder: '请选择探索营',
          allowClear: true,
          ajax: {
              url: "/selects/camps",
              dataType: 'json',
              delay: 250,
              data: function (params) {
                  return {
                      q: params.term, // search term
                      page: params.page
                  };
              },
              processResults: function (data, params) {
                  params.page = params.page || 1;
                  return {
                      results: $.map(data.items, function (item) {
                          return {
                              text: item.name,
                              id: item.id
                          }
                      }),
                      pagination: {
                          more: (params.page * 30) < data.total_count
                      }
                  };
              },
              cache: true
          }
      });
  })
</script>
