<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">新增筹款</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, DonateRecord.new], url: admin_read_project_supplement_donate_records_path(@apply), wrapper: :admin_form, html: {'data-parsley-validate': true, id: 'approve-form', 'data-parsley-excluded' => "input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"} do |f| %>
      <%= f.error_notification %>
      <div class="form-body form-horizontal">
        <div class="form-group radio_buttons required donate_record_donate_way">
          <label class="col-md-2 control-label radio_buttons required">捐助方式：</label>
          <div class="col-md-9 form-inline">
            <input type="radio" class="form-control radio_buttons donate_way" name="donate_way" value="offline" checked onclick="toggleState()">线下汇款
            <input type="radio" class="form-control radio_buttons donate_way" name="donate_way" value="match" onclick="toggleState()">使用其他资金
          </div>
        </div>
        <div class="offline">
          <div class="form-group">
            <label class="col-md-2 control-label">捐款渠道：</label>
            <div class="col-sm-9">
              <select id="income" class="form-control select optional" name="source_id" required>
                <% IncomeSource.all.sorted.each do |fc| %>
                  <option value="<%= fc.id %>"><%= fc.name %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">捐助人：</label>
            <div class="col-sm-9">
              <select id="income" class="form-control select optional users-ajax" name="offline_user_id" required></select>
            </div>
          </div>
        </div>
        <div class="match">
          <div class="form-group">
            <label class="col-md-2 control-label">财务分类：</label>
            <div class="col-sm-9">
              <select id="income" class="form-control select optional" name="match_fund_id" required>
                <% Fund.unrestricted.sorted.each do |fc| %>
                  <option value="<%= fc.id %>"><%= "#{fc.fund_category.name}#{fc.name}(余额：#{fc.amount})" %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">金额：</label>
          <div class="col-sm-9">
            <input class="statistic-form-input" type="number" name="amount" min="0" max="<%= @apply.target_amount - @apply.present_amount %>" required>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <%= f.button :submit, '提交', class: 'btn green' %>
              <%= link_to '取消', admin_read_project_supplement_donate_records_path(@apply), class: 'btn' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
    function toggleState() {
        toggleRadioInput('.donate_way', {
            offline: '.offline',
            match: '.match'
        })
    }

    $(function () {
        // 异步加载用户列表
        $('.users-ajax').select2({
            language: "zh-CN",
            placeholder: '选择捐助人',
            allowClear: true,
            ajax: {
                url: "/selects/users",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            }
        })
    })

    toggleState();

</script>
