      <div class="person-body-right pull-right">
        <!--我的捐助-->
        <div style="display: block;">
          <p class="don-title border-b ">
            <span class="pull-left">我的活动</span>
          </p>
          <div class="donation " style="display: block;">

          <div class="donation-active clearfix">
            <div class="donation-active-cont">
              <div>
                <%= image_tag 'cooperate-visite-form.png' %>
              </div>
              <div class="camps-body-conts">
                <p>带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦</p>
                <p>￥550/人</p>
                <p>合肥  |  报名截止2018年2月18日</p>
              </div>
            </div>
            <div class="donation-active-cont">
              <div>
                <%= image_tag 'cooperate-visite-form.png' %>
              </div>
              <div class="camps-body-conts">
                <p>带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦</p>
                <p>￥550/人</p>
                <p>合肥  |  报名截止2018年2月18日</p>
              </div>
            </div>
            <div class="donation-active-cont">
              <div>
                <%= image_tag 'cooperate-visite-form.png' %>
              </div>
              <div class="camps-body-conts">
                <p>带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦</p>
                <p>￥550/人</p>
                <p>合肥  |  报名截止2018年2月18日</p>
              </div>
            </div>
            <div class="donation-active-cont">
              <div>
                <%= image_tag 'cooperate-visite-form.png' %>
              </div>
              <div class="camps-body-conts">
                <p>带着孩子 感受春光感受爱 | 格桑花公益徒步活动招 募小志愿者啦</p>
                <p>￥550/人</p>
                <p>合肥  |  报名截止2018年2月18日</p>
              </div>
            </div>
          </div>

            <div class="donation-cont-no">
              <div class="donation-co-no-c">
                <div class="donation-co-no-c-img">
                  <%= image_tag 'ucenter-campaign.png' %>
                </div>

                <p>您还未参与任何活动</p>
              </div>
            </div>

          </div>
        </div>

      </div>
<script>

    if($('.donation .donation-active-cont').length===0){
        $('.donation-cont-no').css('display', 'block')
    }else{
        $('.donation-cont-no').css('display', 'none')
    }
</script>
