<div id="account">
  <div class="person-head">
    <%= image_tag 'ucenter-top-bg.png' %>
    <div class="person-h-img"> <%= image_tag 'ucenter-picture.png' %></div>
    <div class="person-h-right">
      <span class="iconfont icon-ico-wechat1"></span>
      <span>账户管理</span>
    </div>
    <div class="person-h-cont">
      <p>Peekid</p>
      <div class="person-h-cont-d">
        <div>
          <p><span>5678.21</span>元</p>
          <p>累计捐助</p>
        </div>
        <div class="border-l border-r">
          <p><span>5678.21</span>元</p>
          <p>累计捐助</p>
        </div>
        <div>
          <p><span>5678.21</span>元</p>
          <p>累计捐助</p>
        </div>
      </div>
    </div>
  </div>
  <div class="person-body">
    <div class="clearfix person-bo">
      <div class="person-body-left pull-left">
        <ul>
          <li class="selectedli">
            <span class="iconfont icon-ico-project"></span>
            <span>我的捐助</span>
          </li>
          <li>
            <span class="iconfont icon-ico-team"></span>
            <span>我的团队</span>
          </li>
          <!--<li >-->
          <!--<span class="iconfont icon-ico-month"></span>-->
            <!--<span>我的月捐</span>-->
          <!--</li>-->
          <li>
            <span class="iconfont icon-ico-campaign"></span>
            <span>我的活动</span>
          </li>
          <li>
            <span class="iconfont icon-ico-replace"></span>
            <span>捐助管理</span>
          </li>
          <li>
            <span class="iconfont icon-ioc-platform"></span>
            <span>协作平台</span>
          </li>
          <li>
            <span class="iconfont icon-ico-gsh"></span>
            <span>格桑花+</span>
          </li>
          <li>
            <span class="iconfont icon-ico-badge"></span>
            <span>我的勋章</span>
          </li>
        </ul>
        <div class="leftLine"></div>
        <div  class="border-t" >
          <span class="iconfont icon-ico-add"></span>
          <span>退出登录</span>
        </div>
      </div>
      <div class="person-body-right pull-right">
        <!--我的捐助-->
        <div>
          <ul class="donations clearfix">
            <li class="selectedDon cur">我的捐助</li>
            <li class="cur">我的结对</li>
            <li class="cur">我的图书角</li>
          </ul>
          <!--我的捐助-->
          <div class="donation " style="display: block;">
            <div class="donations-1" >
              <ul class="donations1 clearfix">
                <li class="selectedDo cur">全部项目</li>
                <li class="cur border-l border-r">护花</li>
                <li class="cur border-r">广播</li>
                <li class="cur">探索营</li>
              </ul>
              <div class="bottomline"></div>
            </div>
            <div class="donation-cont border-b">
              <div class="clearfix">
                <div class="donation-cont-img pull-left">
                  <%= image_tag 'ucenter-top-bg.png' %>
                </div>
                <div class="pull-left donation-cont-cco">
                  <div class="donation-cont-c-tit clearfix">
                    <p class="pull-left">护花行动“风暴”来袭护花行动“风暴”</p>
                  </div>
                  <div class="clearfix donation-cont-c-con">
                    <div class="pull-left">
                      <p><span>￥3219097.56</span></p>
                      <p>还差</p>
                    </div>
                    <div class="pull-left">
                      <p><span>12</span>/12</p>
                      <p>进度</p>
                    </div>
                  </div>
                </div>
                <div class="donation-cont-but pull-right">
                  查看项目详情
                </div>
              </div>
            </div>
            <div class="project-foot">
              <span class="iconfont icon-arrow-left cur"></span>
              <span class="iconfont icon-arrow-right cur"></span>
            </div>
            <div class="project-recom">
              <p class="border-b">项目推荐</p>
              <div class="project-recom-cont row">
                <div class="col-md-4 cur ">
                  <div class="project-recom-img">
                    <%= image_tag 'gsh-img-right.png' %>
                  </div>
                  <div class="project-recom-cot border-b border-l border-r ">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60"
                           aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                      </div>
                    </div>
                    <div class="project-recom-contn" >
                      <div>
                        <p><span>￥3219097.56</span></p>
                        <p>还差</p>
                      </div>
                      <div class="border-l">
                        <p><span>12</span>/12</p>
                        <p>进度</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 cur ">
                  <div class="project-recom-img">
                    <%= image_tag 'gsh-img-right.png' %>
                  </div>
                  <div class="project-recom-cot border-b border-l border-r ">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60"
                           aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                      </div>
                    </div>
                    <div class="project-recom-contn" >
                      <div>
                        <p><span>￥3219097.56</span></p>
                        <p>还差</p>
                      </div>
                      <div class="border-l">
                        <p><span>12</span>/12</p>
                        <p>进度</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 cur ">
                  <div class="project-recom-img">
                    <%= image_tag 'gsh-img-right.png' %>
                  </div>
                  <div class="project-recom-cot border-b border-l border-r ">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60"
                           aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                      </div>
                    </div>
                    <div class="project-recom-contn" >
                      <div>
                        <p><span>￥3219097.56</span></p>
                        <p>还差</p>
                      </div>
                      <div class="border-l">
                        <p><span>12</span>/12</p>
                        <p>进度</p>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>

          </div>
          <div class="donation">

          </div>
          <div class="donation">我的图书角</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    //      左tab切换
    $(".person-body-left ul li").on("click", function () {
        $(".person-body-left ul li").removeClass("selectedli")
        $(this).addClass("selectedli")
        $(".leftLine").css("top", parseFloat($(this)[0].offsetTop) + "px")
    })
    //     右tab切换一级
    $('.donations li').on("click",function(){
        $(".donations li").removeClass("selectedDon")
        $(this).addClass("selectedDon")
        $.each($('.donations li'), function (i, j) {
            $('.donation').eq(i).css('display', 'none')
        });
        $('.donation').eq($(this).index()).css('display', 'block')
    })
    //     右tab切换二级
    $(".donations1 li").on("click", function () {
        $(".donations1 li").removeClass("selectedDo")
        $(this).addClass("selectedDo")
        $(".bottomline").css("left", parseFloat($(this)[0].offsetLeft) +31 +  "px")
    })
</script>
