<div class="person-body-right pull-right" id="school-edit" >
  <div >
    <p class="don-title border-b ">
      <span class="pull-left">学校资料</span>
    </p>
  </div>
  <div class=" marginbottom">

    <div class="addchild-list-img">
      <%= image_tag 'gsh-img-right.png' %>
      <div></div>
      <span>上传logo</span>
    </div>
    <p class="don-titln">学校信息</p>
    <div class="addchild-list-cont">
      <div>
        <span class="goodtext"><%= @profile.name %></span>
        <div>
          <button type="button" class="scool-edit-name" disabled>大西庄村小学</button>
        </div>

      </div>


    <div>
      <span class="goodtext">所在地区</span>
      <div style="margin-bottom: 20px;" class="form-group">
        <label class="col-md-2 control-label select required" for="project_category_id">用户所在地：</label>
        <div class="col-sm-6">
          <div class="row city-group">
            <div class="col-sm-3">
              <%= select_tag 'user[province]', options_for_select(ChinaCity.list, @profile.province.presence), prompt: '省份', class: "form-control city-select" %>
            </div>
            <div class="col-sm-3">
              <%= select_tag 'user[city]', options_for_select(ChinaCity.list(@profile.province.to_s), @profile.city.presence), prompt: '城市', class: "form-control city-select" %>
            </div>
            <div class="col-sm-3">
              <%= select_tag 'user[district]', options_for_select(ChinaCity.list(@profile.city.to_s), @profile.district.presence), prompt: '地区', class: "form-control city-select" %>
            </div>
          </div>
        </div>
      </div>
      
<!--      <div class="city-picker-selector" id="city-picker-selector"></div>-->
    </div>
      <div>
        <span class="goodtext">详细地址</span>
        <input  class="goodinput " type="text"  placeholder="请输入详细地址"/>
      </div>
      <div>
        <span class="goodtext">邮政编码</span>
        <div>
          <input  class="goodinput " type="text"  />
        </div>
      </div>
      <div>
        <span class="goodtext">学生人数</span>
        <div>
          <input  class="goodinput " type="text"  />
          <span class="income-moy">人</span>
        </div>
      </div>
      <div>
        <span class="goodtext">教师人数</span>
        <div>
          <input  class="goodinput " type="text"  />
          <span class="income-moy">人</span>
        </div>
      </div>
      <div>
        <span class="goodtext">后勤人数</span>
        <div>
          <input  class="goodinput " type="text"  />
          <span class="income-moy">人</span>
        </div>
      </div>
      <div style="height: 180px;width: 777px;">
        <span class="goodtext">学校简介</span>
        <textarea></textarea>
      </div>
    </div>
    <div class="childern-submint">
      <button>保存</button>
      <button>取消</button>
    </div>
  </div>




</div>
<script>
    // 模拟城市-无联动/无搜索
    var selector1 = $('#city-picker-selector').cityPicker({
        dataJson: cityData,
        renderMode: true,
        search: false,
        autoSelected: false,
        code: 'cityCode',
        level: 3
    });
    $("#allcamps").select({
        width: "452px"
    });
    $("#grade1").select({
        width: "145px"
    });
    $("#grade2").select({
        width: "145px"
    });
    $("#class").select({
        width: "142px"
    });

</script>


