<% content_for :styles do %>
  <%= stylesheet_link_tag "controllers/orders/index" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "controllers/profiles/index" %>
<% end %>

<% if @profile.new_record? %>
  <% url_path = account_offline_users_path %>
  <% method_way = "post" %>
<% else %>
  <% url_path = platform_school_profile_path %>
  <% method_way = "put" %>
<% end %>

<div class="person-body-right pull-right" id="school-edit">
  <div>
    <p class="don-title border-b ">
      <span class="pull-left">学校资料</span>
    </p>
  </div>
  <%= simple_form_for @profile, url: url_path, method: method_way, html: {'data-parsley-validate': true, id: 'profile_form', method_way: method_way} do |f| %>
    <%= hidden_field_tag "school[id]", @profile["id"] %>
    <div class=" marginbottom">
      <div style="margin-left: 356px; margin-top: 30px;">
        <%= webuploader_tag :logo_id, label: '上传Logo', type: 'school_logo', asset: @profile.logo, klass: 'single' %>
      </div>
      <p class="don-titln">学校信息</p>
      <div class="addchild-list-cont">
        <div>
          <span class="goodtext">学校全称</span>
          <div>
            <%= f.text_field :name, required: true, placeholder: '', class: "scool-edit-name", disabled: "disabled" %>
          </div>
        </div>
        <div>
          <span class="goodtext">所在地区</span>
          <div style="margin-bottom: 20px;" class="form-group">
            <div >
              <%= select_tag 'user[province]', options_for_select(ChinaCity.list, @profile.province.presence), prompt: '省份', class: "selector-item storey province city-select" %>
              <%= select_tag 'user[city]', options_for_select(ChinaCity.list(@profile.province.to_s), @profile.city.presence), prompt: '城市', class: "selector-item storey city city-select" %>
              <%= select_tag 'user[district]', options_for_select(ChinaCity.list(@profile.city.to_s), @profile.district.presence), prompt: '地区', class: "selector-item storey district city-select" %>
            </div>
          </div>
        </div>
        <div>
          <span class="goodtext">详细地址</span>
          <%= f.text_field :address, placeholder: '请输入详细地址', class: "goodinput " %>
        </div>
        <div>
          <span class="goodtext">邮政编码</span>
          <div>
            <%= f.text_field :postcode, placeholder: '请输入邮政编码', class: "goodinput " %>
          </div>
        </div>
        <div>
          <span class="goodtext">学生人数</span>
          <div>
            <%= f.text_field :number, placeholder: '请输入学生人数', class: "goodinput " %>
            <span class="income-moy">人</span>
          </div>
        </div>
        <div>
          <span class="goodtext">教师人数</span>
          <div>
            <%= f.text_field :teacher_count, placeholder: '请输入教师人数', class: "goodinput " %>
            <span class="income-moy">人</span>
          </div>
        </div>
        <div>
          <span class="goodtext">后勤人数</span>
          <div>
            <%= f.text_field :logistic_count, placeholder: '请输入后勤人数', class: "goodinput " %>
            <span class="income-moy">人</span>
          </div>
        </div>
        <div style="height: 180px;width: 777px;">
          <span class="goodtext">学校简介</span>
          <%= f.text_area :describe, placeholder: '请输入学校简介', style: "padding: 5px 13px" %>
        </div>
      </div>
      <div class="childern-submint">
        <input class="btn  save-btn" id="save_form_btn" name="commit" value="保存" type="button" info="<%= action_name %>">
        <%= link_to "取消", platform_school_teachers_path, class: "btn cancel-btn" %>
      </div>
    </div>
  <% end %>


</div>
<script>
    $('.province').select2({
        width:"200px",
        minimumResultsForSearch: -1
    })
    $('.city').select2({
        width:"200px",
        minimumResultsForSearch: -1
    })
    $('.district').select2({
        width:"264px",
        minimumResultsForSearch: -1
    })
  $(function () {
    initImageWebuploader($('#webuploader'));
  })


</script>


