<div class="person-body-right pull-right ">
  <p class="don-title border-b ">
    <span class="pull-left">移交团队</span>
    <span class="pull-right iconfont icon-arrow-right"></span>
    <span class="pull-right">返回我的团队</span>
  </p>
  <div class="transfers">
    <p class="gsh-plus-tit">选择你要移交的团队成员</p>
    <ul class="transfers-cont ui-choose" >
      <li class="transfers-per selected">
        <div class="transfers-per-img">
          <%= image_tag 'project-detail-child.png' %>
        </div>
        <p class="transfers-per-name">十指紧扣</p>
        <div class="transfers-per-team">团队创建人</div>
        <p class="transfers-per-time">加入 2017-10-20</p>
      </li>
      <li class="transfers-per ">
        <div class="transfers-per-img">
          <%= image_tag 'project-detail-child.png' %>
        </div>
        <p class="transfers-per-name">十指紧扣</p>
        <div class="transfers-per-team">团队创建人</div>
        <p class="transfers-per-time">加入 2017-10-20</p>
      </li>
      <li class="transfers-per">
        <div class="transfers-per-img">
          <%= image_tag 'project-detail-child.png' %>
        </div>
        <p class="transfers-per-name">十指紧扣</p>
        <div class="transfers-per-mark">爱心人士</div>
        <p class="transfers-per-time">加入 2017-10-20</p>
      </li>
      <li class="transfers-per">
        <div class="transfers-per-img">
          <%= image_tag 'project-detail-child.png' %>
        </div>
        <p class="transfers-per-name">十指紧扣</p>
        <div class="transfers-per-mark">爱心人士</div>
        <p class="transfers-per-time">加入 2017-10-20</p>
      </li>
      <li class="transfers-per">
        <div class="transfers-per-img">
          <%= image_tag 'project-detail-child.png' %>
        </div>
        <p class="transfers-per-name">十指紧扣</p>
        <div class="transfers-per-mark">爱心人士</div>
        <p class="transfers-per-time">加入 2017-10-20</p>
      </li>
      <li class="transfers-per">
        <div class="transfers-per-img">
          <%= image_tag 'project-detail-child.png' %>
        </div>
        <p class="transfers-per-name">十指紧扣</p>
        <div class="transfers-per-mark">志愿者</div>
        <p class="transfers-per-time">加入 2017-10-20</p>
      </li>
    </ul>
  </div>
  <div class="transfers-button">
    <button class="class-button">立即移交</button>
  </div>
  <div class="overspread-3">
    <div class="overspread-over"></div>
    <div class="overspread-cont">
      <div class="clearfix">
        <div class="pull-left mys-1"></div>
        <div class="pull-right iconfont icon-icondelete cur overspread-but"></div>
      </div>
      <div class="overspread-co">
        <p class="over-fontns">确定移交团队？</p>
      </div>
      <div class="overspreads-but">
        <button>确定</button>
        <button>取消</button>
      </div>
    </div>

  </div>

</div>
<script>
    $('.ui-choose').ui_choose();
    $('.overspread-3').overs(".class-button");
</script>


