<div class="gsh-plus-show">
<p class="gsh-plus-tit">通过格桑花+  您可以参与到我们的公益事业</p>
  <div class="gsh-plus-cont">
    <div>
      <% if (current_user.headmaster? || current_user.teacher?) && @school.pass? %>
        <%= link_to platform_school_apply_pairs_path do %>
          <%= image_tag 'gsh-icon-school.png' %>
          <p class="gsh-plus-c-t">学校申请</p>
          <p class="gsh-plus-c-n">可参与公益活动</p>
          <div class="gsh-plus-c-but">审核通过</div>
        <% end %>
      <% elsif current_user.create_school.present? && @school.pass? %>
        <%= link_to '' do %>
          <%= image_tag 'gsh-icon-school.png' %>
          <p class="gsh-plus-c-t">学校申请</p>
          <p class="gsh-plus-c-n">可参与公益活动</p>
          <div class="gsh-plus-c-but">审核通过</div>
        <% end %>
      <% elsif (current_user.headmaster? || current_user.teacher? || current_user.create_school.present?) && @school.submit? %>
        <%= link_to '' do %>
          <%= image_tag 'gsh-icon-school.png' %>
          <p class="gsh-plus-c-t">学校申请</p>
          <p class="gsh-plus-c-n">可参与公益活动</p>
          <div class="gsh-plus-c-but">审核中</div>
        <% end %>
      <% else %>
        <%= link_to '' do %>
          <%= image_tag 'gsh-icon-school.png' %>
          <p class="gsh-plus-c-t">学校申请</p>
          <p class="gsh-plus-c-n">可参与公益活动</p>
          <% if (current_user.headmaster? || current_user.teacher? || current_user.create_school.present?) && @school.reject? %>
            <div class="gsh-plus-c-but">审核未通过</div>
          <% else %>
            <div class="gsh-plus-c-but">可申请</div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div>
      <% if current_user.volunteer? && @volunteer.pass? %>
        <%= link_to '' do %>
          <%= image_tag 'gsh-icon-vol.png' %>
          <p class="gsh-plus-c-t">志愿者申请</p>
          <p class="gsh-plus-c-n">通过后可申请项目</p>
          <div class="gsh-plus-c-but">审核通过</div>
        <% end %>
      <% elsif current_user.volunteer? && @volunteer.submit? %>
        <%= link_to '' do %>
          <%= image_tag 'gsh-icon-vol.png' %>
          <p class="gsh-plus-c-t">志愿者申请</p>
          <p class="gsh-plus-c-n">通过后可申请项目</p>
          <div class="gsh-plus-c-but">审核中</div>
        <% end %>
      <% else %>
        <%= link_to '' do %>
          <%= image_tag 'gsh-icon-vol.png' %>
          <p class="gsh-plus-c-t">志愿者申请</p>
          <p class="gsh-plus-c-n">通过后可申请项目</p>
          <% if current_user.volunteer? && @volunteer.reject? %>
            <div class="gsh-plus-c-but">审核未通过</div>
          <% else %>
            <div class="gsh-plus-c-but">可申请</div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div>
      <% if current_user.gsh_child? %>
        <%= link_to '' do %>
          <%= image_tag 'gsh-icon-child.png' %>
          <p class="gsh-plus-c-t">格桑花孩子</p>
          <p class="gsh-plus-c-n">我曾经是格桑花孩子</p>
          <div class="gsh-plus-c-but">已加入</div>
        <% end %>
      <% else %>
        <%= link_to '' do %>
          <%= image_tag 'gsh-icon-child.png' %>
          <p class="gsh-plus-c-t">格桑花孩子</p>
          <p class="gsh-plus-c-n">我曾经是格桑花孩子</p>
          <div class="gsh-plus-c-but">可加入</div>
        <% end %>
      <% end %>
    </div>
  </div>
<%= link_to account_orders_path do %><p class="gsh-plus-foot">返回个人中心</p><% end %>
</div>
