<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i>筹款项目管理
    </div>
    <% if can? :manage_project, current_user, @current_project %>
    <div class="actions">
      <%= link_to new_admin_goods_project_path, class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
          <i class="icon-plus"></i>
          <span>新增项目</span>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= search_form_for @search, url: admin_goods_projects_path, class: 'form-inline' do |f| %>
              <div class="form-group">
                <%= f.label :school_name_or_apply_no_cont, '搜索' %>
                <%= f.text_field :school_name_or_apply_no_cont, class: 'form-control gsh-input-share', placeholder: '学校名称、申请编号' %>
              </div>
              <!-- <div class="form-group">
                <%= f.label :id_eq, '申请编号' %>
                <%= f.text_field :id_eq, class: 'form-control gsh-input-share', placeholder: '申请编号' %>
              </div> -->
              <div class="form-group">
                <%= f.label :execute_state_eq, '执行状态' %>
                <%= f.select :execute_state_eq, ProjectSeasonApply.options_for_select(:execute_states, raw: true), {include_blank: '全部'}, class: 'form-control gsh-input-share' %>
              </div>
              <div class="form-group">
                <%= f.label :project_season_id_eq, '批次' %>
                <%= f.select :project_season_id_eq, ProjectSeason.where(project_id: Project.care_project.id).collect {|p| [p.name, p.id]}, {include_blank: '全部'}, class: 'form-control gsh-input-share' %>
              </div>
              <button type="submit" class="btn btn-default grey">搜索</button>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right"></div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
          <tr>
            <th>
              申请编号
            </th>
            <th>
              项目名称
            </th>
            <th>
              申请学校
            </th>
            <th>
              人数
            </th>
            <th>
              批次
            </th>
            <th>
              已筹/目标
            </th>
            <th>
              状态
            </th>
            <th>
              执行状态
            </th>
            <th>
              操作
            </th>
          </tr>
          </thead>
          <tbody>
          <% @project_applies.each do |apply| %>
              <tr>
                <td>
                  <%= apply.apply_no %>
                </td>
                <td>
                  <%= apply.name %>
                </td>
                <td>
                  <%= apply.school.try(:name) %>
                </td>
                <td>
                  <%= apply.try(:girl_number).to_i + apply.try(:boy_number).to_i %>
                </td>
                <td>
                  <%= apply.season.name %>
                </td>
                <td>
                  <%= apply.present_amount %>/<%= apply.target_amount %>
                </td>
                <td>
                  <%= link_to switch_admin_goods_project_path(apply), data: {confirm: "确定#{apply.state === 'show' ? '隐藏项目' : '显示项目'}吗？"}, method: :put, 'data-no-turbolink' => true, class: "btn btn-xs #{apply.state === 'show' ? 'green' : 'default'}" do %>
                      <%= apply.state === 'show' ? '显示' : '隐藏' %>
                      <i class="fa <%= apply.state === 'show' ? 'fa-eye' : 'fa-eye-slash' %>"></i>
                  <% end %>
                </td>
                <td>
                  <%= apply.enum_name(:execute_state) %>
                </td>
                <td>
                  <% if !apply.cancelled? %>
                    <%= link_to edit_admin_goods_project_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                        <i class="fa fa-edit"></i> 修改
                    <% end %>
                    <%= link_to admin_goods_project_goods_donate_records_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                        <i class="fa fa-list"></i> 筹款管理
                    <% end %>
                  <% end %>
                  <% if apply.to_delivery? %>
                    <%= link_to shipment_admin_goods_project_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs yellow' do %>
                      <i class="fa fa-truck"></i> 发货
                    <% end %>
                  <% end %>
                  <% if apply.raising? || apply.to_delivery? %>
                    <%= link_to cancelled_admin_goods_project_path(apply), class: 'btn btn-xs red', method: :put, data: {confirm: '确定取消项目吗？'} do %>
                      <i class="fa fa-exclamation-triangle"></i> 取消项目
                    <% end %>
                  <% end %>
                  <% if apply.to_receive? || apply.to_feedback? || apply.feedbacked? || apply.done? %>
                    <% if apply.receive_feedback.present? %>
                      <%= link_to admin_goods_project_goods_receive_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs yellow' do %>
                        <i class="fa fa-truck"></i> 查看收货凭证
                      <% end %>
                    <% else %>
                      <span class="btn btn-xs default"><i class="fa fa-truck"></i> 查看收货凭证</span>
                    <% end %>
                  <% end %>
                  <% if apply.to_feedback? || apply.feedbacked? || apply.done? %>
                    <% if apply.install_feedback.present? %>
                      <%= link_to admin_goods_project_goods_install_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                        <i class="fa fa-file"></i> 查看反馈
                      <% end %>
                    <% else %>
                      <span class="btn btn-xs default"><i class="fa fa-file"></i> 查看反馈</span>
                    <% end %>

                    <% if !apply.accrued? %>
                      <%= link_to accrue_admin_goods_project_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs red' do %>
                      <i class="fa fa-yen"></i> 计提管理费
                      <% end %>
                    <% else %>
                      <a href="javascript:;" class="btn btn-xs grey"><i class="fa fa-yen"></i> 已计提管理费</a>
                    <% end %>
                  <% end %>
                  <% if apply.feedbacked? %>
                    <%= link_to done_admin_goods_project_path(apply), class: 'btn btn-xs blue', method: :put, data: {confirm: '确定已完成吗？'} do %>
                      <i class="fa fa-check-square-o"></i> 标记完成
                    <% end %>
                  <% end %>
                  <!-- <% if apply.cancelled? && apply.donate_records.present? %>
                    <%= link_to refunded_admin_flwer_project_path(apply), 'data-no-turbolink' => true, class: 'btn btn-xs yellow' do %>
                      <i class="fa fa-money"></i> 项目已退款
                    <% end %>
                  <% end %> -->
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@project_applies) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @project_applies, theme: '' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
