<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i> <%= link_to "#{@apply_camp.apply.name}", admin_camp_projects_path %> > <%= link_to "#{@apply_camp.school.name}配额", admin_camp_project_project_season_apply_camps_path(@apply_camp.apply) %> > 教师名单
    </div>
    <div class="actions">
      <%= link_to new_admin_project_season_apply_camp_teacher_path(apply_camp_id: @apply_camp.id), class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
          <i class="icon-plus"></i>
          <span>新增</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= search_form_for @search, url: admin_project_season_apply_camp_teachers_path(apply_camp_id: @apply_camp.id), class: 'form-inline' do |f| %>
              <div class="form-group">
                <%= f.label :name_cont, '搜索' %>
                <%= f.text_field :name_cont, class: 'form-control', placeholder: '姓名' %>
              </div>
              <div class="form-group">
                <%= f.label :state_eq, '状态' %>
                <%= f.select :state_eq, ProjectSeasonApplyCampMember.options_for_select(:states, raw: true), {include_blank: '全部'}, class: 'form-control' %>
              </div>
              <button type="submit" class="btn btn-default grey">搜索</button>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right"></div>
        </div>
      </div>
      <div class="table-scrollable dropdown-select">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
          <tr>
            <th>
              身份证
            </th>
            <th>
              姓名
            </th>
            <th>
              年龄
            </th>
            <th>
              性别
            </th>
            <th>
              民族
            </th>
            <th>
              状态
            </th>
            <th>
              操作
            </th>
          </tr>
          </thead>
          <tbody>
          <% @camp_teachers.each do |teacher| %>
              <tr>
                <td>
                  <%= teacher.id_card %>
                </td>
                <td>
                  <%= teacher.name %>
                </td>
                <td>
                  <%= teacher.age %>
                </td>
                <td>
                  <%= teacher.enum_name(:gender) %>
                </td>
                <td>
                  <%= teacher.enum_name(:nation) %>
                </td>
                <td>
                  <%= teacher.enum_name(:state) %>
                </td>
                <td>
                  <%= link_to admin_project_season_apply_camp_teacher_path(teacher, apply_camp_id: @apply_camp.id), 'data-no-turbolink' => true, class: 'btn btn-xs yellow' do %>
                      <i class="fa fa-gavel"></i> 审核
                  <% end %>
                  <%= link_to edit_admin_project_season_apply_camp_teacher_path(teacher, apply_camp_id: @apply_camp.id), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                      <i class="fa fa-edit"></i> 修改
                  <% end %>
                  <%= link_to admin_project_season_apply_camp_teacher_path(teacher, apply_camp_id: @apply_camp.id), class: 'btn btn-xs red', method: :delete, data: {confirm: '删除该配额，将会同时删除本配额下的申请信息，确定要删除吗？'} do %>
                      <i class="fa fa-trash-o"></i> 删除
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@camp_teachers) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @camp_teachers, theme: '' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
