<%= simple_form_for [:admin, @protocol], wrapper: :admin_form, html: {data: {'parsley-validate': true}} do |f| %>
    <%= f.error_notification %>
    <div class="form-body form-horizontal">
      <%= f.input :title, label: '协议标题：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
      <%= f.input :version, label: '版本', autofocus: true, input_html: { data: {}} %>
      <div class="form-group">
        <label class="col-md-2 control-label">协议内容：</label>
        <div class="col-sm-9">
          <%= f.cktext_area :content, input_html: { data: {'parsley-required': true}}  %>
        </div>
      </div>
      <%= f.input :kind, as: :radio_buttons, wrapper: :inline_inputs, collection: Protocol.options_for_select(:kinds), label: '协议类型：', input_html: {data: {'parsley-required': true}, class: 'kind', onclick: 'toggleState();'} %>
      <div class="relate-project">
        <%= f.input :project_id, as: :select, collection: Project.sorted, label: '项目：', prompt: "请选择项目", hint: '可关联项目', input_html: {data: {'parsley-required': true}} %>
      </div>
      <%= f.input :state, as: :radio_buttons, wrapper: :inline_inputs, collection: Protocol.options_for_select(:states), label: '状态：' %>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-3 col-md-9">
          <%= f.button :submit, '提交', class: 'btn green' %>
          <%= link_to '取消', admin_protocols_path, class: 'btn' %>
        </div>
      </div>
    </div>
<% end %>
<script>
  function toggleState(){
      toggleRadioInput('.kind', {
          project_apply_protocol: '.relate-project'
      })
  }
  toggleState();
</script>
