<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">导入收入</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <div class="form-body form-horizontal">
      <div class="form-body">
        <div class="form-group">
            <label class="col-md-2 control-label">下载模板:</label>
            <div class="col-sm-9">
              <%= link_to CampDocumentVolunteer.excel_template, class: 'btn btn-lg green' do %>
                  <i class="fa fa-download"></i>
                  下载模板
              <% end %>
              <p class="help-block">请根据模板格式认真填写</p>
            </div>
        </div>
        <%= simple_form_for :file, url: excel_import_admin_camp_document_volunteers_path, method: :put, wrapper: :admin_form do |f| %>
            <%= f.error_notification %>
            <div class="form-group">
              <label class="col-md-2 control-label">收入记录文件:</label>
              <div class="col-sm-9">
                <%= webuploader_file :camp_volunteer_excel_id, id: 'excel-upload', label: '上传文件', type: 'camp_volunteer_excel' %>
              </div>
            </div>
            <div class="form-actions">
              <div class="row">
                <div class="col-md-offset-3 col-md-9">
                  <%= f.button :submit, '提交', class: 'btn green' %>
                  <%= link_to '取消', admin_camp_document_volunteers_path, class: 'btn' %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    $(function () {
        initExcelWebuploader('#excel-upload');
    })
</script>
