<%= content_for :page_level_scripts do %>
  <%= javascript_include_tag '/assets/webuploader/webuploader.js' %>
  <%= stylesheet_link_tag '/assets/webuploader/webuploader.css' %>
<% end %>
<%= simple_form_for [:admin, @user], wrapper: :admin_form do |f| %>
  <%= f.error_notification %>
  <div class="form-body">
    <div class="form-group">
      <label class="col-md-2 control-label">组织Logo：</label>
      <div class="col-sm-9">
        <%= webuploader_tag :avatar_id, label: '上传Logo', type: 'user_avatar', asset: @user.avatar, klass: 'single' %>
      </div>
    </div>
    <%= f.input :nickname, label: '昵称：', placeholder: '', hint: '' %>
    <%= f.input :name, label: '真实姓名：', placeholder: '', hint: '' %>
    <%= f.input :salutation, label: '如何称呼：', placeholder: '', hint: '' %>
    <%= f.input :gender, label: '性别：', placeholder: '', hint: '' %>
    <%= f.input :consignee, label: '收件人：', placeholder: '', hint: '' %>
    <div style="margin-bottom: 20px;" class="form-group">
      <label class="col-md-2 control-label select required" for="project_category_id">省市区：</label>
      <div class="col-sm-6">
        <div class="row city-group">
          <div class="col-sm-3">
            <%= select_tag 'user[province]', options_for_select(ChinaCity.list, @user.province.presence), prompt: '省份', class: "form-control city-select" %>
          </div>
          <div class="col-sm-3">
            <%= select_tag 'user[city]', options_for_select(ChinaCity.list(@user.province.to_s), @user.city.presence), prompt: '城市', class: "form-control city-select" %>
          </div>
          <div class="col-sm-3">
            <%= select_tag 'user[district]', options_for_select(ChinaCity.list(@user.city.to_s), @user.district.presence), prompt: '地区', class: "form-control city-select" %>
          </div>
        </div>
      </div>
    </div>
    <%= f.input :address, label: '详细地址：', placeholder: ''%>

    <%= f.input :phone, label: '联系电话', input_html: { data: {'parsley-phone': true}} %>
    <%= f.input :state, as: :radio_buttons, wrapper: :inline_inputs, collection: User.options_for_select(:states), label: '用户状态：'%>
    <%= f.input :openid, label: '微信openID' %>
  </div>
  <div class="form-actions">
    <div class="row">
      <div class="col-md-offset-2 col-md-9">
        <%= f.button :submit, '提交', class: 'btn blue' %>
        <%= link_to '取消', admin_users_path, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>
<script>
$(function(){
  initImageWebuploader($('#webuploader'));
})
</script>
