<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i> 批量操作
    </div>
    <div class="actions">
      <div class="btn-group">
        <a href="<%= admin_users_path %>" class="btn btn-xs blue">
          <i class="fa fa-reply"></i>返回
        </a>
      </div>
    </div>
  </div>

  <div class="portlet light bordered">
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-paper-plane font-red-sunglo"></i>
          <span class="caption-subject font-red-sunglo bold uppercase">批量推送微信通知</span>
        </div>
      </div>
      <div class="portlet-body form">
        <%= simple_form_for [:admin, User.new], url: send_message_admin_users_path, remote: true, method: :put, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'category_form'} do |f| %>
            <%= f.error_notification %>
            <div class="form-body form-horizontal">

              <div class="form-group radio_buttons required donate_record_donate_way">
                <label class="col-md-2 control-label">推送方式：</label>
                <div class="col-md-9 form-inline">
                  <label><input type="radio" class="form-control radio_buttons send_way" name="send_way" value="total" <%= 'checked' if params[:user_id].blank? %> onclick="toggleState()">所有用户</label>
                  <label><input type="radio" class="form-control radio_buttons send_way" name="send_way" value="filter" onclick="toggleState()">筛选用户</label>
                  <label><input type="radio" class="form-control radio_buttons send_way" name="send_way" value="part" <%= 'checked' if params[:user_id].present? %> onclick="toggleState()">选定用户</label>
                  <p class="help-block">推送微信消息给绑定微信的用户</p>
                </div>
              </div>

              <div class="filter">
                <div style="margin-bottom: 20px;" class="form-group">
                  <label class="col-md-2 control-label select required" for="project_category_id">用户所在地：</label>
                  <div class="col-sm-6">
                    <div class="row city-group">
                      <div class="col-sm-3">
                        <%= select_tag 'province', options_for_select(ChinaCity.list, params[:province]), prompt: '省份', class: "city-select form-control gsh-input-share-l ", id: 'province' %>
                      </div>
                      <div class="col-sm-3">
                        <%= select_tag 'city', options_for_select(ChinaCity.list(params[:province]), params[:city]), prompt: '城市', class: "city-select form-control ", id: 'city' %>
                      </div>
                      <div class="col-sm-3">
                        <%= select_tag 'district', options_for_select(ChinaCity.list(params[:city]), params[:district]), prompt: '地区', class: "city-select form-control gsh-input-share-r", id: 'district' %>
                      </div>
                      <button type="button" class="btn blue" onclick="filterWechatUser()">筛选</button>
                      <span id="result-number">0</span>人
                      <input type="hidden" id="user-ids" name="user_ids_array">
                    </div>
                  </div>
                </div>
              </div>
              <div class="part">
                <div class="form-group approve_reject ">
                  <label class="col-md-2 control-label">选择用户：</label>
                  <div class="col-sm-9">
                    <select class="form-control select optional" name="user_ids[]" id="user-ajax" required></select>
                  </div>
                </div>
              </div>
              <div class="form-group approve_reject ">
                <label class="col-md-2 control-label">消息内容：</label>
                <div class="col-sm-9">
                  <textarea name="content" cols="100" rows="10" required></textarea>
                </div>
              </div>
            </div>
            <div class="form-actions">
              <div class="row">
                <div class="col-md-offset-2 col-md-9">
                  <%= f.button :submit, '发送', class: 'btn blue' %>
                </div>
              </div>
            </div>
        <% end %>
        <div class="note note-success" style="display: none;">
          <h4 class="block">消息推送中</h4>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
          </div>
          <p id="message"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'cable' %>
<script type="text/javascript" charset="utf-8">
    $(function () {
        this.App || (this.App = {});
        App.cable = ActionCable.createConsumer();
        App.cable.subscriptions.create({
                channel: "BatchNoticeChannel",
                id: "<%= current_user.id %>"
            },
            {
                received: function (data) {
                    $('.note-success').show()
                    $('.progress-bar').css('width', data.data.percentage + '%')
                    $('#message').text('状态：' + data.data.message + ' 进度：' + data.data.percentage + '%' + '，共计' + data.data.total + '条')
                }
            })

        initImageWebuploader($('#webuploader'));
        // 异步加载志愿者列表
        $('#user-ajax').select2({
            language: "zh-CN",
            placeholder: '请选择用户',
            allowClear: true,
            multiple: true,
            noneSelectedText : "--请选择--", //当没有内容选中时候显示的文本
            checkAllText : "全选", //全选按钮显示的文本
            uncheckAllText : "全不选", //全不选按钮显示的文本
            ajax: {
                url: "/selects/wechat_users",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page,
                        user_id: '<%= params[:user_id] %>'
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.name_for_select,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: params.page < data.pagination.total_pages
                        }
                    };
                },
                cache: true
            }
        });
        toggleState();
    })

    function toggleState() {
        toggleRadioInput('.send_way', {
            part: '.part',
            filter: '.filter'
        })
    }

    function filterWechatUser() {
        if ($('#province').val().length > 0) {
            $.get('/ajaxes/search_wechat_user', {
                province: $('#province').val(),
                city: $('#city').val(),
                district: $('#district').val()
            }, function (result) {
                console.log(result)
                $('#result-number').text(result.count)
                $('#user-ids').val(result.user_ids)
                console.log(result.user_ids)
                console.log($('#user-ids').val())
            })
        } else {
            toastr.info('请选择省份', '' ,{"positionClass": "toast-top-center"})
        }

    }

</script>
