<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">合并用户</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @user], url: set_manager_admin_user_path, method: :post, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'volunteer_form'} do |f| %>
        <div class="form-body form-horizontal">
          <%= static_form_control '当前用户昵称：', @user.nickname %>
          <%= static_form_control '当前用户真实姓名：', @user.name %>
          <% if @user.unactived? %>
              <%= f.input :manager_id, collection: [@user.manager].compact.map {|u| [u.name, u.id]}, label: '指定代捐管理人：', prompt: "请选择用户", input_html: {class: 'user_selector'}, hint: '指定代捐管理人，当前用户的捐助记录、相关项目、孩子等信息会迁移到指定用户（指定用户为已激活用户）' %>
          <% end %>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-9">
              <%= f.button :submit, '提交', data: {confirm: '确认指定目标用户为代捐人吗？'}, class: 'btn red' %>
              <%= link_to '取消', admin_user_path(@user), class: 'btn' %>
            </div>
          </div>
        </div>
    <% end %>

    <script>
        $(function(){
            $(".user-selector").select2({
                language: "zh-CN",
                placeholder: '请选择用户',
                allowClear: true,
                ajax: {
                    url: "/selects/users",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: $.map(data.items, function (item) {
                                return {
                                    text: item.name_for_select,
                                    id: item.id
                                }
                            }),
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                }
            });
        })
    </script>
  </div>
</div>
