      <div class="person-body-right pull-right">
        <!--我的捐助-->
        <div style="display: block;">
          <ul class="donations clearfix">
            <li class="cur">
              <%= link_to '我的捐助', account_orders_path %>
            </li>
            <li class="selectedDon cur">
              <%= link_to '我的结对', account_pairs_path %>
            </li>
            <li class="cur">
              <%= link_to '我的图书角', account_bookshelves_path %>
            </li>
          </ul>
          <!--我的捐助-->
          <div class="my-pairs-cont" id="my-pairs-cont">
            <div class="donation-cont">
              <div class="clearfix border-b">
                <div class="my-pairs pull-left">
                  <%= image_tag 'ucenter-top-bg.png' %>
                </div>
                <div class="pull-left donation-cont-cco">
                  <div class="donation-cont-c-tit clearfix">
                    <p class="pull-left">卓玛</p>
                  </div>
                  <div class="clearfix donation-cont-c-con">
                    <p >孩子编号：No.17090293</p>
                    <p>捐助年度：2017年下学期 / 2018年全年</p>
                  </div>
                </div>
                <div class="pull-right">
                  <button class="donation-cont-but cur">
                    查看孩子详情
                  </button>

                  <%= link_to account_pair_children_mailboxs_path(pair_id: 1), class: 'donation-cont-but cur' do %>
                    孩子信箱 3
                  <% end %>
                </div>

              </div>
            </div>
            <div class="donation-cont-no">
              <div class="donation-co-no-c">
                <div class="donation-co-no-c-img">
                  <%= image_tag 'my-child.png' %>
                </div>
                <p>暂无捐助学生</p>
              </div>
            </div>
            <div class="project-foot">
              <span class="iconfont icon-arrow-left cur"></span>
              <span class="iconfont icon-arrow-right cur"></span>
            </div>
        </div>
      </div>



</div>
<script>


    //     右tab切换二级
    $(".donations1 li").on("click", function () {
        $(".donations1 li").removeClass("selectedDo")
        $(this).addClass("selectedDo")
        $(".bottomline").css("left", parseFloat($(this)[0].offsetLeft) +31 +  "px")
    })
    if($('.my-pairs-cont .donation-cont > div').length===0){
        $('.donation-cont-no').css('display', 'block')
        $('.project-foot').css('display', 'none')
    }else{
        $('.donation-cont-no').css('display', 'none')
        $('.project-foot').css('display', 'block')
    }




</script>
