      <div class="person-body-right pull-right">
        <!--我的捐助-->
        <div style="display: block;">
          <ul class="donations clearfix">
            <li class="cur">
              <%= link_to '我的捐助', account_orders_path %>
            </li>
            <li class="selectedDon cur">
              <%= link_to '我的结对', account_pairs_path %>
            </li>
            <li class="cur">
              <%= link_to '我的图书角', account_bookshelves_path %>
            </li>
          </ul>
          <!--我的结对-->
          <div class="my-pairs-cont" id="my-pairs-cont">
            <% if @children.present? %>
              <div class="donation-cont">
                <% @children.each do |child| %>
                  <div class="clearfix border-t">
                    <div class="my-pairs pull-left">
                      <%= image_tag child.avatar.try(:file).try(:url, :tiny).to_s %>
                    </div>
                    <div class="pull-left donation-cont-cco">
                      <div class="donation-cont-c-tit clearfix">
                        <p class="pull-left"><%= child.name %></p>
                      </div>
                      <div class="clearfix donation-cont-c-con">
                        <p >孩子编号：<%= child.gsh_no %></p>
                        <p>捐助年度：<%= child.semesters.where(user_id: current_user.id).pluck(:title).join('/').gsub(/\s/, '').strip.to_s %></p>
                      </div>
                    </div>
                    <div class="pull-right">
                      <%= link_to detail_pair_path(child) do %>
                        <button class="donation-cont-but cur">
                          查看孩子详情
                        </button>
                      <% end %>
                      <%= link_to account_pair_children_mailboxs_path(pair_id: child.id), class: 'donation-cont-but cur' do %>
                        孩子信箱 <%= ContinualFeedback.where(gsh_child_grant_id: child.gsh_child_grants.where(user_id: current_user.id).pluck(:id)).count %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="project-foot">
                <%= paginate @children, theme: :tiny %>
              </div>
            <% else %>
              <div class="donation-cont-no">
                <div class="donation-co-no-c">
                  <div class="donation-co-no-c-img">
                    <%= image_tag 'my-child.png' %>
                  </div>
                  <p>暂无捐助学生</p>
                </div>
              </div>
            <% end %>
        </div>
      </div>



</div>
<script>

$('.donation-cont > div').eq(0).removeClass('border-t')
    //     右tab切换二级
    $(".donations1 li").on("click", function () {
        $(".donations1 li").removeClass("selectedDo")
        $(this).addClass("selectedDo")
        $(".bottomline").css("left", parseFloat($(this)[0].offsetLeft) +31 +  "px")
    })
    if($('.my-pairs-cont .donation-cont > div').length===0){
        $('.donation-cont-no').css('display', 'block')
        $('.project-foot').css('display', 'none')
    }else{
        $('.donation-cont-no').css('display', 'none')
        $('.project-foot').css('display', 'block')
    }




</script>
