<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject"><%= link_to @school.name, admin_schools_path %> >修改教师</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @teacher], url: admin_school_school_teacher_path(@school), wrapper: :admin_form, html: {data: {'parsley-validate': true}} do |f| %>
        <%= f.error_notification %>
        <div class="form-body form-horizontal">
          <%#= f.input :name, label: '姓名：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
          <%= static_form_control '姓名：', @teacher.name %>
          <%= f.input :user_id, collection: [@teacher.user].compact.map {|u| [u.name, u.id]}, label: '关联用户', prompt: "请选择用户", input_html: {class: 'user_selector'} %>
          <%= f.input :phone, label: '手机号码：', autofocus: true, input_html: { data: {'parsley-required': true}} %>
          <%= f.input :qq, label: 'QQ号：', autofocus: true, input_html: { data: {}} %>
          <%= f.input :wechat, label: '微信号：', autofocus: true, input_html: { data: {}} %>
          <%= f.input :id_card, label: '身份证号：', autofocus: true, input_html: { data: {}} %>
          <div class="form-group">
            <label class="col-md-2 control-label">项目权限：</label>
            <div class="col-sm-9">
              <div class="input-group icheck-inline">
                <% Project.sorted.all.each do |project| %>
                <label>
                  <%= check_box_tag 'teacher_projects[]', project.id, @teacher.can_manage_project?(project.id) %> <%= project.name %>
                </label>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <%= f.button :submit, '提交', class: 'btn green' %>
              <%= link_to '取消', admin_school_school_teachers_path(@teacher.school), class: 'btn' %>
            </div>
          </div>
        </div>
    <% end %>

    <script>
    $(function(){
      $("form .user_selector").select2({
        language: "zh-CN",
        placeholder: '请选择用户',
        allowClear: true,
        ajax: {
          url: "/selects/teacher_user",
          dataType: 'json',
          delay: 250,
          data: function (params) {
            return {
              q: params.term, // search term
              page: params.page
            };
          },
          processResults: function (data, params) {
            params.page = params.page || 1;
            return {
                results: $.map(data.items, function (item) {
                  return {
                    text: item.name,
                    id: item.id
                }
              }),
              pagination: {
                more: (params.page * 30) < data.total_count
              }
            };
          },
          cache: true
        }
      });

      $("form .school_selector").select2({
        language: "zh-CN",
        placeholder: '请选择学校',
        allowClear: true,
        ajax: {
          url: "/selects/schools",
          dataType: 'json',
          delay: 250,
          data: function (params) {
            return {
              q: params.term, // search term
              page: params.page
            };
          },
          processResults: function (data, params) {
            params.page = params.page || 1;
            return {
                results: $.map(data.items, function (item) {
                  return {
                    text: item.name,
                    id: item.id
                }
              }),
              pagination: {
                more: (params.page * 30) < data.total_count
              }
            };
          },
          cache: true
        }
      });
    })
    </script>

  </div>
</div>
