<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i><%= link_to @school.name, admin_schools_path %> > 教师管理
    </div>
    <div class="actions">
      <div class="btn-group">
        <a href="<%= admin_schools_path %>" class="btn btn-xs blue">
          <i class="fa fa-reply"></i>返回
        </a>
      </div>
      <%= link_to new_admin_school_school_teacher_path(@school), class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
      <i class="icon-plus"></i>
      <span>新增</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">

        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right"></div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
            <tr>
              <th>
                姓名
              </th>
              <th>
                身份证号
              </th>
              <th>
                QQ
              </th>
              <th>
                微信
              </th>
              <th>
                手机号
              </th>
              <th>
                学校
              </th>
              <th>
                负责项目
              </th>
              <th>
                操作
              </th>
            </tr>
          </thead>
          <tbody>
            <% @teachers.each do |teacher| %>
            <tr>
              <td>
                <%= teacher.name %>
              </td>
              <td>
                <%= teacher.id_card %>
              </td>
              <td>
                <%= teacher.qq %>
              </td>
              <td>
                <%= teacher.wechat %>
              </td>
              <td>
                <%= teacher.phone %>
              </td>
              <td>
                <%= teacher.school.try(:name) %>
              </td>
              <td>
                <% if teacher.headmaster? %>
                  <% Project.all.each do |project| %>
                    <span class="btn btn-xs red"><%= project.try(:name) %></span>
                  <% end %>
                <% else %>
                  <% teacher.teacher_projects.each do |teacher_project| %>
                    <span class="btn btn-xs red"><%= teacher_project.project.try(:name) %></span>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to edit_admin_school_school_teacher_path(teacher.school, teacher), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                  <i class="fa fa-edit"></i> 修改信息
                <% end %>
                <% unless teacher.headmaster? %>
                <%= link_to admin_school_school_teacher_path(teacher.school, teacher), class: 'btn btn-xs red', method: :delete, data: {confirm: '确定要删除吗？'} do %>
                  <i class="fa fa-trash-o"></i> 删除
                <% end %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@teachers) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @teachers, theme: 'admin' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
