
<% if @offline_user.new_record? %>
  <% url_path = account_offline_users_path %>
  <% method_way = "post" %>
<% else %>
  <% url_path = "/account/offline_users/#{@offline_user["id"]}" %>
  <% method_way = "put" %>
<% end %>

<%= simple_form_for @offline_user, url: url_path, method: method_way, html: {'data-parsley-validate': true, class: '', id: "offline_user_form", method_way: method_way} do |f| %>
  <div class="goodcont" style="padding: 0 30px 17px 28px;">
    <div class="clearfix">
      <div class="pull-left">
        <p class="goodtext">昵称</p>
        <%= f.text_field :nickname, required: true, class: 'goodinput', placeholder: '' %>
      </div>
      <div class="pull-right">
        <p class="goodtext">真实姓名</p>
        <%= f.text_field :name, required: true, class: 'goodinput', placeholder: '', input_html: {required: true} %>
      </div>
    </div>
    <div class="clearfix sexinput">
      <p class="goodtext pull-left">性别</p>
        <div class="female pull-left">
          <input type="radio" id="male" value="male" name="user[gender]" <%= @offline_user.male? ? "checked" : "" %>/>
          <label for="male">男</label>
        </div>
        <div class="male pull-left">
          <input type="radio" id="female" value="female" name="user[gender]" <%= @offline_user.female? ? "checked" : "" %>/>
          <label for="female">女</label>
        </div>
    </div>
    <div class="clearfix">
      <div class="pull-left">
        <p class="goodtext">如何称呼</p>
        <%#= f.text_field :salutation, class: 'goodinput', placeholder: '孩子如何称呼您' %>
        <%= f.input :salutation, as: :select, collection: ['哥哥', '姐姐', '弟弟', '妹妹', '叔叔', '阿姨', '爷爷', '奶奶'], include_blank: false, label: false, input_html: {data: {}, class: 'goodinput',id:'nickname'} %>
        </div>
      <div class="pull-right">
        <p class="goodtext">联系电话</p>
        <%= f.text_field :phone, required: true, class: 'goodinput', placeholder: '', input_html: {required: true}, data: {parsley_phone: true} %>
      </div>
    </div>
    <p class="goodtext">所在地区</p>
    <div class="city-group">
      <%= select_tag 'user[province]', options_for_select(ChinaCity.list, @offline_user.province.presence), prompt: '省份', class: "city-select", id: 'province' %>
      <%= select_tag 'user[city]', options_for_select(ChinaCity.list(@offline_user.province.to_s), @offline_user.city.presence), prompt: '城市', class: "city-select", id: 'city' %>
      <%= select_tag 'user[district]', options_for_select(ChinaCity.list(@offline_user.city.to_s), @offline_user.district.presence), prompt: '地区', class: "city-select", id: 'district' %>
    </div>
    <!-- <div class="city-picker-selector" id="city-picker-selector2"></div> -->
    <p class="goodtext">详细地址</p>
    <%= f.text_field :address, class: 'address-input', placeholder: '请输入详细地址' %>
    <div style="text-align:center;"><button class=" goodbut" type="submit" id="save_form_btn" info="<%= action_name %>">保存</button></div>
  </div>
<% end %>

<script>
  $(function () {
    $('.city-group').china_city();
  })
  $('#province').select2({
      width:"170px",
      minimumResultsForSearch: -1
  })
  $('#nickname').select2({
    width:"249px",
    minimumResultsForSearch: -1
  })
  $('#city').select2({
      width:"170px",
      minimumResultsForSearch: -1
  })
  $('#district').select2({
      width:"159px",
      minimumResultsForSearch: -1
  })
</script>
