<% content_for :scripts do %>
  <%= javascript_include_tag "controllers/offline_users/index" %>
<% end %>

<% content_for :styles do %>
  <%#= stylesheet_link_tag "controllers/offline_users/theme" %>
<% end %>

<% content_for :outside_container do %>
  <div class="modal fade" id="popup-container" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>
<% end %>

<div class="person-body-right pull-right">
        <div class="">
          <p class="don-title border-b">捐助人管理</p>
          <div class="don-cont">
            <div class="don-content">
              <div>
                <span><%= current_user.show_name %></span>
                <span>自己</span>
              </div>
              <div class="don-con-co">
                <span>联系电话：</span><p><%= current_user.phone %></p>
              </div>
              <div class="don-con-co">
                <span>收件地区：</span><p><%= ChinaCity.get(current_user.province) %><%= ChinaCity.get(current_user.city) %><%= ChinaCity.get(current_user.district) %></p>
              </div>
              <div class="don-con-co">
                <span>详细地址：</span><p><%= current_user.address %></p>
              </div>
              <!--<div class="don-con-co">-->
                <!--<span>邮箱地址：</span><p><%= current_user.email %></p>-->
              <!--</div>-->
            </div>
            <% @offline_users.each do |offline_user| %>
              <div class="don-content">
                <div>
                  <span><%= offline_user.show_name %></span>
                  <% if offline_user.state != 'unactived' %>
                    <span>已激活</span>
                  <% end %>
                </div>
                <div class="don-con-co">
                  <span>联系电话：</span><p><%= offline_user.phone %></p>
                </div>
                <div class="don-con-co">
                  <span>收件地区：</span><p><%= ChinaCity.get(offline_user.province) %><%= ChinaCity.get(offline_user.city) %><%= ChinaCity.get(offline_user.district) %></p>
                </div>
                <div class="don-con-co">
                  <span>详细地址：</span><p><%= offline_user.address %></p>
                </div>
                <!--<div class="don-con-co">-->
                  <!--<span>邮箱地址：</span><p><%= offline_user.email %></p>-->
                <!--</div>-->
                <% if offline_user.state == 'unactived' %>
                  <div class="clearfix don-con-pos">
                    <div class="pull-right cur delete-offline-user" offlineUserId="<%= offline_user.id %>" id="delete">
                      <span class="iconfont icon-ico-delete1"></span>
                      <span>删除</span>
                    </div>
                    <div class="pull-right cur edit-offline-user edit_button" offlineUserId="<%= offline_user.id %>" id="edit">
                      <span class="iconfont icon-ico-edit "></span>
                      <span>编辑</span>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="don-co">
            <button class="don-co-but cur" id="ClickMe">
              <span class="iconfont icon-ico-add1"></span>
              <span>新增捐助人</span>
            </button>
          </div>
        </div>

      </div>


  <div id="goodcover"></div>
  <div id="remove">
    <div class="remove-title clearfix">
      <span id="remove-but" class="iconfont icon-icondelete cur pull-right "></span>
    </div>
    <div class="remove-body">
      <p>确定删除此捐助人信息？</p>
      <div class="clearfix">
        <div class="pull-left" id="isDelete">确认</div>
        <div class="pull-right" id="cancel">取消</div>
      </div>
    </div>
  </div>

<script>


    //     右tab切换二级
    $(".donations1 li").on("click", function () {
        $(".donations1 li").removeClass("selectedDo")
        $(this).addClass("selectedDo")
        $(".bottomline").css("left", parseFloat($(this)[0].offsetLeft) +31 +  "px")
    })
    if($('.donation .donation-cont').length===0){
        $('.donation-cont-no').css('display', 'block')
        $('.project-foot').css('display', 'none')
    }else{
        $('.donation-cont-no').css('display', 'none')
        $('.project-foot').css('display', 'block')
    }

    $('.delete-offline-user').click(function() {
      var id = $(this).attr("offlineUserId");
      $('#isDelete').attr("offlineUserId", id);
        $('#remove').center();
        $('#goodcover').show();
        $('#remove').fadeIn();
    });
    $('#remove-but').click(function() {
        $('#remove').hide();
        $('#goodcover').hide();
    });
    $('#cancel').click(function() {
      $('#isDelete').removeAttr("offlineUserId");
        $('#remove').hide();
        $('#goodcover').hide();
    });
    $('#isDelete').click(function() {
      var id = $(this).attr("offlineUserId");
      $.ajax({
        type: "delete",
        url: "offline_users/" + id,
        data: {},
        success: function(data){
         if (data.status) {
           layer.msg(data.message, {
             icon: 1,
             offset: 't c'
           });
           setTimeout("javascript:location.href='/account/offline_users'", 500);
         } else {
           layer.msg(data.message, {
             icon: 2,
             offset: 't c'
           });
         }
       }
      })
      $('#isDelete').removeAttr("offlineUserId");
        $('#remove').hide();
        $('#goodcover').hide();
    });

</script>
