<div class="person-body-right pull-right">

  <div style="display: block;">
    <%= render '/layouts/shared/platform_school_projects' %>
    <% if @applies.present? %>
      <div class="school-apply-pair-table-co">
        <div class="school-apply-pair-table clearfix">
          <p class="pull-left">申请项目名称</p>
          <p class="pull-left">申请状态</p>
          <p class="pull-left">操作</p>
        </div>
        <% @applies.each do |apply| %>
          <div class="school-apply-pair-tables">
            <p>申请时间：<%= apply.created_at.strftime("%Y-%m-%d %H:%M")%> <span>申请编号：<%= apply.apply_no %></span></p>
            <div class="school-apply-pair-table-cont">
             <div>
               <p class="school-apply-pair-tit"><%= apply.apply_name %></p>
               <p class="school-apply-pair-f">申请人：<%= apply.contact_name %></p>
             </div>
             <div class="border-l border-r">
               <%= apply.apply_state %>
             </div>
             <div class="pull-left">
               <%= link_to '查看申请详情', platform_school_apply_goods_project_path(apply, pid: @current_project), class:'lookapply' %>
               <% if apply.reject? %>
                <%= link_to '修改申请', edit_platform_school_apply_goods_project_path(apply, pid: @current_project), class:'lookbutton' %>
               <% end %>
               <% if apply.to_receive? %>
               <%= link_to '确认收货', new_platform_school_apply_receive_feedback_path(apply_id: apply.id), class:'lookbutton' %>
               <%= link_to '查看物流', apply.logistic.qurey_result, class:'lookbutton', target: 'new' %>
               <% end %>
               <% if apply.to_feedback? %>
               <%= link_to '安装/发放反馈', new_platform_school_apply_install_feedback_path(apply_id: apply.id), class:'lookbutton' %>
               <% end %>
             </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="donation-cont-non">
        <div class="donation-co-no-c">
          <p>您的学校暂未有<%= @current_project.name %>项目申请</p>
        </div>
        <!-- <%= link_to new_donate_path do %>
          <button class="donation-co-no-but">去捐助</button>
        <% end %> -->
      </div>
    <% end %>
  </div>

  <div class="project-foot">
    <%= paginate @applies, theme: :tiny %>
  </div>
</div>
