<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">学生申请</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <%= link_to admin_pair_apply_pair_students_path(@project_apply), class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
        <i class="fa fa-reply"></i>
        <span>返回</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body form">

    <div class="form-body form-horizontal">
      <div class="row">
        <div class="col-md-12">
          <div class="tabbable-line boxless tabbable-reversed">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tab_0" data-toggle="tab" aria-expanded="true"> 申请资料 </a>
              </li>
              <li class="">
                <a href="#tab_1" data-toggle="tab" aria-expanded="false"> 家访报告 </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_0">
                <%= simple_form_for [:admin, @project_apply, @apply_child], url: admin_pair_apply_pair_student_path, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'child_form'} do |f| %>
                    <%= f.error_notification %>
                    <%= f.hidden_field :school_id, value: @project_apply.school_id %>
                    <%= f.hidden_field :project_id, value: @project_apply.project_id %>
                    <%= f.hidden_field :project_season_id, value: @project_apply.project_season_id %>
                    <%= f.input :name, label: '姓名：', autofocus: true, placeholder: '姓名', required: true %>
                    <%= f.input :level, as: :select, label: '中学：', collection: ProjectSeasonApplyChild.options_for_enum_select(:levels), include_blank: false %>
                    <%= f.input :grade, as: :select, label: '年级：', collection: ProjectSeasonApplyChild.options_for_enum_select(:grades), include_blank: false %>
                    <%= f.input :semester, as: :select, label: '学期：', collection: ProjectSeasonApplyChild.options_for_enum_select(:semesters), include_blank: false %>
                    <%= f.input :id_card, label: '身份证号：', autofocus: true, placeholder: '身份证号', required: true %>
                    <%= f.input :nation, as: :select, label: '民族：', collection: ProjectSeasonApplyChild.options_for_enum_select(:nations), include_blank: false %>
                    <%= f.input :gender, as: :radio_buttons, wrapper: :inline_inputs, collection: ProjectSeasonApplyChild.options_for_select(:genders), label: '性别：'%>
                    <%= f.input :parent_name, label: '家长姓名：', autofocus: true, placeholder: '家长姓名', required: true %>
                    <%= f.input :phone, label: '联系电话：', autofocus: true, placeholder: '联系电话', required: true %>
                    <!--<div class="form-group">-->
                      <!--<label class="col-md-2 control-label">申请学期：</label>-->
                      <!--<div class="col-sm-9">-->
                        <!--<ul>-->
                          <!--<%# ProjectSeasonApplyPeriod.enable.sorted.all.each do |period| %>-->
                            <!--<li>-->
                              <!--<label>-->
                                <!--<%#= check_box_tag 'project_season_apply_child[project_season_apply_period_ids][]', period.id, period.id.in?(@apply_child.project_season_apply_period_ids)  %>-->
                                <!--<%#= period.name %>-->
                              <!--</label>-->
                            <!--</li>-->
                          <!--<%# end %>-->
                        <!--</ul>-->
                      <!--</div>-->
                    <!--</div>-->
                    <%#= f.input :approve_state, as: :radio_buttons, wrapper: :inline_inputs, collection: ProjectSeasonApplyChild.options_for_select(:approve_states), label: '审核：'%>
                    <%= f.input :description, label: '描述：', placeholder: '描述' %>
                    <div class="form-group">
                      <label class="col-md-2 control-label">孩子图片：</label>
                      <div class="col-sm-9">
                        <%= webuploader_tag 'image_ids[]', label: '上传孩子图片', type: 'apply_child_image', asset: @apply_child.images %>
                        <span style="color: red">注意：左起第一张图片为展示第一张图片</span>
                      </div>
                    </div>
                  <div class="form-actions">
                    <div class="row">
                      <div class="col-md-offset-2 col-md-9">
                        <%= f.button :submit, '提交', class: 'btn blue' %>
                        <%= link_to '取消', admin_pair_apply_pair_students_path(@project_apply), class: 'btn' %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="tab-pane" id="tab_1">
                <% if @apply_child.visit.present? %>
                  <% visit = @apply_child.visit %>
                  <%= static_form_control '内容：', visit.content %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
      // 表单验证
    $(".child_form").html5Validate(function(){
        $(this).find('[type="submit"]').attr('disabled','disabled');
        this.submit();
    }
    // ,  {
    //     validate: function() {
    //         var ima_length = document.getElementById("webuploader").getElementsByTagName("li").length;
    //         if (ima_length <= 1) {
    //             alert("请上传图片");
    //             return false;
    //         }
    //         return true;
    //     }
    // }
    );
    initMultiImageWebuploader($('#webuploader'));
    $('.upload-list').viewer();
  })


</script>
