<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i><%= link_to @project_apply.school.try(:name), admin_pair_applies_path %> > 孩子申请
    </div>
    <div class="actions">
      <%= link_to new_admin_pair_apply_pair_student_path(@project_apply), class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
          <i class="icon-plus"></i>
          <span>新增</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= search_form_for @search, url: admin_pair_apply_pair_students_path, class: 'form-inline' do |f| %>
              <div class="form-group">
                <%= f.label :name_cont, '姓名' %>
                <%= f.text_field :name_cont, class: 'form-control', placeholder: '姓名' %>
              </div>
              <div class="form-group">
                <%= f.label :approve_state_eq, '审核状态' %>
                <%= f.select :approve_state_eq, ProjectSeasonApplyChild.options_for_select(:approve_states, raw: true), {include_blank: '全部'}, class: 'form-control' %>
              </div>
              <button type="submit" class="btn btn-default grey">搜索</button>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right"></div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
          <tr>
            <th>
              申请编号
            </th>
            <th>
              姓名
            </th>
            <th>
              年龄
            </th>
            <th>
              性别
            </th>
            <th>
              民族
            </th>
            <th>
              学校/年级
            </th>
            <th>
              申请捐助年限
            </th>
            <th>
              家长姓名
            </th>
            <th>
              备注
            </th>
            <th>
              审核状态
            </th>
            <th>
              操作
            </th>
          </tr>
          </thead>
          <tbody>
          <% @children.each do |child| %>
              <tr>
                <td>
                  <%= child.id %>
                </td>
                <td>
                  <%= child.try(:name) %>
                </td>
                <td>
                  <%= child.age %>
                </td>
                <td>
                  <%= child.enum_name(:gender) %>
                </td>
                <td>
                  <%= child.enum_name(:nation) %>
                </td>
                <td>
                  <%= child.apply.school.name %> / <%= child.enum_name(:level) %> <%= child.enum_name(:grade) %> <%= child.enum_name(:semester) %>
                </td>
                <td>
                  <% if child.present? %>
                    <% child.semesters.sorted.all.each do |grant| %>
                      <span class="btn btn-xs green"><%= grant.title %></span>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <%= child.parent_name %>
                </td>
                <td>
                  <%= child.remarks.count %>
                </td>
                <td>
                  <%#= child.audits.first.enum_name(:state) if child.audits.present? %>
                  <%= child.enum_name(:approve_state) %>
                </td>
                <td>
                  <%= link_to edit_admin_pair_apply_pair_student_path(@project_apply,child), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                      <i class="fa fa-edit"></i> 修改
                  <% end %>
                  <%= link_to admin_pair_apply_pair_student_path(@project_apply,child), class: 'btn btn-xs red', method: :delete, data: {confirm: '确定要删除吗？'} do %>
                      <i class="fa fa-trash-o"></i> 删除申请
                  <% end %>
                  <%= link_to admin_pair_apply_pair_student_path(@project_apply,child), 'data-no-turbolink' => true, class: 'btn btn-xs yellow' do %>
                      <i class="fa fa-gavel"></i> 审核
                  <% end %>
                  <%= link_to remarks_admin_pair_apply_pair_student_path(@project_apply,child), 'data-no-turbolink' => true, class: 'btn btn-xs yellow' do %>
                      <i class="fa fa-tags"></i> 查看备注
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@children) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @children, theme: '' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
