<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-sliders font-dark"></i>
      <span class="caption-subject font-dark bold uppercase">审核结对助学项目申请</span>
    </div>
    <div class="actions">
      <%= link_to admin_pair_apply_pair_students_path(@project_apply), class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
          <i class="fa fa-reply"></i>
          <span>返回</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <tbody>
        <tr>
          <td>
            申请编号
          </td>
          <td>
            <%= @project_apply.id %>
          </td>
        </tr>
        <tr>
          <td>
            申请学校
          </td>
          <td>
            <%= @project_apply.school.try(:name) %>
          </td>
        </tr>
        <tr>
          <td>
            申请批次
          </td>
          <td>
            <%= @project_apply.season.try(:name) %>
          </td>
        </tr>
        <tr>
          <td>
            姓名
          </td>
          <td>
            <%= @apply_child.name %>
          </td>
        </tr>
        <tr>
          <td>
            中学
          </td>
          <td>
            <%= @apply_child.enum_name(:level) %>
          </td>
        </tr>
        <tr>
          <td>
            年级
          </td>
          <td>
            <%= @apply_child.enum_name(:grade) %>
          </td>
        </tr>
        <tr>
          <td>
            班级
          </td>
          <td>
            <%= @apply_child.classname %>
          </td>
        </tr>
        <tr>
          <td>
            学期
          </td>
          <td>
            <%= @apply_child.enum_name(:semester) %>
          </td>
        </tr>
        <tr>
          <td>
            身份证号
          </td>
          <td>
            <%= @apply_child.id_card %>
          </td>
        </tr>
        <tr>
          <td>
            民族
          </td>
          <td>
            <%= @apply_child.enum_name(:nation) %>
          </td>
        </tr>
        <tr>
          <td>
            性别
          </td>
          <td>
            <%= @apply_child.enum_name(:gender) %>
          </td>
        </tr>
        <tr>
          <td>
            自我介绍
          </td>
          <td>
            <%= @apply_child.description %>
          </td>
        </tr>
        <tr>
          <td>
            班主任
          </td>
          <td>
            <%= @apply_child.teacher_name %>
          </td>
        </tr>
        <tr>
          <td>
            联系方式
          </td>
          <td>
            <%= @apply_child.teacher_phone %>
          </td>
        </tr>
        <tr>
          <td>
            父亲
          </td>
          <td>
            <%= @apply_child.father %>
          </td>
        </tr>
        <tr>
          <td>
            父亲职业
          </td>
          <td>
            <%= @apply_child.father_job %>
          </td>
        </tr>
        <tr>
          <td>
            母亲
          </td>
          <td>
            <%= @apply_child.mother %>
          </td>
        </tr>
        <tr>
          <td>
            母亲职业
          </td>
          <td>
            <%= @apply_child.mother_job %>
          </td>
        </tr>
        <tr>
          <td>
            监护人
          </td>
          <td>
            <%= @apply_child.guardian %>
          </td>
        </tr>
        <tr>
          <td>
            与其关系
          </td>
          <td>
            <%= @apply_child.guardian_relation %>
          </td>
        </tr>
        <tr>
          <td>
            联系方式
          </td>
          <td>
            <%= @apply_child.guardian_phone %>
          </td>
        </tr>
        <tr>
          <td>
            家庭住址
          </td>
          <td>
            <%= @apply_child.address %>
          </td>
        </tr>
        <tr>
          <td>
            家庭年收入
          </td>
          <td>
            <%= @apply_child.family_income %> 元
          </td>
        </tr>
        <tr>
          <td>
            家庭年支出
          </td>
          <td>
            <%= @apply_child.family_expenditure %> 元
          </td>
        </tr>
        <tr>
          <td>
            收入来源
          </td>
          <td>
            <%= @apply_child.income_source %>
          </td>
        </tr>
        <tr>
          <td>
            家庭情况
          </td>
          <td>
            <%= @apply_child.family_condition %>
          </td>
        </tr>
        <tr>
          <td>
            推荐理由
          </td>
          <td>
            <%= @apply_child.reason %>
          </td>
        </tr>
        <tr>
          <td>
            孩子图片
          </td>
          <td>
            <%= link_to image_tag(@apply_child.avatar_url(:small)), @apply_child.avatar_url(nil), target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>
            身份证
          </td>
          <td>
            <%= link_to image_tag(@apply_child.id_image_url(:small)), @apply_child.id_image_url(nil), target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>
            申请书1
          </td>
          <td>
            <%= link_to image_tag(@apply_child.apply_one_url(:small)), @apply_child.apply_one_url(nil), target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>
            申请书2
          </td>
          <td>
            <%= link_to image_tag(@apply_child.apply_two_url(:small)), @apply_child.apply_two_url(nil), target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>
            客厅照片
          </td>
          <td>
            <%= link_to image_tag(@apply_child.room_image_url(:small)), @apply_child.room_image_url(nil), target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>
            院子照片
          </td>
          <td>
            <%= link_to image_tag(@apply_child.yard_image_url(:small)), @apply_child.yard_image_url(nil), target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>
            扶贫卡
          </td>
          <td>
            <%= link_to image_tag(@apply_child.poverty_url(:small)), @apply_child.poverty_url(nil), target: '_blank' %>
          </td>
        </tr>
        <tr>
          <td>
            孩子介绍
          </td>
          <td>
            <%= @apply_child.information.html_safe %>
          </td>
        </tr>
        <tr>
          <td>
            备注
          </td>
          <td>
            <%= @apply_child.remark %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
