<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">新增学生</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @project_apply, @apply_child], url: admin_pair_apply_pair_students_path, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'season_form'} do |f| %>
        <%= f.error_notification %>
        <div class="form-body form-horizontal">
          <%= f.hidden_field :school_id, value: @project_apply.school_id %>
          <%= f.hidden_field :project_id, value: @project_apply.project_id %>
          <%= f.hidden_field :project_season_id, value: @project_apply.project_season_id %>
          <div class="form-group">
            <label class="col-md-2 control-label">孩子头像：</label>
            <div class="col-sm-9">
              <%= webuploader_tag :avatar_id, label: '上传图片', type: 'apply_child_avatar', asset: @apply_child.avatar, klass: 'single', id: 'single-upload1' %>
            </div>
          </div>
          <%= f.input :name, label: '姓名：', autofocus: true, placeholder: '姓名', required: true %>
          <%= f.input :level, as: :select, label: '中学：', collection: ProjectSeasonApplyChild.options_for_enum_select(:levels), include_blank: false %>
          <%= f.input :grade, as: :select, label: '年级：', collection: ProjectSeasonApplyChild.options_for_enum_select(:grades), include_blank: false %>
          <%= f.input :semester, as: :select, label: '学期：', collection: ProjectSeasonApplyChild.options_for_enum_select(:semesters), include_blank: false %>
          <%= f.input :id_card, label: '身份证号：', autofocus: true, placeholder: '身份证号', required: true %>
          <%= f.input :nation, as: :select, label: '民族：', collection: ProjectSeasonApplyChild.options_for_enum_select(:nations), include_blank: false %>
          <%= f.input :gender, as: :radio_buttons, wrapper: :inline_inputs, collection: ProjectSeasonApplyChild.options_for_select(:genders), label: '性别：'%>
          <%= f.input :parent_name, label: '家长姓名：', autofocus: true, placeholder: '家长姓名', required: true %>
          <%= f.input :phone, label: '联系电话：', autofocus: true, placeholder: '联系电话', required: true %>
          <%= f.input :reason, label: '推荐理由：', placeholder: '推荐理由', input_html: { maxlength: 20 } %>
          <%= f.input :description, label: '描述：', placeholder: '描述' %>
          <div class="form-group">
            <label class="col-md-2 control-label">上传身份证：</label>
            <div class="col-sm-9">
              <%= webuploader_tag :id_image_id, label: '上传图片', type: 'apply_child_id_card', asset: @apply_child.id_image, klass: 'single', id: 'single-upload2' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">上传户口本：</label>
            <div class="col-sm-9">
              <%= webuploader_tag :residence_id, label: '上传图片', type: 'apply_child_residence', asset: @apply_child.residence, klass: 'single', id: 'single-upload3' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">上传扶贫卡：</label>
            <div class="col-sm-9">
              <%= webuploader_tag :poverty_id, label: '上传图片', type: 'apply_child_poverty', asset: @apply_child.poverty, klass: 'single', id: 'single-upload4' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">上传家庭照：</label>
            <div class="col-sm-9">
              <%= webuploader_tag :family_image_id, label: '上传图片', type: 'apply_child_family_image', asset: @apply_child.family_image, klass: 'single', id: 'single-upload5' %>
            </div>
          </div>
          <!-- <div class="form-group">
            <label class="col-md-2 control-label">孩子图片：</label>
            <div class="col-sm-9">
              <%= webuploader_tag 'image_ids[]', label: '上传孩子图片', type: 'apply_child_image', asset: @apply_child.images %>
              <span style="color: red">注意：左起第一张图片为展示第一张图片</span>
            </div>
          </div> -->
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-9">
              <%= f.button :submit, '提交', class: 'btn blue' %>
              <%= link_to '取消', admin_pair_apply_pair_students_path(@project_apply), class: 'btn' %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<script>
  $(function(){

    // initMultiImageWebuploader($('#webuploader'));
    // initImageWebuploader($('#single-upload'));
    initImageWebuploader($('#single-upload1'));
    initImageWebuploader($('#single-upload2'));
    initImageWebuploader($('#single-upload3'));
    initImageWebuploader($('#single-upload4'));
    initImageWebuploader($('#single-upload5'));
    // $('.upload-list').viewer();
  })

    // $(function() {
    //     $("#project_id").select2({
    //         //placeholder: "请选择财务分类"
    //     });
    // })

</script>
