<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">新增学生</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= simple_form_for [:admin, @project_apply, @apply_child], url: admin_pair_apply_pair_students_path, wrapper: :admin_form, html: {'data-parsley-validate': true, class: 'season_form'} do |f| %>
        <%= f.error_notification %>
        <div class="form-body form-horizontal">
          <%= f.hidden_field :school_id, value: @project_apply.school_id %>
          <%= f.hidden_field :project_id, value: @project_apply.project_id %>
          <%= f.hidden_field :project_season_id, value: @project_apply.project_season_id %>
          <%= f.input :name, label: '姓名：', autofocus: true, placeholder: '姓名', required: true %>
          <%= f.input :grade, as: :select, label: '年级：', collection: ProjectSeasonApplyChild.options_for_enum_select(:grades), include_blank: false %>
          <%= f.input :id_card, label: '身份证号：', autofocus: true, placeholder: '身份证号', required: true %>
          <%= f.input :nation, as: :select, label: '民族：', collection: ProjectSeasonApplyChild.options_for_enum_select(:nations), include_blank: false %>
          <%= f.input :gender, as: :radio_buttons, wrapper: :inline_inputs, collection: ProjectSeasonApplyChild.options_for_select(:genders), label: '性别：'%>
          <%= f.input :parent_name, label: '家长姓名：', autofocus: true, placeholder: '家长姓名', required: true %>
          <%= f.input :phone, label: '联系电话：', autofocus: true, placeholder: '联系电话', required: true %>
          <div class="form-group">
            <label class="col-md-2 control-label">学期：</label>
            <div class="col-sm-9">
              <ul>
                <% ProjectSeasonApplyPeriod.enabled.sorted.all.each do |period| %>
                  <li>
                    <label>
                      <%= check_box_tag 'project_season_apply_child[project_season_apply_period_ids][]', period.id, period.in?(@apply_child.project_season_apply_period_ids)  %>
                      <%= period.name %>
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <%= f.input :description, label: '描述：', placeholder: '描述' %>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-9">
              <%= f.button :submit, '提交', class: 'btn blue' %>
              <%= link_to '取消', admin_pair_apply_pair_students_path(@project_apply), class: 'btn' %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<script>
    // $(function() {
    //     $("#project_id").select2({
    //         //placeholder: "请选择财务分类"
    //     });
    // })
    // $(function(){
    //     // 表单验证
    //     $(".season_form").html5Validate(function(){
    //         $(this).find('[type="submit"]').attr('disabled','disabled');
    //         this.submit();
    //     });
    // })
</script>
