<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i><%= link_to @apply_child.name, admin_pair_apply_pair_students_path(@apply_child.season) %> > 备注管理
    </div>
    <div class="actions">
      <%= link_to new_admin_remark_path(owner_id: @apply_child.id, owner_type: 'ProjectSeasonApplyChild'), class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
          <i class="icon-plus"></i>
          <span>新增</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= search_form_for @search, url: remarks_admin_pair_apply_pair_student_path, class: 'form-inline' do |f| %>
              <div class="form-group">
                <%= f.label :content_cont, '内容' %>
                <%= f.text_field :content_cont, class: 'form-control', placeholder: '关键字' %>
              </div>
              <button type="submit" class="btn btn-default grey">搜索</button>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="dataTables_filter pull-right"></div>
        </div>
      </div>
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_2">
          <thead>
          <tr>
            <th>
              备注编号
            </th>
            <th>
              内容
            </th>
            <th>
              操作人
            </th>
            <th>
              备注对象
            </th>
            <th>
              备注时间
            </th>
            <th>
              操作
            </th>
          </tr>
          </thead>
          <tbody>
          <% @remarks.each do |remark| %>
              <tr>
                <td>
                  <%= remark.id %>
                </td>
                <td>
                  <%= remark.content.html_safe %>
                </td>
                <td>
                  <%= remark.operator.name %>
                </td>
                <td>
                  <%= remark.owner.name %>
                </td>
                <td>
                  <%= l remark.created_at %>
                </td>
                <td>
                  <%= link_to edit_admin_remark_path(remark), 'data-no-turbolink' => true, class: 'btn btn-xs blue' do %>
                      <i class="fa fa-edit"></i> 编辑
                  <% end %>
                  <%= link_to admin_remark_path(remark), class: 'btn btn-xs red', method: :delete, data: {confirm: '确定要删除吗？'} do %>
                      <i class="fa fa-trash-o"></i> 删除
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@remarks) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @remarks, theme: '' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
