<% donate_records.each do |record| %>
  <li class="clearfix border-t">
    <div class="team-donations-img pull-left">
      <%= image_tag record.donor.try(:user_avatar).to_s %>
    </div>
    <div class="team-donations-cont pull-left">
      <div class="clearfix">
        <span class="teams-don-name pull-left"><%= record.donor.try(:show_name).to_s %></span>
        <span class="teams-don-tiam pull-right" data-timeago="<%= record.created_at.to_s %>"></span>
      </div>
      <div class="teams-don">捐助 <span><%= record.apply_name %></span> <%= format_money(record.amount) %>元</div>
    </div>
  </li>
<% end %>
<% if donate_records.current_page < donate_records.total_pages %>
  <li class="examine border-t">
    <%= link_to account_team_donations_path(team_id: team_id, page: donate_records.current_page+1), remote: true do %><p>查看更多记录</p><% end %>
  </li>
<% end %>
